﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    
    <h1 class="ui header">
        <i class="icon money bill alternate"></i>
        <div id="contract-title" class="content">
            Price Modeler
        </div>
        <a href="/Test/PropertyList" title="Analytics">
            <button class="ui blue left labeled icon button">
                Analytics
                <i class="icon reply"></i>
            </button>
        </a>
    </h1>

    <table id="price-rule-table" style="width: 100%" class="ui compact celled table">
        <thead>
            <tr>
                <th colspan="5" align="center" style="text-align: center">

                    @*<button class="ui button blue" type="submit">@ViewBag.ButtonText</button>
                        <button class="ui button blue" type="button" onclick="showComparablePropertyTestModal()">Modal Trigger Test</button>*@
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Basis</th>
                <th>Condition</th>
                <th>%</th>
                <th>Value</th>
                <th>Using Average Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var settings in ViewBag.PriceRuleSettings)
                {
                    <tr style="border: double;">
                        <td>
                            @{
                                int basis = settings.PriceRuleBasis;
                                var text = "";
                                switch (basis)
                                {
                                    case 0:
                                        text = "Occupancy Rate by Date";
                                        break;

                                    case 1:
                                        text = "Occupancy Rate by Date for 'x' Rooms";
                                        break;

                                    case 2:
                                        text = "Occupancy Rate by Month";
                                        break;

                                    case 3:
                                        text = "Occupancy Rate by Month for 'x' Rooms";
                                        break;

                                    case 4:
                                        text = "Availability Rate by Date";
                                        break;

                                    case 5:
                                        text = "Availability Rate by Date for 'x' Rooms";
                                        break;

                                    case 6:
                                        text = "Availability Rate by Month";
                                        break;

                                    case 7:
                                        text = "Availability Rate by Month for 'x' Rooms";
                                        break;
                                }
                            }
                            @text
                        </td>
                        <td>
                            @(settings.PriceRuleCondition == 0 ? "greater than" : "less than")
                        </td>
                        <td>
                            @settings.PriceRuleConditionPercentage
                        </td>
                        <td>
                            @settings.PriceRuleAmount @(settings.PriceRuleSign == 0 ? "%" : "$")
                        </td>
                        <td>
                            @{
                                basis = settings.PriceRuleAveragePriceBasis;
                                text = "";
                                switch (basis)
                                {
                                    case 0:
                                        text = "by Date";
                                        break;

                                    case 1:
                                        text = "by Date for 'x' Rooms";
                                        break;

                                    case 2:
                                        text = "by Month";
                                        break;

                                    case 3:
                                        text = "by Month for 'x' Rooms";
                                        break;
                                }
                            }
                            @text
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <label>Filter</label>
                <select id="date-filter" class="ui dropdown">
                    @{
                        <option value="0">1 Year</option>
                        <option selected value="@DateTime.Now.ToString("yyyy-MM-01")">@DateTime.Now.ToString("MMMM yyyy")</option>
                        for (DateTime date = DateTime.Now.AddMonths(1); date <= DateTime.Now.AddYears(1); date = date.AddMonths(1))
                        {
                            <option value="@date.ToString("yyyy-MM-01")">@date.ToString("MMMM yyyy")</option>
                        }
                    }
                </select>
            </div>
            <div class="field">
                <label>Bedroom</label>
                <select id="analytics-bedroom-filter" class="ui dropdown">
                    @{
                        for (int x = 1; x < 21; x++)
                        {
                            <option @(ViewBag.Property.Bedrooms == @x ? "selected" : "") value="@x">@x Bedroom</option>
                        }
                    }
                </select>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div class="ui toggle checkbox" id="sitetype-only"><input type="checkbox" name="sitetype-only"><label id="sitetype-only-label">@(ViewBag.Property.SiteType==1?"Airbnb": ViewBag.Property.SiteType == 2?"Vrbo":ViewBag.Property.SiteType == 3?"Booking.com":"Homeaway") Only</label></div>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <button class="ui button blue" id="request-batch-analytics">Request Price Analytics</button>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <button class="ui button blue" hidden="hidden" id="update-batch-price">Update All Price</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="listingId" name="listingId" value="@ViewBag.Property.ListingId" />
    <input type="hidden" id="siteType" name="siteType" value="@ViewBag.Property.SiteType" />
     <br />
    <table id="booking-date-table" style="width: 100%" class="ui compact celled table">
        <thead>
            <tr>
                <th><div class="ui checkbox select-all-date-row"><input type="checkbox"><label>All</label></div><div class="ui checkbox select-available-date-row"><input type="checkbox"><label>Available</label></div></th>
                <th>Date</th>
                <th>Price</th>
                <th>Is Available</th>
                <th>Rules Applied</th>
                <th>Suggested Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="comparables-modal" class="ui fullscreen modal">
        <i class="close icon"></i>
        <div class="header">
            Comparables
        </div>
        <div class="content">
            <div class="ui tabular menu">
                <div class="item comparables active" data-tab="tab-comparables" onclick="tabChanged(this)">Comparables</div>
                <div class="item comparables" data-tab="tab-excluded-comparables" onclick="tabChanged(this)">Excluded Comparables</div>
            </div>
            <div class="ui tab active comparables" data-tab="tab-comparables">
                <div class="header" style="margin-top: 20px;">
                    <div class="ui form">
                        <div class="group fields">
                            <div class="field">
                                LIST OF COMPARABLE PROPERTIES
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox" style="margin-left: 750px; margin-top: 3px;">
                                    <input type="checkbox" name="comparables-filter" id="comparables-filter">
                                    <label>Show Booking.com Only</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @*<div class="ui active inverted dimmer">
                            <div class="ui massive text loader">Getting comparables...</div>
                        </div>*@
                    <table class="ui celled striped table" style="width: 100%;">
                        <colgroup>
                            <col span="1" style="width: 5%" />
                            <col span="1" style="width: 20%" />
                            <col span="1" style="width: 10%" />
                            <col span="1" style="width: 20%" />
                            <col span="1" style="width: 10%" />
                            <col span="1" style="width: 20%" />
                            <col span="1" style="width: 5%" />
                            <col span="1" style="width: 5%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Distance</th>
                                <th>Price</th>
                                <th>Fees</th>
                                <th>Bedrooms</th>
                                <th>Bathrooms</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img style="width: 70px; height: 60px; object-fit: cover;" src="~/Content/img/matthew.png" /></td>
                                <td>Cozy,Safe,Clean 3 Bedroom House 15 Mins From Strip</td>
                                <td><u><a href="https://www.airbnb.com/rooms/13669298" style="color: gray;">https://www.airbnb.com/rooms/13669298</a></u></td>
                                <td>3 miles away</td>
                                <td>120 $</td>
                                <td class="top aligned">Cleaning fee: 50 $<br />Misc fee: 100 $</td>
                                <td>3</td>
                                <td>5</td>
                                <td>120 sq.ft.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ui tab comparables" data-tab="tab-excluded-comparables">
                TESTING...
            </div>
        </div>
    </div>
    <div id="analytics-modal" class="ui basic modal">
        <i class="close icon"></i>
        <div class="ui icon header">
            <i class="chart bar icon"></i>
            <div id="analytics-modal-title">
                PROPERTIES ON AIRBNB WITHIN 100 KM. / 62.5 MILES
            </div>
        </div>
        <div id="analytics-modal-content" class="content">
            <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
        </div>
        <div class="actions">
            <div class="ui green basic inverted ok button">
                Close
                <i class="arrow right icon"></i>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/analytics.js"></script>