﻿
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
 
<div class="body-content">
    <h1 class="ui header">
        <i class="icon building outline"></i>
        <div class="content">
            Invoice
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="tab-invoice-entries">Entries</div>
                    <div class="item" data-tab="tab-invoice-settings">Settings</div>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="tab-invoice-entries">Entries</div>
            <div class="item" data-tab="tab-invoice-settings">Settings</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->
                <div class="ui tab segment active" data-tab="tab-invoice-entries">
                    <table id="invoice-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>Renter</th>
                                <th>Property</th>
                                <th>Payment Method</th>
                                <th>File</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="tab-invoice-settings">
                    <div class="ui tabular menu">
                        <div class="item active" data-tab="tab-invoice-schedule">Schedules</div>
                        <div class="item" data-tab="tab-invoice-template">Invoice Template</div>
                        <div class="item" data-tab="tab-email-template">Email Template</div>
                    </div>
                    @Html.Partial("../Payment/InvoicePartialView")
                </div>
            </div>
        </div>
    </div>
</div>
