﻿﻿@RenderBody()
<!--Login of Device Modal-->
<div id="device-login-modal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header" id="device-modal-title">
        Device Login
    </div>
    <div class="content">
        <input type="hidden" id="site-type" name="siteType" value="" />
        <div class="ui relaxed items" id="device-modal-site-type" hidden>
            <div class="item" id="import-from-vera">
                <div class="ui tiny image">
                    <img src="~/Content/img/vera.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Connect to Vera</a>
                </div>
            </div>
            <div class="item" id="import-from-arlo">
                <div class="ui tiny image">
                    <img src="~/Content/img/arlo.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Connect to Arlo</a>
                </div>
            </div>
            <div class="item" id="import-from-blink">
                <div class="ui tiny image">
                    <img src="~/Content/img/blink.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Connect to Blink</a>
                </div>
            </div>
            <div class="item" id="import-from-wyze">
                <div class="ui tiny image">
                    <img src="~/Content/img/wyze.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Connect to Wyze</a>
                </div>
            </div>
            <div class="item" id="import-from-smartthings" style="cursor: pointer;">
                <div class="ui tiny image">
                    <img src="~/Content/img/smartthings.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Connect to Smartthings</a>
                </div>
            </div>
        </div>
        <div class="ui equal width form" id="login-modal-account" hidden>
            <div class="fields">
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" id="username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" id="password">
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui blue button" id="back-device-login" title="Back">Back</a>
                        <a class="ui blue button" name="Login" id="login-btn" title="Save">
                            <i class="sign in icon"></i>Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui equal width form" id="login-modal-smartthings" hidden>
            <div class="fields">
                <div class="field">
                    <label>Email</label>
                    <input type="text" placeholder="Email" id="email-smartthings">
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui blue button" id="back-device-login" title="Back">Back</a>
                        <a class="ui blue button" name="Login" id="smartthings-login" title="Save" onclick="window.open('https://graph.api.smartthings.com/oauth/authorize?response_type=code&client_id=427f3b89-2ffe-4088-ba5a-afd7da711fb5&scope=app&redirect_uri=https://respontage.com/Devices/Authentication', '_blank');">
                            <i class="sign in icon"></i>Connect
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui equal width form" id="blink-security" hidden>
            <div class="fields">
                <div class="field">
                    <label>Security Code</label>
                    <input type="text" placeholder="Security Code" id="blink-security-code">
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui blue button" id="back-device-login" title="Back">Back</a>
                        <a class="ui blue button" id="blink-security-send" title="Save">
                            <i class="sign in icon"></i>Verify
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Login of Device Modal End-->
<div id="import-modal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header" id="import-modal-title">
        Choose Site Where to Import
    </div>
    <div id="import-modal-content" class="content">
        <input type="hidden" id="site-type" name="siteType" value="" />
        <div class="ui relaxed items" id="import-modal-site-type">
            <div class="item" id="import-from-airbnb">
                <div class="ui tiny image">
                    <img src="~/Content/img/airbnb400.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Import from Airbnb</a>
                </div>
            </div>
            <div class="item" id="import-from-vrbo">
                <div class="ui tiny image">
                    <img src="~/Content/img/vrbo400.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Import from VRBO</a>
                </div>
            </div>
            <div class="item" id="import-from-booking">
                <div class="ui tiny image">
                    <img src="~/Content/img/booking400.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Import from Booking.com</a>
                </div>
            </div>
            <div class="item" id="import-from-homeaway">
                <div class="ui tiny image">
                    <img src="~/Content/img/homeaway400.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Import from Homeaway</a>
                </div>
            </div>
            <div class="ui horizontal divider">
                OR
            </div>
            <div class="item" id="create-propertydb-host">
                <div class="ui tiny image">
                    <img src="~/Content/img/propertydb400.png">
                </div>
                <div class="middle aligned content">
                    <a class="header">Create PropertyDB Host</a>
                </div>
            </div>
        </div>
        <div class="ui equal width form" id="create-propertydb-host-account" hidden>
            <form id="create-propertydb-host-form">
                <div class="fields">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Username" id="create-propertydb-host-account-username">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" id="create-propertydb-host-account-password">
                    </div>
                    <div class="field">
                        <label>Re-Enter Password</label>
                        <input type="password" name="reEnterPassword" placeholder="Password" id="create-propertydb-host-account-reEnterPassword">
                    </div>
                    <div class="ui negative message" id="create-propertydb-host-account-error-message" hidden>
                        <div class="header">
                            <span id="create-propertydb-host-account-error">Please check your input</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="import-modal-airbnb-airlock" hidden>
            <div class="ui header">Verification lock has been triggered. We need to verify your credentials.</div>

            <h5><img id="airbnb-host-pic" class="ui circular mini image" src="~/Content/img/airlock.gif" /><span id="airbnb-host-name"></span></h5>
            <div id="vrbo-airlock-step1" class="description">
                <p>How and where do you want to send your verification code ?</p>
                <div id="submit-airlock-choice-error" style="display: none" class="ui negative message">
                    <p>Unable to process selection</p>
                </div>
                <div id="phone-content"></div>
                <div id="email">
                    <div class="ui segment airbnb-airlock-choice" data-airlock-option="3" style="cursor: pointer">
                        <p id="airbnb-mail">Email</p>
                    </div>
                </div>
                <input type="hidden" id="airbnb-choice" value="" />
                <input type="hidden" id="airbnb-lockId" value="" />
                <input type="hidden" id="airbnb-userId" value="" />
                <input type="hidden" id="airbnb-phoneId" value="" />
                <input type="hidden" id="airbnb-isNew" value="" />
                <input type="hidden" id="airbnb-email" value="" />
                <input type="hidden" id="airbnb-phoneNumber" value="" />
            </div>
        </div>
        <div id="import-modal-vrbo-airlock" hidden>
            <div class="ui header">Verification lock has been triggered. We need to verify your credentials.</div>

            <h5>  <img id="vrbo-host-pic" class="ui circular mini image" src="~/Content/img/airlock.gif" /><span id="vrbo-host-name"></span></h5>
            <div id="vrbo-airlock-step1">
                <p>How and where do you want to send your verification code ?</p>
                <div class="grouped fields" id="import-modal-vrbo-airlock-phone-numbers">
                </div>
            </div>
        </div>
        <div id="import-modal-booking-airlock" hidden>
            <div class="ui header">Verification lock has been triggered. We need to verify your credentials.</div>

            <h5> <img id="booking-host-pic" class="ui circular mini image" src="~/Content/img/airlock.gif" /><span id="booking-host-name"></span></h5>
            <div id="vrbo-airlock-step1">
                <p>How and where do you want to send your verification code ?</p>
                <div class="grouped fields" id="import-modal-booking-airlock-phone-numbers">
                </div>
            </div>
        </div>
        <div id="import-modal-homeaway-airlock" hidden>
            <div class="ui header">Verification lock has been triggered. We need to verify your credentials.</div>
            <h5><img id="homeaway-host-pic" class="ui circular mini image" src="~/Content/img/airlock.gif" /><span id="homeaway-host-name"></span></h5>
            <div id="homeaway-airlock-step1">
                <p>How and where do you want to send your verification code ?</p>
                <div class="grouped fields" id="import-modal-homeaway-airlock-phone-numbers">
                </div>
            </div>
        </div>
        <div id="import-modal-vrbo-airlock-verification-code" hidden>
            <p>Enter the code we've sent to you.</p>
            <div class="ui input">
                <input type="text" maxlength="8" style="width:300px;" placeholder="Verification Code Here..." id="import-modal-vrbo-airlock-verification-code-tb">
            </div>
            <div class="ui negative message" id="import-modal-vrbo-airlock-verification-code-error-message" hidden>
                <div class="header">
                    The code you provided is incorrect. Please try again
                </div>
            </div>
        </div>
        <div id="import-modal-importing" hidden>
            <div class="ui success message" id="import-modal-importing-success-message" hidden>
                <i class="close icon"></i>
                <div class="header">
                    Data Import Was Successful !
                </div>
                <p>Download finished, stay there while we're reloading this page.</p>
            </div>
            <div>
                <div class="ui small left floated image">
                    <img src="~/Content/img/transfer3.gif">
                </div>
                <div>
                    <div class="ui header" id="import-modal-importing-header">Getting Host Information, Please Wait...</div>
                    <div>
                        <i class="home icon"></i>
                        Property : <span id="import-modal-importing-property-count">0</span> Record/s
                        <i class="wait icon orange" id="import-modal-importing-property-done"></i>
                    </div>
                    <div>
                        <i class="info icon"></i>
                        Inquiry : <span id="import-modal-importing-inquiry-count">0</span> Record/s
                        <i class="wait icon orange" id="import-modal-importing-inquiry-done"></i>
                    </div>
                    <div>
                        <i class="mail outline icon"></i>
                        Messages : <span id="import-modal-importing-messages-count">0</span> Record/s
                        <i class="wait icon orange" id="import-modal-importing-messages-done"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui equal width form" id="import-modal-account" hidden>
            <div class="fields">
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" id="import-modal-account-username" disabled>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" id="import-modal-account-password">
                </div>
            </div>
        </div>
    </div>
    <div class="actions" id="create-propertydb-host-account-action" hidden>
        <button class="ui red deny button" id="create-propertydb-host-account-action-cancel">
            Cancel
        </button>
        <button class="ui primary button" id="create-propertydb-host-account-action-back">
            <i class="arrow left icon"></i>
            Back
        </button>
        <button class="ui primary button" id="create-propertydb-host-account-action-submit">
            Create Account
            <i class="user left icon"></i>
        </button>
    </div>
    <div class="actions" id="import-modal-account-action" hidden>
        <button class="ui red deny button" id="import-modal-account-action-cancel">
            Cancel
        </button>
        <button class="ui primary button" id="import-modal-account-action-back">
                <i class="arrow left icon"></i>
                Back
            </button>
        <button class="ui primary button" id="import-modal-account-action-next">
            Next
            <i class="arrow right icon"></i>
        </button>
    </div>
    <div class="actions" id="import-modal-vrbo-airlock-action" hidden>
        <button class="ui primary button" id="import-modal-vrbo-airlock-verification-code-sms" selectedChoice="1">
            <i class="mail outline icon"></i>
            via SMS
        </button>
        <button class="ui primary button" id="import-modal-vrbo-airlock-verification-code-call" selectedChoice="2">
            <i class="call icon"></i>
            via Call
        </button>
    </div>
    <div class="actions" id="import-modal-booking-airlock-action" hidden>
        <button class="ui primary button" id="import-modal-booking-airlock-verification-code-sms" selectedChoice="1">
            <i class="mail outline icon"></i>
            via SMS
        </button>
        <button class="ui primary button" id="import-modal-booking-airlock-verification-code-call" selectedChoice="2">
            <i class="call icon"></i>
            via Call
        </button>
    </div>
    <div class="actions" id="import-modal-homeaway-airlock-action" hidden>
        <button class="ui primary button" id="import-modal-homeaway-airlock-verification-code-sms" selectedChoice="1">
            <i class="mail outline icon"></i>
            via SMS
        </button>
        <button class="ui primary button" id="import-modal-homeaway-airlock-verification-code-call" selectedChoice="2">
            <i class="call icon"></i>
            via Call
        </button>
    </div>
    <div class="actions" id="import-modal-vrbo-airlock-verification-code-action" hidden>
        <button class="ui primary button" id="import-modal-vrbo-airlock-verification-code-done">
            <i class="checkmark icon"></i>
            Done
        </button>
    </div>
</div>
<link rel="stylesheet" href="~/Content/propertydb.modal.css" />
<link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/airlock.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/Signalr/hubs"></script>
<script>
    var siteType = "";
    var siteTypeIndex = 0;
    //var vrboAirlockViewModel;
    //var bookingAirlockViewModel;
    var compage = "";
    function changeSiteType(type) {
        siteType = type;
        $("#site-type").val(type);

        if (type == "Airbnb")
            siteTypeIndex = 1;
        else if (type == "Vrbo")
            siteTypeIndex = 2;
        else if (type == "Booking")
            siteTypeIndex = 3;
        else if (type == "Homeaway")
            siteTypeIndex = 4;
    }

    function changeSiteTypeIndex(type) {
        siteTypeIndex = type;

        if (type == 1)
            siteType = "Airbnb";
        else if (type == 2)
            siteType = "Vrbo";
        else if (type == 3)
            siteType = "Booking"
        else if (type == 4)
            siteType == "Homeaway"

        $("#site-type").val(siteType);
    }

    //function download() {
    //    $.ajax({
    //        type: 'POST',
    //        url: "/Import/PostImport",
    //        data: {
    //            username: $("#import-modal-account-username").val(),
    //            password: $("#import-modal-account-password").val(),
    //            siteType: siteTypeIndex
    //        },
    //        dataType: 'json',
    //        success: function (result) {
    //            $("#import-modal").modal('hide');
    //            //$("#import-modal-importing-success-message").show();
    //            //window.location.reload();
    //        }
    //    });
    //}

    $("#import-from-airbnb").click(function () {
        changeSiteType("Airbnb");
        $("#import-modal-title").text("Log In Your " + siteType + " Account");
        $("#import-modal-site-type").hide();
        $("#import-modal-account").show();
        $("#import-modal-account-action").show();
        //$("#import-modal-airbnb-airlock").show();
    });

    $("#import-from-vrbo").click(function () {
        changeSiteType("Vrbo");
        $("#import-modal-title").text("Log In Your " + siteType + " Account");
        $("#import-modal-site-type").hide();
        $("#import-modal-account").show();
        $("#import-modal-account-action").show();
        $('#import-modal').modal('refresh')
    });

    $("#import-from-booking").click(function () {
        changeSiteType("Booking");
        debugger;
        $("#import-modal-title").text("Log In Your " + siteType + " Account");
        $("#import-modal-site-type").hide();
        $("#import-modal-account").show();
        $("#import-modal-account-action").show();
    });

    //$("#import-modal-account-action-back").click(function () {
    //    $("#site-type").val("");
    //    $("#import-modal-title").text("Choose Site Where to Import");
    //    $("#import-modal-account").hide();
    //    $("#import-modal-account-action").hide();
    //    $("#import-modal-site-type").show();
    //});

    $("#import-modal-homeaway-airlock-verification-code-sms, #import-modal-homeaway-airlock-verification-code-call").click(function () {
        var clickedButton = $(this);
        clickedButton.addClass("loading");
        var selectedChoice = clickedButton.attr("selectedChoice");
        var selectedPhoneNumber = $("input[type=radio]:checked").attr("selectionId");
        console.log(vrboAirlockViewModel);
        vrboAirlockViewModel.SelectedChoice = selectedChoice;
        vrboAirlockViewModel.SelectedPhoneNumber = selectedPhoneNumber;

        $.ajax({
            type: 'POST',
            url: "/Import/ProcessHomeawayAirlockSelection",
            data: vrboAirlockViewModel,
            success: function (result) {
                $("#import-modal-vrbo-airlock-verification-code-tb").val("");
                vrboAirlockViewModel = result.airlock;
                clickedButton.removeClass("loading");

                $("#import-modal").modal({ closable: false });
                $("#import-modal-homeaway-airlock").hide();
                $("#import-modal-homeaway-airlock-action").hide();
                $("#import-modal-vrbo-airlock-verification-code").show();
                $("#import-modal-vrbo-airlock-verification-code-action").show();
            }
        });
    });

    $("#import-modal-account-action-next").click(function () {
        $("#import-modal-account-error-message").hide();
        $("#import-modal-account-action-next").addClass("loading");

        $.ajax({
            type: 'POST',
            url: "/Import/ImportLogIn",
            data: {
                username: $("#import-modal-account-username").val(),
                password: $("#import-modal-account-password").val(),
                siteType: siteTypeIndex
            },
            dataType: "json",
            success: function (result) {
                $("#import-modal-account-action-next").removeClass("loading");

                if (result.success) {
                    $("#import-modal").modal("hide");
                    download();
                }
                else if (!result.success && !result.isAirlock) {
                    $("#import-modal-account-error-message").show();
                }
                else if (result.isAirlock) {

                    if (siteType == "Airbnb") {
                        var airlock = result.airlock;
                        $("#airbnb-lockId").val(airlock.LockId);
                        $("#airbnb-userId").val(airlock.UserId);
                        $("#airbnb-phoneId").val(airlock.PhoneNumber);
                        $("#airbnb-isNew").val(airlock.IsNew);
                        $("#airbnb-email").val(airlock.Email);
                        $("#airbnb-phoneNumber").val(airlock.PhoneNumber);

                        $("#airbnb-sms").html("<span><i class='talk outline icon'></i></span>Text Message   (" + airlock.PhoneNumber + ")");
                        $("#airbnb-call").html("<span><i class='call outline icon'></i></span>Phone Call   (" + airlock.PhoneNumber + ")");
                        if (airlock.Email == null || airlock.Email == "") {
                            $('#email').hide();
                        }
                        else {

                            $("#airbnb-mail").html("<span><i class='mail outline icon'></i></span>E-mail   (" + airlock.Email + ")");
                            $('#email').show();
                        }
                    }
                    else if (siteType == "Vrbo") {
                        $("#import-modal-vrbo-airlock-phone-numbers").html("");

                        vrboAirlockViewModel = result.airlock;
                        var selectPhoneNumberHtml = "";

                        for (var i = 0; i < result.phoneNumbers.length; i++) {
                            selectPhoneNumberHtml = selectPhoneNumberHtml +
                                '<div class="field">' +
                                '<div class="ui radio checkbox">' +
                                '<input type="radio" name="example2" checked="checked" selectionId="' + (result.phoneNumbers[i] + '-' + result.countryCodes[i]) + '">' +
                                '<label>' + (result.phoneNumbers[i] + '-' + result.countryCodes[i]) + '</label>' +
                                '</div>' +
                                '</div>' +
                                '<br />';
                        }

                        $("#import-modal-vrbo-airlock-phone-numbers").append(selectPhoneNumberHtml);
                        $("#import-modal-vrbo-airlock-action").show();
                    }
                    else if (siteType == "Booking") {
                        $("#import-modal-booking-airlock-phone-numbers").html("");

                        bookingAirlockViewModel = result.airlock;
                        var selectPhoneNumberHtml = "";

                        for (var i = 0; i < result.phoneNumbers.length; i++) {
                            selectPhoneNumberHtml = selectPhoneNumberHtml +
                                '<div class="field">' +
                                '<div class="ui radio checkbox">' +
                                '<input type="radio" name="example2" checked="checked" selectionId="' + result.phoneNumberKeys[i] + '">' +
                                '<label>' + result.phoneNumbers[i] + '</label>' +
                                '</div>' +
                                '</div>' +
                                '<br />';
                        }


                        $("#import-modal-booking-airlock-phone-numbers").append(selectPhoneNumberHtml);
                        $("#import-modal-booking-airlock-action").show();
                    }

                    //$("#import-modal").modal('hide');
                    $("#import-modal").modal('show').modal('refresh');
                    $("#import-modal-account").hide();
                    $("#import-modal-account-action").hide();
                    $("#import-modal-title").text($("#site-type").val() + " Airlock");
                    $("#import-modal-" + siteType.toLowerCase() + "-airlock").show();
                    $("#import-modal").modal('refresh');
                }
            }
        });
    });
    toastr.options = {
        positionClass: "toast-bottom-right",
        timeOut: 0,
        extendedTimeOut: 0,
        tapToDismiss: false,
        preventOpenDuplicates: true,
        onclick: null,
        closeButton: true,
    }


    //JM 01/07/19 Show airlock modal for specific user
    $(document).on('click', '.toaster-class', function () {
        $("#import-modal-vrbo-airlock-verification-code-error-message").hide();
        $("#import-modal-vrbo-airlock-verification-code-done").removeClass("loading");
        $('.airbnb-airlock-choice').removeClass("loading");
        $('.airbnb-airlock-choice').removeAttr("disabled");
        if ($(this).attr('disable') == "false") {
            var result = $(this).attr('airlock-details');
            result = JSON.parse(result);
            if ($('#airlock-toaster-' + result.hostId).attr('disable') == "false") {
                $("#import-modal-homeaway-airlock-action").hide();
                $("#import-modal-booking-airlock-action").hide();
                $("#import-modal-vrbo-airlock-action").hide();
                $("#import-modal-airbnb-airlock-action").hide();
                $("#import-modal-account-action").hide();
                $("#import-modal-airbnb-airlock").hide();
                $("#import-modal-vrbo-airlock").hide();
                $("#import-modal-homeaway-airlock").hide();
                $("#import-modal-booking-airlock").hide();
                $("#import-modal-vrbo-airlock-verification-code").hide();
                $("#import-modal-vrbo-airlock-verification-code-action").hide();
                siteType = result.siteType;

                if (siteType == "Airbnb") {
                    var airlock = JSON.parse(result.airlock);

                    if (result.hostProfilePic != null) {
                        $("#airbnb-host-pic").attr("src", result.hostProfilePic);
                    }

                    $("#airbnb-host-name").text(result.hostName);
                    $("#airbnb-lockId").val(airlock.LockId);
                    $("#airbnb-userId").val(airlock.UserId);
                    $("#airbnb-phoneId").val(airlock.PhoneNumber);
                    $("#airbnb-isNew").val(airlock.IsNew);
                    $("#airbnb-email").val(airlock.Email);
                    $("#airbnb-phoneNumber").val(airlock.PhoneNumber);
                    $("#import-modal-account-username").val(airlock.Username);
                    $("#import-modal-account-password").val(airlock.Password);
                    compage = result.compage;

                    var parent = $("#phone-content");
                    parent.empty();
                    var phoneIds = airlock.PhoneId.split(',');
                    var phoneNumber = airlock.PhoneNumber.split(',');
                    for (var q = 0; q < phoneIds.length; q++) {
                        if (phoneIds[q] != "") {
                            var html = '<div class="ui segment airbnb-airlock-choice" data-airlock-option="1" phoneId="' + phoneIds[q] + '" style="cursor: pointer">' +
                                '<p id="airbnb-sms">' + '<span><i class="talk outline icon"></i></span>Text Message   (' + phoneNumber[q] + ')' + '</p>' +
                                '</div>' +
                                '<div class="ui segment airbnb-airlock-choice" data-airlock-option="2" phoneId="' + phoneIds[q] + '" style="cursor: pointer">' +
                                '<p id="airbnb-call">' + '<span><i class="talk outline icon"></i></span>Phone Call   (' + phoneNumber[q] + ')' + '</p>' +
                                '</div>';
                            parent.append(html);
                        }
                    }

                    //This is old code with single phone number
                    //$("#airbnb-sms").html("<span><i class='talk outline icon'></i></span>Text Message   (" + airlock.PhoneNumber + ")");
                    //$("#airbnb-call").html("<span><i class='call outline icon'></i></span>Phone Call   (" + airlock.PhoneNumber + ")");
                    if (airlock.Email != null && airlock.Email != "") {
                        $("#email").show();
                        $("#airbnb-mail").html("<span><i class='mail outline icon'></i></span>E-mail   (" + airlock.Email + ")");
                    }
                    else {
                        $("#email").hide();
                    }
                }
                else if (siteType == "Vrbo") {
                    $("#import-modal-vrbo-airlock-phone-numbers").html("");
                    $("#vrbo-host-pic").attr("src", result.hostProfilePic);
                    $("#vrbo-host-name").text(result.hostName);
                    vrboAirlockViewModel = JSON.parse(result.airlock);
                    var selectPhoneNumberHtml = "";
                    //console.log(result.phoneNumbers);
                    //result.phoneNumbers = JSON.parse(result.phoneNumbers);
                    //console.log(result.phoneNumbers);
                    var i = 0;
                    $.each(JSON.parse(result.phoneNumbers), function (key, value) {

                        selectPhoneNumberHtml = selectPhoneNumberHtml +
                            '<div class="field">' +
                            '<div class="ui radio checkbox">' +
                            '<input type="radio" name="example2" checked="checked" selectionId="' + (value + '-' + key) + '">' +
                            '<label>' + (value + '-' + key) + '</label>' +
                            '</div>' +
                            '</div>' +
                            '<br />';
                        i++;
                    });
                    //for (var i = 0; i < result.phoneNumbers.length; i++) {
                    //    selectPhoneNumberHtml = selectPhoneNumberHtml +
                    //        '<div class="field">' +
                    //        '<div class="ui radio checkbox">' +
                    //        '<input type="radio" name="example2" checked="checked" selectionId="' + (i + 1) + '">' +
                    //        '<label>' + result.phoneNumbers[i] + '</label>' +
                    //        '</div>' +
                    //        '</div>' +
                    //        '<br />';
                    //}

                    $("#import-modal-vrbo-airlock-phone-numbers").append(selectPhoneNumberHtml);
                    $("#import-modal-vrbo-airlock-action").show();
                }
                else if (siteType == "Booking") {
                    $("#booking-host-pic").attr("src", result.hostProfilePic);
                    $("#booking-host-name").text(result.hostName);
                    $("#import-modal-booking-airlock-phone-numbers").html("");

                    bookingAirlockViewModel = JSON.parse(result.airlock);
                    var selectPhoneNumberHtml = "";
                    result.phoneNumbers = JSON.parse(result.phoneNumbers);
                    $.each(result.phoneNumbers, function (key, value) {

                        selectPhoneNumberHtml = selectPhoneNumberHtml +
                            '<div class="field">' +
                            '<div class="ui radio checkbox">' +
                            '<input type="radio" name="example2" checked="checked" selectionId="' + key + '">' +
                            '<label>' + value + '</label>' +
                            '</div>' +
                            '</div>' +
                            '<br />';

                    });
                    //for (var i = 0; i < result.phoneNumbers.length; i++) {
                    //    selectPhoneNumberHtml = selectPhoneNumberHtml +
                    //        '<div class="field">' +
                    //        '<div class="ui radio checkbox">' +
                    //        '<input type="radio" name="example2" checked="checked" selectionId="' + result.phoneNumberKeys[i] + '">' +
                    //        '<label>' + result.phoneNumbers[i] + '</label>' +
                    //        '</div>' +
                    //        '</div>' +
                    //        '<br />';
                    //}

                    $("#import-modal-booking-airlock-phone-numbers").append(selectPhoneNumberHtml);
                    $("#import-modal-booking-airlock-action").show();
                }
                else if (siteType == "Homeaway") {
                    $("#homeaway-host-pic").attr("src", result.hostProfilePic);
                    $("#homeaway-host-name").text(result.hostName);
                    $("#import-modal-homeaway-airlock-phone-numbers").html("");

                    vrboAirlockViewModel = JSON.parse(result.airlock);
                    var selectPhoneNumberHtml = "";
                    result.phoneNumbers = JSON.parse(result.phoneNumbers);
                    var i = 0;
                    $.each(result.phoneNumbers, function (key, value) {

                        selectPhoneNumberHtml = selectPhoneNumberHtml +
                            '<div class="field">' +
                            '<div class="ui radio checkbox">' +
                            '<input type="radio" name="example2" checked="checked" selectionId="' + (value + '-' + key) + '">' +
                            '<label>' + (value + '-' + key) + '</label>' +
                            '</div>' +
                            '</div>' +
                            '<br />';
                        i++;
                    });
                    //for (var i = 0; i < result.phoneNumbers.length; i++) {
                    //    selectPhoneNumberHtml = selectPhoneNumberHtml +
                    //        '<div class="field">' +
                    //        '<div class="ui radio checkbox">' +
                    //        '<input type="radio" name="example2" checked="checked" selectionId="' + (i + 1) + '">' +
                    //        '<label>' + result.phoneNumbers[i] + '</label>' +
                    //        '</div>' +
                    //        '</div>' +
                    //        '<br />';
                    //}

                    $("#import-modal-homeaway-airlock-phone-numbers").append(selectPhoneNumberHtml);
                    $("#import-modal-homeaway-airlock-action").show();
                }
                //$("#import-modal-site-type").hide();
                //$("#import-modal-account").hide();
                //$("#import-modal-account-action").hide();
                ////alert(siteType);
                //$("#import-modal-title").text(siteType + " Security");
                //$("#import-modal-" + siteType.toLowerCase() + "-airlock").show();
                //if ($('#import-modal').is(":visible")) {
                //    //alert("Modal already show");
                //    if (!$('#toaster-' + result.hostId).length) {
                //        toastr["info"]("<span id='toaster-" + result.hostId + "' class='toaster-class' userId='" + result.userId + "' airlock-details='" + JSON.stringify(result) + "' sitetype='" + getSiteCode(siteType) + "'></span>");
                //    }
                //    $('#toaster-' + result.hostId).html("<h4>" + siteType + " Security \n" + result.hostName + "</h4>");
                //}
                //else {
                //    $("#import-modal").modal('show');
                //}

                $("#import-modal-site-type").hide();
                $("#import-modal-account").hide();
                $("#import-modal-account-action").hide();
                $("#import-modal-title").text(siteType + " Security");
                $("#import-modal-" + siteType.toLowerCase() + "-airlock").show();
                $("#import-modal").attr('hostId', result.hostId)
                $("#import-modal").modal({
                    onHide: function () {
                        NotDoneModalClose();
                    }
                }).modal('show').modal('refresh');
            }

        }
    });
    //JM 01/07/19 Show login form for change password
    $(document).on('click', '.login-toaster-class', function () {
        if ($(this).attr('disable') == "false") {
            $.ajax({
                type: 'GET',
                url: "/Import/ShowLogin",
                data: { userId: $(this).attr('userId'), loginModel: $(this).attr('login-details'), hostId: $(this).attr('host-id'), IsUserShow: true },
                success: function (data) {

                }
            });
        }

    });
    function NotDoneModalClose() {
        var hostId = $("#import-modal").attr('hostId');
        $.ajax({
            type: 'GET',
            url: "/Import/AirlockEnableToastr",
            data: { hostId: hostId },
            success: function (data) {

            }
        });
    }
    var _airlockHub = $.connection.globalAirlockHub;
    $.connection.hub.logging = true;

    var vrboAirlockViewModel;
    var bookingAirlockViewModel;
    _airlockHub.client.AirlockEnableToastr = function (hostId) {
        $('#login-toaster-' + hostId + ' #host-name-process').remove();
        $('#airlock-toaster-' + hostId + ' #host-name-process').remove();
        $('#airlock-toaster-' + hostId).attr('disable', false);
        $('#login-toaster-' + hostId).attr('disable', false);
    }
    _airlockHub.client.ShowBlockUser = function (result) {
        if ($('#airlock-toaster-' + result.hostId).length) {
            $('#airlock-toaster-' + result.hostId).parent().parent().remove();
        }
        result = JSON.parse(result);
        if (!$('#error-toaster-' + result.hostId).length) {
            toastr["error"]("<span id='error-toaster-" + result.hostId + "' class='error-toaster-class'></span>");
            $('#error-toaster-' + result.hostId).html("<h4>" + result.siteType + " Block \n" + result.hostName + "</h4>");
        }
    }
    //JM 02/07/19 Remove toastr notification after succesful solving of airlock or login
    _airlockHub.client.SuccessLoginRemoveToastr = function (hostId) {
        $('#login-toaster-' + hostId).parent().parent().remove();
        $('#airlock-toaster-' + hostId).parent().parent().remove();
        if ($("#import-modal").attr('hostId') == hostId) {
            $("#import-modal").hide();
        }

    }
    //JM 02/07/19 Show toastr of login request and show login form when toastr click
    _airlockHub.client.ShowLogin = function (result) {
        result = JSON.parse(result);
        if ($('#error-toaster-' + result.hostId).length) {
            $('#error-toaster-' + result.hostId).parent().parent().remove();
        }
        $("#import-modal-account-action").show();
        if (!$('#login-toaster-' + result.hostId).length) {
            toastr["info"]("<span id='login-toaster-" + result.hostId + "' class='login-toaster-class' disable='" + false + "' host-id='" + result.hostId + "' userId='" + result.userId + "' login-details='" + JSON.stringify(result) + "'></span>");
            $('#login-toaster-' + result.hostId).html("<h4>" + result.siteType + " Login Request \n" + result.hostName + "</h4>");
        }
        else {
            if ($('#login-toaster-' + result.hostId).attr('disable') == "false") {
                changeSiteType(result.siteType);
                $("#import-modal-title").text("Log In Your " + result.siteType + " Account");
                $("#import-modal-homeaway-airlock-action").hide();
                $("#import-modal-booking-airlock-action").hide();
                $("#import-modal-vrbo-airlock-action").hide();
                $("#import-modal-airbnb-airlock-action").hide();
                $("#import-modal-vrbo-airlock-verification-code").hide();
                $("#import-modal-vrbo-airlock-verification-code-action").hide();
                $("#import-modal-site-type").hide();
                $("#import-modal-airbnb-airlock").hide();
                $("#import-modal-vrbo-airlock").hide();
                $("#import-modal-homeaway-airlock").hide();
                $("#import-modal-booking-airlock").hide();
                $("#import-modal").attr('hostId', result.hostId)
                $("#import-modal").modal({
                    onHide: function () {
                        NotDoneModalClose();
                    }
                }).modal('show').modal('refresh');
                $("#import-modal-account-username").val(result.Username);
                $("#import-modal-account").show();
            }
        }
    }

        $(document).on('click', '#blink-security-send', function () {
            var id = $('#blink-security').attr('accountId');
            var code = $('#blink-security-code').val();
            $.ajax({
                type: 'POST',
                url: "/Video/BlinkSecurity",
                async: false,
                data: {
                    id: id, code: code
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $('#device-login-modal').modal('hide');
                    }
                    else {
                        toastr.error("Invalid Pincode", null, { timeOut: 3000, positionClass: "toast-bottom-right" });
                    }
                }
            });
        });
    
    _airlockHub.client.ShowBlinkSecurity = function (account) {
        console.log(account)
        if (!$('#blink-toaster-' + account.Id).length) {
            toastr["error"]("<span id='blink-toaster-" + account.Id + "' class='blink-toastr' disable='" + false + "' account-id='" + account.Id + "'></span>");
            $('#blink-toaster-' + account.Id).html("<h4>Click to reconnect to Blink Security \n" + account.Username + "</h4>");

        }
    }
    $(document).on('click', '.blink-toastr', function () {
        var accountId = $(this).attr('account-id')
        $("#login-modal-account").hide();
        $("#login-modal-account").hide();
        $("#device-modal-site-type").hide();
        $('#login-modal-smartthings').hide();
        $('#blink-security').show();
        $('#blink-security').attr('accountId', accountId);
        $('#device-modal-title').text('Blink Security');
        $('#device-login-modal').modal({ closable: false }).modal('show').modal('refresh');
    });

    //JM 02/07/19 show who is solving the specific airlock
    _airlockHub.client.ShowUserProcessAirlock = function (hostId, user) {
        var user = '<h5 id="host-name-process"><span style="background-color: #FF0000">' + user.FirstName + " " + user.LastName + ' Processing...</span></h5>'
        if (($('#login-toaster-' + hostId + ' #host-name-process').length == 0) && ($('#airlock-toaster-' + hostId + ' #host-name-process').length == 0)) {
            $('#login-toaster-' + hostId).append(user);
            $('#airlock-toaster-' + hostId).append(user);
            $('#login-toaster-' + hostId).attr('disable', 'true');
            $('#airlock-toaster-' + hostId).attr('disable', 'true');
        }
    }
    //JM 02/07/19 Show toastr of airlock and show airlock when toastr click
    _airlockHub.client.ShowAirlock = function (result) {
        result = JSON.parse(result);
        if ($('#error-toaster-' + result.hostId).length) {
            $('#error-toaster-' + result.hostId).parent().parent().remove();
        }

        if (!$('#airlock-toaster-' + result.hostId).length) {
            toastr["error"]("<span id='airlock-toaster-" + result.hostId + "' class='toaster-class' disable='" + false + "' host-id='" + result.hostId + "' userId='" + result.userId + "' airlock-details='" + JSON.stringify(result) + "'></span>");
            $('#airlock-toaster-' + result.hostId).html("<h4>Click to reconnect to " + result.siteType + " Security \n" + result.hostName + "</h4>");
        }
    };


    function getSiteCode(site) {
        switch (site) {
            case "Airbnb": return 1;
            case "Vrbo": return 2;
            case "Booking": return 3;
            case "Homeaway": return 4;
        }
    }
    $("#import-modal-account-username, #import-modal-account-password").on('input', function () {
        $("#import-modal-account-error-message").hide();
    });

    $("#import-modal-vrbo-airlock-verification-code-sms, #import-modal-vrbo-airlock-verification-code-call").click(function () {
        var clickedButton = $(this);
        clickedButton.addClass("loading");
        var selectedChoice = clickedButton.attr("selectedChoice");
        var selectedPhoneNumber = $("input[type=radio]:checked").attr("selectionId");
        console.log(vrboAirlockViewModel);
        vrboAirlockViewModel.SelectedChoice = selectedChoice;
        vrboAirlockViewModel.SelectedPhoneNumber = selectedPhoneNumber;

        $.ajax({
            type: 'POST',
            url: "/Import/ProcessVrboAirlockSelection",
            data: vrboAirlockViewModel,
            success: function (result) {
                vrboAirlockViewModel = result.airlock;
                clickedButton.removeClass("loading");
                $("#import-modal-vrbo-airlock-verification-code-tb").val("");
                $("#import-modal").modal({ closable: false });
                $("#import-modal-vrbo-airlock").hide();
                $("#import-modal-vrbo-airlock-action").hide();
                $("#import-modal-vrbo-airlock-verification-code").show();
                $("#import-modal-vrbo-airlock-verification-code-action").show();
            }
        });
    });

    $("#import-modal-booking-airlock-verification-code-sms, #import-modal-booking-airlock-verification-code-call").click(function () {
        var clickedButton = $(this);
        clickedButton.addClass("loading");
        var selectedChoice = clickedButton.attr("selectedChoice");
        var selectedPhoneNumber = $("input[type=radio]:checked").attr("selectionId");
        debugger;
        bookingAirlockViewModel.SelectedChoice = selectedChoice;
        bookingAirlockViewModel.SelectedPhoneNumber = selectedPhoneNumber;

        $.ajax({
            type: 'POST',
            url: "/Import/ProcessBookingAirlockSelection",
            data: bookingAirlockViewModel,
            success: function (result) {
                $("#import-modal-vrbo-airlock-verification-code-tb").val("");
                bookingAirlockViewModel = result.airlock;
                clickedButton.removeClass("loading");
                debugger;
                $("#import-modal").modal({ closable: false });
                $("#import-modal-booking-airlock").hide();
                $("#import-modal-booking-airlock-action").hide();
                $("#import-modal-vrbo-airlock-verification-code").show();
                $("#import-modal-vrbo-airlock-verification-code-action").show();
            }
        });
    });

    $(document).on('click', '.airbnb-airlock-choice', function () {
        var thisObj = $(this);
        $("#airbnb-choice").val($(this).attr("data-airlock-option"));
        var phoneId = $(this).attr("phoneId");
        var choice = $("#airbnb-choice").val();
        var lockId = $("#airbnb-lockId").val();
        var userId = $("#airbnb-userId").val();
        $("#airbnb-phoneId").val(phoneId);
        var isNew = $("#airbnb-isNew").val();
        var username = $("#import-modal-account-username").val();
        thisObj.addClass("loading");
        $('.airbnb-airlock-choice').attr("disabled", true);
        $.ajax({
            type: 'POST',
            url: "/Import/ProcessAirbnbAirlockSelection",
            data: {
                choice: choice,
                lockId: lockId,
                userId: userId,
                phoneId: phoneId,
                isNew: isNew,
                username: username
            },
            success: function (sendCodeAllowed) {
                $("#import-modal-vrbo-airlock-verification-code-tb").val("");
                thisObj.removeClass("loading");
                $('.airbnb-airlock-choice').removeAttr("disabled");
                if (sendCodeAllowed) {
                    $("#import-modal").modal({ closable: false });
                    $("#import-modal-airbnb-airlock").hide();
                    $("#import-modal-vrbo-airlock-verification-code").show();
                    $("#import-modal-vrbo-airlock-verification-code-action").show();

                }
                else {
                    $("#submit-airlock-choice-error").show();
                }
            }
        });
    });

    $("#import-modal-vrbo-airlock-verification-code-done").click(function () {
        $("#import-modal-vrbo-airlock-verification-code-done").addClass("loading");
        $("#import-modal-vrbo-airlock-verification-code-error-message").hide();
        var choice;
        var lockId;
        var userId;
        var phoneId;
        var isNew;
        var code;
        var dataParameter;

        if (siteType == "Airbnb") {
            choice = $("#airbnb-choice").val();
            lockId = $("#airbnb-lockId").val();
            userId = $("#airbnb-userId").val();
            phoneId = $("#airbnb-phoneId").val();
            isNew = $("#airbnb-isNew").val();
            code = $("#import-modal-vrbo-airlock-verification-code-tb").val();

            var dataParameter = {
                "choice": choice,
                "lockId": lockId,
                "userId": userId,
                "phoneId": phoneId,
                "isNew": isNew,
                "code": code,
                "username": $("#import-modal-account-username").val(),
                "password": $("#import-modal-account-password").val()
            };
        }
        else if (siteType == "Vrbo") {
            vrboAirlockViewModel.Code = $("#import-modal-vrbo-airlock-verification-code-tb").val();

            if (vrboAirlockViewModel.Username == null && vrboAirlockViewModel.Password == null) {
                vrboAirlockViewModel.Username = $("#import-modal-account-username").val();
                vrboAirlockViewModel.Password = $("#import-modal-account-password").val();
            }

            debugger;

            dataParameter = vrboAirlockViewModel;
        }
        else if (siteType == "Booking") {
            bookingAirlockViewModel.Code = $("#import-modal-vrbo-airlock-verification-code-tb").val();

            //if (bookingAirlockViewModel.Email == null && bookingAirlockViewModel.Password == null) {
            //	//bookingAirlockViewModel.Email = $("#import-modal-account-username").val();
            //	//bookingAirlockViewModel.Password = $("#import-modal-account-password").val();
            //}

            debugger;

            dataParameter = bookingAirlockViewModel;
        } else if (siteType == "Homeaway") {
            vrboAirlockViewModel.Code = $("#import-modal-vrbo-airlock-verification-code-tb").val();

            if (vrboAirlockViewModel.Username == null && vrboAirlockViewModel.Password == null) {
                vrboAirlockViewModel.Username = $("#import-modal-account-username").val();
                vrboAirlockViewModel.Password = $("#import-modal-account-password").val();
            }

            dataParameter = vrboAirlockViewModel;
        }
        debugger;
        $.ajax({
            type: 'POST',
            url: "/Import/Process" + siteType + "Airlock",
            data: dataParameter,
            success: function (result) {
                $("#import-modal-vrbo-airlock-verification-code-done").removeClass("loading");
                if (result.success) {
                    $("#import-modal-vrbo-airlock-verification-code-tb").val("");
                    $("#import-modal-vrbo-airlock-verification-code").hide();
                    $("#import-modal-vrbo-airlock-verification-code-action").hide();
                    $("#import-modal-account-username").val(result.username);
                    $("#import-modal-account-password").val(result.password);
                    $("#import-modal").modal('hide');
                    swal({ title: "Success", text: "Process Complete!", type: "success" });
                }
                else {
                    if (siteType == "Airbnb") {
                        if (result.message == "The code you provided is incorrect. Please try again.") {
                            $("#import-modal-vrbo-airlock-verification-code-error-message").show();
                        }
                        else {
                            $("#import-modal").modal('hide');
                            swal({ title: "Error", text: "Process Timeout,Please Try again", type: "error" });
                        }
                    } else {
                        $("#import-modal-vrbo-airlock-verification-code-error-message").show();
                    }
                }
            }
        });
    });

    $("#import-modal-vrbo-airlock-verification-code-tb").on('input', function () {
        $("#import-modal-vrbo-airlock-verification-code-error-message").hide();
    });
    $.connection.hub.start();
    $.connection.hub.disconnected(function () {

        setTimeout(function () {

            $.connection.hub.start();

        }, 5000);

    });
</script>
