﻿@{
    Layout = "~/Views/Shared/_AirlockLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Respontage</title>
    @*<script src="~/Content/jquery/jquery-3.5.1.js"></script>*@
    <script src="~/Content/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
    <link href="~/Content/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/css/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="~/Content/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables/js/dataTables.rowReorder.min.js"></script>
    <script src="~/Content/datatables/js/dataTables.responsive.min.js"></script>

    @*<script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>*@
    <link href="~/Content/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/toaster/toastr.min.js"></script>
    <link href="~/Content/semantic/dist/semantic.css" rel="stylesheet" />
    <script src="~/Content/semantic/dist/semantic.min.js"></script>
    <script src="~/Scripts/validation-fields.js"></script>

    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Scripts/moment-timezone.js"></script>
    <script src="~/Scripts/moment-timezone-with-data.js"></script>
    <script src="~/Scripts/moment-timezone-utils.js"></script>
    <script src="~/Scripts/moment-timezone-with-data-2012-2022.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/toastrSettings.js"></script>
    <script src="~/Scripts/notificationToastr.js"></script>
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.qtip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <meta charset="utf-8">
    <link href="~/CSS/messager.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Start Sidebar -->
    <div id="pages-sidebar" class="ui left vertical sidebar labeled icon menu">
        @{

            if (!Core.Helper.Company.CompanyType.IsLongTerm() && !Core.Helper.User.Owners.IsOwner(User.Identity.Name.ToInt()))
            {
                <a href="/" class="item">
                    <i class="icon home"></i>
                    Home
                </a>
            }
            if (User.Identity.IsAuthenticated)
            {
                var result = Core.Helper.User.Users.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                var RolePages = Core.Helper.User.Pages.GetRolePageList(Convert.ToInt32(User.Identity.Name));
                if (result != null)
                {
                    <script src="~/Scripts/SessionTimeout.js"></script>
                    <script src="https://media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
                    <script src="~/Scripts/twilio-handler.js"></script>
                    foreach (var items in RolePages)
                    {
                        <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                            <i class="@items.IconPath"></i>
                            @items.PageName
                        </a>
                    }
                    <a href="/profile?companyId=@result.CompanyId" class="item">
                        <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                    </a>
                }
                else
                {

                }
            }
        }
    </div>
    <!-- End Sidebar -->

    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui four menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <a class="item">
                <img src="/Content/assets/images/respontage-logo.png" style="width:165px;height:35px">
            </a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {

                    <a class="item">
                        <div class="ui inline dropdown inbox-dropdown">
                            <input type="hidden" class="inbox-new-message">
                            <i class="envelope outline icon"></i>
                            <div class="default text" id="unreply-count">
                            </div>
                            <div class="menu">
                            </div>
                        </div>
                    </a>
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        LOGIN
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        REGISTER
                    </a>
                }
                @*<a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>*@
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Property Content -->
        <div class="main">
            @RenderBody()
            
            <div class="wrapper" id="inbox-modal" threadId="0" hidden>
                <div class="head-text">
                    Messages
                    <div class="details">
                        <label id="details" style="cursor:pointer">Details<i class="dropdown icon"></i></label>
                        <div class="ui flowing popup top left transition hidden">
                            <div class="five wide column renter-reservation-list">
                                <div class="content" hidden>
                                    <div>
                                        <div class="ui form">
                                            <button class="ui mini blue button" id="communication-add-contact-btn">Add Phone</button>
                                            <div class="grouped fields" id="communication-contact-info">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="ui form">
                                            <button class="ui blue mini button" id="communication-add-email-btn">Add Email</button>
                                            <div class="grouped fields" id="communication-contact-email">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="close icon hide-inbox" style="cursor:pointer"></i>
                    </div>

                </div>
                <div class="chat-box">
                    <div class="content">
                        <div class="communication-dvConvo conversation-box">
                            <div class="communication-dv_Conversation">

                            </div>
                        </div>
                        <br />
                        <div class="ui stackable grid">
                            <div class="sixteen wide column">
                                <div class="ui form">
                                    <div class="field">
                                        <textarea id="communication-message-box" name="messageBox" class="message-box" value="" rows="3" style="resize: none;"></textarea>
                                    </div>
                                    <div class="fields">
                                        <div class="field">
                                            <button type="button" id="communication-end-message-btn" class="ui mini blue button">End</button>
                                            <button type="button" id="communication-add-mms-btn" class="ui mini blue button">Add MMS</button>
                                            <button type="button" id="communication-send-message-btn" class="ui mini blue button">Send</button>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="field" id="email-actions" hidden>
                                            <button type="button" id="communication-add-attachment" class="ui mini blue button">Attachment</button>
                                            <button type="button" id="communication-send-btn-email" class="ui mini blue button">Send Email</button>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="field">
                                            <div class="fields" id="communication-file-upload">
                                            </div>
                                            <input type="file" id="communication-file-pic" accept='image/*' multiple hidden />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Property Content -->
    </div>

</body>
</html>