﻿.content-container {
    text-align: center;
}

.label-404 {
    font-size: 100px;
    font-weight: bold;
}

.error-container {
    margin-top: 70px;
    width: 700px;
    float: right;
}

.image-404 {
    float: left;
}

.image-404 img {
    height: 480px;
    width: 440px;
}
