﻿.dashboard-wrapper {
    height: 450px;
    width: 100%;
    background-color: gray;
    overflow: auto;
}

.task-container {
    margin: 3px 0;
}

.task-info, .task-todo {
    width: 500px;
    background-color: white;
    border: 1px solid gray;
}

.property-info {
    color: #e54b77;
}

/*#task-dashboard-table thead tr,
#task-dashboard-table thead tr th,
#task-dashboard-table tbody tr,
#task-dashboard-table tbody tr td {
    border: 0.5px solid gray;
}*/

#task-dashboard-table thead tr th.table-header {
    text-align: center;
}

.empty-records, .empty-tasks {
    text-align: center !important;
}

.task-table-header {
    width: 50%;
}

.task-last-updated-time {
    display: inline;
    float: right;
}

.task-status-label {
    margin-top: 10px;
}

.last-updated-time-label {
    font-size: 10px;
    font-style: italic;
}

.task-record-row:hover {
    cursor: pointer;
}

.travel-event-item,
.worker-info {
    border: 1px solid black;
}

