﻿.form-container {
    border: 1px solid black;
    padding: 30px;
    margin: 50px 0;
}

.main-container {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

.travellers-section {
    display: inline-flex;
    margin: 5px 0;
}

.travellers-section h3 {
    margin: 5px 0;
}

.travellers-section button {
    margin-left: 16px !important;
}

.travel-info-table {
    width: 100% !important;
}

.travel-info-label {
    width: 140px;
}

.arrival-info-label {
    width: 140px;
    text-decoration: underline !important;
}

.arrival-info-text-box {
    width: 200px;
}

.form-buttons {
    text-align: right;
}