﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon building outline"></i>
        <div class="content">
            Rentals
        </div>
    </h1>
    <div class="ui grid">
	
	<div class="computer only row">
		<div class="column">
            <div class="ui tabular menu">
                <div class="item active" data-tab="tab-rentals">Rentals</div>
                @{var isOwner = Core.Helper.User.Owners.IsOwner(User.Identity.Name.ToInt());
                    if (isOwner)
                    {
                        <div class="item" data-tab="tab-schedules">Schedules</div>
                    }
                    else
                    {
                        if (!Core.Helper.Company.CompanyType.IsLongTerm())
                        {
                            <a class="item" data-tab="renter-messages-tab">Messages</a>
                        }
                        <div class="item" data-tab="tab-schedules">Schedules</div>
                        <div class="item" data-tab="tab-notification">Notifications</div>
                        @*<div class="item" data-tab="tab-email-accounts">Email Accounts</div>*@
                        <div class="item" data-tab="tab-request-booking">Rental Application</div>
                        @*<div class="item" data-tab="tab-invoice-template">Invoice Template</div>
                <div class="item" data-tab="tab-email-template">Email Template</div>*@
                        @*<div class="item" data-tab="tab-invoice">Invoice Schedules</div>*@
                    }
                }
            </div>
		</div>
	</div>
	 <div class="tablet mobile only row">
		<div class="column">
			<div class="ui menu">
				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
			</div>
		</div>
	</div>

</div>

<div class="ui pushable">
    <div class="content-mobile-sidebar ui sidebar content vertical menu">
        <div class="item active" data-tab="tab-rentals">Rentals</div>
            @if (isOwner)
            {
                <div class="item" data-tab="tab-schedules">Schedules</div>
            }
            else
            {
                if (!Core.Helper.Company.CompanyType.IsLongTerm())
                {
                    <a class="item" data-tab="renter-messages-tab">Messages</a>
                }
                <div class="item" data-tab="tab-schedules">Schedules</div>
                <div class="item" data-tab="tab-notification">Notifications</div>
                @*<div class="item" data-tab="tab-email-accounts">Email Accounts</div>*@
                <div class="item" data-tab="tab-request-booking">Rental Application</div>
                @*<div class="item" data-tab="tab-invoice-template">Invoice Template</div>
                <div class="item" data-tab="tab-email-template">Email Template</div>*@
                @*<div class="item" data-tab="tab-invoice">Invoice Schedules</div>*@
            }
        
    </div>
		<div class="pusher">
            <div id="content">
                <div class="ui tab segment active" data-tab="tab-rentals">
                         <div class="ui inactive inverted dimmer" id="property-dimmer">
                            <div class="ui massive text loader" id="property-loader">Loading Property List, Please Wait...</div>
                        </div>
                        <table id="properties-table" class="display responsive" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Renter</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                </div>
                <div class="ui tab segment" data-tab="tab-schedules">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>Property</label>
                                <select class="ui dropdown" multiple="" name="property-filter" id="property-filter">
                                    <option selected value=0>All</option>
                                    @{
                                        foreach (var item in ViewBag.Properties)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment property-maintenance-div">
                        <div class="ui active inverted dimmer">
                            <div class="ui massive text loader">Loading</div>
                        </div>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                @if (!Core.Helper.Company.CompanyType.IsLongTerm())
                {
                    @Html.Partial("../Rentals/RentalMessagePartialView");
                }
                @*<div class="ui tab" data-tab="tab-email-accounts">
            <button class="ui button primary add-email">Add Email</button>
            <table id="email-table" class="ui celled blue table display">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>*@

                <div class="ui tab segment" data-tab="tab-request-booking">
                    <table id="table-request-booking" class="display responsive" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Renter Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Request Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                @*NotificationStatus Start*@
                @Html.Partial("../Notification/NotificationPartialView")
                @*Notification End*@
            </div>
		 </div>
</div>



    <!--Start Create Request Contract Modal-->
    <div id="request-booking-modal" request-booking-id="0" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Request Booking
        </div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <h4 id="contract-start"></h4>
                    </div>
                    <div class="field">
                        <h4 id="contract-end"></h4>
                    </div>
                </div>
                <h3>Renter</h3>
                <div id="renter-request-list"></div>
            </div>
        </div>
        <div class="actions">
            <div id="reject-request-contract" class="ui blue deny button">
                Reject
            </div>
            <a id="create-contract-submit" target="_blank" href="">
                <div class="ui blue right labeled icon button">
                    <span>Create Contract</span>
                    <i class="checkmark icon"></i>
                </div>
            </a>
        </div>
    </div>
    <!-- End Create Request Contract Modal -->
    <!-- Start Create Expenses Modal -->
    <!-- End Create Notification Modal -->
    <!-- Start Create Expenses Modal -->
    <div id="create-expenses-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Expense
        </div>
        <div class="content">
            <!-- Start Expenses Form -->
            <div class="ui form">
                <input type="hidden" id="ExpenseId" name="ExpenseId" />
                <div class="fields">
                    <div class="field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="Expense-Description" name="Description" required>
                    </div>
                    <div class="field">
                        <label>Expense Category</label>
                        <select id="ExpenseCategoryId" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("ExpenseCategoryId", ViewBag.ExpenseCategory as SelectList, "Select Category", new { @id = "ExpenseCategoryId", @class = "ui dropdown", required = "required" })*@
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Property</label>
                        <select class="ui search dropdown" name="PropertyId" id="Expense-PropertyId">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.PropertyList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount" id="Expense-Amount" name="Amount" required>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Due Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Due Date" id="Expense-DueDate" name="DueDate" required>
                            </div>
                        </div>
                    </div>
                    @*<div class="field">
                            <label>Payment Date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Payment Date" id="Expense-PaymentDate" name="PaymentDate">
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="fields">
                    @*<div class="field">
                            <label>Status</label>
                            <select class="ui search dropdown" id="IsPaid" name="IsPaid">
                                <option value="">Select Status</option>
                                <option value=false>New</option>
                                <option value=true>Paid</option>
                            </select>
                        </div>*@
                    <div class="field">
                        <label>Payment Method</label>
                        <select id="PaymentMethodId" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "PaymentMethodId", @class = "ui dropdown" })*@
                    </div>
                </div>
            </div>
            <!-- End Expenses Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="expense-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create Expenses Modal -->
    <!--Edit Income Start-->
    <div id="income-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Income
        </div>
        <div class="content">
            <div class="ui form">
                <input type="hidden" id="income-id" name="income-id">
                <div class="fields">
                    <div class="five wide field">
                        <label>Select Property</label>
                        <select class="ui search dropdown" name="PropertyId" id="PropertyId">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.PropertyList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Income Type</label>
                        @Html.DropDownList("IncomeTypeId", ViewBag.IncomeTypeList as SelectList, "Select Income Type", new { @id = "IncomeTypeId", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Description</label>
                        <textarea id="Description" name="Description" rows="5" required></textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input id="Amount" name="Amount" type="text" placeholder="Amount" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Due Date</label>
                        <div class="ui calendar income">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="DueDate" name="DueDate" type="text" placeholder="Due Date" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="ui red deny button" data-dismiss="modal">Cancel</button>
            <div id="income-save-btn" class="ui green right labeled icon button">Save<i class="checkmark icon"></i></div>
        </div>
    </div>
    <!--Edit Income End-->
    <!-- Start Schedule Maintenance Modal -->
    <div id="schedule-maintenance-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Schedule Maintenance
        </div>
        <div class="content">
            <!-- Start Expenses Form -->
            <div class="ui form">
                <input type="hidden" id="maintenance-id" name="ExpenseId" />
                <div class="fields">
                    <div class="field">
                        <label>Property</label>
                        <input type="text" placeholder="Property" id="maintenance-propertyId" name="maintenance-propertyId" propertyId="0" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="maintenance-description" name="Description" required>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount" id="maintenance-amount" name="Amount">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Recurring Date" id="maintenance-recurring-start-date" name="recurring-start-date" required>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Recurring End Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Recurring End Date" id="maintenance-recurring-end-date" name="recurring-end-date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payment Method</label>
                        <select id="maintenance-payment-method" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "maintenance-payment-method", @class = "ui dropdown" })*@
                    </div>
                    <div class="field">
                        <label>Expense Category</label>
                        <select id="maintenance-expense-category" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("ExpenseCategoryId", ViewBag.ExpenseCategory as SelectList, "Select Category", new { @id = "maintenance-expense-category", @class = "ui dropdown", required = "required" })*@
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Worker</label>
                        <select id="worker" class="ui dropdown">
                            @{
                                <option value="">Select Worker</option>
                                foreach (var item in ViewBag.Workers)
                                {
                                    <option value="@item.Id">@(item.Firstname + " " + item.Lastname)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <label>JobType</label>
                        @Html.DropDownList("JobTypeId", ViewBag.JobTypes as SelectList, "Select Job Type", new { @id = "jobtype", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Vendor</label>
                        <select id="vendor" class="ui dropdown">
                            @{
                                <option value="">Select Vendor</option>
                                foreach (var item in ViewBag.Vendors)
                                {
                                    <option value="@item.Id">@(item.Name)</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="fields">
                    <div class="field">
                        <label>Frequency</label>
                        <select class="ui search dropdown" id="maintenance-frequency" name="frequency" required>
                            <option value="">Select Frequency</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekly</option>
                            <option value="3">Monthly</option>
                            <option value="4">Yearly</option>
                            <option value="5">One time</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Interval</label>
                        <input type="text" placeholder="Enter Interval" id="maintenance-interval">
                    </div>
                </div>
            </div>
            <!-- End Expenses Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="maintenance-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Schedule Maintenance Modal -->
    <!-- Start Schedule Maintenance Modal -->
    <div id="maintenance-entry-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Maintenance Entry
        </div>
        <div class="content">
            <!-- Start Expenses Form -->
            <div class="ui form">
                <input type="hidden" id="maintenance-entry-id" name="ExpenseId" />
                <div class="fields">
                    <div class="field">
                        <label>Property</label>
                        <input type="text" placeholder="Property" id="maintenance-entry-propertyId" name="maintenance-entry-propertyId" propertyId="0" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="maintenance-entry-description" name="Description" required>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount" id="maintenance-entry-amount" name="Amount">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Date</label>
                        <div class="ui calendar maintenance-entry-dates">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date" id="maintenance-entry-date" name="maintenance-entry-date">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="fields">
                    <div class="field">
                        <label>Payment Method</label>
                        <select id="maintenance-entry-payment-method" class="ui dropdown" required>
                        </select>-->
                @*@Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "maintenance-entry-payment-method", @class = "ui dropdown" })*@
                <!--</div>
                <div class="field">
                    <label>Expense Category</label>
                    <select id="maintenance-entry-expense-category" class="ui dropdown" required>
                    </select>-->
                @*@Html.DropDownList("ExpenseCategoryId", ViewBag.ExpenseCategory as SelectList, "Select Category", new { @id = "maintenance-entry-expense-category", @class = "ui dropdown" })*@
                <!--</div>
                </div>-->
                <div class="fields">
                    <div class="field">
                        <label>Worker</label>
                        <select id="maintenance-entry-worker" class="ui dropdown">
                            @{
                                <option value="">Select Worker</option>
                                foreach (var item in ViewBag.Workers)
                                {
                                    <option value="@item.Id">@(item.Firstname + " " + item.Lastname)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <label>JobType</label>
                        @Html.DropDownList("JobTypeId", ViewBag.JobTypes as SelectList, "Select Job Type", new { @id = "maintenance-entry-jobtype", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Vendor</label>
                        <select id="maintenance-entry-vendor" class="ui dropdown">
                            @{
                                <option value="">Select Vendor</option>
                                foreach (var item in ViewBag.Vendors)
                                {
                                    <option value="@item.Id">@(item.Name)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Date Start</label>
                        <div class="ui calendar maintenance-entry-dates">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date" id="maintenance-entry-date-start" name="maintenance-entry-date-start">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Date End</label>
                        <div class="ui calendar maintenance-entry-dates">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date" id="maintenance-entry-date-end" name="maintenance-entry-date-end">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Status</label>
                        <select id="maintenance-entry-status" class="ui dropdown">
                            <option value="0">Not yet start</option>
                            <option value="1">Started</option>
                            <option value="2">Completed</option>
                        </select>
                    </div>
                </div>
                <div id="note-div">
                    <div class="note">
                        <div class="fields" note-id="0">
                            <div class="five wide field">
                                <label>Note</label>
                                <input autocomplete="off" type="text" name="note" class="note-description" placeholder="Note" required />
                            </div>
                            <div class="one wide field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon blue mini button add-note" data-tooltip="Add Note">
                                    <i class="plus icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="one width field">
                        <input type="file" class="proof-pic" name="proof-pic" id="proof-pic" accept='image/*' multiple />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui grid" id="image-upload"></div>
                    </div>
                </div>
            </div>
            <!-- End Expenses Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="maintenance-entry-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Schedule Maintenance Modal -->
    <!-- Start Schedule Expenses Modal -->
    <div id="schedule-monthly-expense-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Schedule Expenses
        </div>
        <div class="content">
            <!-- Start Expenses Form -->
            <div class="ui form">
                <input type="hidden" id="schedule-expense-Id" name="ExpenseId" />
                <div class="fields">
                    <div class="field">
                        <label>Property</label>
                        <input type="text" placeholder="Property" id="schedule-expense-propertyId" name="schedule-expense-propertyId" propertyId="0" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="schedule-expense-description" name="Description" required>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount" id="schedule-expense-amount" name="Amount">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Recurring Date" id="schedule-expense-recurring-start-date" name="recurring-start-date" required>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Recurring End Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Recurring End Date" id="schedule-expense-recurring-end-date" name="recurring-end-date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payment Method</label>
                        <select id="schedule-payment-method" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "schedule-payment-method", @class = "ui dropdown" })*@
                    </div>
                    <div class="field">
                        <label>Expense Category</label>
                        <select id="schedule-expense-category" class="ui dropdown" required>
                        </select>
                        @*@Html.DropDownList("ExpenseCategoryId", ViewBag.ExpenseCategory as SelectList, "Select Category", new { @id = "schedule-expense-category", @class = "ui dropdown", required = "required" })*@
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Frequency</label>
                        <select class="ui dropdown" id="schedule-expense-frequency" name="frequency" required>
                            <option value="">Select Frequency</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekly</option>
                            <option value="3">Monthly</option>
                            <option value="4">Yearly</option>
                            <option value="5">One time</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Interval</label>
                        <input type="text" placeholder="Enter Interval" id="schedule-expense-interval">
                    </div>
                </div>

            </div>
            <!-- End Expenses Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="monthly-expense-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Schedule Expenses Modal -->
    <!--Send SMS Modal-->
    <div class="ui modal send-sms-modal">
        <div class="header">Send Message</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Number</label>
                    <input name="phone-number">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea name="message"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui approve green button">Send</div>
        </div>
    </div>
    <!--End Send SMS Modal-->

</div>
<script src="~/Scripts/rentals.js"></script>
