﻿<div class="ui tab segment" data-tab="tab-invoices">
    <button class="ui tiny button primary" id="create-invoice">Create Invoice</button>
    <br />
    <br />
    <table id="invoice-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Date Created</th>
                <th>File</th>
                <th>Payment Method</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="ui modal" id="unpaid-transaction-modal">
    <i class="close icon"></i>
    <div class="header" id="payment-header">
        Unpaid Transaction(s)
    </div>
    <div class="content" style="height:auto !important;">
        <div class="ui form">
            <div class="container">
                <h3 id="total-payment-request"></h3>
                <div id="unpaid-transaction-list">

                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payment Method</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" id="payment-method">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Payment Method</div>
                            <div class="menu">
                                <div class="item" data-value="1">
                                    <img class="ui mini image" src="/Content/img/paypalIcon.png">PayPal
                                </div>
                                <div class="item" data-value="2">
                                    <img class="ui mini image" src="/Content/img/squareIcon.png">Square
                                </div>
                                <div class="item" data-value="3">
                                    <img class="ui mini image" src="/Content/img/stripeIcon.png">Stripe
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="ui two fields">
                    <div class="ui field">
                        <label>Invoice Template</label>
                        <select id="invoice-template" class="ui dropdown">
                        </select>
                    </div>
                    <div class="ui field">
                        <label>Email Template</label>
                        <select id="email-template" class="ui dropdown">
                        </select>
                    </div>
                </div>
                    <div class="fields payment-action">
                        <div id="cancel-payment" onclick="$('#unpaid-transaction-modal').modal('hide');" class="ui blue deny button">
                            Cancel
                        </div>
                        <button id="save-invoice" class="ui blue savebooking right labeled icon button">
                            Save
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
    </div>
</div>
<script src="~/Scripts/rental-invoice.js"></script>