﻿@model string
<div class="ui tab segment @(@Model==""?"active":"")" data-tab="renter-messages-tab">

    <div class="ui small icon input">
        <i class="search icon"></i>
        <input id="search" type="text" placeholder="Search...">
    </div>
    <br />
    <br />
    <div class="ui three column stackable grid divided message-panel">
        <div class="four wide column message-list">

            <div id="renter-inbox-list" data-active-thread-id="0" bookingId="@Model" class="ui divided items"></div>
        </div>
        <div class="seven wide column">
            <div id="renter-dvConvo" class="conversation">
                <img src="~/Content/img/loader.gif" style="width:50% !important; height:150px !important; display:none;" id="renter-img_Loader" />
                <div id="renter-dv_Conversation" class="">
                </div>
            </div>
                <br />
                <div class="ui form">
                    <div class="field">
                        <!--<div class="comment_box editable" id="txtMsgContent" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false">asdasdasd <i class="icon checked calendar"></i> sadas dasd</div>-->
                        <textarea class="comment_box" rows="3" id="renter-txtMsgContent" style="resize: none;"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            @*<button type="button" id="renter-clear-btn" class="mini ui blue button">
                                    Clear
                                </button>*@
                            <button type="button" id="renter-end-btn" class="mini ui blue button">
                                End
                            </button>
                            @*<button type="button" id="send-btn" class="small blue ui button">
                                    Send
                                </button>*@
                            <button type="button" id="renter-add-mms" class="mini ui blue button">
                                Add MMS
                            </button>
                            <button type="button" id="renter-send-btn-sms" class="mini blue ui button">
                                Send SMS
                            </button>
                            <button type="button" id="renter-add-attachment" class="mini ui blue button">
                                Attachment
                            </button>
                            <button type="button" id="renter-send-btn-email" class="mini blue ui button">
                                Send Email
                            </button>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui form">
                                <div class="fields" id="file-upload">

                                </div>
                            </div>
                            <input type="file" id="file-pic" accept='image/*' multiple hidden />
                        </div>
                    </div>
                </div>
        </div>
        <div class="five wide column renter-reservation-list">
            <div class="content" hidden>
                <div>
                    <div class="ui form">
                        <button class="ui mini blue button" id="renter-add-contact-btn">Add Phone</button>
                        <div class="grouped fields" id="renter-contact-info">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ui form">
                        <button class="ui blue mini button" id="renter-add-email-btn">Add Email</button>
                        <div class="grouped fields" id="renter-contact-email">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/rental-messager.js"></script>