﻿<div class="ui tab segment" data-tab="tab-documents">
    <button class="ui tiny button primary" id="add-document">Add Document</button>
    <br />
    <br />
    <table id="document-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Description</th>
                <th>File(s)</th>
                <th>Action(s)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!--Edit Document Template-->
<div id="renter-document-modal" document-id="0" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Renter Document(s)
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="ten wide field">
                    <input type="text" placeholder="Description" id="document-description">
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <button class="ui tiny blue button" id="file-upload-btn">Upload</button>
                    <input type="file" id="document-file-upload" multiple hidden>
                </div>
            </div>
            <div id="file-display">
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="save-document" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>
<script src="~/Scripts/renter-document.js"></script>