﻿<!--Notice Tab-->
<div class="ui tab segment" data-tab="tab-notices">
    <div class="ui tabular menu">
        <div class="item active" data-tab="tab-notice-entries">Notices</div>
        <div class="item" data-tab="tab-notice-documents">Setting</div>
    </div>
    <div class="ui tab active" data-tab="tab-notice-entries">
        <button class="ui tiny blue button add-notice">Entries</button>
        <table id="notices-table" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Delivery Method</th>
                    <th>Properties</th>
                    <th>Renters</th>
                    <th>Document</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="ui tab" data-tab="tab-notice-documents">
        <button class="ui tiny button blue create-document-template">Create Document Template</button>
        <table id="notice-documents-table" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Document</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!--Notice Tab End-->
<!--Edit Notice Start-->
<div id="notice-modal" class="ui small modal" notice-id="0">
    <i class="close icon"></i>
    <div class="header">
        Notice
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="seven wide field">
                    <label>Description</label>
                    <input type="text" placeholder="Description" class="description" name="Amount" required>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Send By</label>
                    <select class="ui dropdown" id="send-by" required>
                        <option value="true">From Landlord</option>
                        <option value="false">From Renter</option>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Notice Type</label>
                    <select class="ui dropdown" id="notice-type" required>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Delivery Method</label>
                    <select class="ui dropdown" id="notice-delivery-method" required>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Document Template</label>
                    <select class="ui dropdown" id="document-template">
                    </select>
                </div>
            </div>
            <div class="field">
                <label>Property</label>
                <select class="ui dropdown" name="notice-property" id="notice-property">
                    @{
                        foreach (var item in ViewBag.Properties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="field">
                <label>Renter</label>
                <select class="ui dropdown" name="notice-renter" id="notice-renter">
                </select>
            </div>
            <div class="fields">
                <div class="field">
                    <label>&nbsp;</label>
                    <div id="notice-file-upload"></div>
                    <input type="file" id="notice-document" multiple />
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Date of Notice</label>
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input class="date-of-notice" type="text" placeholder="Date" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Date of incident</label>
                    <div class="ui calendar time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input class="date-of-incident" type="text" placeholder="Date" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="notice-save-btn" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>
<!--Edit Notice End-->
<!--Edit Document Template-->
<div id="document-template-modal" document-id="0" class="ui longer modal">
    <i class="close icon"></i>
    <div class="header">
        Document Template
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Upload Template</label>
                    <input type="file" id="template-upload" multiple />
                </div>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <div class="fields">
                <div class="field">
                    <label>Document</label>
                    <input autocomplete="off" type="text" id="document-name" placeholder="Document Name" required />
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Variables</label>
                    <select id="modal-template-variable" class="ui search dropdown">
                        <option value="">Select Variable</option>
                        <option value="[Firstname]">Firstname</option>
                        <option value="[Lastname]">Lastname</option>
                        <option value="[Property address]">Property Address</option>
                        <option value="[Date of notice]">Date of notice</option>
                        <option value="[Date of incident]">Date of incident</option>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <textarea id="paragraph">

                        </textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="notice-document-template-save" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>
<!--Edit Document Template
<!--Edit Document Template-->
<div id="uploaded-notice-modal" notice-document-id="0" class="ui longer modal">
    <i class="close icon"></i>
    <div class="header">
        Generated Notice
    </div>
    <div class="content">
        <div class="ui form">

            <div class="fields">
                <div class="sixteen wide field">
                    <textarea id="notice-content">

                        </textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="notice-document-save" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>
<!--Edit Document Template-->
<!-- Include the Quill library -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="~/Content/niceEdit/nicEdit.js"></script>
<script src="~/Scripts/rentals.js"></script>
<script type="text/javascript">
    //<![CDATA[
    //bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
    bkLib.onDomLoaded(function () {
        nicEditors.editors.push(
            new nicEditor().panelInstance(
                document.getElementById('notice-content')
            )
        );
        nicEditors.editors.push(
            new nicEditor().panelInstance(
                document.getElementById('paragraph')
            )
        );
    });
        //]]>
</script>