/* (1366x768) WXGA Display */
/*		Medium Device	*/






/*		Medium Device	*/

@media only screen and (min-width: 992px) and (max-width: 1700px) {
    .single-map-slide-content-btn {
        padding: 10px 0 10px 20px;

    }

    .single-map-slide-content-btn > h3 {
        font-size: 18px;
    }

    .single-map-slide-content-top {
        padding: 12px 20px;
    }
}

/*		Medium Device	*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-menu .nav-menu ul li a {
        padding: 28px 18px;

    }

    .footer-heading {
        margin-top: 100px;
    }

    .footer-heading a {
        font-size: 14px;
        height: 30px;
        margin-top: 0;
        padding: 4px;
        width: 30px;

    }

    .slide-map-content {
        display: inherit;
    }

    .active-map-slider-1 {
        width: 100%;
    }

    .single-map-slide-content {
        height: 250px;
        position: relative;
        width: 100%;
    }

    .single-map-slide-content-top {
        height: 100%;
        padding: 40px;
        width: 100%;
    }





    /*   Search Page */
    .month > h4 {
        width: 111%;
    }



    /*  ================  Blog-Page=============*/

    .view span {
        font-size: 14px;
        margin-right: 7px;
    }

    .view > h6 {
        font-size: 12px;
        font-weight: 400;
    }

}


/*		Tablet Layout: 768px.	*/
@media only screen and (min-width: 320px) and (max-width: 991px) {

    .top-menu {
        padding: 20px 0;
        text-align: center;
    }

    .top-menu-content.text-right {
        text-align: center !important;
    }

    .logo {
        margin-top: 25px;
    }

    .log-in button {
        border: 1px solid #47484B;
        margin: 15px 0 30px 15px;

    }
.slider-area1 {
  align-items: center;
  display: flex;
  height: 750px;

}
    .slider-area1.banner {
        height: 750px;
    }

    .result-area ul li {
        margin: 5px 0;
    }

    .slider-area1.banner .row {
        height: 750px;
    }

    .slider-area {
        align-items: center;
        display: flex;
        height: 800px;
    }


    .date-time-area.mt-30 h2 {
        font-size: 25px;
        padding: 0;

    }

    .date-time-area {
        padding: 15px;
    }

    .date-time {
        position: relative;
        width: 100%;
    }

    .dat-bg {
        margin: 15px 0;
    }

    .dat-sub {
        margin: 0 auto 30px;
        width: 80%;
    }


    .dat-all-items {
        display: inline;
    }

    .recommended-single > h3 {
        line-height: 25px;
        margin: 10px 0;
    }

    .footer-heading {
        margin-top: 50px;
    }


    .slide-map-content {
        display: inherit;
    }

    .active-map-slider-1 {
        width: 100%;
    }

    .single-map-slide-content {
        height: 250px;
        position: relative;
        width: 100%;
    }

    .single-map-slide-content-top {
        height: 100%;
        padding: 40px;
        width: 100%;
    }
.date-time-area.mt-80 {
    margin-top: -40px;
}
.date-time-area.mt-30 {
    margin-top: 0;
}


    /*   Search Page */
    .dat-all-items {
        padding: 30px 15px;
    }

    .tab-menu .nav {
        background: #0fd1c3 none repeat scroll 0 0;
        display: flex;
        margin: 0;
    }

    .nav-link {
        padding: 15px 32.4px;
    }

    .tab-content {
        margin-top: 0px;
    }

    .overview-content {
        margin-bottom: 30px;
    }


    .dat-all-items {
        display: inherit;

    }

    .date-time,
    .dat-sub {
        width: 100%;
    }

    .dat-bg {
        margin-bottom: 20px;

    }

    #sync2 .item {
        margin: 1px;

    }


    /*================== Tab-2   ================= */

    .tab-2 .top-mt {
        margin-top: 10px;
    }

    .tab-2 .bedrooms {
        margin-left: 0px;
    }

    /*================== Tab-2   ================= */
    /*================== Tab-3   ================= */
    .feedback-heading > h2 {
        padding: 30px 0 15px;
    }

    .feedback-input > input {
        margin-bottom: 30px;
    }

    /*================== Tab-2   ================= */
    /*================== Tab-4   ================= */
    div#menu4 {
        margin-top: 600px;
    }

    .month > h4 {
        width: 100%;
    }

    /*====================Blog-Page=============*/
    .feature-post > h2 a {
        font-size: 18px;
        line-height: 28px;
    }

    .blog-details-post-time > h6 {
        font-size: 13px;
        margin-right: 10px;
    }

    .blog-details-quote::after,
    .blog-details-quote::before {
        display: none
    }

    .blog-details-quote {
        margin: 20px 0;
        padding: 0;
    }

}


/*		Mobile Layout: 320px.    */

@media only screen and (max-width: 767px) {

.large-review-top > h2 {
  font-size: 18px;
  margin-right:10px;
}
    .large-review-top > p {
  font-size: 13px;
}
.large-review-content {
  display: inherit;
}   
 .large-review-content h4 i {
  display: none;
}   
   .large-review-content > h5 {
  font-size: 17px;
} 
    .owl-dots {
  display: none;

}
    .section-padding {
        padding: 70px 0;
    }


    .footer-heading {
        margin-top: 40px;
    }


    /* ============= Blog-Ps=age   =============  */

    .share-post-social > a {
        font-size: 20px;
        margin: 10px 20px 0 0;
    }

    .share-post {
        display: inline;
        margin: 30px;
    }

    .share-post-social {
        margin-left: 0;
    }

    .next-prev-post p {
        font-size: 12px;
        margin-top: 15px;
    }
}




/*		Wide Mobile Layout: 480px.    */
@media only screen and (max-width: 576px) {
    .owl-theme .owl-dots {
        font-size: 17px;
        padding: 5px;
        width: 84px;
    }

    .tab-menu .nav {
        display: inherit;
        text-align: center;
        width: 100%;
    }

    .nav-link {
        padding: 12px 14.4px;
    }

    .hot a {
        font-size: 14px;
        font-weight: 400;
        margin: 1px 0px;
        padding: 3px 8px;
    }

}
