/** Custom field plugin **/
/* SELECT */


.arrowCF.ion-chevron-right {
    border-radius: 30px;
}

.select-box {
    position: relative;
}

.select-box::before {
    background: url(../img/icon/arrow.png);
    color: #656566;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    background-position: right;
    right: 10px;
}


.selectCF {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-weight: bold;

    width: 100%;
    z-index: 999;
}

.selectCF li {
    list-style: none;
    cursor: pointer;
    perspective: 900px;
    -webkit-perspective: 900px;
    text-align: left;

    color: #6a737b;
    font-weight: 400;
    padding: 14px 0;
    width: 100%;
    border-bottom: 1px solid #A6ABB0;
    border-radius: 0;
}

.selectCF > li {
    position: relative;
    font-size: 0;
}


.selectCF .titleCF {
    background: rgba(255, 255, 255, 0) !important;
    border-left: medium none;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    padding: 0;
    text-overflow: inherit;
    text-transform: capitalize;
    color: #6a737b !important;
}

.selectCF .searchCF {
    padding: 0 10px 0 20px;
    border-left: dotted 1px rgba(244, 244, 244, .5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.searchActive .titleCF {
    opacity: 0;
}

.selectCF .searchCF input {
    line-height: 45px;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 17px;
    color: #8a8989;
}

.selectCF .searchCF input:active,
.selectCF .searchCF input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.selectCF li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 !important;
    width: 100%;
    max-height: 297px;
    overflow-y: auto;
    transition: .2s;
    -webkit-transition: .2s;
    z-index: 2;


}

.selectCF li ul li {
    background: none repeat scroll 0 0 !important;
    border-bottom: 1px solid rgba(240, 240, 240, 0.9);
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding: 9px 0 9px 20px;
    text-overflow: ellipsis;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    width: 100%;
    border: none;
}

.selectCF li ul li:hover {
    background: #275D79 !important;
    color: #fff
}

.selectCF .selected {
    background: #666;
}

.selectCF li ul li:last-child {
    border-bottom: none;
}

.onCF .arrowCF {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

@-moz-keyframes effect1 {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes effect1 {
    from {
        -webkit-transform: translateY(15px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

.onCF li ul {
    animation: 0.3s ease 0s alternate none 1 running effect1;
    display: block;
    border: 1px solid #e3e3e4;
    background: #fff;
}

/**************************/

ul.info {
    padding: 0;
    margin: 0 0 20px 0;
}

ul.info li {
    display: inline-block;
    border: solid 1px #FFF;
    border-radius: 5px;
    padding: 0 5px;

}

#event-change {
    padding: 20px 0;
}

.custom-link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    font-size: 20px
}
