/*==== Main Menu =====*/
.top-menu {
    background: white none repeat scroll 0 0;
    color: #fff;
    padding: 10px 0;
}

.top-menu-content p {
    font-size: 16px
}

.top-menu-content p i {
    margin-right: 7px;
}

.main-menu .nav-menu ul li {
    display: inline-block;
}

.main-menu .nav-menu ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 28px 24px;
    position: relative;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.main-menu .nav-menu ul li a:hover {
    color: #00d1c4;
}

.main-menu .nav-menu ul li a::after {
    background: #00d1c4 none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 50%;
    opacity: 0;
    position: absolute;
    width: 60%;
    transform: translate(-50%);
}

.main-menu .nav-menu ul li a:hover::after,
.main-menu .nav-menu ul li.active a::after,
.main-menu .nav-menu ul li.active a {
    opacity: 1;
    color: #00d1c4 !important
}


.main-menu .nav-menu ul li:last-child a {
    padding-right: 0;
}

.header-menu {
    background: rgba(0, 0, 0, .5);
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.log-in button {
    background: #00d1c4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    transition: all .3s ease
}

.log-in button:hover {
    background: #02938a;
}

/*==== Main Menu =====*/

/*===== mobile menu slicknav =====*/

.mobile_menu {
    position: absolute;
    right: 30px;
    width: 94%;
    z-index: 9999999;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: transparent;
    margin-top: 10px;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #ffffff;
    height: 2px;
    margin: 3px 0;
    transition: all 0.3s ease 0s;
    width: 30px;
}


.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 32px;
    margin-top: -35px;
    position: relative;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
    margin: 0 -17px;
    padding: 0;
}

.slicknav_icon-bar {
    background: #00D1C4 !important;
}

.slicknav_nav {
    background: #4A4A4A;
    float: right;
    margin-top: 1px !important;
    padding: 0;
    width: 92%;
}

.slicknav_nav a:hover {
    background: #47484B none repeat scroll 0 0;
    border-radius: 0;
    color: #00D1C4;
}

.slicknav_nav a {
    font-size: 14px;
    font-weight: 400;
    color: #fff
}

.slicknav_nav .slicknav_arrow {
    float: right;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover .slicknav_arrow {
    border-radius: 0;
    background-color: #3c3333;
}


/*================= 1.1 Header Area END ==============*/
/*================= 1.2 Hero Area Start ==============*/
a.theme-btn {
    background: #00d1c4 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    padding: 12px 30px;
    transition: all .3s ease
}

.background {
    background: url(../img/slider/slider-1.jpg);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    .background::after {
        background: #000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
        opacity: .7;
        z-index: -1
    }


section.background .row {
    align-items: center;
    height: 100vh;
}



.owl-dots {
    bottom: -80px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.owl-dots .owl-dot span {
    background: #ADADAD none repeat scroll 0 0;
    display: block;
    height: 10px;
    margin: 10px 5px;
    outline: medium none;
    transition: opacity 0.2s ease 0s;
    width: 30px;
}

.owl-dots .owl-dot.active span {
    background: #363636 none repeat scroll 0 0;
}




.date-time-area {
    background: white none repeat scroll 0 0;
    border-radius: 5px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.date-time-area.mt-30 h2 {
    color: #fff;
    padding: 30px 0 20px;
    text-align: center;
    text-transform: capitalize;
}

.dat-all-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px
}


.date-time {
    width: 25%;
    position: relative
}

.date-time table {
    border-collapse: collapse;
    margin: 10px;
}

.dat-bg {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    margin: 0 10px;
    position: relative;
}

.dat-bg.date-time.check-in,
.dat-bg.date-time.check-out,
.dat-bg.date-time.location-icon {
    position: relative;
}

.dat-bg.date-time.check-in::after,
.dat-bg.date-time.check-out::after {
    border-radius: 5px 0 0 5px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

.dat-bg.date-time .parent.location-icon::after {
    background: rgba(0, 0, 0, 0) url(../img/location.png) no-repeat scroll 0 0;
    content: "";
    left: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 20px;
    bottom: 5px;
}

.dat-bg.date-time.check-in::after {
    background: #265801;
}

.dat-bg.date-time.check-out::after {
    background: #F79035;
}

.date-time .parent {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: 1;
}



.date-time .parent::after {
    background: rgba(0, 0, 0, 0) url(../img/date.png) no-repeat scroll 0 0;
    content: "";
    left: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 20px;
    bottom: 5px;
}

.dat-bg p {
    margin-left: 50px;
    margin-top: 7px;
    position: absolute;
    font-size: 13px;
    color: #585858;
}

.date-time .parent input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 12px;
    padding: 30px 0 10px 50px;
    color: #585858;
    width: 100%;
    border: none;
}

th.rd-day-head {
    padding: 10px;
}

.rd-day-body:hover {
    background-color: #18D1C2;
    color: #fff;
}

.rd-time {
    margin-top: 15px;
    width: 100%;
}

.rd-container {
    border: 1px solid #0fd1c3;
    z-index: 9;
}

.gust {
    background-repeat: no-repeat;
    padding: 9px 50px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.gust h6 {
    color: #585858;
    font-size: 13px;
    font-weight: 400;
    margin: 3px 0;
}

.gust::after {
    background: rgba(0, 0, 0, 0) url(../img/gust.png) no-repeat scroll 0 0;
    content: "";
    left: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 20px;
    bottom: 5px;
}


.gust::before {
    background: rgba(0, 0, 0, 0) url("../img/arrow.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 15px;
    top: 60%;
    transform: translateY(-50%);
    width: 20px;
    z-index: -1;
}

.dat-sub {
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 20px auto 30px;
    width: 20%;
}

.submit input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    padding: 14px 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.submit > input:hover {
    background: #a6fff9 none repeat scroll 0 0;
    border-radius: 30px;
    color: #454545;
    cursor: pointer;
}


.gust-count {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
}

.gust-count > h6 {
    margin-top: 30px;
}

.gust-count .modal-footer {
    display: inline;
}


.modal-footer > button {
    background: #0fd1c3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 14px;
    width: 100%;
}


.count-input {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.count-input input {
    width: 100%;
    height: 36.92307692px;
    border: 1px solid #0FD1C3;
    border-radius: 2px;
    background: none;
    text-align: center;
    color: #585858
}

.count-input h6 {
    color: #585858
}

.count-input input:focus {
    outline: none;
}

.count-input .incr-btn {
    display: block;
    font-size: 28px;
    font-weight: 300;
    height: 35px;
    line-height: 30px;
    margin-top: -17px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 35px;
    background: #0FD1C3;
    color: #fff;
}

.count-input .incr-btn:first-child {
    background: #0fd1c3 none repeat scroll 0 0;
    color: #fff;
    left: 0;
    right: auto;
    top: 50%;
}

.count-input.count-input-sm {
    max-width: 125px;
}

.count-input.count-input-sm input {
    height: 36px;
}

.count-input.count-input-lg {
    max-width: 200px;
}

.count-input.count-input-lg input {
    height: 70px;
    border-radius: 3px;
}


/* ========= Video  Say End ===========*/


.recommended-area,
.slide-mapa-area {
    background: url(../img/bg/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recommended-single {
    margin-top: 50px;
}

/* ========= Footer Area Start  ===========*/
.footer-area {
    position: relative;
    z-index: 1;
    background: white
}


.footer-heading h3 {
    color: #fff;
    margin-bottom: 30px;
}

.touch-icon {
    align-items: flex-start;
    display: flex;
}

.touch-icon i {
    color: #fff;
    font-size: 30px;
    margin: 5px 10px 0;
}

.footer-area p {
    color: #fff;
}

.touch-icon {
    margin-bottom: 20px;
}


.footer-area {
    padding: 50px 0 0;
}

.footer-heading {
    margin-top: 50px;
}

.footer-heading a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    height: 40px;
    margin-top: 30px;
    padding: 6px;
    text-align: center;
    width: 40px;
    position: relative;
    z-index: 999;
    transition: all .3s ease
}

.footer-heading ul li a:hover {
    background: #fff;
    color: #47484B
}

.footer-heading ul li {
    display: inline-block;
    margin-right: 7px;
}

.copy-right {
    background: url(../img/bg/copy-right-bg.png);
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

/* ========= Footer Area End  ===========*/

.pop-up-tab-area .modal-body {
    flex: 1 1 auto;
    padding: 0;
    position: relative;
}

.pop-up-tab-area .nav-tabs .nav-item {
    background: #363636 none repeat scroll 0 0;
    border-radius: 0;
    margin-bottom: -1px;
    text-align: center;
    width: 50%;
}

.pop-up-tab-area .nav-tabs .nav-item.show .nav-link,
.pop-up-tab-area .nav-tabs .nav-link.active {
    background-color: #00D1C4;
    border-color: none;
    color: #fff;
    border-radius: 0
}

.pop-up-tab-area .nav-link {
    color: #fff;
    display: block;
    padding: 10px;
    border: 0
}



.pop-up-tab-area .tab-content {
    padding: 30px;
}

.pop-up-tab-area .tab-pane > h3 {
    color: #363636;
    margin-bottom: 30px;
    text-align: center;
}

.pop-up-tab-area .tab-pane form input {
    border: 1px solid #DEDEDE;
    margin-bottom: 30px;
    padding: 10px 0 10px 20px;
    width: 100%;
    border-radius: 3px;
    color: #585858
}
.mt-50 .tab-content {
  background: #fff none repeat scroll 0 0;
  margin-top: 0;
  padding-bottom: 50px;
}
.mt-50 .nav {
  display: flex;
  margin: 0;
  position: relative;
  z-index: 9;
}











.pass input {
    width: 48% !important;
}

.pass {
    display: flex;
    justify-content: space-between;
}

.tab-pane a {
    color: #00D1C4
}

.log {
    margin: 0 auto;
    width: 30%;
}

.log input.subimt {
    background: #363636 none repeat scroll 0 0;
    border: medium none !important;
    color: #fff !important;
    cursor: pointer;
    padding: 10px !important;
    transition: all .3s ease
}

.log input.subimt:hover {
    background: #00D1C4 none repeat scroll 0 0;
}

.pop-up-tab-area .modal-footer {
    border-top: 0 none;
    display: flex;
    justify-content: flex-end;
    padding: 0rem;
}

.pop-up-tab-area .btn-secondary {
    background-color: #363636;
    border-color: #363636;
    color: #fff;
    transition: all .3s ease;
}

.pop-up-tab-area .btn-secondary:hover {
    background-color: #00D1C4;
    border-color: #00D1C4;
}

.pop-up-tab-area .tab-pane p {
    margin-bottom: 20px;
    text-align: center;
}

.pop-up-tab-area .tab-pane p span {
    color: #00d1c4;
}

.pop-up-tab-area .modal-dialog {
    margin: 5.75rem auto;
}

.pop-up-tab-area.tab-2 .nav-tabs .nav-item {
    width: 100%;
}



.recommended-single p {
    font-size: 16px;
    margin-top: 10px;
}

.recommended-single a {
    font-size: 20px;
    margin: 10px 0;
    color: #363636
}


.recommended-single:hover.recommended-single a {
    color: #0FD1C3
}

.recommended-single h5 span {
    margin-left: 30px;
}

.recommended-single > h6 {
    color: #febc44;
    margin-top: 10px;
}

.recommended-single > h6 spna {
    color: #363636;
    margin-left: 16px;
}


.recommended-single,
.single-bolo-content {
    margin-top: 40px;
}

.single-bolo-content > a {
    font-size: 18px;
}

.single-bolo-content .zoom {
    margin: 15px 0;
}

.single-bolo-content .zoom img {
    width: 100%;
}

.single-bolo-content a.theme-btn.bg-none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #0fcbbd;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}

a.theme-btn:hover.theme-btn span {
    margin-left: 10px
}




/*========== page-2 ==========*/
.background.banner {
  align-items: center;
  display: flex;
  height: 250px;
}
section.background.banner .row {
    align-items: center;
    height: 250px;
}
section.background.banner .dat-all-items {
    padding: 20px;
}

.dat-all-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.slide-map-content {
    box-shadow: 0 0 16px #cac8c8;
    display: flex;
    margin: 30px 0;
}

.active-map-slider-1 {
    width: 40%;
}

.single-map-slide-content a {
    color: black;
    width: 100%;
}

.single-map-slide-content {
    position: relative;
    width: 60%;
}

.single-map-item img {
    width: 100%;
}


.slide-map-content .owl-nav {
    color: #0fcbbd;
    left: 5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.slide-map-content .owl-nav {
    color: #0fcbbd;
    left: 5px;
    position: absolute;
    top: 50%;
    width: 100%;
}


.slide-map-content .owl-prev,
.slide-map-content .owl-next {
    border: 2px solid #0fcbbd !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: rgba(15, 203, 189, 0) !important;
}


.slide-map-content .owl-next {
    right: 8px;
    position: absolute;
}

.slide-map-content .owl-prev:hover {
    background: rgba(15, 203, 189, 1) !important;
    color: #fff !important
}

.slide-map-content .owl-next:hover {
    background: rgba(15, 203, 189, 1) !important;
    color: #fff !important
}


.single-map-slide-content-btn {
    align-items: center;
    background: #f1f1f1 none repeat scroll 0 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 40px;
    position: absolute;
    width: 100%;
}

.single-map-slide-content-top {
    padding: 40px;
    width: 100%
}

.single-map-slide-content-top:hover {
    background: rgba(15, 203, 189, 0.3) none repeat scroll 0 0;
}

.single-map-slide-content-top > h6 {
    margin: 20px 0;
}

.single-map-slide-content-btn p {
    color: #FEBC44;
    margin-right: 30px;
}

.single-map-slide-content-btn > p span {
    color: #363636;
    margin-left: 5px;
}


.overview-map {
    margin-top: 0px;
}

.overview-map iframe {
    height: 400px;
    width: 100%;

}
.container-fluid .overview-map {
  margin-top: 30px;
}


/*================================Search Page==================================*/
.result-area {
  margin-top: 30px;
  text-align: center;
}
.result-area ul li {
    display: inline-block;
}

.ui-slider-horizontal {
    width: 100%;
}

.price-toggle,
.toggle-place,
.toggle-place1 {
    position: relative;
}

.theme-btn {
    background: #0fd1c3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    padding: 4px 15px;
    cursor: pointer;
}

.price-range-block {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 16px #cac8c8;
  left: 50%;
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 60px;
  transform: translate(-50%);
  width: 320px;
  z-index: 99;
}

.result-area ul li input {
    background: #0fd1c3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    padding: 3px 0;
    text-align: center;
    width: 200px;
}

.result-area ul li input.price-range-field {

    height: 30px;
    margin: 5px;
    padding: 4px 8px;
    width: 45%;
}

.price-cotrol {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.price-range-tab h6,
.place-type h6,
.place-type1 h6,
.guest-modal h6 {
    font-weight: 400;
    padding: 8px 15px;
}
.toggle-input {
  text-align: left;
}
.price-range-block {
    display: none
}

.off-on-toggle, .off-on-toggle1 {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  display: none;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 60px;
  transform: translate(-50%);
  width: 300px;
  z-index: 99;
      box-shadow: 0 0 16px #cac8c8;
}
.toggle-flex {
    display: flex;
}

.toggle-input > h5 {
    margin-bottom: 10px;
}

.clear {
    background: #232f3a none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: inline-block;
    padding: 4px 14px;
}






/*============= 1.1 Blog-Page  =========== */

.page {
    background: url(../img/bg/feature_bg.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    z-index: 1;
    display: flex;
    align-items: center;
    color: #fff
}

.page::after {
    position: absolute;
    content: "";
    background: #023F5E;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    z-index: -1
}

.page-content > p {
    font-size: 17px;
    padding: 15px 92px;
}


.feature-post > h2 a {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.single-user-dat img {
    border-radius: 50%;
}

.single-user-dat img + h6 {
    color: #3c3c3c;
}

.blog-post-left .feature-post > a {
    margin-top: 30px;
    font-weight: 400
}

.theme-btn.post-link {
    background: #acadad none repeat scroll 0 0;
    border: none;
    color: #ffffff;
    margin-right: 5px;
    padding: 8px 20px;
    border-radius: 4px
}

.theme-btn.post-link:hover {
    background: #01CBBE none repeat scroll 0 0;
}

.post-hr {
    background: #bcbcbc none repeat scroll 0 0;
    height: 1px;
    margin-top: 25px;
    width: 80%;
}

/*====View====*/
.small-post-box {

    padding: 50px 30px;
    -webkit-box-shadow: 0px 5px 16px 1px rgba(106, 129, 150, 0.3);
    box-shadow: 0px 5px 16px 1px rgba(106, 129, 150, 0.3);
    transition: all .3s ease;
}

.small-post-box:hover {
    margin-top: -5px;
    -webkit-box-shadow: 0px 5px 16px 1px rgba(54, 149, 235, 0.3);
    box-shadow: 0px 5px 16px 1px rgba(54, 149, 235, 0.3);
}

.view {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.view > h6 {
    font-size: 13px;
    font-weight: 300;
}

.view span {
    font-size: 18px;
    margin-right: 5px;
}

.view > h6:hover {
    color: #424242;
}

.small-post-box > a {
    font-size: 20px;
    margin: 30px 0 5px;
}

/*====View====*/

/*==== subscribe-area ====*/
.subscribe-area h3 {
    text-align: center;
}

.subscrib-follow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.space {
    width: 48%;
    margin-top: 10px
}

.subscrib-follow a {
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
}

.facebook {
    background: #5e7dbf;
}

.facebook a span {
    background: #3c5996;
}

.twitter {
    background: #42B5FC;
}

.twitter a span {
    background: #25A2EF;
}

.google {
    background: #EF564E;
}

.google a span {
    background: #D84038;
}

.linkedin {
    background: #5DB5E3;
}

.linkedin a span {
    background: #0077B5;
}

.pinterest {
    background: #FA5B7C;
}

.pinterest a span {
    background: #E13155;
}

.tumblr {
    background: #526D8F;
}

.tumblr a span {
    background: #34465D;
}

.space span {
    font-size: 15px;
    height: 32px;
    margin-right: 5px;
    padding-top: 4px;
    text-align: center;
    width: 32px;
    display: inline-table;
}

/*==== subscribe-area ====*/
/*==== newsletter-area ====*/
.newsletter-box {
    background: #F4F4F4;
    margin-top: 50px;
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #c0c0c0
}
.subscribe-area {
    margin-top: 25px;
}
.newsletter-box h5,
.recent-posts h5,
.advertisement h5 {
    color: #001926;
    text-align: center
}

.newsletter-box > p {
    margin: 25px 0 15px;
}

.newsletter-box input {
    border: 1px solid #c0c0c0;
    padding: 10px;
    width: 100%;
}

.newsletter-box .submit {
    background: #04becf none repeat scroll 0 0;
    border: 1px solid #04becf;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s ease
}

/*==== newsletter-area ====*/
/*==== recent-posts-area ====*/

.recent-posts {
    margin-top: 50px;
}

.recent-post-item {
    margin-top: 30px;
}

.recent-post-item > a {
    display: flex;
    width: 100%;
}

.recent-post-item > a img {
    height: 62px;
    width: 62px;
}

.recent-post-content > p {
    font-size: 14px;
    line-height: 22px;
}

.recent-post-content {
    margin-left: 10px;
}

.recent-post-content > h6 {
    color: #5c5f71;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

/*==== recent-posts-area ====*/
/*==== advertisement ====*/
.advertisement {
    margin-top: 50px;
}

.advertisement-img img {
    margin-top: 30px;
    width: 100%;
}

/*==== advertisement ====*/
/*=========== Blog page End =========== */

/*=========== 1.2 Blog-Details-Page  =========== */

.blog-details-post-time {
    align-items: center;
    display: flex;
    margin: 30px 0;
}

.blog-details-post-time > h6 {
    margin-right: 40px;
}

.blog-details-post-time h6:hover {
    color: #000;
}

.blog-details-quote {
    margin: 100px 0;
    padding: 0 100px;
    position: relative
}

.blog-details-quote::after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f10d";
    left: 20px;
    top: -40px;
    font-size: 40px;
    color: #04becf;
}

.blog-details-quote::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f10e";
    right: 30px;
    bottom: -40px;
    font-size: 40px;
    color: #04becf;
}

.blog-details-quote > h6 {
    color: #001926;
    line-height: 27px;
}

.share-post {
    align-items: center;
    display: flex;
    margin: 50px 0 40px;
}

.share-post-social {
    margin-left: 50px;
}

.share-post-social > a {
    font-size: 20px;
    margin-left: 29px;
}

.next-prev-post {
    display: flex;
    justify-content: space-between;
}

.next-post span {
    margin-left: 5px;
}

.prev-post span {
    margin-right: 9px;
}

.prev-post {
    text-align: right;
}

.next-prev-post p {
    font-weight: 500;
    margin-top: 18px;
    text-transform: uppercase;
}

.post-comment-box {
    margin: 50px 0;
}

.post-comment-box h5 {
    font-weight: 700;
}

.post-comment-box > p {
    margin: 10px 0 30px;
}

.post-comment-100 textarea {
    border: 1px solid #000;
    color: #000;
    padding: 15px 20px;
}

.pos-comment-48 {
    width: 48%;
}

.pos-comment-48 input,
.post-comment-100 input {
    width: 100%;
}

.text-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.post-submit {
    margin-top: 30px;
}

.post-comment-box form textarea {
    border: 1px solid #D5D5D5;
}

.post-comment-box form input {
    border: 1px solid #D5D5D5;
    padding: 10px;
}

.submit.theme-btn {
    background: #04becf;
    border: medium none;
    padding: 10px 15px;
    color: #fff;
}

.submit.theme-btn.theme-btn::after {
    border: medium none;
}

/*===========  Blog-details page End=========== */
.feature-post .zoom {
    position: relative;
}
.zoom {
    overflow: hidden;
}

.feature-post:hover.feature-post .zoom h5 {
    left: 0;
}
.feature-post .zoom h5 {
    background: #023955 none repeat scroll 0 0;
    color: #fff;
    left: -174px;
    padding: 6px 15px;
    position: absolute;
    top: 0;
    transition: all .3s ease;
}
.like-comment {
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}
.blog-details-paragraph {
    margin: 30px 0;
}
.single-user-dat {
    display: flex;
    align-items: center;
    margin-right: 17px;
}

.single-user-dat h6 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
}

.blog-details-post {
  margin-top: 30px;
}