/*====================  Tab Area ===================== */
.tab-content {
    background: #fff none repeat scroll 0 0;
    margin-top: -275px;
    padding-bottom: 50px;
}

.nav {
    display: inherit;
    margin: 15px 0 -15px 15px;
    position: relative;
    z-index: 9;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #0FD1C3;
    color: #fff;
    border-radius: 0
}


li.nav-item {
    background: #a6fff9 none repeat scroll 0 0;
    border-bottom: 1px solid #0fd1c3;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

li.nav-item:hover {
    background: #0fd1c3;
    border-radius: 0;
}

.nav-link {
    padding: 15px;
    color: #363636;
    font-weight: 300
}

.nav-link:hover {
    color: #fff;
}

.overview-content {
    margin-top: -10px;
}

.over-icon {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.over-icon > h6 {
    font-size: 20px;
    margin-right: 20px;
}



.overview-map iframe {
    height: 350px;
    width: 100%;
}

.overview-map > p {
    padding: 5px 0;
    text-align: center;
}


.bedrooms-items {
    align-items: center;
    display: flex;
}

.bedrooms-items .over-icon {
    width: 300px;
}


.hot ul {
    background: #f5f4f4 none repeat scroll 0 0;
    padding: 10px 15px;
}

.hot li {
    display: inline-block;
}

.hot a {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 5px;
    padding: 5px 20px;
}


.hot p {
    margin-top: 20px;
}

.hr {
    background: #c1c1c1 none repeat scroll 0 0;
    height: 2px;
    margin: 30px 0 25px;
}

.bedrooms > h2 {
    color: #00d1c4;
}

.zoom > img {
    margin-right: 15px;
}

.over-icon .zoom > h6 {
    margin-top: 5px;
}

.over-icon-content > p {
    margin-top: 5px;
}

.over-icon > a {
    border: 1px solid;
    border-radius: 30px;
    font-weight: 400;
    padding: 10px 20px;
}

.bedrooms.english {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-bottom: 30px;
}

#home .bedrooms,
.hot p {
    padding: 0 30px;
}

.bedrooms.pb-30,
.bedrooms.english {
    padding-bottom: 30px !important;
}

/*====================  Tab 1 Area ===================== */
/*====================  Tab 2 Area ===================== */

.tab-2 .top-mt {
    margin-top: 170px;
}

.be-con {
    margin-top: 15px;
}

.room-condition .be-con p {
    margin-top: 10px;
}

.hr-sh {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 0 3px 3px #c1c1c1;
    height: 1px;
    margin: 30px 0;
}

.chil-allow {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
}

.chil-allow > img {
    margin-right: 20px;
    margin-top: 5px;
    width: 22px;
}

.be-con.mim-age > p {
    padding: 5px 0;
}

.tab-2 .bedrooms {
    margin-left: 15px;
}

/*====================  Tab 2 Area ===================== */
/*====================  Tab 3 Area ===================== */
.feedback-input > input {
    border: 1px solid #C1C1C1;
    color: #585858;
}

.feedback-heading > h2 {
    color: #0fd1c3;
    padding: 10px 0 15px;
}

.feedback-input textarea {
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 15px;
    width: 98%;
    color: #585858;
}





.feedback-input .submit input {
    background: #00d1c4 none repeat scroll 0 0;
    margin-right: 17px;
    margin-top: 20px;
    padding: 8px;
    width: 100px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    margin-left: -10px;
    padding: 0 0.2em;
    text-align: center;
    width: 7em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    margin: 0;
}

.star-rating :checked ~ label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #fc0;
}

article {
    background-color: #ffe;
    box-shadow: 0 0 1em 1px rgba(0, 0, 0, .25);
    color: #006;
    font-family: cursive;
    font-style: italic;
    margin: 4em;
    max-width: 30em;
    padding: 2em;
}

.bedrooms-heading > h6 {
    font-size: 14px;
    font-weight: 300;
}

.bedrooms-heading > h4 {
    font-size: 20px;
    margin: 30px 0 15px;
}

.star label {
    color: #f90;
    font-size: 22px;
    line-height: 20px;
    margin: 5px 5px 5px 0;
}


/*====================  Tab 3 Area ===================== */
/*====================  Tab 3 Area ===================== */
#menu3 .overview-map > p {
    text-align: left;
}

/*====================  Tab 3 Area ===================== */
/*====================  Tab 4 Area ===================== */
div#menu4 {
    margin-top: 306px;
}

.calendar .table {
    margin-bottom: 2rem;
}

.table td,
.table th {
    border-top: 1px solid #dee2e6;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    transition: all .3s ease;

}

.table tbody td:hover,
.table tbody th:hover {
    background: #0fd1c3;
    color: #fff
}

.month > h4 {
    background: #0fd1c3 none repeat scroll 0 0;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

.day td {
    font-size: 18px;
    text-transform: capitalize;
}

.next {
    background: #0fd1c3 none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 50px;
}

.row.year-next {
    padding: 30px 10px;
}

.calendar-area {
    margin-top: -600px;
}


td.hide {
    background: #fff none repeat scroll 0 0 !important;

    color: #fff !important;
    cursor: auto;
}

thead tr.day td {
    color: #585858;
}

.year-next img {
    background: #0FD1C3 none repeat scroll 0 0;
    cursor: pointer;
    padding: 8px 15px;
    transition: all .3s ease
}

.year-next img:hover {
    background: #04837a;

}

.year-next {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

thead .day {
    background: #cbf0ed;
}

td.active {
    background: #0fd1c3 none repeat scroll 0 0;
    color: #fff;
}

/*====================  Tab 4 Area ===================== */
