﻿@{
    Layout = "~/Views/Shared/_AirlockLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyDB</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    @*<script src="~/Content/PanoramaViewer/jquery.panorama_viewer.js"></script>
    <link href="~/Content/PanoramaViewer/panorama_viewer.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />


    <style>
        table, tr {
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->

    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Booking Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon ban"></i>
                    <div class="content">
                        Blacklist
                    </div>
                </h1>
                <div class="ui grid">
                    <div class="four wide column">
                    </div>
                    <div class="four wide column">
                    </div>
                    <div class="four wide column">
                    </div>
                    <div class="four wide column">

                        <div class="ui fluid right floated selection dropdown blacklist-host" style="width: 100%;">
                            <input type="hidden" id="blacklist-site-host-id">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Host</div>
                            <div class="menu">
                                @{
                                    foreach (var host in ViewBag.Hosts)
                                    {
                                        <div class="item" data-value="@host.SiteHostId">
                                            <img class="ui mini avatar image" src="@host.ProfilePictureUrl" />
                                            @host.Firstname @host.Lastname
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>

                <br /><br />

                <table id="blacklist-table" class="ui celled violet table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Property</th>
                            <th>Rating</th>
                            <th>Review</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ 
                            foreach (var review in ViewBag.Reviews)
                            {
                                <tr>
                                    <td><img style="width: 70px; height: 60px; object-fit: cover;" src="@review.Photo" /></td>
                                    <td>@review.Name</td>
                                    <td>@review.Property</td>
                                    <td>@review.Rating</td>
                                    <td>@review.Review</td>
                                    <td><a class="ui mini button blacklist-feedback" title="Write Feedback"><i class="icon edit"></i></a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <br /><br />
            </div>
        </div>
        <!-- End Booking Content -->
    </div>


    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Scripts/toastrSettings.js"></script>
    <script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Scripts/moment-timezone.js"></script>
    <script src="~/Scripts/moment-timezone-with-data.js"></script>
    <script src="~/Scripts/moment-timezone-utils.js"></script>
    <script src="~/Scripts/moment-timezone-with-data-2012-2022.js"></script>
    @*<script src="~/Content/semantic/dist/semantic.min-2.2.12.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
    <script src="~/Scripts/booking-quick-actions.js"></script>
    <script src="~/Scripts/booking.js" type="text/javascript"></script>

    @if (User.Identity.IsAuthenticated)
    {
        <script src="https://media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
        <script src="~/Scripts/twilio-handler.js"></script>
    }
</body>
</html>
