﻿@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


/*#click {
    display: none;
}*/

/*label {
    position: absolute;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;    
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}*/
.wrapper {
    position: fixed;
    right: 30px;
    bottom: 0px;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
/*    opacity: 0;*/
    /*pointer-events: none;*/
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

/*#click:checked ~ .wrapper {
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}*/

.head-text .details{
    float:right;
}
.wrapper .head-text {
    line-height: 40px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: #2f87b6
    /*background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
}

.wrapper .chat-box {
    padding: 20px;
    width: 100%;
}

