﻿@model dynamic

@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon university"></i>
        <div class="content">
            Communication
        </div>
    </h1>
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <div class="ui calendar month">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="date-filter" type="text" placeholder="Date" />
                    </div>
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <h3 id="sms-count">150 SMS</h3>
            </div>
            <div class="field">
                <h3 id="call-count">3.59 Calls</h3>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <h3 id="balance"></h3>
            </div>
            <div class="field">
                <button class="ui tiny blue blue button" id="load-btn">
                    Load
                </button>
            </div>
        </div>
        <table id="communication-table" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Content</th>
                    <th>To</th>
                    <th>Send By</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="load-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
           Buy Load
        </div>
        <div class="content">
            <form id="load-form" class="login-box">
                <div class="login-box-body">
                    <div class="creditCardForm">
                        <div class="heading">
                            <div class="payment">
                                <div id="sq-ccbox">
                                    <input type="hidden" id="square-application-id" value="@Core.Helper.GlobalVariables.SquareApplicationId" />
                                    <input type="hidden" id="square-location-id" value="@Core.Helper.GlobalVariables.SquareLocationId" />
                                    <div class="ui form">
                                        <input id="card-nonce" name="CreditCardNonce" type="hidden" value="">
                                        <div class="fields">
                                            <div class="fourteen wide field">
                                                <label>Amount</label>
                                                <input id="Amount" type="text" onkeypress="return isNumberKey(this, event);" name="Amount" placeholder="Amount">
                                            </div>
                                        </div>

                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>Card Number:</td>
                                                        <td>
                                                            <div id="sq-card-number" name="CreditCardNo" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CVV:</td>
                                                        <td>
                                                            <div id="sq-cvv" name="Ccv"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Expiration Date: </td>
                                                        <td>
                                                            <div id="sq-expiration-date" name="Expiry"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Postal Code:</td>
                                                        <td><div id="sq-postal-code"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="fields">
                                                                <div class="fourteen wide field">
                                                                    <div class="actions">
                                                                        <a class="ui red deny button" title="Cancel">Cancel</a>
                                                                        <a class="ui primary button" onclick="onGetCardNonce(event)" title="Load"> <i class="icon edit"></i>Pay Load</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div id="sq-walletbox">
                                    Pay with a Digital Wallet
                                    <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                                    <!-- Placeholder for Apple Pay for Web button -->
                                    <button id="sq-apple-pay" class="button-apple-pay"></button>

                                    <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                                    <!-- Placeholder for Masterpass button -->
                                    <button id="sq-masterpass" class="button-masterpass"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
<link href="~/Content/subscription.css" rel="stylesheet" />
<script src="~/Scripts/communication.js"></script>