﻿@using Airbnb.Models
@model CaptchaViewModel
@{
    ViewBag.Title = "Captcha";

}
@section headerscripts {
    <meta name="referrer" content="https://www.airbnb.com/airlock?al_id=@Model.LockId" />
    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
}
<div class="jumbotron" style="margin-top:100px; margin-bottom:50px;">
    <h1>AIRBNB</h1>
    <p class="lead">Account Verification.</p>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="text-info">@ViewBag.Message</p>
}
<div id="import-captcha" class="row" tyle="margin-top:150px; margin-bottom:50px;">
    <div class="col-md-6 col-md-offset-2">
        <div id="recaptcha"></div>
        <section id="loginForm">
            @using (Html.BeginForm("CaptchaLock", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.LockId)
                @Html.HiddenFor(m => m.SiteKey)
                @*<div class="g-recaptcha" data-sitekey="@Model.SiteKey"></div>*@
                <div id="g-recaptcha"></div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>





            }
        </section>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">var recaptchaCallback = function () {
    console.log('recaptcha is ready'); // not showing
    grecaptcha.render("g-recaptcha", {
        sitekey: '6Lf20R0UAAAAAJDj8fQYXmFJWTbSPtvhtjV0VFoy',
        callback: function () {
            console.log('recaptcha callback');
            console.log(grecaptcha.getResponse());
        }
    });
  }</script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit&hl=en" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")
}
