﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon download"></i>
        <div class="content">
            Import
        </div>
    </h1>
    <br>
    <div class="row">
        <button class="ui tiny blue button js-btn_add-new-account">
            Add New Account
        </button>
    </div>
    <br>
    <div class="ui grid">
        <div class="twelve wide column">
            <div id="msg"></div>
            <table class="display responsive" style="width:100%" id="accounts-table">
                <thead>
                    <tr>
                        <th>Owner</th>
                        <th>SiteType</th>
                        <th>Autosync</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    @*Gmail Account Modal Start*@
    <div id="gmail-modal" class="ui small modal">
        <div class="header" id="gmail-modal-title">
            Enter Gmail account
        </div>
        <div id="gmail-modal-content" class="content">
            <div class="ui equal width form" id="gmail-modal-account">
                <div class="fields">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" placeholder="Email" id="gmail-username" disabled>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" placeholder="Password" id="gmail-password">
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="actions">
                            <a class="ui red deny button" title="Cancel">Cancel</a>
                            <a class="ui primary button" name="SaveGmail" id="SaveGmail" title="Save">
                                <i class="sign in icon"></i>Save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Gmail Account Modal End*@
</div>

<script src="~/Scripts/import.js" type="text/javascript"></script>
