﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon users"></i>
        <div class="content">
            Admin
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <div class="item active" data-tab="tab-user-logs">User Logs</div>
                    <div class="item" data-tab="tab-communication">Communication</div>
                    <!-- Menu list -->
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="tab-user-logs">User Logs</div>
            <div class="item" data-tab="tab-communication">Communication</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->

                <div class="ui tab segment active" data-tab="tab-user-logs">
                    <div class="ui calendar date-filter">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" id="date">
                        </div>
                    </div>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <table id="user-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Access Page(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="tab-communication">
                    <div class="ui tabular menu">
                        <div class="item active" data-tab="tab-company-settings">Companies</div>
                        <div class="item" data-tab="tab-charges">Charges</div>
                        <div class="item" data-tab="tab-usage">Usage</div>
                    </div>
                    <div class="ui tab active" data-tab="tab-company-settings">
                        <table id="company-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Communication Charge</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui tab" data-tab="tab-charges">
                        <button class="ui tiny blue button" id="add-charge-btn">
                            Communication Rate
                        </button>
                        <table id="charge-rate-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Effective Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui tab" data-tab="tab-usage">
                        <div class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <select class="ui dropdown" id="company">
                                        <option value="">Select Company</option>
                                        @foreach (var item in ViewBag.Companies)
                                        {
                                            <option value="@item.Id">@item.CompanyName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <h3 id="sms-count">0 SMS</h3>
                                </div>
                                <div class="field">
                                    <h3 id="call-count">0 Calls</h3>
                                </div>
                            </div>
                        </div>
                        <br />
                        <table id="communication-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Content</th>
                                    <th>To</th>
                                    <th>Send By</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="charge-rate-modal" class="ui small modal" rate-id="0">
        <i class="close icon"></i>
        <div class="header">
            Add Rate
        </div>
        <div class="content">
            <div class="ui form">
                <div class="ui fields">
                    <div class="ui field">
                        <label>Amount</label>
                        <input id="rate-amount" type="text" onkeypress="return isNumberKey(this, event);" placeholder="Amount">
                    </div>
                    <div class="ui field">
                        <label>Effective Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="effective-date" type="text" placeholder="Date" />
                            </div>
                        </div>
                    </div>
                    <div class="ui field">
                        <label>Type</label>
                        <select class="ui dropdown" id="rate-type">
                            <option value="">Select Type</option>
                            <option value="1">SMS</option>
                            <option value="2">Call</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <a class="ui red deny button" title="Cancel">Cancel</a>
            <a class="ui blue button" id="save-rate">Save</a>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            var table;
            var companyTable;
            var chargeTable;
            var tableCommunication;
            var smsCount = 0;
            var callLength = 0;
            LoadUserLogs();
            LoadLogs();
            LoadCompanies();
            LoadChargeRate();
            LoadCommunicationTable();

            function LoadCommunicationTable() {
                tableCommunication = $('#communication-table').DataTable({
                    "aaSorting": [],
                    "responsive": true,
                    "search": { "caseInsensitive": true },
                    "ajax": {
                        "url": "/Communication/GetCompanyUsage",
                        "type": 'GET',
                        "data": function () {
                            return {
                                companyId: $('#company').val()
                            }
                        }
                    },
                    "columns": [
                        { "data": "Type" },
                        { "data": "Content" },
                        { "data": "To" },
                        { "data": "SendBy" },
                    ],

                    "createdRow": function (row, data, rowIndex) {
                        $(row).attr('data-cashflow-id', data.Id);
                    },
                    columnDefs: [{
                        targets: 1, render: function (data) {
                            if ($.isNumeric(data)) {
                                callLength += data;
                                DisplayTotalUsage();
                                return parseFloat(parseInt(data) / 60) + " minute(s)"
                            }
                            else {
                                smsCount += 1;
                                DisplayTotalUsage();
                                return data
                            }


                        }
                    }],
                });
            }

            $(document).on('click', '#add-charge-btn', function () {
                var modal = $('#charge-rate-modal');
                modal.attr("rate-id", "0");
                modal.find('#rate-type').val("");
                modal.find("#rate-amount").val("");
                modal.find("#effective-date").val();
                modal.modal("show");
                $('.ui.calendar').calendar({type:"date"});
            });
            $(document).on('click', '#save-rate', function () {
                var modal = $('#charge-rate-modal');
                var id=modal.attr("rate-id");
                var type =modal.find('#rate-type').val();
                var amount =modal.find("#rate-amount").val();
                var date = modal.find("#effective-date").val();
                var formData = new FormData();
                formData.append("Id", id);
                formData.append("Amount", amount);
                formData.append("EffectiveDate", date);
                formData.append("Type", type);
                $.ajax({
                    type: "POST",
                    url: "/Communication/SaveCommunicationRate/",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        chargeTable.ajax.reload(null, false);
                        toastr["success"]("Rate Updated.");
                        modal.modal('hide');
                    }
                });
            });
            $(document).on('click', '.edit-rate', function () {
                var id = $(this).parents('tr').attr('rate-id');
                $.ajax({
                    type: "GET",
                    url: "/Communication/GetCommunicationRate/",
                    data: { id: id },
                    success: function (data) {
                        var rate = data.rate;
                        var modal = $('#charge-rate-modal');
                        modal.attr("rate-id", rate.Id);
                        modal.find('#rate-type').val(rate.Type);
                        modal.find("#rate-amount").val(rate.Amount);
                        modal.find("#effective-date").val(moment(rate.EffectiveDate).format("MMMM DD,YYYY"));
                        modal.modal('show');
                        $('.ui.calendar').calendar({ type: "date" });
                    }
                });
            });
            $(document).on('change', '#company', function () {

                tableCommunication.ajax.reload(null, false);
            });
            function DisplayTotalUsage() {
                $('#sms-count').text(smsCount + " SMS");
                $('#call-count').text(parseFloat(parseInt(callLength) / 60).toString().replace(".", ",") + " minute Call")
            }
            
            function LoadChargeRate() {
                chargeTable = $('#charge-rate-table').DataTable({
                    "aaSorting": [],
                    "responsive": true,
                    "search": { "caseInsensitive": true },
                    "ajax": {
                        "url": "/Communication/GetChargeRate",
                        "type": 'GET'
                    },
                    "columns": [
                        { "data": "TypeName" },
                        { "data": "Amount" },
                        { "data": "EffectiveDate" },
                        { "data": "Actions" },
                    ],
                    "createdRow": function (row, data, rowIndex) {
                        $(row).attr('rate-id', data.Id)
                    },
                    columnDefs: [{
                        targets: [2], type: "date", render: function (data) {
                            if (data == null) {
                                return '';
                            } else {
                                return moment(data).format('MMMM D,YYYY');
                            }
                        }
                    }]
                });
            }

            $('.date-filter').calendar({
                type: 'date', onChange: function (date, text, mode) {
                    $('#date').val(date);
                    table.ajax.reload(null, false);
                    LoadLogs();

                }
            });
            function LoadUserLogs() {
                table = $('#user-table').DataTable({
                    "aaSorting": [],
                    "responsive": true,
                    "search": { "caseInsensitive": true },
                    "ajax": {
                        "url": "/Page/GetUserLogs",
                        "type": 'GET',
                        "data": function () {
                            return {
                                date: moment($('#date').val()).format('MMMM DD,YYYY'),
                            }
                        }
                    },
                    "columns": [
                        { "data": "Username" },
                        { "data": "PagesVisited" },
                    ],
                    "createdRow": function (row, data, rowIndex) {
                        $(row).find('.ui.accordion').accordion();
                        $(row).find('.popup').popup();
                    },
                    "columnDefs": [{
                        targets: [1], type: "text", render: function (data) {

                            var pages = '';

                            for (var x = 0; x < data.length; x++) {
                                var dateAccess = '';
                                for (var y = 0; y < data[x].DateAccess.length; y++) {
                                    dateAccess += moment(data[x].DateAccess[y]).format('MMMM DD,YYYY h:mm:ss a') + '\n\n';
                                }

                                pages += '<label class="popup" data-content="' + dateAccess + '">' + data[x].Page + ' - ' + data[x].DateAccess.length + '</label><br/>';
                            }

                            return '<div class="ui accordion">' +
                                '<div class="title">' +
                                '<i class="dropdown icon"></i>Page Visited' +
                                '</div>' +
                                '<div class="content">' +
                                '<p class="transition hidden">' + pages + '</p>' +
                                '</div>' +
                                '</div>';
                        }
                    }],
                });
            }
            function LoadCompanies() {
                companyTable = $('#company-table').DataTable({
                    "aaSorting": [],
                    "responsive": true,
                    "search": { "caseInsensitive": true },
                    "ajax": {
                        "url": "/Company/GetCompanies",
                        "type": 'GET',
                    },
                    "columns": [
                        { "data": "CompanyName" },
                        { "data": "IsChargeCommunication" },
                    ],
                    "createdRow": function (row, data, rowIndex) {
                        $(row).attr('company-id', data.Id)
                    },
                    "columnDefs": [{
                        targets: [1], type: "text", render: function (data) {

                            return "<div class=\"ui toggle checkbox\">" +
                                "<input type=\"checkbox\" class=\"chk-active\" onchange='UpdateIsActive(this)'" + (data ? "checked" : "") + "><label></label>" +
                                "</div>"
                        }
                    }],
                });
            }

            function LoadLogs() {
                $.ajax({
                    type: 'GET',
                    url: "/Page/GetLogs",
                    data: { date: moment($('#date').val()).format('MMMM DD,YYYY') },
                    async: true,
                    success: function (data) {
                        var Logs = data.Logs;
                        var dataPoints = [];
                        for (var x = 0; x < Logs.length; x++) {
                            dataPoints.push({ y: Logs[x].Percent, label: Logs[x].Page });
                        }
                        var chart = new CanvasJS.Chart("chartContainer", {
                            theme: "light1",
                            exportEnabled: true,
                            animationEnabled: true,
                            title: {
                                text: "Page Access By User(s)"
                            },
                            subtitles: [{
                                text: moment().format('MMMM D,YYYY')
                            }],
                            data: [{
                                type: "pie",
                                startAngle: 180,
                                toolTipContent: "<b>{label}</b>: {y}%",
                                showInLegend: "true",
                                legendText: "{label}",
                                indexLabel: "{label} - {y}%",
                                dataPoints: dataPoints
                            }]
                        });
                        chart.render();
                    }
                });
            }
        });

        //button event inline
        function UpdateIsActive(e) {
            var companyId = $(e).parents('tr').attr('company-id');
            var isCharge = $(e).is(":checked")
            $.ajax({
                type: "POST",
                url: "/Company/ChangeCompanyCharge",
                data: { companyId: companyId, isCharge: isCharge},
                success: function (data) {

                }
            });
        }
        function isNumberKey(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 46) {
                //Check if the text already contains the . character
                if (txt.value.indexOf('.') === -1) {
                    return true;
                } else {
                    return false;
                }
            } else {
                if (charCode > 31 &&
                    (charCode < 48 || charCode > 57))
                    return false;
            }
            return true;
        }
    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
