﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/Home/Index" class="item">
            <i class="icon home"></i>
            Home
        </a>
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a class="item">
                <i></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Homepage Content -->
        <div class="main">
            <div class="ui container">
                <br />
                <h2 class="ui center aligned icon header">
                    <img class="ui small circular image" src="@TempData["Image"]">
                    <div style="display: block; margin-top: 1%; color: #c7a94e;">@TempData["Name"]</div>
                    <br />
                    @if (TempData["HasError"].ToBoolean() == true)
                    {
                        <div style="display: inline-block" class="ui negative message">
                            <p>Please check your code and try again.</p>
                        </div>
                    }
                    <div style="color: gray">Enter the code you received in the text message.</div>
                    <br />
                    <form autocomplete="off" method="post" action="/Airlock/Verify">
                        <input type="hidden" name="userId" value="@TempData["UserId"]" />
                        <input type="hidden" name="lockId" value="@TempData["LockId"]" />
                        <input type="hidden" name="phoneId" value="@TempData["PhoneId"]" />
                        <div class="ui input">
                            <input style="text-align: center; color: gray" maxlength="8" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" name="code" placeholder="####">
                        </div>
                        <br />
                        <button type="submit" style="margin-top: 4px;" class="ui large teal button">
                            Verify
                        </button>
                    </form>
                </h2>
            </div>
            <!-- End Homepage Content -->
        </div>
</body>
</html>    