﻿@model Core.Models.ConfigurationKey

@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<div class="body-content">
    <h1 class="ui header">
        <i class="icon user"></i>
        <div class="content">
            My Profile
        </div>
    </h1>
    <div class="ui one column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <form class="ui form" id="profile-form">
                        <input type="hidden" name="Id" id="userKey" value="@User.Identity.Name" />
                        <div class="fields">
                            <div class="one width field">
                                <input type="file" class="profile-pic" name="profile-pic" id="profile-pic" accept='image/*' hidden />
                                <a href="#"><img src="/Images/User/default-image.png" class="ui small circular image profile" alt="Profile" id="profile-image"></a>
                            </div>
                        </div>
                        <div class="ten wide field">
                            <label>First Name</label>
                            <input type="text" name="FirstName" id="FirstName" placeholder="First Name">
                        </div>
                        <div class="ten wide field">
                            <label>Last Name</label>
                            <input type="text" name="LastName" id="LastName" placeholder="Last Name">
                        </div>
                        <div class="ten wide field">
                            <label>Email</label>
                            <input type="email" name="UserName" id="UserName" placeholder="Email">
                        </div>
                        <div class="ten wide field">
                            <label>Time Zone</label>
                            <select name="TimeZone" id="TimeZone">
                                <option value="British Columbia">British Columbia</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                            </select>
                        </div>
                        <a id="update-profile-btn" class="ui tiny blue button" title="Update Profile"> <i class="icon edit"></i> Update Profile</a>
                    </form>
                    <div class="ui divider"></div>
                    <form class="ui form" id="change-password-form">
                        <div class="ten wide field">
                            <label>Old Password</label>
                            <input type="password" name="OldPassword" id="OldPassword" placeholder="Old Password">
                        </div>
                        <div class="ten wide field">
                            <label>New Password</label>
                            <input type="password" name="NewPassword" id="NewPassword" placeholder="New Password">
                        </div>
                        <div class="ten wide field">
                            <label>Confirm Password</label>
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
                        </div>
                        <a id="change-password-btn" class="ui tiny blue button " title="Update Password"> <i class="icon edit"></i> Update Password</a>
                    </form>
                    @*JM 9/21/18 Payment Setup*@
                    <div class="ui divider"></div>
                    @*JM 9/21/18 Payment Setup*@
                    <div class="ui divider"></div>
                    <form class="ui form" id="payment-account-form">
                        <label>Setup a payment account (PayPal, Square or Stripe)</label>
                        <ul>
                            <li>Note that a company can only have one of each payment account type.</li>
                            <li>You'll get an instruction on how to get your configuration keys through e-mail.</li>
                        </ul>
                        <br />
                        <div class="ten wide field">
                            <label>Payment Method</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" id="payment-method" name="PaymentMethod" onchange="paymentMethodChanged()" value="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select Payment Method</div>
                                <div class="menu">
                                    <div class="item" data-value="1">
                                        <img class="ui mini image" src="/Content/img/paypalIcon.png">PayPal
                                    </div>
                                    <div class="item" data-value="2">
                                        <img class="ui mini image" src="/Content/img/squareIcon.png">Square
                                    </div>
                                    <div class="item" data-value="3">
                                        <img class="ui mini image" src="/Content/img/stripeIcon.png">Stripe
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="paypal-form" hidden>
                            <div class="ten wide field">
                                <label>Client Id</label>
                                @Html.TextBoxFor(model => model.PaypalClientId, new { placeholder = "Client Id" })
                            </div>
                            <div class="ten wide field">
                                <label>Client Secret</label>
                                @Html.TextBoxFor(model => model.PaypalClientSecret, new { placeholder = "Client Secret" })
                            </div>
                        </div>
                        <div id="square-form" hidden>
                            <div class="ten wide field">
                                <label>Access Token</label>
                                @Html.TextBoxFor(model => model.SquareAccessToken, new { placeholder = "Access Token" })
                            </div>
                            <div class="ten wide field">
                                <label>Application Id</label>
                                @Html.TextBoxFor(model => model.SquareApplicationId, new { placeholder = "Application Id" })
                            </div>
                            <div class="ten wide field">
                                <label>Location Id</label>
                                @Html.TextBoxFor(model => model.SquareLocationId, new { placeholder = "Location Id" })
                            </div>
                        </div>
                        <div id="stripe-form" hidden>
                            <div class="ten wide field">
                                <label>Publishable Key</label>
                                @Html.TextBoxFor(model => model.StripePublishableKey, new { placeholder = "Publishable Key" })
                            </div>
                            <div class="ten wide field">
                                <label>Secret Key</label>
                                @Html.TextBoxFor(model => model.StripeSecretKey, new { placeholder = "Secret Key" })
                            </div>
                        </div>
                        <br /><br />
                    </form>
                    <button id="save-information-btn" class="ui tiny blue button" title="Save Information" disabled> <i class="icon save"></i>Save Information</button>

                    @*Payment Setup End*@
                    <button id="save-information-btn" class="ui tiny blue button" title="Save Information" disabled> <i class="icon save"></i>Save Information</button>

                    @*Payment Setup End*@

                    <div class="ui divider"></div>
                    @if (ViewBag.UserRole == "admin")
                    {
                        <a id="add-sub-user-btn" class="ui tiny blue button"><i class="icon glyphicon-plus-sign"></i>Register Sub-User</a>
                        <br><br>
                        <input type="hidden" id="userRoleId" value="@ViewBag.UserRole" />
                        <form class="ui form">
                            <table id="profile-list-table" class="ui celled blue table">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                    }
                    else
                    {
                        <input type="hidden" id="userRoleId" value="@ViewBag.UserRole" />
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Start add sub-user modal-->
    <div id="add-sub-user-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Add sub-user
        </div>
        <div class="content">
            <form class="ui form" id="add-sub-user-form" autocomplete="off">
                <div class="fields">
                    <div class="one width field">
                        <input type="file" id="add-profile-pic" accept='image/*' hidden />
                        <a href="#"><img src="/Images/User/default-image.png" class="ui small circular image" alt="Profile" id="add-profile-image"></a>
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>First Name</label>
                        <input type="text" name="FirstName" id="AddFirstName" placeholder="First Name" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Last Name</label>
                        <input type="text" name="LastName" id="AddLastName" placeholder="Last Name" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Email</label>
                        <input type="text" name="UserName" id="AddUserName" placeholder="Email" />
                    </div>
                </div>
                @*<div class="fields">
                        <div class="six wide field">
                            <label>Time Zone</label>
                            <select class="ui dropdown" name="TimeZone" id="AddTimeZone">
                                <option value="">Select timezone</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                            </select>
                        </div>
                    </div>*@
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Password</label>
                        <input type="password" name="Password" id="AddPassword" placeholder="Password" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Confirm Password</label>
                        <input type="password" name="ConfirmPasswordModel" id="AddConfirmPasswordModel" placeholder="Confirm Password" />
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Role</label>
                            <select multiple class="ui fluid dropdown" id="AddRoleId">
                                <option value="">Select role</option>
                                <option value="1">Admin</option>
                                <option value="2">Guest Manager</option>
                                <option value="3">Accounting</option>
                            </select>
                            <div id="AddDvGetRoleList">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="AddRoleId" name="RoleId[]" value="1" />
                }
                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="actions">
                            <a class="ui red deny button" title="Cancel">Cancel</a>
                            <a class="ui tiny blue button" name="SaveRegister" id="SaveRegisterSubUser" title="Register"> <i class="icon edit"></i> Register</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End add sub-user modal-->
    <!-- Start edit sub-user modal-->
    <div id="edit-sub-user-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Edit sub-user
        </div>
        <div class="content">
            <form class="ui form" id="edit-sub-user-form" autocomplete="off">
                <input type="hidden" name="Id" id="sub-user-id" />
                <div class="fields">
                    <div class="one width field">
                        <input type="file" id="sub-profile-pic" accept='image/*' hidden />
                        <a href="#"><img src="/Images/User/default-image.png" class="ui small circular image" alt="Profile" id="sub-profile-image"></a>
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>First Name</label>
                        <input type="text" name="FirstName" id="EditFirstName" placeholder="First Name" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Last Name</label>
                        <input type="text" name="LastName" id="EditLastName" placeholder="Last Name" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>Email</label>
                        <input type="text" name="UserName" id="EditUserName" placeholder="Email" />
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Role</label>
                        <select multiple class="ui fluid dropdown" name="RoleId" id="EditRoleId">
                            <option value="1">Admin</option>
                            <option value="2">Guest Manager</option>
                            <option value="3">Accounting</option>
                            <option value="4">Worker</option>
                        </select>
                        @*@{
                                string selectedValue = "";
                                foreach (var item in ViewBag.RoleList)
                                {
                                    selectedValue += "," + item.RoleId;
                                }
                                <input type="hidden" id="hdnSelectedUserRole" value="@selectedValue" />
                            }*@
                        <div id="EditDvGetRoleList">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <label>New Password</label>
                        <input type="password" name="Password" id="Password" value="" placeholder="New Password" />
                    </div>
                </div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="actions">
                            <a class="ui red deny button" title="Cancel">Cancel</a>
                            <a class="ui tiny blue button" name="SaveUpdateSubUser" id="SaveUpdateSubUser" title="Update Detail">
                                <i class="icon edit"></i>  Update Detail
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End edit sub-user modal-->
</div>
<script src="~/Scripts/profile.js"></script>
