﻿@model Core.Database.Entity.User

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        onResetSubmit();
        function onResetSubmit() {
            $(document).on('click', '#resetBtn', function (e) {

                //alert($('newPassword').val() + " " + $('#re-newPassword').val());
                if (($('#newPassword').val() == $('#re-newPassword').val()) && $('#email').val() != "") {
                    $.ajax({
                        type: "POST",
                        url: "/Profile/ResetPassword/",
                        data: { Email: $('#email').val(), Password: $('#newPassword').val() },
                        success: function (data) {
                            if (data == "S1") {
                                swal({
                                    title: "Sucess!",
                                    text: "Your password has been change!",
                                    icon: "success",
                                });

                                window.location.href = '/Home/Index/';


                            }
                            else {

                            }
                        }
                    });
                } else {

                        swal({
                            title: "Error!",
                            text: "Two passwords you typed do not match.",
                            icon: "error",
                        });
                }
            });
        }
    });
</script>
<div vertical-align="middle">
    <input id="email" type="hidden" value="@Model.UserName" />
    <input id="newPassword" type="password" placeholder="New Password" />
    <input id="re-newPassword" type="password" placeholder="Repeat New Password" />
    <input id="resetBtn" type="button" value="Submit" />
</div>