﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MyDB</title>
    
    <link rel="stylesheet" type="text/css" href="~/Content/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/libs/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
</head>
<body>
    @using System.Activities.Expressions
    @model IncomeApp.Models.Income
    @{
        Layout = null;
    }
    <div id="IncomeModal" class="content">
        <div class="content">
            <div class="ui form">
                @using (Html.BeginForm("Save", "Income", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                <!-- Start New Property Form -->


                    @Html.HiddenFor(m => m.ID)
                    <div class="fields">
                        <div class="five wide field">
                            <label>Date Recorded</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    @Html.EditorFor(model => model.DateRecorded, new { @placeholder = "Date Recorded", @class = "calendar" })
                                    @*<input type="text" placeholder="Date Recorded" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Select Property</label>
                            @*<select class="ui search dropdown">
                                    <option value="">Select Property</option>
                                    <option value="yaletown-park">Yaletown Park</option>
                                    <option value="firenze">Firenze</option>
                                    <option value="false-creekside">False Creekside</option>
                                    <option value="chinatown-one">Chinatown One</option>
                                    <option value="woodrose-manor">Woodrose Manor</option>
                                    <option value="the-citadel">The Citadel</option>
                                    <option value="one-granville">One Granville</option>
                                    <option value="tv-towers">TV Towers</option>
                                </select>*@
                            @Html.DropDownList("Property", String.Empty)
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Income Type</label>
                            @*<select class="ui search dropdown">
                                    <option value="">Income Type</option>
                                    <option value="rent">Rent</option>
                                    <option value="interest">Interest</option>
                                    <option value="capital-appreciation">Capital Appreciation</option>
                                </select>*@
                            @Html.DropDownList("IncomeType", String.Empty)
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Description</label>
                            @*<textarea rows="5"></textarea>*@
                            @Html.TextAreaFor(model => model.Description)
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Amount</label>
                            @Html.EditorFor(model => model.Amount)
                            @*<input type="text" placeholder="Amount">*@
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Status</label>
                            @Html.EditorFor(model => model.Status)
                            @*<input type="text" placeholder="Status">*@
                        </div>
                    </div>



                <!-- End New<> Property Form -->

                    <div class="actions">


                        <button type="submit" class=" btn-lg btn-success checkmark icon">Save</button>

                        <button type="button" class=" btn-lg btn-danger" data-dismiss="modal">Close</button>
                        @*<div class="ui positive right labeled icon button">
                            Ok
                            <i class="checkmark icon"></i>
                            </div>*@
                    </div>

                }
            </div>

        </div>
    </div>

            <script src="~/Content/js/jquery-3.1.1.min.js"></script>

            <script src="~/Content/libs/moment/moment.js.min"></script>
            <script src="~/Content/libs/semantic/dist/semantic.min.js"></script>
            <script src="~/Content/libs/semantic/dist/calendar.min.js"></script>
            <script src="~/Content/libs/poshytip-1.2/src/jquery.poshytip.min.js"></script>
            <script src="~/Content/libs/jquery-editable-1.5.1/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
            <script src="~/Content/js/scripts.js" type="text/javascript"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
        </body>
</html>