﻿<form id="form_AddWorker" autocomplete="off">
    <div>
        <div class="ui form">
            <div class="fields">
                <div class="one width field">
                    <input type="file" class="profile-pic" name="profile-pic" id="profile-pic" accept='image/*' hidden />
                    <a href="#"><img src="/Images/Worker/default-image.png" class="ui small circular image" alt="Profile" id="profile-image"></a>
                </div>
            </div>


            <div class="fields">
                <div class="five wide field">
                    <label>Email</label>
                    <input autocomplete="off" type="text" name="Username" id="Username" placeholder="Email" required />
                </div>
                <div class="five wide field">
                    <label>Password</label>
                    <input autocomplete="off" type="password" name="Password" id="Password" placeholder="Password" required />
                </div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>First Name</label>
                    <input autocomplete="off" type="text" name="Firstname" id="Firstname" placeholder="First Name" required />
                </div>
                <div class="five wide field">
                    <label>Last Name</label>
                    <input autocomplete="off" type="text" name="Lastname" id="Lastname" placeholder="Last Name" required />
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <label>Address</label>
                    <input autocomplete="off" type="text" name="Address" id="txtAddress0" placeholder="" />
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <input autocomplete="off" id="txtAddress1" type="text" placeholder="" />
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <input autocomplete="off" id="txtAddress2" type="text" placeholder="" />
                </div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>Bonus</label>
                    <input autocomplete="off" type="text" name="bonus" id="bonus" placeholder="Bonus"/>
                </div>
            </div>
            <div id="contact-div">
                <div class="fields">
                    <div class="five wide field">
                        <label>Phone Number</label>
                        <input type="text" name="Mobile[]" id="Mobile" placeholder="Phone Number" required />
                    </div>

                    <div class="one wide field">
                        <label>&nbsp;</label>
                        <button type="button" class="circular ui icon blue mini button add-contact" data-tooltip="Add Contact Number">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="fields">
                <div class="three wide field">
                    <label>Fixed Pay</label>
                    <input id="fixed-rate" name="fixed-rate" type="text" placeholder="Amount" />
                </div>
                <div class="three wide field">
                    <label>Frequency</label>
                    <select id="frequency-rate" name="frequency-rate" type="text" placeholder="Frequency">
                        <option value="1">Monthly</option>
                        <option value="2">Weekly</option>
                        <option value="3">Daily</option>
                    </select>
                </div>
            </div>
            <hr>
            @*Retainer*@
            <div id="retainer-div">
                <div class="fields">
                    <div class="three wide field">
                        <label>Retainer Rate</label>
                        <input name="RetainerRate[]" type="text" placeholder="Amount" />
                    </div>
                    <div class="three wide field">
                        <label>Frequency</label>
                        <select name="RetainerFrequency[]" type="text" placeholder="Frequency">
                            <option value="1">Monthly</option>
                            <option value="2">Weekly</option>
                            <option value="3">Daily</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Effective Date</label>
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="EffectiveDate" name="EffectiveDate[]" type="text" placeholder="Select Month" />
                            </div>
                        </div>
                    </div>
                    <div class="one wide field">
                        <label>&nbsp;</label>
                        <button type="button" class="circular ui icon blue mini button add-retainer" data-tooltip="Add retainer">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            @*End Retainer*@
            <input type="hidden" name="worker_job_id">
            <input type="hidden" name="payment_type">
            <input type="hidden" name="payment_rate">
            <input type="hidden" name="contactNumber">
            <input type="hidden" name="retainer_rate">
            <input type="hidden" name="retainer_frequency">
            <input type="hidden" name="retainer_date">
            <hr>
            <div id="job-type-wrapper">
                <div class="fields">
                    <div class="five wide field">
                        <label>Job Type</label>
                        <select class="ui dropdown" name="WorkerJobTypeId[]" data-validate="worker-job-type-id">
                            <option value="">Select Job Type</option>
                            @{
                                foreach (var jobType in ViewBag.WorkerJobTypes)
                                {
                                    <option value="@jobType.Id">@jobType.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="four wide field">
                        <label>Payment Type</label>
                        <select class="ui search dropdown" name="PaymentType[]" data-validate="payment-type">
                            <option value="">Select Payment Type</option>
                            <option value="1">Hourly</option>
                            <option value="2">Daily</option>
                            <option value="3">Per Appointment</option>


                        </select>
                    </div>
                    <div class="three wide field">
                        <label>Payment Rate</label>
                        <input type="text" name="PaymentRate[]" placeholder="Rate" data-validate="payment-rate">
                    </div>
                    <div class="one wide field">
                        <label>&nbsp;</label>
                        <button type="button" class="circular ui icon blue mini button add-worker-job-type-btn" data-tooltip="Add">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</form>
