﻿
@model Core.Database.Entity.WorkerSchedule
<form id="form_EditSchedule">
    <div class="daily-availability">
        @{
            string[] strName = Model.AvailDay.Split(',');
            string[] strStartTime = Model.AvailTimeStart.Split(',');
            string[] strEndTime = Model.AvailTimeEnd.Split(',');

            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[0] != "" && strEndTime[0] != "")
                        {
                            <input type="checkbox" checked tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Monday" />
                        <input type="hidden" name="Id" value="@Model.Id"/>
                        <label class="availability-day">Monday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[0] != "" && strEndTime[0] != "")
                        {
                                <input type="text" name="AvailTimeStart[]" value="@strStartTime[0]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[0] != "" && strEndTime[0] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[0]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[1] != "" && strEndTime[1] != "")
                        {
                            <input type="checkbox" tabindex="0" checked class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Tuesday" />
                        <label class="availability-day">Tuesday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[1] != "" && strEndTime[1] != "")
                        {
                            <input type="text" name="AvailTimeStart[]" value="@strStartTime[1]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                            
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[1] != "" && strEndTime[1] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[1]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[2] != "" && strEndTime[2] != "")
                        {
                            <input type="checkbox" checked tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Wednesday" />
                        <label class="availability-day">Wednesday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[2] != "" && strEndTime[2] != "")
                        {
                            <input type="text" name="AvailTimeStart[]" value="@strStartTime[2]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[2] != "" && strEndTime[2] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[2]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[3] != "" && strEndTime[3] != "")
                        {
                            <input type="checkbox" checked tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        
                        <input type="hidden" name="AvailDay[]" value="Thursday" />
                        <label class="availability-day">Thursday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[3] != "" && strEndTime[3] != "")
                        {
                            <input type="text" name="AvailTimeStart[]" value="@strStartTime[3]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[3] != "" && strEndTime[3] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[3]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[4] != "" && strEndTime[4] != "")
                        {
                            <input type="checkbox" checked tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Friday" />
                        <label class="availability-day">Friday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[4] != "" && strEndTime[4] != "")
                        {
                            <input type="text" name="AvailTimeStart[]" value="@strStartTime[4]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[4] != "" && strEndTime[4] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[4]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[5] != "" && strEndTime[5] != "")
                        {
                            <input type="checkbox" checked tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Saturday" />
                        <label class="availability-day">Saturday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[5] != "" && strEndTime[5] != "")
                        {
                            <input type="text" name="AvailTimeStart[]" value="@strStartTime[5]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeStart[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[5] != "" && strEndTime[5] != "")
                        {
                            <input type="text" name="AvailTimeEnd[]" value="@strEndTime[5]" placeholder="Time">
                        }
                        else {
                            <input type="text" name="AvailTimeEnd[]" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui checkbox">
                        @if (strStartTime[6] != "" && strEndTime[6] != "")
                        {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        else {
                            <input type="checkbox" tabindex="0" class="hidden">
                        }
                        <input type="hidden" name="AvailDay[]" value="Sunday" />
                        <label class="availability-day">Sunday</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[6] != "" && strEndTime[6] != "")
                        {
                            <input name="AvailTimeStart[]" value="@strStartTime[6]" type="text" placeholder="Time">
                        }
                        else {
                            <input name="AvailTimeStart[]" type="text" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
                <span>To</span>
                <div class="field">
                    <div class="ui calendar time">
                        <div class="ui input mini left icon">
                            <i class="time icon"></i>
                        @if (strStartTime[6] != "" && strEndTime[6] != "")
                        {
                            <input name="AvailTimeEnd[]" type="text" value="@strEndTime[6]" placeholder="Time">
                        }
                        else {
                            <input name="AvailTimeEnd[]" type="text" placeholder="Time">
                        }
                         
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="worker-effectivity">
        <div class="fields">
            <div class="field">
                <label>Start Date*</label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="StartDate" id="StartDate" value="@Model.StartDate" placeholder="Start Date" required />
                    </div>
                </div>
            </div>
            <div class="field">
                <label>End Date*</label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="EndDate" id="EndDate" value="@Model.EndDate" placeholder="End Date" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <div class="ui toggle checkbox" onclick="changeStatus();">
                    @if (Model.Status == false)
                    {
                        <input type="checkbox" tabindex="0" class="hidden">
                        <input type="hidden" name="Status" id="hdnchangeStatus" value="false" />
                    }
                    else {
                        <input type="checkbox" tabindex="0" checked class="hidden">
                        <input type="hidden" name="Status" id="hdnchangeStatus" value="true" />
                    }

                    <label>Set As Active</label>
                    <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" name="WorkerId" id="addWorkerIdForSchedule" value="@Model.WorkerId" />
                </div>
            </div>
        </div>
    </div>
    <div class="schedule-buttons">
        @*<button class="ui red deny button cancel-edit-schedule">
            Cancel
        </button>
        <button id="" class="ui right labeled icon button">
            Create Woker
            <i class="checkmark icon"></i>
        </button>*@
        <div class="actions">
            <a id="btn_cancelSchedule" class="ui blue right labeled icon button" title="Update">
                Cancel
            </a>
            <a id="btn_editSchedule" class="ui blue right labeled icon button" title="Update">
                Update Schedule
                <i class="checkmark icon"></i>
            </a>
        </div>
    </div>
</form>
