﻿<form id="form_GetLogin">
    <div>
        <!-- Start New Inquiry Form -->
        <div class="ui form">
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen  wide field">
                    <label>User Name</label>
                    <input type="text" name="UserName" id="UserName" placeholder="User Name" value="kkhoe@hotmail.com" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen  wide field">
                    <label>Password</label>
                    <input type="password" name="Password" id="Password" placeholder="Password" value="KhoeTest2" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="fields">
                <div class="fourteen  wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui primary button" name="SaveLoginInfo" id="SaveLoginInfo" title="Login">
                          <i class="icon edit"></i>Login
                        </a>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="item userRegister">
                            Register, If You doesn't have login account.
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Inquiry Form -->
    </div>
</form>
