﻿@model Core.Database.Entity.Worker
<form id="form_EditWorker">
    <div class="ui form">
        <div class="fields">
            <div class="one width field">
                <input type="file" class="profile-pic" name="profile-pic" id="profile-pic" accept='image/*' hidden />
                <a href="#"> <img src="@(Model.ImageUrl != null ? Model.ImageUrl : "/Images/Worker/default-image.png")" class="ui small circular image" alt="Profile" id="profile-image" name="profile-image" /> </a>
            </div>
        </div>

        @if (!ViewBag.HasUserAccount)
        {
            <div class="fields">
                <div class="five wide field">
                    <label>Email</label>
                    <input type="text" name="Username" id="Username" placeholder="Email" value="@ViewBag.Email" />
                </div>
                <div class="five wide field">
                    <label>Password</label>
                    <input type="password" name="Password" id="Password" placeholder="Password" />
                </div>
            </div>}
        <div class="fields">
            <div class="five wide field">
                <label>First Name</label>
                <input type="hidden" value="@Model.Id" id="hdn_Id" name="Id" />
                <input type="text" name="Firstname" value="@Model.Firstname" placeholder="First Name" />
            </div>
            <div class="five wide field">
                <label>Last Name</label>
                <input type="text" name="Lastname" value="@Model.Lastname" placeholder="Last Name" />
            </div>
        </div>

        <div class="fields">
            <div class="ten wide field">
                <label>Address</label>
                <input type="text" name="Address" id="txtAddress0" value="@Model.Address" placeholder="" />
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <input id="txtAddress1" type="text" placeholder="" />
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <input id="txtAddress2" type="text" placeholder="" />
            </div>
        </div>
        <div class="fields">
            <div class="five wide field">
                <label>Bonus</label>
                <input autocomplete="off" type="text" name="bonus" id="bonus" value="@Model.Bonus" placeholder="Bonus" />
            </div>
        </div>
        <div id="contact-div">
            @{
                int counter = 1;
                if (ViewBag.ContactNumber.Count > 0)
                {
                    foreach (var item in ViewBag.ContactNumber)
                    {

                        <div class="fields">
                            <div class="five wide field">
                                <label>Phone Number</label>
                                <input type="text" name="Mobile[]" value="@item.Value" placeholder="Phone Number" />
                            </div>

                            <div class="one wide field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon blue mini button add-contact" data-tooltip="Add Contact Number">
                                    <i class="plus icon"></i>
                                </button>
                            </div>

                            @if (counter > 1)
                            {
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <button type="button" class="circular ui icon orange mini button remove-contact" data-tooltip="Remove">
                                        <i class="minus icon"></i>
                                    </button>
                                </div>
                            }
                        </div>
                        counter++;
                    }
                }
                else
                {
                    <div class="fields">
                        <div class="five wide field">
                            <label>Phone Number</label>
                            <input type="text" name="Mobile[]" id="Mobile" placeholder="Phone Number" required />
                        </div>

                        <div class="one wide field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-contact" data-tooltip="Add Contact Number">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
        <hr>
        <div class="fields">
            <div class="three wide field">
                <label>Fixed Rate</label>
                <input id="fixed-rate" name="fixed-rate" type="text" value="@Model.FixedRate" placeholder="Amount" />
            </div>
            <div class="three wide field">
                <label>Frequency</label>
                <select id="frequency-rate" name="frequency-rate" type="text" placeholder="Frequency">
                    <option value="1">Monthly</option>
                    <option value="2">Weekly</option>
                    <option value="3">Daily</option>
                </select>
            </div>
        </div>
        <hr>
        @*Retainer*@
        <div id="retainer-div">
            @{
                int retainerCounter = 1;
                if (ViewBag.Retainers.Count > 0)
                {
                    foreach (var item in ViewBag.Retainers)
                    {
                        <div class="fields">
                            <div class="three wide field">
                                <label>Retainer Rate</label>
                                <input name="RetainerRate[]" type="text" value="@item.Rate" placeholder="Amount" />
                            </div>
                            <div class="three wide field">
                                <label>Frequency</label>
                                <select name="RetainerFrequency[]" type="text" placeholder="Frequency">
                                    <option value="1">Monthly</option>
                                    <option value="2">Weekly</option>
                                    <option value="3">Daily</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Effective Date</label>
                                <div class="ui calendar month">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input name="EffectiveDate[]" type="text" value="@Convert.ToDateTime(@item.EffectiveDate).ToString("MMM yyyy")" placeholder="Select Month" />
                                    </div>
                                </div>
                            </div>
                            <div class="one wide field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon blue mini button add-retainer" data-tooltip="Add retainer">
                                    <i class="plus icon"></i>
                                </button>
                            </div>
                            @if (retainerCounter > 1)
                            {
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <button type="button" class="circular ui icon orange mini button remove-retainer" data-tooltip="Remove">
                                        <i class="minus icon"></i>
                                    </button>
                                </div>
                            }
                        </div>
                        retainerCounter++;
                    }
                }
                else
                {
                    <div class="fields">
                        <div class="three wide field">
                            <label>Retainer Rate</label>
                            <input name="RetainerRate[]" type="text" placeholder="Amount" />
                        </div>
                        <div class="three wide field">
                            <label>Frequency</label>
                            <select name="RetainerFrequency[]" type="text" placeholder="Frequency">
                                <option value="1">Monthly</option>
                                <option value="2">Weekly</option>
                                <option value="3">Daily</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Effective Date</label>
                            <div class="ui calendar month">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input name="EffectiveDate[]" type="text" placeholder="Select Month" />
                                </div>
                            </div>
                        </div>
                        <div class="one wide field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-retainer" data-tooltip="Add retainer">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
        @*End Retainer*@

        <input type="hidden" name="worker_job_id">
        <input type="hidden" name="payment_type">
        <input type="hidden" name="payment_rate">
        <input type="hidden" name="contactNumber">
        <input type="hidden" name="retainer_rate">
        <input type="hidden" name="retainer_frequency">
        <input type="hidden" name="retainer_date">
        <hr>
        <div id="job-type-edit-form-wrapper">
            @{
                int count = 1;
                foreach (var item in ViewBag.WorkerJobs)
                {
                    <div class="fields">
                        <div class="five wide field">
                            <label>Job Type</label>
                            <select @(item.Count > 0 ? "disabled" : null) class="ui dropdown" name="WorkerJobTypeId[]">
                                <option value="">Select Job Type</option>
                                @{
                                    foreach (var jobType in ViewBag.WorkerJobTypes)
                                    {        //   if(ViewBag.WorkerAssignment.Where(x=>x.JobTypeId==jobType).Count >0) { }
                                        <option value="@jobType.Id" @(item.WorkerJob.JobTypeId == jobType.Id ? "selected" : "")>@jobType.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>Payment Type</label>
                            <select class="ui search dropdown" name="PaymentType[]">
                                <option value="">Select Payment Type</option>
                                <option value="1" @(item.WorkerJob.PaymentType == 1 ? "selected" : "")>Hourly</option>
                                <option value="2" @(item.WorkerJob.PaymentType == 2 ? "selected" : "")>Daily</option>
                                <option value="3" @(item.WorkerJob.PaymentType == 3 ? "selected" : "")>Per Appointment</option>

                            </select>
                        </div>
                        <div class="three wide field">
                            <label>Payment Rate</label>
                            <input type="text" name="PaymentRate[]" placeholder="Rate" value="@item.WorkerJob.PaymentRate">
                        </div>
                        @if (count > 1 && item.Count == 0)
                        {
                            <div class="one wide field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon orange mini button remove-worker-job-type-btn" data-tooltip="Remove">
                                    <i class="minus icon"></i>
                                </button>
                            </div>
                        }
                        <div class="one wide field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-worker-job-type-edit-form-btn" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                    count++;
                }
            }
        </div>
    </div>
</form>