﻿<form id="form_GetRegister">
    <div>
        <!-- Start New Inquiry Form -->
        <div class="ui form">
            <div class="fields">
                <div class="fourteen wide field">
                    <label>First Name</label>
                    <input type="text" name="FirstName" id="FirstName" placeholder="First Name" />
                </div>
            </div>
            <div class="fields">
                <div class="clearfix">&nbsp;</div>
                <div class="fourteen wide field">
                    <label>Last Name</label>
                    <input type="text" name="LastName" id="LastName" placeholder="Last Name" />
                </div>
            </div>
            <div class="fields">
                <div class="fourteen wide field">
                    <label>User Name</label>
                    <input type="text" name="UserName" id="UserName" placeholder="User Name" />
                </div>
            </div>
            <div class="fields">
                <div class="fourteen wide field">
                    <label>Password</label>
                    <input type="password" name="Password" id="Password" placeholder="Password" />
                </div>
            </div>
            <div class="fields">
                <div class="fourteen wide field">
                    <label>Confirm Password</label>
                    <input type="password" name="ConfirmPasswordModel" id="ConfirmPasswordModel" placeholder="Confirm Password" />
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <div class="fields">
                    <div class="ten wide field">
                        <label>Role</label>
                        <select multiple id="RoleId">
                            <option value="1">Admin</option>
                            <option selected value="2">Guest Manager</option>
                            <option value="3">Accounting</option>
                        </select>
                        <div id="dvGetRoleList">
                        </div>
                    </div>
                </div>
            }
            else {
                <input type="hidden" id="RoleId" name="RoleId[]" value="1" />
            }
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui primary button" name="SaveRegister" id="SaveRegister" title="Register"> <i class="icon edit"></i> Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End New Inquiry Form -->
</form>
