﻿@model Core.Database.Entity.User
<form id="form_EditForm">
    <div>
        <!-- Start New Inquiry Form -->
        <div class="ui form">
            <div class="fields">
                <div class="fourteen wide field">
                    <label>First Name</label>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="text" name="FirstName" value="@Model.FirstName" id="FirstName" placeholder="First Name" />
                </div>
            </div>
            <div class="fields">
                <div class="clearfix">&nbsp;</div>
                <div class="fourteen wide field">
                    <label>Last Name</label>
                    <input type="text" name="LastName" value="@Model.LastName" id="LastName" placeholder="Last Name" />
                </div>
            </div>
            <div class="fields">
                <div class="fourteen wide field">
                    <label>User Name</label>
                    <input type="text" name="UserName" value="@Model.UserName" id="UserName" placeholder="User Name" />
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <label>Role</label>
                    <select multiple id="RoleId">
                        <option value="1">Admin</option>
                        <option value="2">Guest Manager</option>
                        <option value="3">Accounting</option>
                        </select>
                        @{
                            string selectedValue = "";
                            foreach (var item in ViewBag.RoleList)
                            {
                                selectedValue += "," + item.RoleId;
                            }
                            <input type="hidden" id="hdnSelectedUserRole" value="@selectedValue" />
                        }
                       <div id="dvGetRoleList">
                       </div>
                </div>
            </div>
            @*<div class="fields">
                <div class="fourteen wide field">
                    <label>Confirm Email</label>
                    <input type="checkbox" checked="@Model.ConfirmEmail" name="ConfirmEmail" id="ConfirmEmail" />
                </div>
            </div>*@
            <div class="fields">
                <div class="fourteen wide field">
                    <div class="actions">
                        <a class="ui red deny button" title="Cancel">Cancel</a>
                        <a class="ui primary button" name="SaveUpdateSubUser" id="SaveUpdateSubUser" title="Update Detail"> 
                          <i class="icon edit"></i>  Update Detail
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</form>
