﻿@model List<MessagerSolution.Entity.tbMessage>
<div class="main" style="margin-top:0px !important;">
    <div class="ui container">
        <div class="ui four column grid divided message-panel">
            <div class="row" style="margin: 0 !important; padding: 0 !important">
                <div class="seven wide column">
                    <div id="dv_Conversation" class="conversation" style="height:350px !important;">
                        @foreach (var value in Model)
                        {
                            if (value.SenderId == 10)
                            {
                                <div class="ui left pointing label message-label message-incoming">
                                    <h5>
                                        @value.MsgContent
                                    </h5>
                                    <p> @value.CreatedDate</p>
                                </div>
                            }
                            else {
                                <div class="ui right pointing label message-label message-outgoing">
                                    <h5>
                                        @value.MsgContent
                                    </h5>
                                    <p> @value.CreatedDate </p>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="seven wide column">
                    <h3 class="ui dividing header">
                        <div class="content">
                            <a class="header">Trip Info</a>
                            <div class="description" style="width:90% !important;">
                                @if (ViewBag.ReservationList != null)
                                {
                                    <p id="personDetail1">[@ViewBag.ReservationList.StatusOfTrip]</p>
                                    <p id="personDetail2">@ViewBag.ReservationList.ArrivalDate   @ViewBag.ReservationList.ArrivalTime  to  @ViewBag.ReservationList.LeavingDate   @ViewBag.ReservationList.LeavingTime</p>
                                    <p>CXVDRT</p>
                                }
                            </div>
                        </div>
                    </h3>
                    <h4>Notes</h4>
                    <div class="ui form">
                        <div class="message-note-wrapper" style="height:100px;">
                            <div id="dv_Conversation" class="conversation" style="height:300px !important;">
                                @foreach (var value in ViewBag.NoteList)
                                {
                                    <div class="fields" id="NoteHtmlContents" style="width:90% !important;">
                                        @if (value.NoteType == "Note")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                        @if (value.NoteType == "Flight Arrival Detals")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                        @if (value.NoteType == "Flight Departure Detals")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                        @if (value.NoteType == "Meeting Info")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                        @if (value.NoteType == "Drive in Detail")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                        @if (value.NoteType == "Cruise")
                                        {
                                            <div class="field">
                                                &nbsp;
                                                @value.NoteName
                                            </div>
                                            <div class="field">
                                                @value.NoteContent
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>