﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = MessagerSolution.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Calendar Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon calendar"></i>
                    <div class="content">
                        Calendar
                    </div>
                </h1>
                <form class="ui form">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Select Property</label>
                            <select multiple="" class="ui search fluid dropdown">
                                <option value="">Select All</option>
                                <option value="yaletown-park">Yaletown Park</option>
                                <option value="firenze">Firenze</option>
                                <option value="false-creekside">False Creekside</option>
                                <option value="chinatown-one">Chinatown One</option>
                                <option value="woodrose-manor">Woodrose Manor</option>
                                <option value="the-citadel">The Citadel</option>
                                <option value="one-granville">One Granville</option>
                                <option value="tv-towers">TV Towers</option>
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>Select Worker</label>
                            <select multiple="" class="ui search flu' dropdown">
                                <option value="">Select All</option>
                                <option value="yaletown-park">James Harder</option>
                                <option value="firenze">Efren Guttierez</option>
                                <option value="false-creekside">Nonoy Balungos</option>
                            </select>
                        </div>
                    </div>
                </form>
                <button class="ui primary button js-btn_create-new-booking">Add Booking</button>
                <button class="ui primary button js-btn_block-date">Block</button>
                <button class="ui primary button js-btn_set-price">Set Price</button>
                <button class="ui button primary js-btn_assign-worker">Assign Worker</button>
                <div data-get-resources-url="@Url.Action("GetCalendarResources", "Home")" data-get-events-url="@Url.Action("GetCalendarEvents", "Home")" id="calendar"></div>
                <br>

                <!-- Start Assign Worker Modal -->
                <div id="assign-worker-modal" class="ui modal assign-worker-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Assign Worker
                    </div>
                    <div class="content">
                        <!-- Start Assign Worker Form -->
                        <div id="assign-worker-form" class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <select id="AssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                                        <option value="">Select Property</option>
                                        @foreach (var item in ViewBag.WorkerList)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>

                                <div class="field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="AssignWorkerStartDate" name="StartDate" placeholder="Start Date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="AssignWorkerEndDate" name="EndDate" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <button id="js-btn_view-workers" type="button" class="ui primary button">View Workers</button>
                                </div>
                            </div>
                        </div>

                        <table id="available-worker-table" class="ui celled red table">
                            <thead>
                                <tr>
                                    <th>Worker Name</th>
                                    <th>Type</th>
                                    <th>Schedule</th>
                                    <th>Payment Type</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6" id="no-worker-tr" style="text-align: center">Select a property and duration</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- End Assign Worker Form -->
                    </div>
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                        <div id="assign-worker" class="ui disabled green right labeled icon button assign-worker">
                            Assign Worker
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
                <!-- End Assign Worker Modal -->

                <!-- Start Edit Assign Worker Modal -->
                <div id="edit-assign-worker-modal" class="ui modal edit-assign-worker-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Assign Worker
                    </div>
                    <div class="content">
                        <!-- Start Assign Worker Form -->
                        <form id="edit-assign-worker-form" class="ui form">
                            <input type="hidden" id="edit-worker-schedule-id" name="worker_schedule_id" />
                            <div class="fields">
                                <div class="field">
                                    <select id="EditAssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                                        <option value="">Select Property</option>
                                        @foreach (var item in ViewBag.WorkerList)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>

                                <div class="field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="EditStartDate" name="StartDate" placeholder="Start Date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="EditEndDate" name="EndDate" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <button type="button" class="ui primary button">
                                        View Workers
                                    </button>
                                </div>
                            </div>
                        </form>

                        <table id="edit-available-worker-table" class="ui celled red table">
                            <thead>
                                <tr>
                                    <th>Worker Name</th>
                                    <th>Type</th>
                                    <th>Schedule</th>
                                    <th>Payment Type</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- End Assign Worker Form -->
                    </div>
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                        <div id="edit-assign-worker" class="ui green right labeled icon button edit-assign-worker">
                            Update
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
                <!-- End Edit Assign Worker Modal -->

                
            </div>
        </div>
        <!-- End Calendar Content -->

        <script src="~/Content/moment/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.js" type="text/javascript"></script>
        <script src="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
        <script src="~/Content/semantic/dist/calendar.min.js"></script>
        <script src="~/Scripts/scripts.js" type="text/javascript"></script>
        <script src="~/Scripts/calendar.js" type="text/javascript"></script>
        <script src="~/Content/sweetalert/sweetalert.min.js"></script>
</body>
</html>