﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = MessagerSolution.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Property Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon university"></i>
                    <div class="content">
                        Cash Flow
                    </div>
                </h1>
                @*<div class="ui grid">*@
                <div class="ui form">
                    <!-- Start Add Renter Form -->
                    <form class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>Property Type</label>
                                <select class="" id="searchProperty">
                                     <option value="0">Select Property</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Cash Flow Type</label>
                                <select id="searchCashFlowType">
                                    <option value="0">Cash Flow Type</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Amount</label>
                                <input type="text" name="amount" placeholder="Amount" id="searchAmount">
                            </div>
                            <div class="field">
                                <label>Payment Date</label>
                                <div class="field">
                                    <div class="ui calendar month">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="Start Date" id="searchPaymentDateFrom" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field">
                                    <label>To</label>
                                    <div class="ui calendar month">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="End Date" id="searchPaymentDateTo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <a class="ui primary button" onclick="GetAllCashFlowRecord(1);">Submit</a>
                            </div>
                        </div>
                    </form>
                    <!-- End Add Renter Form -->
                </div>
                <!-- Start Property Table -->
                <div class="ui form">
                    <button class="ui button primary js-btn_create-new-cash-flow" onclick="toUpdateCashModal = false; ResetCashFlowModalValues();">Add Cashflow</button>
                    <br>
                    <table class="ui celled red table">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Payment Date</th>
                                <th>Company</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="cashFlowRecordDashboard"></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    <div class="ui right floated pagination menu">
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="ui message hidden" id="crudMessageDisplay">
                        <div class="header">
                            <span id="crudMessageStatus"></span>
                        </div>
                    </div>
                </div>
                <!-- End Property Table -->
            </div>
        </div>
        <!-- End Property Content -->
    </div>
    <!-- Start Cash Flow Modal -->
    <div class="ui modal cash-flow-modal">
        <i class="close icon"></i>
        <div class="header">
            Cash Flow
        </div>
        <div class="content">
            <!-- Start New Inquiry Form -->
            <div class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <label>Select Property</label>
                        <select class="" id="selectProperty">
                            <option value="">Select Property</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Cash Flow Type</label>
                        <select class="" id="selectCashFlowType">
                            <option value="">Cash Flow Type</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Payment Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Payment Date" id="selectPaymentDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input type="text" placeholder="Amount" id="totalAmountText" />
                    </div>
                </div>
                @*<div class="fields">
                    <div class="five wide field">
                        <label>Company</label>
                        <select class="" id="selectCompany">
                            <option value="">Select Company</option>
                        </select>
                    </div>
                </div>*@
            </div>
            <!-- End New Inquiry Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" onclick="if (toUpdateCashModal) { UpdateCashFlow(); } else{CreateNewCashFlow();}">
                Ok
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Cash Flow Modal -->
    <!-- Start Create New Inquiry Modal -->
    <div class="ui modal create-new-inquiry-modal">
        <i class="close icon"></i>
        <div class="header">
            Inquiries
        </div>
        <div class="content">
            <!-- Start New Inquiry Form -->
            <form class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <label>Name*</label>
                        <input type="text" placeholder="Name" required />
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Guest Type*</label>
                        <input type="text" placeholder="Guest Type" required />
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Property Unit List*</label>
                        <input type="text" placeholder="Property Unit List" required />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Inquiry Date*</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Inquiry Date" required />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Inquiry Price*</label>
                        <input type="text" placeholder="Inquiry Price" required />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payout Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Payout Date" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Payout Price</label>
                        <input type="text" placeholder="Expense Payout" />
                    </div>
                </div>
                <h5>Stay Dates*</h5>
                <div class="fields">
                    <div class="field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="From" required />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="To" required />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End New Inquiry Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Create Expense
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create New Inquiry Modal -->
    <!-- Start Create New Worker Modal -->
    <div class="ui modal create-new-worker-modal">
        <i class="close icon"></i>
        <div class="header">
            Workers
        </div>
        <div class="content">
            <!-- Start New Inquiry Form -->
            <div class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="five wide field">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" />
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Address</label>
                        <input type="text" placeholder="" />
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <input type="text" placeholder="" />
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <input type="text" placeholder="" />
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Phone Number</label>
                        <input type="text" placeholder="Phone Number" />
                    </div>
                    <div class="five wide field">
                        <label>Worker Type</label>
                        <input type="text" placeholder="Worker Type" />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payment Frequency</label>
                        <select class="ui search dropdown">
                            <option value="">Payment Frequency</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily">Daily</option>
                            <option value="per-appointment">Per Appointment</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Payment Rate</label>
                        <input type="text" placeholder="Rate" />
                    </div>
                </div>
            </div>
            <!-- End New Inquiry Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Create Woker
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create New Worker Modal -->
    <!-- Start Create New Property Modal -->
    <div class="ui modal create-new-property-modal">
        <i class="close icon"></i>
        <div class="header">
            Property
        </div>
        <div class="content">
            <!-- Start New Property Form -->
            <div class="ui form">
                <div class="fields">
                    <div class="ten wide field">
                        <label>Property Name</label>
                        <input type="text" placeholder="Property Name">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Property Type</label>
                        <input type="text" placeholder="Property Type">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Unit Count</label>
                        <input type="text" placeholder="Unit Count">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Description</label>
                        <textarea rows="3"></textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Address</label>
                        <input type="text" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <input type="text" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <input type="text" placeholder="Address Line 3">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Active Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Active Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Monthly Expenses</label>
                        <select name="monthly-expenses" multiple="" class="ui fluid dropdown">
                            <option value="">Monthly Expenses</option>
                            <option value="utilities">Utilities</option>
                            <option value="water">Water</option>
                            <option value="strata">Strata</option>
                            <option value="property-manager">Property Manager</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Monthly Expense Notes</label>
                        <textarea rows="5"></textarea>
                    </div>
                </div>
            </div>
            <!-- End New Property Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Create Property
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create New Property Modal -->
    <!-- Start Create New Booking Modal -->
    <div class="ui modal create-new-booking-modal">
        <i class="close icon"></i>
        <div class="header">
            Booking
        </div>
        <div class="content">
            <!-- Start New Booking Form -->
            <div class="ui form">
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest name</label>
                        <input type="text" placeholder="Guest Name">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest count</label>
                        <input type="text" placeholder="Guest Count">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Select Property</label>
                        <select class="ui search dropdown">
                            <option value="">Select Property</option>
                            <option value="yaletown-park">Yaletown Park</option>
                            <option value="firenze">Firenze</option>
                            <option value="false-creekside">False Creekside</option>
                            <option value="chinatown-one">Chinatown One</option>
                            <option value="woodrose-manor">Woodrose Manor</option>
                            <option value="the-citadel">The Citadel</option>
                            <option value="one-granville">One Granville</option>
                            <option value="tv-towers">TV Towers</option>
                        </select>
                    </div>
                </div>
                <h5>Stay</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Check In Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Check Out Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Check In Time" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Check Out Time" />
                            </div>
                        </div>
                    </div>
                </div>

                <h5>Price</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" placeholder="Inquiry Price" />
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Payout Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <input type="text" placeholder="Payout Price" />
                    </div>
                </div>

                <h5>Booked</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Booked Time" />
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Inquiry Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Inquiry Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Status</label>
                        <select class="ui search dropdown">
                            <option value="">Status</option>
                            <option value="active">Active</option>
                            <option value="cancelled">Cancelled</option>
                            <option value="income-recorded">Income Recorded</option>
                            <option value="paid">Paid</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End New Booking Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create New Booking Modal -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Scripts/scripts_bak.js" type="text/javascript"></script>
    <script src="~/Scripts/utilities.js" type="text/javascript"></script>
    <script src="~/Scripts/App.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            InitDropDownControlList();
            GetAllCashFlowRecord(1);
        });
    </script>
</body>
</html>