﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PropertyDB</title>
    <title>MyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Scripts/toastrSettings.js"></script>
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/Home/index" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{

            int counter = 0;
            if (User.Identity.IsAuthenticated)
            {
                var result1 = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    counter = (counter + 1);
                    if (counter == 1)
                    {
                        <a href="/Home/profile?companyId=@result1.CompanyId" class="item">
                            <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                        </a>
                    }
                }
                foreach (var items in ViewBag.RolePage)
                {
                    if (items.PageName == "messager")
                    {
                        <a href="@items.PageUrl?Id=@Convert.ToInt32(User.Identity.Name)&flag=true&companyId=@result1.CompanyId" class="item" style="text-transform:capitalize;">
                            <i class="@items.IconPath"></i>
                            @items.PageName
                        </a>
                    }
                    if (items.PageName != "messager")
                    {
                        <a href="@items.PageUrl?companyId=@result1.CompanyId" class="item" style="text-transform:capitalize;">
                            <i class="@items.IconPath"></i>
                            @items.PageName
                        </a>
                    }
                }
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Homepage Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon dashboard"></i>
                    <div class="content">
                        Dashboard
                        <div class="sub header">
                            Welcome, John! Check out what's happening!
                        </div>
                    </div>
                </h1>
                <br>
                
                <div id="dashboard-calendar"></div>
                <br>
            </div>
            <!-- End Homepage Content -->
        </div>

        <div class="ui modal messager-detail-modal" style="height:500px !important; position:static !important; top:50px !important; margin-top:5% !important; margin-right:0% !important; margin-left:15% !important;">
            <i class="close icon"></i>
            <div class="header" id="popuoForLoginAndRegister">
                View Messager Details
            </div>
            <div class="content" style="height:auto !important;">
                <div id="partialViewMessager" class="ui form">
                </div>
            </div>
        </div>
        <script src="~/Scripts/scripts.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
        <script src="~/Content/semantic/dist/calendar.min.js"></script>
</body>
</html>