﻿@model MessagerSolution.Entity.Income

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Income</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRecorded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRecorded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Property1.PropertyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Property1.PropertyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IncomeType1.TypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IncomeType1.TypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
