﻿@model Core.Database.Entity.Income

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Income</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRecorded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRecorded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Property)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Property)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IncomeType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IncomeType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Income")
</p>
