﻿@model MessagerSolution.Entity.Income

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Income</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRecorded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRecorded)
            @Html.ValidationMessageFor(model => model.DateRecorded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Property, "Property1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Property", String.Empty)
            @Html.ValidationMessageFor(model => model.Property)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncomeType, "IncomeType1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IncomeType", String.Empty)
            @Html.ValidationMessageFor(model => model.IncomeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
