﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PropertyDB</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" />
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
    </div>
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @*<a class="item guestLogin">
                    <i class="icon glyphicon-log-in"></i>
                    Login Guest
                </a>*@
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon book"></i>
                    <div class="content">
                        Booking
                    </div>
                </h1>
                <div id="booking-form" class="ui form">
                    <input type="hidden" value="@Request.QueryString["pid"]" id="propertyId" />
                    <div class="fields">
                        <div id="divBooking" style="display:none;" class="content">
                        </div>
                        <div id="errrorsubmitNewBookingBtn" class="error_message">Already booked or past date.</div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <label>Checked In Date</label>
                            <input type="text" class="form-control bookdatetime" id="CheckedInDate" name="CheckedInDate" required placeholder="Date" />
                            <div id="errrorCheckedInDate" class="error_message">Enter Checked In Date</div>
                        </div>
                        <div class="four wide field">
                            <label>Checked Out Date</label>
                            <input type="text" class="form-control bookdatetime" id="CheckedOutDate" name="CheckedOutDate" required placeholder="Date" />
                            <div id="errrorCheckedOutDate" class="error_message">Enter Checked Out Date</div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <label>Guest Name</label>
                            <input type="text" class="form-control" id="guestName" name="guestName" required placeholder="Guest Name" />
                            <div id="errrorGuestName" class="error_message">Enter Guest Name</div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <label>Guest Number</label>
                            <input type="text" class="form-control" id="guestCount" name="guestCount" required placeholder="Guest Number" />
                            <div id="errrorGuestCount" class="error_message">Enter Guest Count</div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <div class="actions">
                                <div class="ui red deny button">
                                    Cancel
                                </div>
                                <button id="submitNewBookingBtn" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui savebooking right labeled icon button">
                                    Save
                                    <i class="checkmark icon"></i>
                                </button>
                                <a href="#" id="sendPaymentRequest" style="display:none; background-color: #21ba45; color: #fff; text-shadow: none" class="ui send right labeled icon button">
                                    Send Payment Request 
                                    <i class="checkmark icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Login Modal Start*@
        <div class="ui small modal guest-detail-modal" style="top: 0px;">
            <i class="close icon"></i>
            <div class="header" id="popuoGuestLogin">
                Guest Login
            </div>
            <div class="content" style="height:auto !important;">
                <div id="partialViewMessager" class="ui form">
                    <form id="form_GetGuestLogin">
                        <div>
                            <div class="ui form">
                                <div class="clearfix">&nbsp;</div>
                                <div class="fields">
                                    <div class="sixteen wide field">
                                        <label>Email</label>
                                        <input type="text" name="GuestEmail" id="GuestEmail" placeholder="Guest Email" />
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="fields">
                                    <div class="sixteen wide field">
                                        <label>Password</label>
                                        <input type="password" name="GuestPassword" id="GuestPassword" placeholder="Guest Password" />
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="fields">
                                    <div class="fourteen wide field">
                                        <div class="actions">
                                            <a class="ui red deny button" title="Cancel">Cancel</a>
                                            <a class="ui primary button" name="SaveGuestLoginInfo" id="SaveGuestLoginInfo" title="Login">
                                                <i class="sign in icon"></i>Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*Forgot Password End*@

        <!-- End Header Menu -->
        <!-- Start Homepage Content -->
        <!-- End Sidebar -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src="~/Scripts/toastrSettings.js"></script>
        <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
        <script src="~/Content/moment/moment.min.js"></script>
        <script src="~/Scripts/moment-timezone.js"></script>
        <script src="~/Scripts/moment-timezone-with-data.js"></script>
        <script src="~/Scripts/moment-timezone-utils.js"></script>
        <script src="~/Scripts/moment-timezone-with-data-2012-2022.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
        <script src="~/Content/semantic/dist/calendar.min.js"></script>
        <script src="~/Content/sweetalert/sweetalert.min.js"></script>
        <script src="~/Scripts/scripts.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="~/Scripts/bookingGuest.js"></script>

        @*<script type="text/javascript">
            function disable_date(month_year, date_value) {
                if ($('.ui.table > thead > tr:nth-child(1) > th > span:nth-child(1)').html() == month_year) {
                    $('.ui.table > tbody > tr').each(function () {
                        var week_rows = $(this);
                        week_rows.children('td').each(function () {
                            var day_td = $(this);
                            if (day_td.html() == date_value) {
                                day_td.addClass('disabled');
                            }
                        });
                    });
                }
            }
        </script>*@
</body>
</html>