﻿@{
    Layout = null;
}
@using System.Web.UI.WebControls
@using MessagerSolution.Utilities
@model IEnumerable<MessagerSolution.Entity.Income>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/Home/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = MessagerSolution.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));

                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/Home/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="item">
                        <div>
                            <i class="envelope outline icon"></i>
                            <text id="unreply-count"></text>
                        </div>
                    </a>
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Income Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon dollar"></i>
                    <div class="content">
                        Income
                    </div>
                </h1>
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <select class="ui search dropdown" id="ddlSortingCriteria" onchange="sortingByCriteria()">
                                <option value="">Sort By</option>
                                <option value="date-created">Date Created</option>
                                <option value="amount">Amount</option>
                                <option value="description">Description</option>
                                <option value="proerty">Property</option>
                                <option value="income-type">Income Type</option>
                                <option value="status">Status</option>
                            </select>
                        </div>

                        <div class="ui calendar month year">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="filterMonthYear" type="text" placeholder="Filter By Month Of Year" />
                            </div>
                        </div>
                        <div class="field">
                            <button class="ui primary button" onclick="filterByMonth()">
                                Filter
                            </button>
                        </div>
                    </div>
                </div>
                <button class="ui button primary js-btn_create-new-income">Add Income</button>
                <div id="incomePartial" style="display: none"></div>
            </div>
        </div>
        <!-- End Income Content -->
    </div>
    <!-- Start Create New Inquiry Modal -->
    @using (Html.BeginForm("Save", "Income", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="ui modal income-modal">
            <i class="close icon"></i>
            <div class="header">
                Income
            </div>

            <div class="content">
                <!-- Start New Property Form -->

                <div class="ui form">
                    <input type="hidden" id="ID" />

                    <div class="fields">
                        <div class="five wide field">
                            <label>Select Property</label>
                            @Html.DropDownList("Property", String.Empty)
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Income Type</label>
                            @Html.DropDownList("IncomeType", String.Empty)
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Date Recorded</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input id="DateRecorded" type="text" placeholder="Date Recorded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Description</label>
                            <textarea id="Description" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Amount</label>
                            <input id="Amount" type="text" placeholder="Amount">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Payment Date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input id="PaymentDate" type="text" placeholder="Payment Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Status</label>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "New",
                                    Value = "New"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Paid",
                                    Value = "Paid",

                                });

                            }
                            @Html.DropDownList("Status", listItems, "Select Status", new { @class = "ui search dropdown" })
                        </div>
                    </div>
                </div>
                <!-- End New Property Form -->
            </div>
            <div class="actions">
                <button type="button" class="ui red deny button" data-dismiss="modal">Cancel</button>
                <button type="submit" class="ui positive right labeled icon button" onclick="InsertIncome()">Ok<i class="checkmark icon"></i></button>
            </div>
            <script type="text/javascript">
                function InsertIncome() {
                    var model = { ID: $('#ID').val(), DateRecorded: $('#DateRecorded').val(), Property: $('#Property').val(), IncomeType: $('#IncomeType').val(), Description: $('#Description').val(), Amount: $('#Amount').val(), PaymentDate: $('#PaymentDate').val(), Status: $('#Status').val() };
                    var url = "/Home/Save";
                    $.ajax({
                        url: url,
                        data: model,
                        type: "POST",
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (data) {
                            window.location.reload();
                        }
                    });
                }
            </script>
        </div>
                                }
    <!-- End Create New Inquiry Modal -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
</body>
</html>

<script type="text/javascript">
    function editData(test) {

        $('#ID').val("");
        $('#DateRecorded').val("");
        $('#Property').val("");
        $('#IncomeType').val("");
        $('#Description').val("");
        $('#Amount').val("");
        $('#PaymentDate').val("");

        $('#Status').val("");
        $('#DateRecorded').prop('readonly', true);
        var url = "/Home/GetDataByID";
        var postData = {
            id: test
        };
        $.ajax({
            url: url,
            type: "POST",
            data: ({ test: test }),
            success: function (data) {
                debugger;
                var res = data.responseText.split("|");
                $('#ID').val(res[0]);
                $('#DateRecorded').val(res[1]);
                $('#Property').val(res[2]);
                $('#IncomeType').val(res[3]);
                $('#Description').val(res[4]);
                $('#Amount').val(res[5]);
                $("#Status").val(res[6]).change();
                $('#PaymentDate').val(res[7]);

                $('.income-modal').modal('show');
                //initialize calendar on modal show
                $('.ui.calendar').calendar({
                    type: 'date'
                });
            },
            error: function (data) {
                alert('error is coming from server side.');
            }
        });
    }

    function deleteData(test) {
        var url = "/Home/Delete";
        var postData = {
            id: test
        };
        $.ajax({
            url: url,
            type: "POST",
            data: ({ test: test }),
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                window.location.reload();
            }
        });
    }

    function filterByMonth() {
        var url = "/Home/IndexPartialForFilter";
        var filterMonthYear = $("#filterMonthYear").val();

        $.ajax({
            url: url,
            type: "POST",
            data: ({ filterValue: filterMonthYear }),
            success: function (data) {
                $('#incomePartial').html(data);
                $("#incomePartial").css("display", "block");
            },
            error: function (data) {

            }
        });
    }

    function sortingByCriteria() {
        var url = "/Home/IndexPartialForSortByCriteria";
        var sortingcriteria = $("#ddlSortingCriteria").val();
        $.ajax({
            url: url,
            type: "POST",
            data: ({ sortingcriteria: sortingcriteria }),
            success: function (data) {
                $('#incomePartial').html(data);
                $("#incomePartial").css("display", "block");
            },
            error: function (data) {
            }
        });
    }

    $(document).ready(function () {
        $('#ID').val(0);
        var url = "/Home/IndexPartial";
        var monthId = $("#drpMonth").val();
        if (monthId == "") {
            monthId = 0;
        }
        $.ajax({
            url: url,
            type: "POST",
            success: function (data) {
                $('#incomePartial').html(data);
                $("#incomePartial").css("display", "block");
            },
            error: function (data) {
            }
        });
    });
</script>