﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MyDB</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="~/Messages/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Messages/libs/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Messages/css/style.css">
    <link href="~/Messages/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    @using DotNetOpenAuth.OpenId.Extensions.SimpleRegistration
    @using GridMvc.Html
    @model IEnumerable<MessagerSolution.Entity.Income>

    @{
        ViewBag.Title = "Index";
        Layout = null;
    }
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="@Url.Action("Index", "Home")" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            int counter = 0;
            if (User.Identity.IsAuthenticated)
            {
                var result = MessagerSolution.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    counter = (counter + 1);
                    if (counter == 1)
                    {
                        <a href="/Home/profile?companyId=@result.CompanyId" class="item">
                            <img src="~/Messages/img/eve.png" class="ui mini circular image profile-image">Profile
                        </a>
                    }
                }
                foreach (var items in ViewBag.RolePage)
                {
                    if (items.PageName == "messager")
                    {
                        <a href="@items.PageUrl?Id=@Convert.ToInt32(User.Identity.Name)&flag=true&companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                            <i class="icon users"></i>
                            @items.PageName
                        </a>
                    }
                    if (items.PageName != "messager")
                    {
                        <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                            <i class="icon users"></i>
                            @items.PageName
                        </a>
                    }
                }
            }
        }
    </div>
    <div class="header-menu ui menu">
        <a id="js-btn_sidebar" class="item">
            <i class="icon content"></i>
        </a>
        <div class="item">
            MyDB
        </div>
        <div class="right menu">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Home/Logout" class="item userLogout">
                    <i class="icon glyphicon-log-out"></i>
                    Log Out
                </a>
            }
            else {
                <a class="item userLogin">
                    <i class="icon glyphicon-log-in"></i>
                    Login
                </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
            }
            <a class="item">
                <img src="~/Messages/img/eve.png" class="ui avatar image">
            </a>
            <a class="item">
                <i class="icon help circle"></i>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="ui container">
            <h1 class="ui header">
                <i class="icon dollar"></i>
                <div class="content">
                    Income
                </div>
            </h1>
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <select class="ui search dropdown">
                            <option value="">Sort By</option>
                            <option value="date-created">Date Created</option>
                            <option value="expense-name">Income Type</option>
                            <option value="amount">Amount</option>
                            <option value="category">Category</option>
                            <option value="frequency">Frequency</option>
                            <option value="proerty">Property</option>
                            <option value="due-date">Due Date</option>
                            <option value="status">Status</option>
                        </select>
                    </div>
                    <div class="field">
                        <select class="ui search dropdown">
                            <option value="">Month</option>
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="jul">July</option>
                            <option value="aug">August</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                    <div class="field">
                        <button class="ui primary button">
                            Filter
                        </button>
                    </div>
                </div>
            </div>
            <button class="ui button primary js-btn_create-new-income" data-target='#ModalIncomeIndex' onclick="addIncome()">Add Income</button>


            <div class="ui celled red table">
                @*@if (Model != null && Model.Any())
                    {
                        @Html.Grid(Model).Named("Income").Columns(columns =>
                        {
                            columns.Add(c => c.DateRecorded).Titled("Date Recorded").Format("{0:dd/MM/yyyy}").Filterable(true);
                            columns.Add(c => c.Property1.PropertyName).Titled("Property").Filterable(true);//.RenderValueAs(new { @class = "ui olive small basic label"});
                            columns.Add(c => c.IncomeType1.TypeName).Titled("Income Type").Filterable(true);
                            columns.Add(c => c.Description).Titled("Description (show guest name)").Filterable(true);
                            columns.Add((c => c.Amount)).Titled("Amount").Filterable(true);
                            columns.Add(c => c.Status).Titled("Status").Filterable(true);
                            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink(" ", "Edit", "Income", new { @id = c.ID }, new { @class = "glyphicon glyphicon-edit", @data_toggle = "modal", @data_target = "#ModalIncomeIndex" }));
                            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink(" ", "Delete", "Income", new { @id = c.ID }, new { @class = "glyphicon glyphicon-remove-sign", @data_toggle = "modal", @data_target = "#ModalIncomeIndex" }));
                        }).WithPaging(2).Sortable(true);
                    }*@

                <table id="tblIncome" class="ui celled red table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Property Name</th>
                            <th>Income Type</th>
                            <th>Description (show guest name)</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DateRecorded.Date )</td>
                                <td><a class="ui olive small basic label">@Html.DisplayFor(modelItem => item.Property)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.IncomeType)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td class="right aligned">$@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>
                                    <a class="ui mini button" title="Edit" href="@Url.Action("Edit", "Income", new { @id = item.ID })">
                                        <i class="icon edit"></i>
                                    </a>
                                    <a class="ui mini button" title="Delete" href="@Url.Action("Delete", "Income", new { @id = item.ID })">
                                        <i class="icon ban"></i>
                                    </a>
                                </td>
                            </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="9">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>

                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui modal income-modal" >
                <i class="close icon"></i>
                <div class="header">
                    Income
                </div>
                <div id="ModalIncomeIndex"></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="~/Messages/libs/moment/moment.js.min"></script>
    <script src="~/Messages/libs/semantic/dist/semantic.min.js"></script>
    <script src="~/Messages/libs/semantic/dist/calendar.min.js"></script>
    <script src="~/Messages/libs/poshytip-1.2/src/jquery.poshytip.min.js"></script>
    <script src="~/Messages/libs/jquery-editable-1.5.1/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
    <script src="~/Messages/js/scripts.js" type="text/javascript"></script>
</body>
</html>
<script type="text/javascript">
    @*function addIncome() {
        var url = "/Income/Create";
        $("#modal").dialog({
            autoOpen: true,
            position: { my: "center", at: "top+350", of: window },
            width: 1000,
            resizable: false,
            modal: true,
            open: function () {
                $(this).load('@Url.Action("Create", "Income")');
            }
        });
    }*@

    function addIncome() {
        var url = "/Home/Create";
        $.ajax({
            url: url,
            data: ({}),
            cache: false,
            type: "GET",
            success: function (data) {
                //ShowModal
                $("#ModalIncomeIndex").append(data);
               // $('#ModalIncomeIndex').modal('show');
            },
            error: function (data) {
                alert(data);
            }
        });
    }
    $(document).ready(function () {
        $('#tblIncome').DataTable();
    });

</script>






@*@model IEnumerable<IncomeApp.Models.Income>

    @{
        ViewBag.Title = "Index";
        Layout = null;
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRecorded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property1.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeType1.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecorded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property1.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeType1.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@


@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>MyDB</title>
        <link rel="stylesheet" type="text/css" href="~/Content/libs/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/libs/semantic/dist/calendar.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    </head>
    <body>
        <!-- Start Sidebar -->
        <div class="ui left vertical sidebar labeled icon menu">
            <a href="@Url.Action("Index", "Income")" class="item">
                <i class="icon home"></i>
                Home
            </a>
            <a href="@Url.Action("Index", "Income")" class="item">
                <i class="icon dollar"></i>
                Income
            </a>
        </div>
        <!-- End Sidebar -->
        <div class="main-wrapper pusher">
            <!-- Start Header Menu -->
            <div class="header-menu ui menu">
                <a id="js-btn_sidebar" class="item">
                    <i class="icon content"></i>
                </a>
                <div class="item">
                    MyDB
                </div>
                <div class="right menu">
                    <a class="item">
                        <img src="~/Content/img/eve.png" class="ui avatar image">
                    </a>
                    <a class="item">
                        <i class="icon help circle"></i>
                    </a>
                </div>
            </div>
            <!-- End Header Menu -->
            <!-- Start Income Content -->
            <div class="main">
                <div class="ui container">
                    <h1 class="ui header">
                        <i class="icon dollar"></i>
                        <div class="content">
                            Income
                        </div>
                    </h1>
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <select class="ui search dropdown">
                                    <option value="">Sort By</option>
                                    <option value="date-created">Date Created</option>
                                    <option value="expense-name">Income Type</option>
                                    <option value="amount">Amount</option>
                                    <option value="category">Category</option>
                                    <option value="frequency">Frequency</option>
                                    <option value="proerty">Property</option>
                                    <option value="due-date">Due Date</option>
                                    <option value="status">Status</option>
                                </select>
                            </div>
                            <div class="field">
                                <select class="ui search dropdown">
                                    <option value="">Month</option>
                                    <option value="jan">January</option>
                                    <option value="feb">February</option>
                                    <option value="mar">March</option>
                                    <option value="apr">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="jul">July</option>
                                    <option value="aug">August</option>
                                    <option value="sep">September</option>
                                    <option value="oct">October</option>
                                    <option value="nov">November</option>
                                    <option value="dec">December</option>
                                </select>
                            </div>
                            <div class="field">
                                <button class="ui primary button">
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="ui button primary js-btn_create-new-income">Add Income</button>
                    <table class="ui celled red table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Property Name</th>
                                <th>Income Type</th>
                                <th>Description (show guest name)</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10/12/2016</td>
                                <td><a class="ui olive small basic label">Chinatown One</a></td>
                                <td>Rent</td>
                                <td>Description</td>
                                <td class="right aligned">$30.00</td>
                                <td>Paid</td>
                                <td>
                                    <a class="ui mini button js-btn_create-new-income" title="Edit">
                                        <i class="icon edit"></i>
                                    </a>
                                    <a class="ui mini button" title="Delete">
                                        <i class="icon ban"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="9">
                                    <div class="ui right floated pagination menu">
                                        <a class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="item">1</a>
                                        <a class="item">2</a>
                                        <a class="item">3</a>
                                        <a class="item">4</a>
                                        <a class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- End Income Content -->
        </div>
        <!-- Start Create New Inquiry Modal -->

        <div class="ui modal income-modal">
            <i class="close icon"></i>
            <div class="header">
                Income
            </div>
            <div class="content">
                <!-- Start New Property Form -->
                <div class="ui form">
                    <div class="fields">
                        <div class="five wide field">
                            <label>Date Recorded</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date Recorded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Select Property</label>
                            <select class="ui search dropdown">
                                <option value="">Select Property</option>
                                <option value="yaletown-park">Yaletown Park</option>
                                <option value="firenze">Firenze</option>
                                <option value="false-creekside">False Creekside</option>
                                <option value="chinatown-one">Chinatown One</option>
                                <option value="woodrose-manor">Woodrose Manor</option>
                                <option value="the-citadel">The Citadel</option>
                                <option value="one-granville">One Granville</option>
                                <option value="tv-towers">TV Towers</option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Income Type</label>
                            <select class="ui search dropdown">
                                <option value="">Income Type</option>
                                <option value="rent">Rent</option>
                                <option value="interest">Interest</option>
                                <option value="capital-appreciation">Capital Appreciation</option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Description</label>
                            <textarea rows="5"></textarea>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Status</label>
                            <input type="text" placeholder="Status">
                        </div>
                    </div>
                </div>
                <!-- End New Property Form -->
            </div>
            <div class="actions">
                <div class="ui red deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Ok
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!-- End Create New Inquiry Modal -->
        <!-- Start Create New Inquiry Modal -->
        <div class="ui modal create-new-inquiry-modal">
            <i class="close icon"></i>
            <div class="header">
                Inquiries
            </div>
            <div class="content">
                <!-- Start New Inquiry Form -->
                <div class="ui form">
                    <div class="fields">
                        <div class="five wide field">
                            <label>Name*</label>
                            <input type="text" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Guest Type*</label>
                            <input type="text" placeholder="Guest Type" required />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Property Unit List*</label>
                            <input type="text" placeholder="Property Unit List" required />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Inquiry Date*</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Inquiry Date" required />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Inquiry Price*</label>
                            <input type="text" placeholder="Inquiry Price" required />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Payout Date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Payout Date" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Payout Price</label>
                            <input type="text" placeholder="Expense Payout" />
                        </div>
                    </div>
                    <h5>Stay Dates*</h5>
                    <div class="fields">
                        <div class="field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="From" required />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="To" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End New Inquiry Form -->
            </div>
            <div class="actions">
                <div class="ui red deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Create Expense
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!-- End Create New Inquiry Modal -->
        <!-- Start Create New Worker Modal -->
        <div class="ui modal create-new-worker-modal">
            <i class="close icon"></i>
            <div class="header">
                Workers
            </div>
            <div class="content">
                <!-- Start New Inquiry Form -->
                <div class="ui form">
                    <div class="fields">
                        <div class="five wide field">
                            <label>First Name</label>
                            <input type="text" placeholder="First Name" />
                        </div>
                        <div class="five wide field">
                            <label>Last Name</label>
                            <input type="text" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Address</label>
                            <input type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Phone Number</label>
                            <input type="text" placeholder="Phone Number" />
                        </div>
                        <div class="five wide field">
                            <label>Worker Type</label>
                            <input type="text" placeholder="Worker Type" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Payment Frequency</label>
                            <select class="ui search dropdown">
                                <option value="">Payment Frequency</option>
                                <option value="hourly">Hourly</option>
                                <option value="daily">Daily</option>
                                <option value="per-appointment">Per Appointment</option>
                                <option value="fixed">Fixed</option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Payment Rate</label>
                            <input type="text" placeholder="Rate" />
                        </div>
                    </div>
                </div>
                <!-- End New Inquiry Form -->
            </div>
            <div class="actions">
                <div class="ui red deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Create Woker
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!-- End Create New Worker Modal -->
        <!-- Start Create New Property Modal -->
        <div class="ui modal create-new-property-modal">
            <i class="close icon"></i>
            <div class="header">
                Property
            </div>
            <div class="content">
                <!-- Start New Property Form -->
                <div class="ui form">
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Property Name</label>
                            <input type="text" placeholder="Property Name">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Property Type</label>
                            <input type="text" placeholder="Property Type">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Unit Count</label>
                            <input type="text" placeholder="Unit Count">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Description</label>
                            <textarea rows="3"></textarea>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Address</label>
                            <input type="text" placeholder="Address Line 1">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" placeholder="Address Line 2">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" placeholder="Address Line 3">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Active Date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Active Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Monthly Expenses</label>
                            <select name="monthly-expenses" multiple="" class="ui fluid dropdown">
                                <option value="">Monthly Expenses</option>
                                <option value="utilities">Utilities</option>
                                <option value="water">Water</option>
                                <option value="strata">Strata</option>
                                <option value="property-manager">Property Manager</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Monthly Expense Notes</label>
                            <textarea rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <!-- End New Property Form -->
            </div>
            <div class="actions">
                <div class="ui red deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Create Property
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!-- End Create New Property Modal -->
        <!-- Start Create New Booking Modal -->
        <div class="ui modal create-new-booking-modal">
            <i class="close icon"></i>
            <div class="header">
                Booking
            </div>
            <div class="content">
                <!-- Start New Booking Form -->
                <div class="ui form">
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Guest name</label>
                            <input type="text" placeholder="Guest Name">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Guest count</label>
                            <input type="text" placeholder="Guest Count">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Select Property</label>
                            <select class="ui search dropdown">
                                <option value="">Select Property</option>
                                <option value="yaletown-park">Yaletown Park</option>
                                <option value="firenze">Firenze</option>
                                <option value="false-creekside">False Creekside</option>
                                <option value="chinatown-one">Chinatown One</option>
                                <option value="woodrose-manor">Woodrose Manor</option>
                                <option value="the-citadel">The Citadel</option>
                                <option value="one-granville">One Granville</option>
                                <option value="tv-towers">TV Towers</option>
                            </select>
                        </div>
                    </div>
                    <h5>Stay</h5>
                    <div class="fields">
                        <div class="four wide field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Check In Date" />
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Check Out Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <div class="ui calendar time">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Check In Time" />
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            <div class="ui calendar time">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Check Out Time" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>Price</h5>
                    <div class="fields">
                        <div class="four wide field">
                            <input type="text" placeholder="Inquiry Price" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Payout Date" />
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            <input type="text" placeholder="Payout Price" />
                        </div>
                    </div>

                    <h5>Booked</h5>
                    <div class="fields">
                        <div class="four wide field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Date" />
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            <div class="ui calendar time">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Booked Time" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Inquiry Date</h5>
                    <div class="fields">
                        <div class="four wide field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Inquiry Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Status</label>
                            <select class="ui search dropdown">
                                <option value="">Status</option>
                                <option value="active">Active</option>
                                <option value="cancelled">Cancelled</option>
                                <option value="income-recorded">Income Recorded</option>
                                <option value="paid">Paid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End New Booking Form -->
            </div>
            <div class="actions">
                <div class="ui red deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Save
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!-- End Create New Booking Modal -->
        <script src="~/Content/js/jquery-3.1.1.min.js"></script>
        <script src="~/Content/libs/moment/moment.js.min"></script>
        <script src="~/Content/libs/semantic/dist/semantic.min.js"></script>
        <script src="~/Content/libs/semantic/dist/calendar.min.js"></script>
        <script src="~/Content/libs/poshytip-1.2/src/jquery.poshytip.min.js"></script>
        <script src="~/Content/libs/jquery-editable-1.5.1/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
        <script src="~/Content/js/scripts.js" type="text/javascript"></script>
    </body>
    </html>*@
