﻿@model IEnumerable<MessagerSolution.Entity.Income>
<table class="ui celled red table" id="tblIncome" data-page-length='5'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Property Name</th>
            <th>Income Type</th>
            <th>Description (show guest name)</th>
            <th>Amount</th>
            <th>PaymentDate</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DateRecorded.Date)</td>
                <td><a class="ui olive small basic label">@Html.DisplayFor(modelItem => item.Property)</a></td>
                <td>@Html.DisplayFor(modelItem => item.IncomeType)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td class="right aligned">$@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.PaymentDate.Value.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    <a class="ui button primary js-btn_create-new-income" title="Edit" onclick="editData(@item.ID)">
                        <i class="icon edit"></i>
                    </a>
                    <a class="ui mini button" title="Delete" onclick="deleteData(@item.ID)">
                        <i class="icon ban"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr>
                <th colspan="9">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>*@
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblIncome').DataTable({
            "pagingType": "full_numbers",
            searching: false,
            ordering: false,
            "pageLength": 1,
            "bLengthChange": false
        });
    });
</script>
