﻿@model IncomeApp.Models.Income
@{
    Layout = null;
}
@using (Html.BeginForm("Save", "Income", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <div id="IncomeModal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Income
        </div>
        <div class="content">
            <!-- Start New Property Form -->
            <div class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <label>Date Recorded</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                @Html.EditorFor(model => model.DateRecorded, new { @placeholder = "Date Recorded" })
                                @*<input type="text" placeholder="Date Recorded" />*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Select Property</label>
                        <select class="ui search dropdown">
                            <option value="">Select Property</option>
                            <option value="yaletown-park">Yaletown Park</option>
                            <option value="firenze">Firenze</option>
                            <option value="false-creekside">False Creekside</option>
                            <option value="chinatown-one">Chinatown One</option>
                            <option value="woodrose-manor">Woodrose Manor</option>
                            <option value="the-citadel">The Citadel</option>
                            <option value="one-granville">One Granville</option>
                            <option value="tv-towers">TV Towers</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Income Type</label>
                        <select class="ui search dropdown">
                            <option value="">Income Type</option>
                            <option value="rent">Rent</option>
                            <option value="interest">Interest</option>
                            <option value="capital-appreciation">Capital Appreciation</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Description</label>
                        <textarea rows="5"></textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input type="text" placeholder="Amount">
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Status</label>
                        <input type="text" placeholder="Status">
                    </div>
                </div>
            </div>
            <!-- End New Property Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Ok
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

}