﻿@model Core.Database.Entity.Guest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentSuccess</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
    </div>
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @*<a class="item guestLogin">
                    <i class="icon glyphicon-log-in"></i>
                    Login Guest
                </a>*@
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon book"></i>
                    <div class="content">
                        Payment Success
                    </div>
                </h1>
                <div id="booking-form" class="ui form">
                    <div class="fields">
                        <div class="eight wide field">
                            <p>Thank you for your Payment!</p>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <p>Please complete registration, after that you will able to send message to property manager.</p>
                            <form id="form_GetGuestRegi">
                                <div>
                                    <div class="ui form">
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="fields">
                                            <div class="sixteen wide field">
                                                <input type="hidden" value="@Request.QueryString["pid"]" name="property_Id" id="property_Id" />
                                                <input type="hidden" value="@Model.Id" name="GuestId" id="GuestId" />
                                                <label>Email</label>
                                                <input type="text" value="@Model.Email" name="GuestEmail" id="GuestEmail" placeholder="Guest Email" />
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="fields">
                                            <div class="sixteen wide field">
                                                <label>Password</label>
                                                <input type="password" name="GuestPassword" id="GuestPassword" placeholder="Guest Password" />
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="fields">
                                            <div class="sixteen wide field">
                                                <label>Confirm Password</label>
                                                <input type="password" name="ConfirmGuestPassword" id="ConfirmGuestPassword" placeholder="Confirm Guest Password" />
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="fields">
                                            <div class="fourteen wide field">
                                                <div class="actions">
                                                    <a class="ui red deny button" title="Cancel">Cancel</a>
                                                    <a class="ui primary button" name="SaveGuestPasswordInfo" id="SaveGuestPasswordInfo" title="Login">
                                                        <i class="sign in icon"></i> Save-Info
                                                    </a>
                                                    <a class="ui primary button" style="display:none;" name="SendMessageToPropertyManager" id="SendMessageToPropertyManager" title="Send Message To Property Manager">
                                                        <i class="sign in icon"></i> Send Message To Property Manager
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @*Login Modal Start*@
    <div class="ui small modal messager-detail-modal" style="top: 0px;">
        <i class="close icon"></i>
        <div class="header" id="popuoForLoginAndRegister">
            Login
        </div>
        <div class="content" style="height:auto !important;">
            <div id="partialViewMessager" class="ui form">
                <form id="form_GetLogin">
                    <div>
                        <div class="ui form">
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Username</label>
                                    <input type="text" name="UserName" id="UserName" placeholder="Username" />
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Password</label>
                                    <input type="password" name="Password" id="Password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="fourteen wide field">
                                    <div class="actions">
                                        <a class="ui red deny button" title="Cancel">Cancel</a>
                                        <a class="ui primary button" name="SaveLoginInfo" id="SaveLoginInfo" title="Login">
                                            <i class="sign in icon"></i>Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="fourteen wide field">
                                    <div class="actions">
                                        <a class="item register-user">
                                            Register for new account.
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="fields">
                                <div class="fourteen wide field">
                                    <div class="actions">
                                        <a class="item forgot-password">
                                            Forgot Password
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*Login Modal End*@
    <div class="ui small modal guest-detail-modal" style="top: 0px;">
        <i class="close icon"></i>
        <div class="header" id="popuoGuestLogin">
            Guest Login
        </div>
        <div class="content" style="height:auto !important;">
            <div id="partialViewMessager" class="ui form">
                <form id="form_GetGuestLogin">
                    <div>
                        <div class="ui form">
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Email</label>
                                    <input type="text" name="GuestEmail" id="GuestEmail" placeholder="Guest Email" />
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Password</label>
                                    <input type="password" name="GuestPassword" id="GuestPassword" placeholder="Guest Password" />
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="fields">
                                <div class="fourteen wide field">
                                    <div class="actions">
                                        <a class="ui red deny button" title="Cancel">Cancel</a>
                                        <a class="ui primary button" name="SaveGuestLoginInfo" id="SaveGuestLoginInfo" title="Login">
                                            <i class="sign in icon"></i>Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- End Header Menu -->
    <!-- Start Homepage Content -->
    <!-- End Sidebar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Scripts/toastrSettings.js"></script>
    <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Scripts/moment-timezone.js"></script>
    <script src="~/Scripts/moment-timezone-with-data.js"></script>
    <script src="~/Scripts/moment-timezone-utils.js"></script>
    <script src="~/Scripts/moment-timezone-with-data-2012-2022.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript">

            $(document).on('click', '#SaveGuestPasswordInfo', function (e) {
                var flag = true;
                if ($("#GuestEmail").val().trim() == "") {
                    flag = false;
                    toastr["error"]("please fill the email field.").fadeOut("show");
                }
                if ($("#GuestPassword").val().trim() == "") {
                    flag = false;
                    toastr["error"]("please fill the password field.").fadeOut("show");
                }
                if ($("#GuestPassword").val().trim() != $("#GuestPassword").val().trim()) {
                    flag = false;
                    toastr["error"]("password and confirm password are matching.").fadeOut("show");
                }
                if (flag == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/SaveGuestInfo/",
                        data: { GuestId: $("#GuestId").val(), GuestEmail: $("#GuestEmail").val(), GuestPassword: $("#GuestPassword").val() },
                        beforeSend: function () {
                            $('#SaveGuestLoginInfo').addClass('loading');
                        },
                        success: function (data) {
                            if (data.success) {
                                debugger;
                                $("#SendMessageToPropertyManager").show();
                                $("#SendMessageToPropertyManager").attr("href", "/Home/SendMessage?pid=" + $("#property_Id").val() + "&gid=" + $("#GuestId").val());
                            }
                        }
                    });
                }
                return false;
            });

    </script>
</body>
</html>

