﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    bool isLogin = User.Identity.IsAuthenticated && Core.Helper.SessionHandler.IsActive();
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon book"></i>
        <div id="contract-title" class="content">
            Property Payment
        </div>
        <a href="/Rentals" title="Rentals">
            <button class="ui blue left labeled icon button">
                Rentals
                <i class="icon reply"></i>
            </button>
        </a>
    </h1>
    <select hidden class="ui dropdown" id="contract-list">
        <option value="">Contract</option>
    </select>
    @*<div class="ui form">
            <div class="fields">
                <div class="field">
                </div>
            </div>
        </div>*@
    <div class="ui pointing secondary demo menu">
        <a class="@(@Request.QueryString["rid"] == null ? "active" : "") item" data-tab="first">Rental Details</a>
        @*<a class="item" data-tab="second">Guest Info</a>*@
        @if (@Request.QueryString["rid"] != null)
        {
            <a class="@(@Request.QueryString["rid"] == null ? "" : "active") item" data-tab="third">Transactions</a>
            <a class="item" data-tab="renter-messages-tab">Messages</a>
            <div class="item" data-tab="tab-invoices">Invoices</div>
            <a class="item" data-tab="tab-documents">Documents</a>
            <a class="item" data-tab="fourth">History</a>
        }

    </div><div class="ui @(@Request.QueryString["rid"] == null ? "active" : "") tab segment" data-tab="first">
        <div id="booking-form" class="ui form">
            <input type="hidden" value="@Request.QueryString["pid"]" id="PropertyId" name="PropertyId" />
            <input type="hidden" value="@Request.QueryString["requestid"]" id="request-id" />
            @*<input type="hidden" id="InboxId" name="InboxId" value="@Request.QueryString["iid"]" />*@
            <input type="hidden" id="BookingId" name="BookingId" value="@Request.QueryString["rid"]" />
            <div class="content" style="font-size:30px; font-weight:600">
                @ViewBag.PropertyName
            </div>
            <div class="content" style="font-size:20px; font-weight:600">
                Lease Info
            </div>
            <hr />
            <div class="fields">
                <div class="six wide field">
                    <label>Start Date</label>
                    <div class="ui calendar CheckedInDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="CheckedInDate" name="CheckedInDate" placeholder="Start Date" required />
                        </div>
                    </div>
                </div>
                <div class="six wide field">
                    <label>End Date</label>
                    <div class="ui calendar CheckedOutDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="CheckedOutDate" name="CheckedOutDate" required placeholder="End Date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="six wide field">
                    &nbsp;
                </div>
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isMonthToMonth" name="isMonthToMonth">
                        <label>No End Date (Month-to-Month)</label>
                    </div>
                    <label></label>
                </div>
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isFixedMonthToMonth" name="isFixedMonthToMonth">
                        <label>Fixed term with month to month</label>
                    </div>
                    <label></label>
                </div>
            </div>
            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Renter Info
            </div>
            <hr />
            <h3>Current Renter</h3>
            <div id="renter-div">
                <div class="renter">
                    <div class="fields" renterid="0">
                        <div class="three wide field">
                            <label>First Name</label>
                            <input type="text" class="guestFirstname" required placeholder="First Name" />
                        </div>
                        <div class="three wide field">
                            <label>Last Name</label>
                            <input type="text" class="guestLastname" required placeholder="Last Name" />
                        </div>
                        <div class="three wide field">
                            <label>Email</label>
                            <input type="text" class="guestEmail" placeholder="Email" />
                        </div>
                        <div class="three wide field">
                            <label>Phone Number</label>
                            <input type="text" class="guestPhone" placeholder="Phone" />
                        </div>
                        <div class="five wide field">
                            <label>Address</label>
                            <input type="text" class="guestAddress" required placeholder="Address" />
                        </div>
                        <div class="three wide field">
                            <label>Start Date</label>
                            <div class="ui calendar renterDate">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="start-date" placeholder="Start Date" />
                                </div>
                            </div>
                        </div>
                        <div class="three wide field">
                            <label>End Date</label>
                            <div class="ui calendar renterDate">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="end-date" placeholder="End Date" />
                                </div>
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Status</label>
                            <select class="ui dropdown guestStatus">
                                <option selected value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-renter" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Past Renter</h3>
            <div id="pass-renter">
            </div>
            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Recurring Rent
                <hr />
            </div>
            <div class="fields">
                <div class="six wide field">
                    <label>Recurring Rent Start Date</label>
                    <div class="ui calendar dateRecurringDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="RecurringRentStartDate" name="RecurringRentStartDate" placeholder="Recurring Rent Start Date" required />
                        </div>
                    </div>
                </div>
            </div>
            <div id="rent-div">
                <div class="rent">
                    <div class="fields" rent-id="0">
                        <div class="six wide field">
                            <label>Rent Amount</label>
                            <input type="text" class="rent-amount" onkeypress="return isNumberKey(this, event);" name="RentAmount" placeholder="Rent Amount" required />
                        </div>
                        <div class="six wide field">
                            <label>Date Apply</label>
                            <div class="ui calendar RentDateApply">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="rent-date-apply" name="RentDateApply" required placeholder="Rent Date Apply" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-rent-amount" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Advance payment
            </div>
            <hr />
            <div class="fields">
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isAdvancePayment" name="isAdvancePayment">
                        <label>Do you have advance payment</label>
                    </div>
                </div>
                <div hidden class="six wide field advancePaymentDiv">
                    <label>Number of Months</label>
                    <input type="text" class="form-control bookdatetime" id="AdvancePaymentMonth" name="AdvancePaymentMonth" placeholder="Number of Months" />
                </div>

            </div>
            <div class="fields">
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isLastMonthPayment" name="isLastMonthPayment">
                        <label>Do you have last month payment</label>
                    </div>
                </div>
                <div hidden class="six wide field lastPaymentDiv">
                    <label>Number of Months</label>
                    <input type="text" class="form-control bookdatetime" id="LastPaymentMonth" name="LastPaymentMonth" placeholder="Number of Months" />
                </div>

            </div>
            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Post Dated
            </div>
            <hr />
            <div class="fields">
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isPostDatedPayment" name="isPostDatedPayment">
                        <label>Do you have Post Dated Payment</label>
                    </div>
                </div>
            </div>
            <div id="post-dated-div" class="divPostPayment" hidden>
                <div class="post-date">
                    <div class="fields" post-dated-id="0">
                        <div class="six wide field">
                            <label>Post Dated Start</label>
                            <div class="ui calendar postDatedStartDate">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="post-date-start" name="PostPaymentStartDate" placeholder="Post Dated Start" />
                                </div>
                            </div>
                        </div>
                        <div class="six wide field">
                            <label>Post Dated Until</label>
                            <div class="ui calendar postDatedDate">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="post-date-end" name="PostPaymentEndDate" placeholder="Post Dated Until" />
                                </div>
                            </div>
                        </div>
                        <div class="six wide field">
                            <label>Post dated amount</label>
                            <input type="text" onkeypress="return isNumberKey(this, event);" class="amount" name="PostDatedAmount" placeholder="Amount" />
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-post-dated" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" style="font-size:20px; font-weight:600">
                Automatic Late Fees
            </div>
            <hr />
            <div class="fields">
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isLateFees" name="isLateFees">
                        <label>Do you need to collect late fees</label>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div hidden class="six wide field lateFeeDiv">
                    <label>Days unpaid before collecting</label>
                    <input type="text" step=".01" onkeypress="return isNumberKey(this, event);" class="form-control bookdatetime" id="LateFeeApplyDays" name="LateFeeApplyDays" placeholder="Number of days" />
                </div>
                <div hidden class="six wide field lateFeeDiv">
                    <label>Late Fee Amount</label>
                    <input type="text" onkeypress="return isNumberKey(this, event);" class="form-control" id="LateFeeAmount" name="LateFeeAmount" placeholder="Late Fee Amount" />
                </div>
            </div>
            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Security Deposit
            </div>
            <hr />
            <div class="fields">
                <div class="six wide field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isSecurityDeposit" name="isSecurityDeposit">
                        <label>Do you need to collect a security deposit</label>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div hidden class="six wide field securityDepositDiv">
                    <label>Security Deposit Amount</label>
                    <input type="text" onkeypress="return isNumberKey(this, event);" class="form-control bookdatetime" id="SecurityDepositAmount" name="SecurityDepositAmount" placeholder="Security Deposit Amount" />
                </div>
                <div hidden class="six wide field securityDepositDiv">
                    <label>Due On</label>
                    <div class="ui calendar dateInputField">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="SecurityDepositDueOn" name="SecurityDepositDueOn" placeholder="Due On" />
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Additional Move-in Costs
            </div>
            <hr />
            <div id="movein-div">
                <div class="movein">
                    <div class="fields" additional-fee-id="0">
                        <div class="field">
                            <label>Description</label>
                            <input type="text" class="description" placeholder="Description" />

                        </div>
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" onkeypress="return isNumberKey(this, event);" class="amount" placeholder="Amount" />
                        </div>
                        <div class="field">
                            <label>Due on</label>
                            <div class="ui calendar dateInputField">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="due-on" placeholder="Due On" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-movein-cost" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="content" style="font-size:20px; font-weight:600">
                Guest Monthly Utilities
            </div>
            <hr />
            <div id="utilities-div">
                <div class="utilities">
                    <div class="fields" additional-fee-id="0">
                        <div class="field">
                            <label>Description</label>
                            <input type="text" class="description" placeholder="Description" />

                        </div>
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" onkeypress="return isNumberKey(this, event);" class="amount" placeholder="Amount" />
                        </div>
                        <div class="field">
                            <label>Due on</label>
                            <div class="ui calendar dateInputField">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="due-on" placeholder="Due On" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Frequency</label>
                            <select class="ui search dropdown frequency" name="frequency">
                                <!--JM 10/01/19 temporary remove because kendrick said use monthly only-->
                                @*<option value="">Select Frequency</option>*@
                                @*<option value="1">Daily</option>*@
                                @*<option value="2">Weekly</option>*@
                                <option value="3">Monthly</option>
                                @*<option value="4">One time</option>*@
                                <option value="5">Yearly</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-utilities" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @{ if (!Core.Helper.User.Owners.IsOwner(User.Identity.Name.ToInt()))
                {
                    <div class="fields">
                        <div class="field">
                            <button id="AllowEdit" class="ui blue savebooking right labeled icon button">
                                Edit
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                        <div class="field">
                            <button id="SaveAndConfirm" class="ui blue savebooking right labeled icon button">
                                Save
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                        <div class="field">
                            <a href="/Home/PropertyPayment?pid=@Request.QueryString["pid"]" title="New Contract">
                                <button id="new-contract-btn" class="ui blue savebooking right labeled icon button">
                                    New Contract
                                    <i class="icon edit"></i>
                                </button>
                            </a>
                        </div>
                        <div class="field">
                            <button id="end-contract-btn" onclick="EndContract();" class="ui blue savebooking right labeled icon button">
                                End Contract
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>

        <div id="confirmlist-form" style="display:none;" class="ui form list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">First List Group Item Heading</h4>
                <p class="list-group-item-text">List Group Item Text</p>
            </a>
        </div>
    </div>

          <div class="ui @(@Request.QueryString["rid"] == null ? "" : "active") tab segment" data-tab="third">


              <div class="ui form">
                  <div class="fields">
                      <div id="GuestInfoDetails" style="display:none;" class="six wide field">
                      </div>
                  </div>
                  @{
                      //Check if owner
                      if (!Core.Helper.User.Owners.IsOwner(User.Identity.Name.ToInt()))
                      {
                          <div class="fields">
                              <div class="field">
                                  <button id="btnAddBill" income-type="13" class="ui tiny blue savebooking right labeled icon button">
                                      Add Bill
                                      <i class="checkmark icon"></i>
                                  </button>
                              </div>
                              <div class="field">
                                  <button id="btnRefund" income-type="5" class="ui tiny blue savebooking right labeled icon button">
                                      Add Refund
                                      <i class="checkmark icon"></i>
                                  </button>
                              </div>
                              <div class="field">
                                  <button id="btnPayment" class="ui tiny blue savebooking right labeled icon button">
                                      Add Payment
                                      <i class="checkmark icon"></i>
                                  </button>
                              </div>
                          </div>
                      }
                  }
              </div>
              <br />
              <table class="display responsive" style="width:100%">
                  <thead>
                      <tr class="center aligned">
                          <th>Due Date</th>
                          <th>Description</th>
                          <th>Amount</th>
                          <th>Payment</th>
                          <th>Balance</th>
                          <th>Running Balance</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody id="booking-income-tbody"></tbody>
              </table>
          </div>
    <div class="ui tab segment" data-tab="fourth">
        <br />
        <table class="ui celled blue table" id="history-table" style="width:100%;">
            <thead>
                <tr class="left aligned">
                    <th style="width:15%">Date Created</th>
                    <th style="width:85%">Message</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @if (Request.QueryString["rid"] != null)
    {
        @Html.Partial("../Rentals/RentalMessagePartialView", @Request.QueryString["rid"])
        @Html.Partial("../Rentals/RentalDocumentContractPartialView")
        @Html.Partial("../Rentals/RentalInvoicePartialView")
    }
    <div id="end-contract-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">End Contract</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Due On</label>
                    <div class="ui calendar endContractDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="end-contract-date" name="EndDate" required placeholder="Contract End Date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve blue button">End</div>
            <div class="ui cancel blue button">Cancel</div>
        </div>
    </div>

    <div class="ui modal create-income-modal">
        <i class="close icon"></i>
        <div class="header" id="income-header">
            Add Bill
        </div>
        <div class="content" style="height:auto !important;">
            <div class="ui form">
                <div class="container">
                    <div class="fields">
                        <div class="six wide field">
                            <label>Description</label>
                            <input hidden id="income-type">
                            <input type="text" class="form-control" id="income-description" name="BillDescription" required placeholder="Description" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Amount</label>
                            <input type="text" class="form-control" id="income-amount" name="BillAmount" required placeholder="Amount" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Due On</label>
                            <div class="ui calendar dateInputField">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="form-control" id="income-date" name="BillDueOn" required placeholder="Due On" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div onclick="$('.create-income-modal').modal('hide');" class="ui blue deny button">
                            Cancel
                        </div>
                        <button id="btnBillSave" onclick="SaveIncome();" class="ui blue savebooking right labeled icon button">
                            Save
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>


    <!--Modal for view of payment-->
    <div class="ui modal payment-modal">
        <i class="close icon"></i>
        <div class="header" id="payment-header">
            Payments
        </div>
        <div class="content" style="height:auto !important;">
            <div class="ui form">
                <div class="container">
                    <div class="fields">
                        <div class="six wide field">
                            <label>Description</label>
                            <input type="hidden" id="hdnIncomeId" name="hdnIncomeId" />
                            <input type="hidden" id="payment-type" />
                            <input type="hidden" id="payment-id" value="0">
                            <input type="text" class="form-control" id="payment-description" name="EditIncomeDescription" required placeholder="Description" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Balance Amount</label>
                            <input type="text" class="form-control" id="EditDueIncomeAmount" name="EditDueIncomeAmount" required placeholder="Amount" disabled />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Payment Amount</label>
                            <input type="text" onkeypress="return isNumberKey(this, event);" class="form-control" id="payment-amount" name="EditIncomeAmount" required placeholder="Amount" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Date</label>
                            <div class="ui calendar dateInputField">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" class="form-control" id="payment-date" name="EditIncomeDueOn" required placeholder="Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="one width field">
                            <input type="file" class="proof-pic" name="proof-pic" id="proof-pic" accept='image/*' multiple />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui grid" id="image-upload"></div>
                        </div>
                    </div>
                    <div class="fields payment-action">
                        <div id="cancel-payment" onclick="$('.payment-modal').modal('hide');" class="ui blue deny button">
                            Cancel
                        </div>
                        <button id="savePayment" onclick="CreatePayment();" class="ui blue savebooking right labeled icon button">
                            Save
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <!--Edit Income Start-->
    <div id="income-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Income
        </div>
        <div class="content">
            <div class="ui form">
                <input type="hidden" id="income-id" name="income-id">
                <div class="fields">
                    <div class="five wide field">
                        <label>Description</label>
                        <textarea id="Description" name="Description" rows="5" required></textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input id="Amount" name="Amount" type="text" placeholder="Amount" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Due Date</label>
                        <div class="ui calendar income">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="DueDate" name="DueDate" type="text" placeholder="Due Date" required />
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="fields">
                        <div class="five wide field">
                            <label>Status</label>
                            <select id="Status" name="Status" class="ui search dropdown">
                                <option value="">Select Status</option>
                                <option value="1">New</option>
                                <option value="2">Paid</option>
                            </select>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="actions">
            <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
            <div id="income-save-btn" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
        </div>
    </div>
    <!--Edit Income End-->
    <div class="ui modal batch-payment-modal">
        <i class="close icon"></i>
        <div class="header" id="payment-header">
            Batch Payments
        </div>
        <div class="content" style="height:auto !important;">
            <div class="ui form">
                <div class="container">
                    <div class="fields">
                        <div class="five wide field">
                            <label id="batch-payment-id">Receipt Number</label>
                            <label>Description</label>
                            <input id="batch-id" value="0" type="hidden" />
                            <input type="text" id="batch-payment-description" required placeholder="Description" />
                        </div>
                    </div>

                    <div class="fields">
                        <div class="five wide field">
                            <label>Amount</label>
                            <input type="text" onkeypress="return isNumberKey(this, event);" id="batch-payment-amount" required placeholder="Amount" />
                        </div>

                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Payment Date</label>
                            <div class="ui calendar dateInputField">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" id="batch-payment-date" required placeholder="Payment Date" />
                                </div>
                            </div>
                        </div>
                        <div class="field"><label>&nbsp;</label><b>Remaining Amount:<p id="batch-payment-remaining">0</p></b></div>
                    </div>
                    <div class="fields">
                        <div class="one width field">
                            <input type="file" class="batch-proof-pic" name="proof-pic" id="batch-proof-pic" accept='image/*' multiple />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui grid" id="batch-image-upload"></div>
                        </div>
                    </div>
                    <div id="unpaid-monthly-rent">

                    </div>
                    <div class="fields payment-action">
                        <div id="cancel-payment" onclick="$('.batch-payment-modal').modal('hide');" class="ui blue deny button">
                            Cancel
                        </div>
                        <button id="saveBatchPayment" onclick="CreateBatchPayment();" class="ui blue savebooking right labeled icon button">
                            Save
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Menu -->
</div>
<script src="~/Scripts/propertyPayment.js"></script>