﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyDetail</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
</head>
<body>
    <div>
        <div class="ui left vertical sidebar labeled icon menu">
            <a href="/" class="item">
                <i class="icon home"></i>
                Home
            </a>
        </div>
        <div class="main-wrapper pusher">
            <!-- Start Header Menu -->
            <div class="header-menu ui menu">
                <a id="js-btn_sidebar" class="item">
                    <i class="icon content"></i>
                </a>
                <div class="item">
                    PropertyDB
                </div>
                <div class="right menu">
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                    <a class="item">
                        <img src="~/Content/img/eve.png" class="ui avatar image">
                    </a>
                    <a class="item">
                        <i class="icon help circle"></i>
                    </a>
                </div>
            </div>

            <div class="main">
                <div class="ui container">
                    <h1 class="ui header">
                        <i class="icon book"></i>
                        <div class="content">
                            Property Detail
                        </div>
                    </h1>
                    <div id="booking-form" class="ui form">
                        <div class="container">
                            <a href="/Home/ApplyApplication?propertyId=@Request.QueryString["id"]" id="property-form-submit-btn" class="ui green right labeled icon button">
                                Apply Application
                                <i class="search icon"></i>
                            </a>
                            <a href="/Home/PropertyPayment?pid=@Request.QueryString["id"]" id="property-form-submit-btn" class="ui green right labeled icon button">
                                Property Payment
                                <i class="search icon"></i>
                            </a>
                            <input type="hidden" value="@Request.QueryString["id"]" id="propertyId" name="propertyId" />
                            @if (ViewBag.PropertyDetail != null)
                            {
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label style="font-weight:600; font-size:20px;" class="form-control" id="PropertyName" name="PropertyName">@ViewBag.PropertyDetail.Name</label>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="ten wide field">
                                        @if (ViewBag.PropertyImageList != null && ViewBag.PropertyImageList.Count > 0)
                                        {
                                            foreach (var items in ViewBag.PropertyImageList)
                                            {
                                                <a href="/Home/PropertyDetail?propertyId=@Request.QueryString["id"]">
                                                    <img src="@items.ImagePath" style="float:left; padding:8px; width:100px; height:100px;" />
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label class="form-control" id="PropertyHeadline" name="PropertyHeadline"><b style="font-size:16px;">Headline:   </b>@ViewBag.PropertyDetail.Headline</label>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label class="form-control" id="PropertyDescription" name="PropertyDescription"><b style="font-size:16px;">Description:   </b>@ViewBag.PropertyDetail.Description</label>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.PropertyCategoryList != null && ViewBag.PropertyCategoryList.Count > 0)
                            {
                                foreach (var items in ViewBag.PropertyCategoryList)
                                {
                                    <div class="fields">
                                        <div class="eight wide field">
                                            <label style="font-weight:600; font-size:20px;">@items:</label>
                                            <hr />
                                            @if (ViewBag.PropertyCategoryDetailList != null && ViewBag.PropertyCategoryDetailList.Count > 0)
                                            {
                                                foreach (var item in ViewBag.PropertyCategoryDetailList)
                                                {
                                                    if (item.CategoryName == items)
                                                    {
                                                        if (item.ControlType == "Checkbox")
                                                        {
                                                            <div class="four wide field" style="float:left; clear: none; margin:auto;">
                                                                <input type="checkbox" checked style="float:left; padding-right:10px;" />
                                                                <label style="float:left; margin-top: -4px; padding-right:10px;">@item.SubCategoryName:</label>
                                                                <div style="clear:both; height:1px;"></div>
                                                                <label style="">@item.DisplayValue</label>
                                                            </div>
                                                        }
                                                        if (item.ControlType == "Label")
                                                        {
                                                            <div class="five wide field" style="float:left; clear: none; margin:auto;">
                                                                <label style="float:left; padding-right:10px;">@item.SubCategoryName:</label>
                                                                <label style="float:left; margin-top: 0px; padding-right:10px;">@item.DisplayValue</label>
                                                            </div>
                                                        }
                                                        if (item.ControlType == "Textbox")
                                                        {
                                                            <div class="seven wide field" style="float:left; clear: none; margin:auto;">
                                                                <label style="float:left; padding-right:10px;">@item.SubCategoryName</label>
                                                                <label style="float:left; padding-right:10px;">(@item.DisplayValue):</label>
                                                                <input maxlength="5" style="float:left; margin-top: 0px; width:150px; padding-right:10px;" type="text" value="" />
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                            <br />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Scripts/toastrSettings.js"></script>
</body>
</html>
