﻿@model MessagerSolution.Models.City
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchProperty</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" />
</head>
<body>
    <div>
        <div class="ui left vertical sidebar labeled icon menu">
            <a href="/" class="item">
                <i class="icon home"></i>
                Home
            </a>
        </div>
        <div class="main-wrapper pusher">
            <!-- Start Header Menu -->
            <div class="header-menu ui menu">
                <a id="js-btn_sidebar" class="item">
                    <i class="icon content"></i>
                </a>
                <div class="item">
                    PropertyDB
                </div>
                <div class="right menu">
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                    <a class="item">
                        <img src="~/Content/img/eve.png" class="ui avatar image">
                    </a>
                    <a class="item">
                        <i class="icon help circle"></i>
                    </a>
                </div>
            </div>
            <div class="main">
                <div class="ui container">
                    <h1 class="ui header">
                        <i class="icon book"></i>
                        <div class="content">
                            Search Property
                        </div>
                    </h1>
                    <div id="booking-form" class="ui form">
                        <div class="container">
                            <div class="fields">
                                <div class="eight wide field">
                                    <label style="font-weight:600; font-size:20px;" class="form-control" id="PropertyName" name="PropertyName"></label>
                                </div>
                            </div>
                            <div id="floating-panel">
                                <div class="fields">
                                    <input type="hidden" id="hdnAddLocation" name="hdnAddLocation" />
                                    <div class="four wide field">
                                        <label>Search Address</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "Address" } })
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>Checked In Date</label>
                                        <div class="ui calendar" id="example2" name="example2">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                <input type="text" id="fromDate" placeholder="Date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <label>Checked Out Date</label>
                                        <div class="ui calendar" id="example3" name="example3">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                <input type="text" id="toDate" placeholder="Date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <label>Guest Number</label>
                                        <input type="text" class="form-control" id="txtGuestNumber" name="txtGuestNumber" required placeholder="Guest Number" />
                                    </div>
                                    <div class="four wide field">
                                        <label>Bathroom</label>
                                        <input type="text" class="form-control" id="txtBathroom" name="txtBathroom" required placeholder="Bathroom" />
                                    </div>
                                    <div class="four wide field">
                                        <label>Bedroom</label>
                                        <input type="text" class="form-control" id="txtBedroom" name="txtBedroom" required placeholder="Bedroom" />
                                    </div>
                                    <div class="four wide field">
                                        <label>Price</label>
                                        <input type="text" class="form-control" id="txtPrice" name="txtPrice" required placeholder="Price" />
                                    </div>
                                    <div class="four wide field">
                                        <label>Other Search</label>
                                        <input type="text" class="form-control" id="txtOtherSearch" name="txtOtherSearch" required placeholder="Other Search" />
                                    </div>
                                </div>
                                <input id="submit" style="display:none;" type="button" value="Geocode">
                                <a id="property-form-submit-btn" class="ui green right labeled icon button">
                                    Search Properties
                                    <i class="search icon"></i>
                                </a>
                                <div style="clear:both;">&nbsp;</div>
                                <br />
                                <div id="propertyGridView">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/moment/moment.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example2').calendar({
                type: 'date',
                monthFirst: false,
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return month + '/' + day + '/' + year;
                    }
                }
            });
            $('#example3').calendar({
                type: 'date',
                monthFirst: false,
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return month + '/' + day + '/' + year;
                    }
                }
            });

            $(document).ready(

                function () {
                    $("#Address").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "/Home/SearchProperty",
                                type: "POST",
                                dataType: "json",
                                data: { searchText: request.term },
                                success: function (data) {
                                    if (data.success) {
                                        response($.map(data.message, function (item) {
                                            return { label: item.Address, value: item.Address, id: item.Longitude + ',' + item.Latitude };
                                        }));
                                    }
                                }
                            })
                        },
                        autoFocus: true,
                        select: function (event, ui) {
                            $("#hdnAddLocation").val(ui.item.id);
                        }
                    });
                }
            );
            $(document).on('click', '#property-form-submit-btn', function (e) {
                alert("");
                if ($("#hdnAddLocation").val() == "") {
                    toastr["error"]("please enter Address.");
                    return false;
                }
                if ($("#fromDate").val() != "" && $("#toDate").val() == "") {
                    toastr["error"]("please enter both ChckedIn and CheckOut date.");
                    return false;
                }
                if ($("#fromDate").val() == "" && $("#toDate").val() != "") {
                    toastr["error"]("please enter both ChckedIn and CheckOut date.");
                    return false;
                }
                $.ajax({
                    url: "/Home/SearchProperties",
                    type: "POST",
                    dataType: "json",
                    data: { geoLocation: $("#hdnAddLocation").val(), fromDate: $("#fromDate").val(), toDate: $("#toDate").val(), numberBathroom: $("#txtBathroom").val(), beds: $("#txtBedroom").val(), price: $("#txtPrice").val(), guestNumber: $("#txtGuestNumber").val(), otherSearch: $("#txtOtherSearch").val() },
                    success: function (data) {
                        if (data.success) {
                            $("#propertyGridView").html("");
                            $.each(data.message, function (index, value) {
                                var field = '<div class="fields"><div style="border: 1px solid rgba(34, 36, 38, .15); margin-left:5px; margin-top:8px; border-radius: 12px;" class="fifteen wide field"> <a href="/Home/PropertyDetail?id=' + value.Id + '"><label><i class="building icon"></i>' + value.Name + '</label></a> <label><i class="list icon"></i>' + value.Description + '</label> <label> <i class="image icon"></i>' + value.GuestLimit + '</label><label> <i class="bed icon"></i>' + value.Bedrooms + '</label><label> <i class="bath icon"></i>' + value.Bathrooms + '</label><label><i class="dollar sign icon"></i>' + value.TaxRate + '</label> </div></div><div style="clear:both;">&nbsp;</div>';
                                $("#propertyGridView").append(field);
                            });

                            if ($("#propertyGridView").html() == "") {
                                var field = '<div class="fields"><div style="border: 1px solid rgba(34, 36, 38, .15); margin-left:5px; margin-top:8px; border-radius: 12px;" class="fifteen wide field"> <label>No record found with selected filter.</label></div></div>';
                                $("#propertyGridView").append(field);
                            }
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
