﻿@using Core.Enumerations
@using Core.Enumerations.Worker
@model IEnumerable<Core.Models.Task.TasksViewModel>
@{
    Layout = "~/Views/Shared/_AirlockLayout.cshtml";
    bool isLogin = User.Identity.IsAuthenticated && Core.Helper.SessionHandler.IsActive();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @{
        <meta name="session_state" content=@ViewBag.SessionState>
    }
    <title>PropertyDB</title>
    <script src="~/Content/jquery/jquery-3.4.1.min.js"></script>
    <link href="~/Content/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/toaster/toastr.min.js"></script>
    <link href="~/Content/semantic/dist/semantic.min.css" rel="stylesheet" />
    <script src="~/Content/semantic/dist/semantic.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />*@
    <link href="~/Content/task.css" rel="stylesheet" />
    @{ if (isLogin)
        {
            <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.css">
            <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.print.min.css" media="print">
            <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.css">
            <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
        }
    }
    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/SessionTimeout.js"></script>
</head>
<body>
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (isLogin)
            {
                var result = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (isLogin)
                {
                    <a class="item">
                        <div>
                            <i class="envelope outline icon"></i>
                            <text id="unreply-count"></text>
                        </div>
                    </a>
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item register-user">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Homepage Content -->
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon dashboard"></i>
                    <div class="content">
                        Home
                        <div class="sub header">
                            @if (isLogin)
                            {
                                <div>Welcome, Admin! Check out what's happening!</div>
                            }
                        </div>
                        <p id="test">@ViewBag.Test</p>
                    </div>
                </h1>
                <br />
                @if (isLogin)
                {
                        <div class="ui grid">
                            <div class="row">
                                <div class="twelve wide column">
                                    <table id="task-dashboard-table" class="ui celled blue table" cellspacing="0" style="width: 100% !important">
                                        <thead>
                                            <tr>
                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="11">
                                                    <div class="ui styled accordion task-accordion-header">
                                                        <div class="title">
                                                            <table class="ui celled blue table">
                                                                <thead>
                                                                    <tr></tr>

                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="26%">Property</td>
                                                                        <td width="16%">Guest</td>
                                                                        <td width="17%">Check-In</td>
                                                                        <td width="17%">Check-Out</td>
                                                                        <td width="12%">Pending</td>
                                                                        <td width="12%">Accepted</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            @{
                                                foreach (var item in Model)
                                                {



                                                    @*Accordion*@
                                                    <tr>
                                                        <td colspan="11">
                                                            <div class="ui styled accordion task-accordion-header">
                                                                <div class="title">
                                                                    <table class="ui celled blue table">
                                                                        <thead>
                                                                            <tr></tr>

                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                @*Add by Danial - 9/2/2018*@
                                                                                <td width="26%">
                                                                                    @item.PropertyInfo.Name
                                                                                </td>
                                                                                <td width="16%">
                                                                                    @item.GuestInfo.Name
                                                                                </td>
                                                                                <td width="17%">
                                                                                    @item.Inquiry.CheckInDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                </td>
                                                                                <td width="17%">
                                                                                    @item.Inquiry.CheckOutDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                </td>
                                                                                <td width="12%">
                                                                                    @(@item.PreCheckInTurnoverWorkers.Where(x => x.Status == 0).ToList().Count + @item.CheckInWorkers.Where(x => x.Status == 0).ToList().Count + @item.CheckOutWorkers.Where(x => x.Status == 0).ToList().Count + @item.PostCheckOutTurnoverWorkers.Where(x => x.Status == 0).ToList().Count)
                                                                                </td>
                                                                                <td width="12%">
                                                                                    @(@item.PreCheckInTurnoverWorkers.Where(x => x.Status == 1).ToList().Count + @item.CheckInWorkers.Where(x => x.Status == 1).ToList().Count + @item.CheckOutWorkers.Where(x => x.Status == 1).ToList().Count + @item.PostCheckOutTurnoverWorkers.Where(x => x.Status == 1).ToList().Count)
                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="content">
                                                                    <table class="task-accordion-table">
                                                                        <tr>
                                                                            <th class="table-header">Trip Story</th>

                                                                        </tr>
                                                                        <tbody>
                                                                            <tr>
                                                                                @*TRIP STORY*@
                                                                                <td>
                                                                                    @*<div class="task-story-container" data-thread-id="@item.Inquiry.ThreadId" data-label='booking' style='cursor: pointer;'>
                                                    <label class="task-story-label">Assignment</label>
                                                    @{
                                                        if (item.Inquiry.IsActive)
                                                        {
                                                            <div>Inquiry Date: @item.Inquiry.InquiryDate</div>
                                                        }
                                                        else
                                                        {
                                                            <div>Worker Name : @item.PropertyInfo.Name.</div>
                                                            <div>Start Date: @item.Inquiry.CheckInDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                            <div>End Date: @item.Inquiry.CheckOutDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                            <div>Action : @item.GuestInfo.Name</div>
                                                        }
                                                    }
                                                </div>*@
                                                                                    <div class="task-story-container" data-thread-id="@item.Inquiry.ThreadId" data-label='booking' style='cursor: pointer;'>
                                                                                        <label class="task-story-label">Booking</label>
                                                                                        @{
                                                                                            if (item.Inquiry.IsActive)
                                                                                            {
                                                                                                <div>Property Name : @item.PropertyInfo.Name</div>
                                                                                                <div>Check-In Date: @item.Inquiry.CheckInDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                <div>Check-Out Date: @item.Inquiry.CheckOutDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                <div>Guest Count : @item.Inquiry.GuestCount</div>
                                                                                                <div>Guest Name : @item.GuestInfo.Name</div>
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    <br />
                                                                                    <div class="task-story-container" data-thread-id="@item.Inquiry.ThreadId" data-label='travel-events' style='cursor: pointer;'>
                                                                                        <label class="task-story-label">Notes</label>
                                                                                        @{
                                                                                            if (item.TravelEvents != null && item.TravelEvents.Any())
                                                                                            {
                                                                                                <div>
                                                                                                    <div>
                                                                                                        @foreach (var eventItem in item.TravelEvents)
                                                                                                        {
                                                                                                            var travelEvent = eventItem;
                                                                                                            if (travelEvent.NoteType == (int)NoteType.NOTE)
                                                                                                            {
                                                                                                                <div>
                                                                                                                    <i class="bookmark icon"></i> @travelEvent.InquiryNote
                                                                                                                </div>
                                                                                                            }
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    <br />
                                                                                    @*onclick="@(item.PreCheckInTurnoverWorker == null ? "showTaskWorkerAssignmentModal(" + item.Inquiry.ReservationId + ",'" + item.Inquiry.CheckInDate.Value.ToShortDateString() + "'," + (int)WorkerCategory.TURNOVER + "," + (int)WorkerAssignmentType.PRE_CHECK_IN + ");" : "")"*@
                                                                                    <div class="@(item.PreCheckInTurnoverWorkers.Count == 0 ? "no-worker-turnover": "")" data-thread-id="@item.Inquiry.ThreadId" data-label="workers">
                                                                                        <label class="task-story-label">Arrival Cleaner/s</label>
                                                                                        @if (item.PreCheckInTurnoverWorkers.Count != 0)
                                                                                        {
                                                                                            foreach (var PreCheckInTurnoverWorker in item.PreCheckInTurnoverWorkers)
                                                                                            {<div class="worker @(PreCheckInTurnoverWorker.Status==2 ||@PreCheckInTurnoverWorker.Status==3?"decline-cancel-assignment":@PreCheckInTurnoverWorker.Status==0?"pending-assignment-worker":"")">
                                                                                                    <div>Worker Name : @PreCheckInTurnoverWorker.FirstName<span>&nbsp;</span> @PreCheckInTurnoverWorker.LastName</div>
                                                                                                    <div>Start Date: @PreCheckInTurnoverWorker.StartDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>End Date: @PreCheckInTurnoverWorker.EndDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>Worker Contact : @PreCheckInTurnoverWorker.Mobile</div>
                                                                                                    <div class="@PreCheckInTurnoverWorker.Id">
                                                                                                        Action:
                                                                                                        @if (PreCheckInTurnoverWorker.Status == 0)
                                                                                                        {<div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small blue ui button accept-btn">
                                                                                                                        Accept
                                                                                                                    </button>
                                                                                                                    <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button decline-btn">
                                                                                                                        Decline
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>}
                                                                                                        else if (@PreCheckInTurnoverWorker.Status == 1)
                                                                                                        {
                                                                                                            <div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button cancel-btn">
                                                                                                                        Cancel
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }
                                                                                                        else
                                                                                                        {<label>Decline/Confirmed-Cancel</label>}
                                                                                                    </div>
                                                                                                    @if (PreCheckInTurnoverWorker.StartDate.Date == DateTime.Now.Date && @PreCheckInTurnoverWorker.Status == 1)
                                                                                                    {
                                                                                                        <div class="onday-@PreCheckInTurnoverWorker.Id">
                                                                                                            Today Status
                                                                                                            @if (@PreCheckInTurnoverWorker.InDayStatus == 0)
                                                                                                            {<div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button  otw-btn">
                                                                                                                            On the way
                                                                                                                        </button>
                                                                                                                        <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            }
                                                                                                            else if (@PreCheckInTurnoverWorker.InDayStatus == 1)
                                                                                                            { <label>On the way</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@PreCheckInTurnoverWorker.InDayStatus == 2)
                                                                                                            {<label>Started</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PreCheckInTurnoverWorker.Id" class="small ui button finish-btn">
                                                                                                                            Finish
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@PreCheckInTurnoverWorker.InDayStatus == 3)
                                                                                                            { <label>Complete</label>}

                                                                                                        </div>
                                                                                                    }

                                                                                                    <hr>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div>No Worker Assigned</div>
                                                                                        }
                                                                                    </div><br /><div class=" @(item.CheckInWorkers.Count==0 ? "no-worker-turnover": "")" data-thread-id="@item.Inquiry.ThreadId" data-label="workers">
                                                                                        <label class="task-story-label">Arrival Meeting</label>
                                                                                        @if (item.CheckInWorkers.Count != 0)
                                                                                        {
                                                                                            foreach (var CheckInWorker in item.CheckInWorkers)
                                                                                            {<div class="worker @(CheckInWorker.Status==2 ||@CheckInWorker.Status==3?"decline-cancel-assignment":@CheckInWorker.Status==0?"pending-assignment-worker":"")">
                                                                                                    <div>Worker Name : @CheckInWorker.FirstName<span>&nbsp;</span> @CheckInWorker.LastName</div>
                                                                                                    <div>Check-In Date: @CheckInWorker.StartDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>Check-Out Date: @CheckInWorker.EndDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>Worker Contact : @CheckInWorker.Mobile</div>
                                                                                                    <div class="@CheckInWorker.Id">
                                                                                                        Action:
                                                                                                        @if (CheckInWorker.Status == 0)
                                                                                                        {<div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@CheckInWorker.Id" class="small blue ui button accept-btn">
                                                                                                                        Accept
                                                                                                                    </button>
                                                                                                                    <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button decline-btn">
                                                                                                                        Decline
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>}
                                                                                                        else if (@CheckInWorker.Status == 1)
                                                                                                        {
                                                                                                            <div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button  cancel-btn">
                                                                                                                        Cancel
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }
                                                                                                        else
                                                                                                        {<label>Decline/Confirmed-Cancel</label>}
                                                                                                    </div>
                                                                                                    @if (CheckInWorker.StartDate.Date == DateTime.Now.Date && @CheckInWorker.Status == 1)
                                                                                                    {
                                                                                                        <div class="onday-@CheckInWorker.Id">
                                                                                                            Today Status
                                                                                                            @if (@CheckInWorker.InDayStatus == 0)
                                                                                                            {<div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button  otw-btn">
                                                                                                                            On the way
                                                                                                                        </button>
                                                                                                                        <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            }
                                                                                                            else if (@CheckInWorker.InDayStatus == 1)
                                                                                                            { <label>On the way</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@CheckInWorker.InDayStatus == 2)
                                                                                                            {<label>Started</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckInWorker.Id" class="small ui button finish-btn">
                                                                                                                            Finish
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@CheckInWorker.InDayStatus == 3)
                                                                                                            { <label>Complete</label>}

                                                                                                        </div>
                                                                                                    }
                                                                                                    <hr>
                                                                                                </div>

                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div>No Worker Assigned</div>
                                                                                        }
                                                                                    </div>
                                                                                    <br />
                                                                                    <div class="task-story-container" data-thread-id="@item.Inquiry.ThreadId" data-label='travel-events' style='cursor: pointer;'>
                                                                                        <label class="task-story-label">Trip Events</label>
                                                                                        @{
                                                                                            if (item.TravelEvents != null && item.TravelEvents.Any())
                                                                                            {
                                                                                                var firstTravelEvent = item.TravelEvents.FirstOrDefault();
                                                                                                <div>
                                                                                                    <div>
                                                                                                        @foreach (var eventItem in item.TravelEvents)
                                                                                                        {
                                                                                                            var travelEvent = eventItem;

                                                                                                            if (travelEvent != firstTravelEvent)
                                                                                                            {
                                                                                                                <br />
                                                                                                            }

                                                                                                            if (travelEvent.NoteType == (int)NoteType.FLIGHT_ARRIVAL)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="plane icon"></i> Flight Arrival @@ @travelEvent.ArrivalDateTime
                                                                                                                    <br />
                                                                                                                    @travelEvent.AirportCodeDeparture -> @travelEvent.AirportCodeArrival
                                                                                                                    <br />
                                                                                                                    @travelEvent.Airline
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.FLIGHT_DEPARTURE)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="plane icon"></i> Flight Departure @@ @travelEvent.DepartureDateTime
                                                                                                                    <br />
                                                                                                                    @travelEvent.AirportCodeDeparture -> @travelEvent.AirportCodeArrival
                                                                                                                    <br />
                                                                                                                    @travelEvent.Airline
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.MEETING)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="key icon"></i> Arrival @@ @travelEvent.MeetingDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    @@ @travelEvent.MeetingPlace
                                                                                                                    <br />
                                                                                                                    Meeting Date Time: @travelEvent.MeetingDateTime
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.DRIVE_ARRIVAL)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="car icon"></i> Arrival @@ @travelEvent.ArrivalDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Car: @travelEvent.CarType @travelEvent.CarColor
                                                                                                                    <br />
                                                                                                                    Plate Number: @travelEvent.PlateNumber
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.DRIVE_DEPARTURE)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="car icon"></i> Departure @@ @travelEvent.DepartureDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Car: @travelEvent.CarType @travelEvent.CarColor
                                                                                                                    <br />
                                                                                                                    Plate Number: @travelEvent.PlateNumber
                                                                                                                    <br />
                                                                                                                    Departure City: @travelEvent.DepartureCity
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.CRUISE_ARRIVAL)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="ship icon"></i> Arrival @@ @travelEvent.ArrivalDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Arrival Port: @travelEvent.ArrivalPort
                                                                                                                    <br />
                                                                                                                    Cruise Name: @travelEvent.CruiseName
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.CRUISE_DEPARTURE)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="ship icon"></i> Departure @@ @travelEvent.DepartureDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Departure Port: @travelEvent.DeparturePort
                                                                                                                    <br />
                                                                                                                    Cruise Name: @travelEvent.CruiseName
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.TRAIN_ARRIVAL)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="train icon"></i> Arrival @@ @travelEvent.ArrivalDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Terminal Station: @travelEvent.TerminalStation
                                                                                                                    <br />
                                                                                                                    Train Name: @travelEvent.Name
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.TRAIN_DEPARTURE)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="train icon"></i> Departure @@ @travelEvent.DepartureDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Terminal Station: @travelEvent.TerminalStation
                                                                                                                    <br />
                                                                                                                    Train Name: @travelEvent.Name
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.BUS_ARRIVAL)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="bus icon"></i> Arrival @@ @travelEvent.ArrivalDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Terminal Station: @travelEvent.TerminalStation
                                                                                                                    <br />
                                                                                                                    Bus Name: @travelEvent.Name
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.BUS_DEPARTURE)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="bus icon"></i> Departure @@ @travelEvent.DepartureDateTime.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Terminal Station: @travelEvent.TerminalStation
                                                                                                                    <br />
                                                                                                                    Bus Name: @travelEvent.Name
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.CHECK_IN)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="clock icon"></i> Group Checkin @@ @travelEvent.Checkin.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Bus Name: @travelEvent.ContactPerson
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (travelEvent.NoteType == (int)NoteType.CHECK_OUT)
                                                                                                            {
                                                                                                                <div class="travel-event-item">
                                                                                                                    <i class="clock icon"></i> Group Checkin @@ @travelEvent.Checkout.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")
                                                                                                                    <br />
                                                                                                                    Bus Name: @travelEvent.ContactPerson
                                                                                                                </div>
                                                                                                            }
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <div>No Travel Events</div>
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    <br />
                                                                                    <div class="@(item.CheckOutWorkers.Count==0 ? "no-worker-turnover": "")" data-thread-id="@item.Inquiry.ThreadId" data-label="workers">
                                                                                        <label class="task-story-label">Departure Meeting</label>
                                                                                        @if (item.CheckOutWorkers.Count != 0)
                                                                                        {
                                                                                            foreach (var CheckOutWorker in item.CheckOutWorkers)
                                                                                            {<div class="worker @(CheckOutWorker.Status==2 ||@CheckOutWorker.Status==3?"decline-cancel-assignment":@CheckOutWorker.Status==0?"pending-assignment-worker":"")">
                                                                                                    <div>Worker Name : @CheckOutWorker.FirstName<span>&nbsp;</span>@CheckOutWorker.LastName</div>
                                                                                                    <div>Check-In Date: @CheckOutWorker.StartDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>Check-Out Date: @CheckOutWorker.EndDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>Worker Contact : @CheckOutWorker.Mobile</div>
                                                                                                    <div class="@CheckOutWorker.Id">
                                                                                                        Action:
                                                                                                        @if (@CheckOutWorker.Status == 0)
                                                                                                        {<div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small blue ui button accept-btn">
                                                                                                                        Accept
                                                                                                                    </button>
                                                                                                                    <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button decline-btn">
                                                                                                                        Decline
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>}
                                                                                                        else if (@CheckOutWorker.Status == 1)
                                                                                                        {
                                                                                                            <div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button  cancel-btn">
                                                                                                                        Cancel
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }
                                                                                                        else
                                                                                                        {<label>Decline/Confirmed-Cancel</label>}
                                                                                                    </div>
                                                                                                    @if (CheckOutWorker.StartDate.Date == DateTime.Now.Date && @CheckOutWorker.Status == 1)
                                                                                                    {
                                                                                                        <div class="onday-@CheckOutWorker.Id">
                                                                                                            Today Status
                                                                                                            @if (@CheckOutWorker.InDayStatus == 0)
                                                                                                            {<div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button  otw-btn">
                                                                                                                            On the way
                                                                                                                        </button>
                                                                                                                        <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            }
                                                                                                            else if (@CheckOutWorker.InDayStatus == 1)
                                                                                                            { <label>On the way</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@CheckOutWorker.InDayStatus == 2)
                                                                                                            {<label>Started</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@CheckOutWorker.Id" class="small ui button finish-btn">
                                                                                                                            Finish
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@CheckOutWorker.InDayStatus == 3)
                                                                                                            { <label>Complete</label>}

                                                                                                        </div>
                                                                                                    }
                                                                                                    <hr>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div>No Worker Assigned</div>
                                                                                        }
                                                                                    </div>
                                                                                    <br />
                                                                                    @*onclick="@(item.PostCheckOutTurnoverWorker == null ? "showTaskWorkerAssignmentModal(" + item.Inquiry.ReservationId + ",'" + item.Inquiry.CheckOutDate.Value.ToShortDateString() + "'," + (int)WorkerCategory.TURNOVER + "," + (int)WorkerAssignmentType.POST_CHECK_OUT + ");" : "")"*@
                                                                                    <div class="@(item.PostCheckOutTurnoverWorkers.Count == 0 ? "no-worker-turnover": "")" data-thread-id="@item.Inquiry.ThreadId" data-label="workers">
                                                                                        <label class="task-story-label">Departure Cleaner/s</label>
                                                                                        @if (item.PostCheckOutTurnoverWorkers.Count != 0)
                                                                                        {
                                                                                            foreach (var PostCheckOutTurnoverWorker in item.PostCheckOutTurnoverWorkers)
                                                                                            {<div class="worker @(PostCheckOutTurnoverWorker.Status==2 ||@PostCheckOutTurnoverWorker.Status==3?"decline-cancel-assignment":@PostCheckOutTurnoverWorker.Status==0?"pending-assignment-worker":"")">
                                                                                                    <div>Worker Name : @PostCheckOutTurnoverWorker.FirstName<span>&nbsp;</span> @PostCheckOutTurnoverWorker.LastName</div>
                                                                                                    <div>Start Date: @PostCheckOutTurnoverWorker.StartDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")</div>
                                                                                                    <div>End Date: @PostCheckOutTurnoverWorker.EndDate.ToDateTime().ToString("MMM dd, yyyy h:mmtt (dddd)")  </div>
                                                                                                    <div>Worker Contact : @PostCheckOutTurnoverWorker.Mobile</div>
                                                                                                    <div class="@PostCheckOutTurnoverWorker.Id">
                                                                                                        Action:
                                                                                                        @if (@PostCheckOutTurnoverWorker.Status == 0)
                                                                                                        {<div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small blue ui button accept-btn">
                                                                                                                        Accept
                                                                                                                    </button>
                                                                                                                    <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button decline-btn">
                                                                                                                        Decline
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>}
                                                                                                        else if (@PostCheckOutTurnoverWorker.Status == 1)
                                                                                                        {
                                                                                                            <div class="row message-send">
                                                                                                                <div class="sixteen wide column">
                                                                                                                    <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button  cancel-btn">
                                                                                                                        Cancel
                                                                                                                    </button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }
                                                                                                        else
                                                                                                        {<label>Decline/Confirmed-Cancel</label>}

                                                                                                    </div>
                                                                                                    @if (PostCheckOutTurnoverWorker.StartDate.Date == DateTime.Now.Date && @PostCheckOutTurnoverWorker.Status == 1)
                                                                                                    {
                                                                                                        <div class="onday-@PostCheckOutTurnoverWorker.Id">
                                                                                                            Today Status
                                                                                                            @if (@PostCheckOutTurnoverWorker.InDayStatus == 0)
                                                                                                            {<div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button  otw-btn">
                                                                                                                            On the way
                                                                                                                        </button>
                                                                                                                        <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            }
                                                                                                            else if (@PostCheckOutTurnoverWorker.InDayStatus == 1)
                                                                                                            { <label>On the way</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button start-btn">
                                                                                                                            Start
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@PostCheckOutTurnoverWorker.InDayStatus == 2)
                                                                                                            {<label>Started</label>
                                                                                                                <div class="row message-send">
                                                                                                                    <div class="sixteen wide column">
                                                                                                                        <button type="button" data-assignment-id="@PostCheckOutTurnoverWorker.Id" class="small ui button finish-btn">
                                                                                                                            Finish
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            }
                                                                                                            else if (@PostCheckOutTurnoverWorker.InDayStatus == 3)
                                                                                                            { <label>Complete</label>}

                                                                                                        </div>
                                                                                                    }
                                                                                                    <hr>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div>No Worker Assigned</div>
                                                                                        }
                                                                                    </div>
                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    @*END - Change by Danial - 7/2/2018*@
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="four wide column">
                                    <!--Start Confirmed assignment-->
                                    <div class="right floated column">
                                        <div class="ui fluid card">
                                            <div class="content dashboard-widget">
                                                <div class="header"></div>
                                            </div>
                                            <div class="dimmable">
                                                <div class="ui active inverted dimmer message-loader">
                                                    <div class="ui loader"></div>
                                                </div>
                                                <table id="inquiry-message-table" class="ui fixed single line table table-border-collapse margin-0">
                                                    <div class="dashboard-message-spacer">
                                                        <br /><br /><br />
                                                    </div>  
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Confirmed assignment-->
                                </div>

                            </div>
                        </div>
                    
                    <br>
                }
                <div style="float:left; padding-left:5px; display:none;" id="divCheck1">
                    Payout Amount
                </div>
                <div style="float:right; display:none;" id="divCheck">
                    <input type="checkbox" class="ui checkbox" id="chkBoxValid" />
                </div>
                <br />
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
                <br />
                <div style="float:right;" id="buttonclick">
                </div>

                <br /> <br /> <br />
                <div style="float:right; padding-left:5px; display:none;" id="divSecondCheck2">
                    Payout Amount
                </div>
                <div style="float:right; display:none;" id="divSecondCheck">
                    <input type="checkbox" class="ui checkbox" id="chkBoxValidForSecond" />
                </div>
                <br />
                <div id="chartSecondContainer" style="height: 300px; width: 100%;">
                </div>
                <br />
                <div style="float:right;" id="buttonclickForSecondGraph">
                </div>
                <br /><br /><br />
                <br /><br /><br />
            </div>
            <!-- End Homepage Content -->
        </div>

        <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
        <script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
        <!--End Airlock-->
        <script src="~/Content/moment/moment.min.js"></script>
        <script src="~/Scripts/moment-timezone.js"></script>
        <script src="~/Scripts/moment-timezone-with-data.js"></script>
        <script src="~/Scripts/moment-timezone-utils.js"></script>
        <script src="~/Scripts/moment-timezone-with-data-2012-2022.js"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>*@
        <script src="~/Content/semantic/dist/calendar.min.js"></script>
        @*<script src="~/Content/toaster/toastr.min.js"></script>*@
        <script src="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.js" type="text/javascript"></script>
        <script src="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.js" type="text/javascript"></script>
        <script src="~/Scripts/scripts.js" type="text/javascript"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>*@
        @*<script src="~/Scripts/toastrSettings.js"></script>*@
        @*<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
            <script src="~/SignalR/hubs"></script>
            <script src="~/Scripts/testOnly.js"></script>*@
        @{
            if (isLogin)
            {
                <script src="~/Scripts/booking-quick-actions.js"></script>
                <script src="~/Content/sweetalert/sweetalert.min.js"></script>
                @*<script src="~/Scripts/home.js" type="text/javascript"></script>*@
                <script src="~/Scripts/tasks.js" type="text/javascript"></script>
            }

        }
        @if (User.Identity.IsAuthenticated)
        {
            <script src="https://media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
            <script src="~/Scripts/twilio-handler.js"></script>
        }
</body>
</html>    