﻿<div class="ui tab segment active" data-tab="worker-messages-tab">
    <div class="ui column stackable grid divided message-panel">
        <div class="four wide column message-list">
            <div id="worker-inbox-list" data-active-thread-id="0" class="ui divided items"></div>
        </div>
        <div class="seven wide column">
            <div id="worker-dvConvo" class="conversation">
                <img src="~/Content/img/loader.gif" style="width:50% !important; height:150px !important; display:none;" id="worker-img_Loader" />
                <div id="worker-dv_Conversation">
                </div>
            </div>
                <br />
                <div class="ui form">
                    <div class="field">
                        <!--<div class="comment_box editable" id="txtMsgContent" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false">asdasdasd <i class="icon checked calendar"></i> sadas dasd</div>-->
                        <textarea class="comment_box" rows="3" id="txtMsgContentWorker" style="resize: none;"></textarea>
                    </div>
                    <div class="fields">
                        <button type="button" id="worker-add-image" class="tiny blue ui button">
                            Add MMS
                        </button>
                        <button type="button" id="worker-end-btn" class="tiny blue ui button">
                            End
                        </button>
                        <button type="button" id="worker-clear-btn" class="tiny blue ui button">
                            Clear
                        </button>
                        <button type="button" id="worker-send-btn" class="tiny blue ui button">
                            Send
                        </button>
                        <button type="button" id="worker-send-sms" class="tiny blue ui button">
                            Send SMS
                        </button>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui tiny images" style="width:auto;height:50px; overflow-y:auto;" id="mms-image-upload"></div>
                            <input type="file" id="mms-pic" accept='image/*' multiple hidden />
                        </div>
                    </div>
                </div>
        </div>
        <div class="five wide column reservation-list">
            <div class="content">
                <div>
                    <h4 class="ui header">Contact Info</h4>
                    <div class="ui form">
                        <div class="grouped fields" id="worker-contact-info"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!--Send SMS Modal-->
    <div class="ui modal send-sms-modal">
        <div class="header">Send Message</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Number</label>
                    <input name="phone-number">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea name="message"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui approve green button">Send</div>
        </div>
    </div>
    <!--End Send SMS Modal-->
</div>
<script src="~/Scripts/worker-messager.js"></script>