﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon dollar"></i>
        <div class="content">
            Income
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="income-tab">Income</div>
                    <div class="item" data-tab="income-type-tab">Setting</div>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="income-tab">Income</div>
            <div class="item" data-tab="income-type-tab">Setting</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->

                <div class="ui tab segment active" data-tab="income-tab">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <select class="ui dropdown" multiple name="property-filter" id="property-filter">
                                    <option value="all">All</option>
                                    @{
                                        foreach (var item in ViewBag.PropertyListForFilter)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="property-hidden-ids" value="0" />
                            </div>
                            <div class="field">
                                <div class="ui calendar month">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input id="month-year-filter" name="month-year-filter" type="text" placeholder="Due Date" />
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui calendar month">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input id="payment-date-filter" name="payment-date-filter" type="text" placeholder="Payment Date" />
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" id="isIncludeChild" checked>
                                    <label>Include Child</label>
                                </div>
                                <button id="filter-btn" class="ui tiny blue button">
                                    Filter
                                </button>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <button id="js-btn_create-new-income" class="ui tiny blue button">Add Income</button>
                            </div>
                            <div class="field">
                                <button id="generate-income-btn" class="ui tiny  blue button">
                                    Generate Income
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <table id="income-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Site Type</th>
                                <th>Booking Code</th>
                                <th>Property Name</th>
                                <th>Guest Name</th>
                                <th>Amount</th>
                                <th>Receivables</th>
                                <th>Balance</th>
                                <th>Payment Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="income-type-tab">
                    <button id="create-income-type-btn" class="ui tiny blue button">
                        Create Income Type
                    </button>
                    <br />
                    <br />
                    <table id="income-type-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal" id="income-type-modal" income-type-id="0">
        <i class="close icon"></i>
        <div class="header">
            Income Type
        </div>
        <div class="content">
            <!-- Start Income TypeForm -->
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="Income Type" id="income-type-name" name="income-type-name">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <select class="ui dropdown" id="companyTermId">
                            <option value="0" selected="">Shared</option>
                            <option value="1">Long Term</option>
                            <option value="2">Short Term</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End Income Type Form -->
        </div>
        <div class="actions">
            <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
            <button id="income-type-save" type="button" class="ui blue right labeled icon button">Save</button>
        </div>
    </div>

    <div id="income-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Income
        </div>
        <div class="content">
            <div class="ui form">
                <input type="hidden" id="income-id" name="income-id">
                <div class="fields">
                    <div class="five wide field">
                        <label>Select Property</label>
                        @Html.DropDownList("PropertyId", ViewBag.PropertyList as SelectList, "Select Property", new { @id = "PropertyId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Income Type</label>
                        @Html.DropDownList("IncomeTypeId", ViewBag.IncomeTypeList as SelectList, "Select Income Type", new { @id = "IncomeTypeId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Description</label>
                        <textarea id="Description" name="Description" rows="5" required></textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input id="Amount" name="Amount" type="text" placeholder="Amount" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Due Date</label>
                        <div class="ui calendar income">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="DueDate" name="DueDate" type="text" placeholder="Due Date" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Status</label>
                        <select id="Status" name="Status" class="ui search dropdown">
                            <option value="">Select Status</option>
                            <option value="1">New</option>
                            <option value="2">Paid</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="one width field">
                        <input type="file" id="income-proof-files" multiple />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui grid" id="income-proof-files-upload"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="ui red deny button" data-dismiss="modal">Cancel</button>
            <div id="income-save-btn" class="ui green right labeled icon button">Save<i class="checkmark icon"></i></div>
        </div>
    </div>
    <div class="ui mini modal" id="summary-modal">
        <i class="close icon"></i>
        <div class="header">Summary</div>
        <div class="content">

        </div>
    </div>
    <!-- Start Income Payment Modal -->
    <div class="ui small modal income-payment-modal">
        <i class="close icon"></i>
        <div class="header">
            Income Payment
        </div>
        <div class="content">
            <!-- Start Income Payment Form -->
            <div class="ui form">
                <input type="hidden" id="payment-income-id">
                <div class="fields">
                    <div class="six wide field">
                        <label>Amount</label>
                        <input type="text" placeholder="Enter Amount" id="income-payment-amount" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="income-payment-description" name="description-name" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field">
                        <label>Date</label>
                        <div class="ui calendar dateInputField">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" class="form-control" id="income-payment-date" required placeholder="Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <input type="file" id="income-payment-proof-files" multiple />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui grid" id="income-payment-proof-files-upload"></div>
                    </div>
                </div>
            </div>

            <div class="fields">
                <div class="six wide field ui tag labels floated">
                    <label>Income Amount:</label><div class="ui label income-amount "></div><label>Remaining Balance:</label><div class="ui label remaining-balance"></div>
                </div>
            </div>
            <table class="display responsive payment-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount Paid</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <!-- End Income Payment Form -->
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="income-payment-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Income Payment Modal -->
</div>
<script src="~/Scripts/income.js" type="text/javascript"></script>
