body{ font-family:'Times New Roman'; font-size:1em; }
p {padding:0;margin-top:0pt;margin-right:0;margin-bottom:8pt;margin-left:0;}
ul, ol{ margin-top: 0; margin-bottom: 0; }
.Normal{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:8pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:11pt;font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-PH;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Heading-2{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:18pt;font-family:'Times New Roman';mso-fareast-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';mso-fareast-language:EN-PH;font-weight:bold;}
.Heading-3{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:13.5pt;font-family:'Times New Roman';mso-fareast-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';mso-fareast-language:EN-PH;font-weight:bold;}
.Default-Paragraph-Font{font-size:11pt;font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-PH;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Normal-Table{}
.Heading-2-Char{font-size:18pt;font-family:'Times New Roman';mso-fareast-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';mso-fareast-language:EN-PH;font-weight:bold;}
.Heading-3-Char{font-size:13.5pt;font-family:'Times New Roman';mso-fareast-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';mso-fareast-language:EN-PH;font-weight:bold;}
.8tbpu3{font-size:11pt;font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-PH;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Hyperlink{color:#0000FF;font-size:11pt;font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-PH;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;text-decoration: underline;}
