body{ font-family:'Times New Roman'; font-size:1em; }
p {padding:0;margin-top:0pt;margin-right:0;margin-bottom:10pt;margin-left:0;}
ul, ol{ margin-top: 0; margin-bottom: 0; }
.Normal{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Default-Paragraph-Font{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Normal-Table{}
.Heading-1-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:24pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#3B608D;font-size:14pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-2-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#4F81BD;font-size:13pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-3-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-4-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;font-style:italic;}
.Heading-5-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#27405E;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Heading-6-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#27405E;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Heading-7-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#3F3F3F;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Heading-8-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#3F3F3F;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Heading-9-PHPDOCX{page-break-inside:avoid;page-break-after:avoid;page-break-before:auto;margin-top:10pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#3F3F3F;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.annotation-reference-PHPDOCX{font-size:8pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.annotation-text-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Comment-Text-Char-PHPDOCX{font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.annotation-subject-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;}
.Comment-Subject-Char-PHPDOCX{font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;}
.Balloon-Text-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:8pt;font-family:Tahoma;mso-bidi-font-family:Tahoma;}
.Balloon-Text-Char-PHPDOCX{font-size:8pt;font-family:Tahoma;mso-bidi-font-family:Tahoma;}
.footnote-Text-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.footnote-text-Car-PHPDOCX{font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.footnote-Reference-PHPDOCX{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;vertical-align:super;font-size:0.46em;}
.endnote-Text-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.endnote-text-Car-PHPDOCX{font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.endnote-Reference-PHPDOCX{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;vertical-align:super;font-size:0.46em;}
.Default-Paragraph-Font-PHPDOCX{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Heading-1-Car-PHPDOCX{color:#3B608D;font-size:14pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-2-Car-PHPDOCX{color:#4F81BD;font-size:13pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-3-Car-PHPDOCX{color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;}
.Heading-4-Car-PHPDOCX{color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-weight:bold;font-style:italic;}
.Heading-5-Car-PHPDOCX{color:#27405E;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Heading-6-Car-PHPDOCX{color:#27405E;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Heading-7-Car-PHPDOCX{color:#3F3F3F;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Title-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:15pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-color:#4F81BD;border-bottom-style:solid;border-bottom-width:1.33px;padding-bottom:4pt;letter-spacing:0.25pt;color:#17365D;font-size:26pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Title-Car-PHPDOCX{letter-spacing:0.25pt;color:#17365D;font-size:26pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Subtitle-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;letter-spacing:0.75pt;color:#4F81BD;font-size:12pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Subtitle-Car-PHPDOCX{letter-spacing:0.75pt;color:#4F81BD;font-size:12pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Subtle-Emphasis-PHPDOCX{color:#7F7F7F;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
.Emphasis-PHPDOCX{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
.Intense-Emphasis-PHPDOCX{color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;font-style:italic;}
.Strong-PHPDOCX{font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;}
.Quote-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#000000;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
.Quote-Car-PHPDOCX{color:#000000;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
.Intense-Quote-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:10pt;margin-bottom:14pt;margin-left:46.8pt;text-indent:0pt;margin-right:46.8pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-color:#4F81BD;border-bottom-style:solid;border-bottom-width:0.67px;padding-bottom:4pt;color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;font-style:italic;}
.Intense-Quote-Car-PHPDOCX{color:#4F81BD;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;font-style:italic;}
.Subtle-Reference-PHPDOCX{color:#C0504D;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-variant:small-caps;text-decoration: underline;}
.Intense-Reference-PHPDOCX{letter-spacing:0.25pt;color:#C0504D;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;font-variant:small-caps;text-decoration: underline;}
.Book-Title-PHPDOCX{letter-spacing:0.25pt;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-weight:bold;font-variant:small-caps;}
.List-Paragraph-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:10pt;margin-left:36pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.No-Spacing-PHPDOCX{page-break-inside:auto;page-break-after:auto;page-break-before:auto;line-height:1;margin-top:0pt;margin-bottom:0pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;font-size:11pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;}
.Heading-8-Car-PHPDOCX{color:#3F3F3F;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';}
.Heading-9-Car-PHPDOCX{color:#3F3F3F;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-style:italic;}
.Normal-Table-PHPDOCX{}
.Plain-Table-PHPDOCX{}
.Table-Grid-PHPDOCX{}
.Light-Shading-PHPDOCX{}
.Light-Shading-Accent-1-PHPDOCX{}
.Light-Shading-Accent-2-PHPDOCX{}
.Light-Shading-Accent-3-PHPDOCX{}
.Light-Shading-Accent-4-PHPDOCX{}
.Light-Shading-Accent-5-PHPDOCX{}
.Light-List-PHPDOCX{}
.Light-List-Accent-1-PHPDOCX{}
.Light-List-Accent-2-PHPDOCX{}
.Light-List-Accent-3-PHPDOCX{}
.Light-List-Accent-4-PHPDOCX{}
.Light-List-Accent-5-PHPDOCX{}
.Light-List-Accent-6-PHPDOCX{}
.Light-Grid-PHPDOCX{}
.Light-Grid-1-PHPDOCX{}
.Light-Grid-2-PHPDOCX{}
.Light-Grid-3-PHPDOCX{}
.Light-Grid-4-PHPDOCX{}
.Light-Grid-5-PHPDOCX{}
.Light-Grid-6-PHPDOCX{}
.Medium-Shading-1-PHPDOCX{}
.Medium-Shading-1-Accent-1-PHPDOCX{}
.Medium-Shading-1-Accent-2-PHPDOCX{}
.Medium-Shading-1-Accent-3-PHPDOCX{}
.Medium-Shading-1-Accent-4-PHPDOCX{}
.Medium-Shading-1-Accent-5-PHPDOCX{}
.Medium-Shading-1-Accent-6-PHPDOCX{}
.Medium-Shading-2-PHPDOCX{}
.Medium-Shading-2-Accent-1-PHPDOCX{}
.Medium-Shading-2-Accent-2-PHPDOCX{}
.Medium-Shading-2-Accent-3-PHPDOCX{}
.Medium-Shading-2-Accent-4-PHPDOCX{}
.Medium-Shading-2-Accent-5-PHPDOCX{}
.Medium-Shading-2-Accent-6-PHPDOCX{}
.Medium-List-1-PHPDOCX{}
.Medium-List-1-Accent-1-PHPDOCX{}
.Medium-List-1-Accent-2-PHPDOCX{}
.Medium-List-1-Accent-3-PHPDOCX{}
.Medium-List-1-Accent-4-PHPDOCX{}
.Medium-List-1-Accent-5-PHPDOCX{}
.Medium-List-1-Accent-6-PHPDOCX{}
.Medium-List-2-PHPDOCX{}
.Medium-List-2-Accent-1-PHPDOCX{}
.Medium-List-2-Accent-2-PHPDOCX{}
.Medium-List-2-Accent-3-PHPDOCX{}
.Medium-List-2-Accent-4-PHPDOCX{}
.Medium-List-2-Accent-5-PHPDOCX{}
.Medium-List-2-Accent-6-PHPDOCX{}
.Medium-Grid-1-PHPDOCX{}
.Medium-Grid-1-Accent-1-PHPDOCX{}
.Medium-Grid-1-Accent-2-PHPDOCX{}
.Medium-Grid-1-Accent-3-PHPDOCX{}
.Medium-Grid-1-Accent-4-PHPDOCX{}
.Medium-Grid-1-Accent-5-PHPDOCX{}
.Medium-Grid-1-Accent-6-PHPDOCX{}
.Medium-Grid-2-PHPDOCX{}
.Medium-Grid-2-Accent-1-PHPDOCX{}
.Medium-Grid-2-Accent-2-PHPDOCX{}
.Medium-Grid-2-Accent-3-PHPDOCX{}
.Medium-Grid-2-Accent-4-PHPDOCX{}
.Medium-Grid-2-Accent-5-PHPDOCX{}
.Medium-Grid-2-Accent-6-PHPDOCX{}
.Medium-Grid-3-PHPDOCX{}
.Medium-Grid-3-Accent-1-PHPDOCX{}
.Medium-Grid-3-Accent-2-PHPDOCX{}
.Medium-Grid-3-Accent-3-PHPDOCX{}
.Medium-Grid-3-Accent-5-PHPDOCX{}
.Medium-Grid-3-Accent-4-PHPDOCX{}
.Medium-Grid-3-Accent-6-PHPDOCX{}
.Dark-List-PHPDOCX{}
.Dark-List-Accent-1-PHPDOCX{}
.Dark-List-Accent-2-PHPDOCX{}
.Dark-List-Accent-3-PHPDOCX{}
.Dark-List-Accent-4-PHPDOCX{}
.Dark-List-Accent-5-PHPDOCX{}
.Dark-List-Accent-6-PHPDOCX{}
.Colorful-Shading-PHPDOCX{}
.Colorful-Shading-Accent-1-PHPDOCX{}
.Colorful-Shading-Accent-2-PHPDOCX{}
.Colorful-Shading-Accent-3-PHPDOCX{}
.Colorful-Shading-Accent-4-PHPDOCX{}
.Colorful-Shading-Accent-5-PHPDOCX{}
.Colorful-Shading-Accent-6-PHPDOCX{}
.Colorful-List-PHPDOCX{}
.Colorful-List-Accent-1-PHPDOCX{}
.Colorful-List-Accent-2-PHPDOCX{}
.Colorful-List-Accent-3-PHPDOCX{}
.Colorful-List-Accent-4-PHPDOCX{}
.Colorful-List-Accent-5-PHPDOCX{}
.Colorful-List-Accent-6-PHPDOCX{}
.Colorful-Grid-PHPDOCX{}
.Colorful-Grid-Accent-1-PHPDOCX{}
.Colorful-Grid-Accent-2-PHPDOCX{}
.Colorful-Grid-Accent-3-PHPDOCX{}
.Colorful-Grid-Accent-4-PHPDOCX{}
.Colorful-Grid-Accent-5-PHPDOCX{}
.Colorful-Grid-Accent-6-PHPDOCX{}
.MyFooter{page-break-inside:auto;page-break-after:auto;page-break-before:auto;margin-top:0pt;margin-bottom:10pt;margin-left:0pt;text-indent:0pt;border-top-style: none;border-left-style: none;border-right-style: none;border-bottom-style: none;color:#808080;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
.MyFooterCar{color:#808080;font-size:10pt;font-family:Helvetica;mso-fareast-font-family:宋体;mso-bidi-font-family:Arial;lang:EN-US;mso-fareast-language:EN-US;mso-ansi-language:AR-SA;font-style:italic;}
