﻿<div class="ui tab segment" data-tab="tab-email-accounts">
    @*<button class="ui tiny blue button add-email">Add Email</button>*@
    <button class="ui tiny blue button add-gmail">Add Gmail</button>
    <table id="email-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!--Edit Document Template-->
<div id="email-account-modal" email-id="0" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Email Account
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <input type="text" placeholder="Email" id="user-email">
            </div>
            <div class="field">
                <input type="password" placeholder="Password" id="email-password">
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="email-account-save" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>
<!--Edit Document Template-->
<script src="~/Scripts/email.js"></script>
