﻿<div class="ui report commission">
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <div class="ui calendar month">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="CommissionSelectDate" type="text" placeholder="Start Date" />
                    </div>
                </div>
            </div>
            <div class="field">
                <select multiple="" class="ui multiple search selection dropdown" name="property-filter" id="CommissionSelectProperty">
                    <option value="">Select Property</option>
                    @{
                        foreach (var item in ViewBag.Properties)
                        {
                           
                                <option value="@item.ListingId">@item.Name</option>
                           
                        }
                    }
                    @*<option value="yaletown-park">Yaletown Park</option>
                        <option value="firenze">Firenze</option>
                        <option value="false-creekside">False Creekside</option>
                        <option value="chinatown-one">Chinatown One</option>
                        <option value="woodrose-manor">Woodrose Manor</option>
                        <option value="the-citadel">The Citadel</option>
                        <option value="one-granville">One Granville</option>
                        <option value="tv-towers">TV Towers</option>*@
                </select>
            </div>
            <div class="field">
                <button class="ui primary button js-btn_tabulate-commission">
                    Go
                </button>
            </div>
        </div>
    </div>
    @*<div id="CommissionAccordionWrapper" class="ui styled fluid accordion accordion-report CommissionDashboardMargin">
        </div>*@
    <!--Commission Report Dashbard-->
    <table class="ui celled blue table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Commission Type</th>
                <th>Unit</th>
                <th>Basis</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="CommissionTableRecords">
            <tr id="CommissionEmptyRecord" style="text-align: center;">
                <td colspan="5">
                    No Records Available
                </td>
            </tr>
        </tbody>
        @*<tfoot>
                <tr>
                    <th colspan="13">
                        <div class="ui right floated pagination menu">
                            <a class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item">1</a>
                            <a class="item">2</a>
                            <a class="item">3</a>
                            <a class="item">4</a>
                            <a class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>*@
    </table>
    <br />
    <br />
</div>
