﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon line chart"></i>
        <div class="content">
            Reports
        </div>
    </h1>
    <!-- Start Reports Navigation -->
    <div class="ui one column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Select A Report Type</div>
                </div>
                <div class="content">
                    <div class="field">
                        <select class="ui dropdown" id="report-type">
                            <option value="">Select Report</option>
                            <option value="js-show-report-income-expense">Profit and Lost</option>
                            <option value="js-show-report-cash-flow">Cashflow</option>
                            @*<option value="js-show-report-forecasting">Forecasting</option>
                            <option value="js-show-report-roi-summary">Lifetime Performance</option>
                            <option value="js-show-report-income">Income</option>
                            <option value="js-show-report-commission">Commision</option>*@
                        </select>
                    </div>
                    @*<div class="ui stackable five column grid">
                        <div class="column">
                            <div class="ui fluid red card">
                                <div class="content">
                                    <a class="header js-show-report-forecasting">
                                        <i class="icon bar chart"></i>
                                        Forecasting
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid orange card">
                                <div class="content">
                                    <a class="header js-show-report-income-expense">
                                        <i class="icon credit card alternative"></i>
                                        Income Expense
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid yellow card">
                                <div class="content">
                                    <a class="header js-show-report-roi-summary">
                                        <i class="icon thumbs outline up"></i>
                                        Lifetime Performance
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid green card">
                                <div class="content">
                                    <a class="header js-show-report-income">
                                        <i class="icon dollar"></i>
                                        Income
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid blue card">
                                <div class="content">
                                    <a class="header js-show-report-cash-flow">
                                        <i class="icon university"></i>
                                        Cash Flow
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid violet card">
                                <div class="content">
                                    <a class="header js-show-report-commission">
                                        <i class="icon dollar"></i>
                                        Commission
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- End Reports Navigation -->
    <!-- Start Reports Tables -->
    <div class="report-wrapper">
        <!-- Start Forecasting Table -->
        <div class="ui report forecasting">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <select class="ui dropdown">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.Properties)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" />
                            </div>
                        </div>
                    </div>
                    <span>To</span>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="End Date" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button">Go</button>
                    </div>
                </div>
            </div>

            <div class="ui styled fluid accordion accordion-report">
            </div>
        </div>
        <!-- End Forecasting Table -->
        <!-- Start Income Expense Table -->
        <div class="ui report income-expense">
            <!-- Start Form -->
            <div class="ui form">
                <div class="fields">
                    <div @(Enumerable.Count(ViewBag.IncomeExpenseSaveCriteria)>0?"":"hidden") class="field">
                        <select id="incomeExpenseSaveCriteria" class="ui dropdown">
                            <option value="">Select save criteria</option>
                            @{
                                foreach (var item in ViewBag.IncomeExpenseSaveCriteria)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <select id="incomeExpenseSelectProperty" multiple class="ui dropdown">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.Properties)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" id="incomeExpenseSelectDateFrom" />
                            </div>
                        </div>
                    </div>
                    <span>To</span>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="End Date" id="incomeExpenseSelectDateTo" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="income-expense-include-child">
                            <label>Include Unit</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="chkIsPaidOnly">
                            <label>Paid Only</label>
                        </div>
                    </div>
                    @*<div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="income-expense-check-by-month">
                            <label>By Month</label>
                        </div>
                    </div>*@
                    <div class="field">
                        <select class="ui dropdown" id="income-expense-report-type">
                            <option selected value="0">By Property</option>
                            <option value="1">By Month</option>
                        </select>
                    </div>

                    <div class="field">
                        <button class="ui tiny blue button" onclick="loadSearchResultAccordion();">Search</button>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button" id="save-income-expense-criteria">Save Search</button>
                    </div>
                </div>
            </div>
            <div id="incomeExpenseMainAccordion" class="ui styled fluid accordion accordion-report incomeExpenseDashboardMargin">
            </div>
            <!-- End Form -->
        </div>
        <!-- End Income Expense Table -->
        <!-- Start Lifetime Performance Table -->
        <div class="ui report roi-summary">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button">Go</button>
                    </div>
                </div>
            </div>
            <h2>Total Profit/Loss: 0.00</h2>
            <table class="ui celled blue table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Profit/Loss</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!-- Start Property Profit Loss -->
            <table class="ui celled blue table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Property</th>
                        <th>Profit/Loss</th>
                        <th>ROI Month?</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!-- End Property Profit Loss -->
        </div>
        <!-- End Lifetime Performance Table -->
        <!-- Start Income Table -->
        <div class="ui report income">
            <div class="ui statistics">
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Income</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Expenses</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Refund</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Operating Net Profit</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Startup Refund</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Startup Expenses</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Startup Cost</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Expenses (including Startup Expense)</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Refund (including Startup Refund)</div>
                </div>
                <div class="statistic">
                    <div class="text value">0</div>
                    <div class="label">Total Net Profit</div>
                </div>
            </div>
            <br>
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <select class="ui dropdown">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.Properties)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" />
                            </div>
                        </div>
                    </div>
                    <span>To</span>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="End Date" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button">Go</button>
                    </div>
                </div>
            </div>
            <table class="ui celled blue table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Property</th>
                        <th>Profit/Loss</th>
                        <th>ROI Month?</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- End Income Table -->
        <!-- Start Cash Flow Table -->
        <div class="ui report cash-flow">
            <div class="ui form">
                <div class="fields">
                    <div @(Enumerable.Count(ViewBag.CashflowSaveCriteria)>0?"":"hidden") class="field">
                        <select id="cashflowSaveCriteria" class="ui search selection dropdown">
                            <option value="">Select save criteria</option>
                            @{
                                foreach (var item in ViewBag.CashflowSaveCriteria)
                                {
                                    <option value=@item.Id>@item.Name<></option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <select multiple class="ui dropdown" id="ddlCashFlowPropertyType">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.Properties)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" id="cashFlowStartDate" />
                            </div>
                        </div>
                    </div>
                    <span>To</span>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="End Date" id="cashFlowEndDate" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <select class="ui dropdown" id="cashflow-report-by">
                            <option selected value="0">By Property</option>
                            <option value="1">By Month</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="cashflow-include-child">
                            <label>Include Unit</label>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button" onclick="populateSelectedPropertyResult()">Search</button>
                    </div>
                    <div class="field">
                        <button class="ui tiny blue button" id="save-cashflow-criteria">Save Search</button>
                    </div>
                </div>
            </div>
            <div class="ui statistics">
                <div class="statistic">
                    <div class="text value" id="cashFlowFullTotalIncome">0.00</div>
                    <div class="label">Total Income</div>
                </div>
                <div class="statistic">
                    <div class="text value" id="cashFlowFullTotalExpense">0.00</div>
                    <div class="label">Total Expense</div>
                </div>
                @*<div class="statistic">
                    <div class="text value" id="cashFlowFullTotalSharedExpense">0.00</div>
                    <div class="label">Shared Expense</div>
                </div>*@
                <div class="statistic">
                    <div class="text value" id="cashFlowFullTotalNettCashFlow">0.00</div>
                    <div class="label">Total Net-Cash-Flow</div>
                </div>
            </div>
            <br />
            <div id="cashFlowMainAccordion" class="ui styled fluid accordion accordion-report cashFlowDashboardMargin">
            </div>
        </div>
        <!-- End Cash Flow Table -->
        @*CommissionTable*@
        @Html.Partial("_CommissionReport")
        @*End of CommissionTable*@
    </div>

    <div class="ui mini modal" id="summary-modal">
        <i class="close icon"></i>
        <div class="header">Summary</div>
        <div class="content">

        </div>
    </div>
</div>

<script src="~/Scripts/reports.js" type="text/javascript"></script>
