﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    bool isLogin = User.Identity.IsAuthenticated;
    string propertyListForSelect = "<option value=\"\">Select Property</option>";
    string workerJobTypeListForSelect = "<option value=\"0\">Select Job Type</option>";
    if (isLogin)
    {
        foreach (var property in ViewBag.PropertyList)
        {
            if (!property.IsLocallyCreated && property.ListingId != 0)
            {
                propertyListForSelect += ("<option value=" + property.ListingId + ">" + property.Name + "</option>");
            }
        }
        foreach (var jobType in ViewBag.WorkerJobTypes)
        {
            workerJobTypeListForSelect += ("<option value=" + jobType.Id + ">" + jobType.Name + "</option>");
        }
        <meta name=property_list_for_select content="@propertyListForSelect">
        <meta name=job_type_list_for_select content="@workerJobTypeListForSelect">
    }
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon book"></i>
        <div class="content">
            Booking Schedule
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="tab-booking">Booking</div>
                    <div class="item" data-tab="tab-contract">Contract</div>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="tab-booking">Booking</div>
            <div class="item" data-tab="tab-contract">Contract</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->
                <div class="ui tab segment active" data-tab="tab-booking">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>Filter by Booking Date</label>
                                <div id="month-year-filter-calendar" class="ui calendar month">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input id="month-year-filter" name="month-year-filter" type="text" placeholder="Select Month" />
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Filter by Check In Date</label>
                                <div id="check-in-date-filter-calendar" class="ui calendar month">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input id="check-in-date-filter" name="check-in-date-filter" type="text" placeholder="Select Date" />
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Filter by Property</label>
                                <select class="ui search dropdown" name="property-filter" id="property-filter">
                                    <option value=0>All</option>
                                    @{
                                        foreach (var item in ViewBag.PropertyList)
                                        {

                                            if (item.IsParentProperty)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ListingId">@item.Name</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                            <div class="field">
                                <label>Filter by Status</label>
                                <select class="ui search dropdown" id="status-filter">
                                    <option value="all">All</option>
                                    <option value="A">Confirmed</option>
                                    <option value="B">Booking</option>
                                    <option value="BC">Booking Cancelled</option>
                                    <option value="C">Confirmed Cancelled</option>
                                    <option value="I">Inquiry</option>
                                    <option value="IC">Inquiry Cancelled</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <button class="ui tiny blue blue button" id="clear-filter-btn">
                                    Clear Filter
                                </button>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <button class="ui tiny blue button js-btn_create-new-booking">Add Booking</button>
                            </div>
                        </div>
                    </div>
                    <table id="booking-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Site</th>
                                <th>Guest</th>
                                <th>Inquiry Date</th>
                                <th>Booking Date</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Booking Amount</th>
                                <th>Payout Amount</th>
                                <th>Status</th>
                                <th>Payments</th>
                                <th>Balance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="tab-contract">
                    <div class="ui tabular menu">
                        <div class="item active" data-tab="tab-upcomming">Upcomming Booking</div>
                        <div class="item" data-tab="tab-template">Template</div>
                    </div>
                    <div class="ui tab active" data-tab="tab-upcomming">
                        <table id="upcomming-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Property Name</th>
                                    <th>Site</th>
                                    <th>Guest</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="ui tab" data-tab="tab-template">
                        <button class="ui tiny blue button blue create-contract">Create Contract Template</button>
                        <table id="contract-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Document</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start New Booking Modal -->
    <div class="ui modal create-new-booking-modal">
        <i class="close icon"></i>
        <div class="header">Booking</div>
        <div class="content">
            <div id="booking-form" class="ui form">
                <input type="hidden" name="bookingId" />
                <div class="fields site-type-field">
                    <div class="eight wide field">
                        <label>Site Type</label>
                        @Html.DropDownList("siteType", ViewBag.SiteTypeList as SelectList, "Select", new { @id = "SiteType", @class = "ui search dropdown selection" })
                        <div class="error_message">Select Site Type</div>
                    </div>
                </div>
                <div class="fields confirmation-code-field" style="display: none">
                    <div class="eight wide field">
                        <label>Confirmation Code</label>
                        <input type="text" name="confirmationCode">
                        <div class="error_message">Enter Confirmation Code</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest name</label>
                        <input type="text" name="guestName" placeholder="Guest Name">
                        <div id="errrorGuestName" class="error_message">Enter Guest Name</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest count</label>
                        <input type="text" name="guestCount" placeholder="Guest Count">
                        <div id="errrorGuestCount" class="error_message">Enter Guest Count</div>
                        <div id="errrorGuestCountNumaric" class="error_message">Enter Numeric Value</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Select Property</label>
                        @*@Html.DropDownList("propertyId", ViewBag.property as SelectList, "Select", new { @class = "ui search dropdown selection" })*@
                        <select name="propertyId">
                            <option class="placeholder" selected disabled value="">Select property</option>
                            @*@{
                                    foreach (var item in ViewBag.properties)
                                    {
                                        if (item.ParentPropertyId == 0)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                }*@
                        </select>
                        <div id="errrorproperty" class="error_message">Select Property</div>
                    </div>
                </div>
                <h5>Stay</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkInDate" placeholder="Booked Check In Date" />
                            </div>
                        </div>
                        <div id="errrorcheckindate" class="error_message">Select Check In Date</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkOutDate" placeholder="Booked Check Out Date" />
                            </div>
                        </div>
                        <div id="errrorcheckoutdate" class="error_message">Select Check Out Date</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkInTime" placeholder="Booked Check In Time" />
                            </div>
                        </div>
                        <div id="errrorcheckintime" class="error_message">Select Check In Time</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkOutTime" placeholder="Booked Check Out Time" />
                            </div>
                        </div>
                        <div id="errrorcheckouttime" class="error_message">Select Check Out Time</div>
                    </div>
                </div>
                <h5>Price</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="inquiryPrice" onkeyup="calculate()" placeholder="Inquiry Price" />
                    </div>
                    <div id="errrorinquiryprice" class="error_message">Enter Inquiry Price</div>
                    <div id="errrorinquirypricenumeric" class="error_message">Enter a Valid Inquiry Price</div>
                </div>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <button class="ui icon button add_fee_button" data-tooltip="Add fees">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="fee-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <br>
                <h5>Payout</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="payoutAmount" placeholder="Payout Amount" />
                        <div id="errrorpayoutamt" class="error_message">Enter Payout Amount</div>
                        <div id="errrorpayoutamtnumeric" class="error_message">Enter a valid Payout Amount</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="payoutDate" placeholder="Payout Date" />
                            </div>
                        </div>
                        <div id="errrorpayoutdate" class="error_message">Select Payout Date</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <button class="ui  icon button add_tax_button" data-tooltip="Add tax">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="tax-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <input type="text" name="netRevenue" placeholder="Net Revenue" />
                    </div>
                </div>
                <h5>Booking Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="bookingDate" placeholder="Booking Date" />
                            </div>
                        </div>
                        <div id="errrorbookeddate" class="error_message">Select Booking Date</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="bookingTime" placeholder="Booking Time" />
                            </div>
                        </div>
                        <div id="errrorbookedtime" class="error_message">Select Booking Time</div>
                    </div>
                </div>
                <h5>Inquiry Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="inquiryDate" placeholder="Inquiry Date" />
                            </div>
                        </div>
                        <div id="errrorInquirydate" class="error_message">Enter Inquiry Date</div>
                    </div>
                </div>
                <div class="four wide field">
                    <div class="ui calendar time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="inquiryTime" placeholder="Inquiry Time" />
                        </div>
                    </div>
                    <div id="errrorqinquirytime" class="error_message">Select Inquiry Time</div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Status</label>
                        <input type="hidden" name="feeTypeDropdownOptions">
                        @Html.DropDownList("bookingStatus", ViewBag.FeeType as IEnumerable<SelectListItem>, "Select", new { @class = "ui search dropdown" })
                        <div id="errrorstatus" class="error_message">Select Status</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <button id="submitNewBookingBtn" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui savebooking right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
    <!-- End New Booking Modal -->
    <!--------------------------------Airbnb Booking------------------------------------------>
    <div id="edit-airbnb-booking-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Edit Booking
        </div>
        <div class="content">
            <!-- Start New Booking Form -->
            <div class="ui form">
                <input id="airbnb-booking-id" type="hidden" />
                <input id="airbnb-property-id" type="hidden" />
                <input id="airbnb-fee-options" type="hidden" />
                <div id="confirmation-code-field-old" class="fields">
                    <div class="eight wide field">
                        <label>Confirmation Code</label>
                        <input type="text" readonly="" id="airbnb-confirmation-code">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest name</label>
                        <input type="text" readonly="" id="airbnb-guest-name" placeholder="Guest Name">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest count</label>
                        <input type="text" readonly="" id="airbnb-guest-count" placeholder="Guest Count">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Nights</label>
                        <input type="text" readonly="" id="airbnb-nights" placeholder="Nights">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Property Name</label>
                        <input type="text" readonly="" id="airbnb-property-name" placeholder="Property Name">
                    </div>
                </div>
                <h5>Stay</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" readonly="" id="airbnb-check-in-date" placeholder="Booked Check In Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" readonly="" id="airbnb-check-out-date" placeholder="Booked Check Out Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="airbnb-check-in-time" placeholder="Booked Check In Time" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="airbnb-check-out-time" placeholder="Booked Check Out Time" />
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Reservation Cost</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" readonly="" id="airbnb-reservation-cost" placeholder="Reservation Cost" />
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="airbnb-fee-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <br>
                <h5>Payout</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" readonly="" id="airbnb-payout-amount" placeholder="Payout Amount" />
                    </div>
                </div>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <button class="ui  icon button airbnb_add_tax_button" data-tooltip="Add tax">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="airbnb-tax-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <input type="text" readonly="" id="airbnb-net-revenue" placeholder="Net Revenue" />
                    </div>
                </div>
                <h5>Booked</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" readonly="" id="airbnb-booked-date" placeholder="Booked Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Inquiry Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" readonly="" id="airbnb-inquiry-date" placeholder="Inquiry Date" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End New Booking Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <button id="save-airbnb-booking" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
    <!--------------------------------Airbnb Booking------------------------------------------>
    <!--Edit Document Template-->
    <div id="document-template-modal" document-id="0" class="ui longer modal">
        <i class="close icon"></i>
        <div class="header">
            Contract Template
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Property</label>
                    <select class="ui dropdown" name="property" id="template-property">
                        @{
                            <option value="0">Default</option>
                            foreach (var item in ViewBag.PropertyList)
                            {

                                if (item.IsParentProperty)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.ListingId">@item.Name</option>
                                }

                            }
                        }
                    </select>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Upload Template</label>
                        <input type="file" id="template-upload" multiple />
                    </div>
                </div>
                <div class="ui horizontal divider">
                    Or
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Document</label>
                        <input autocomplete="off" type="text" id="document-name" placeholder="Document Name" required />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Variables</label>
                        <select id="modal-template-variable" class="ui search dropdown">
                            <option value="">Select Variable</option>
                            <option value="[Guest]">Guest</option>
                            <option value="[Property Address]">Property Address</option>
                            <option value="[Checkin Date]">Check in Date</option>
                            <option value="[Checkout Date]">Check out Date</option>
                            <option value="[Confirmation Code]">Confirmation Code</option>
                            <option value="[Guest Count]">Guest Count</option>
                            <option value="[Signature]">Signature</option>
                            <option value="[Credit Card Number]">Card Number</option>
                            <option value="[Expiry]">Expiry</option>
                            <option value="[CVV]">CVV</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                </div>
            </div>
            <textarea id="paragraph">
                        </textarea>
        </div>
        <div class="actions">
            <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
            <div id="contract-document-template-save" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
        </div>
    </div>
    <!--Edit Document Template
           <!--Edit Document Template-->
    <div id="uploaded-document-modal" document-id="0" class="ui longer modal">
        <i class="close icon"></i>
        <div class="header">
            Contract
        </div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="ten wide field">
                        <label>Email</label>
                        <input id="guest-email" type="text">
                    </div>
                </div>
            </div>
            <textarea id="document-content">
            </textarea>
        </div>
        <div class="actions">
            <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
            <div id="contract-save-send" class="ui blue right labeled icon button">Send<i class="checkmark icon"></i></div>
        </div>
    </div>
    <!--Edit Document Template-->
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.min.css" rel="stylesheet" />*@
@*<script src="https://cdn.tiny.cloud/1/51iu87xzansh3c1016cjb0duuxdk5pfznvpzqziu2qq7o62e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@

<script src="~/Scripts/booking-quick-actions.js"></script>
<script src="~/Scripts/booking.js" type="text/javascript"></script>
<script src="~/Content/niceEdit/nicEdit.js"></script>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
        //]]>
</script>
