﻿
@model Booking.com.Models.SendPaymentDetails
@{
    ViewBag.Title = "Payment Square";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css">

    <style>
        /* Define how SqPaymentForm iframes should look */
        .sq-input {
            border: 1px solid rgb(223, 223, 223);
            outline-offset: -2px;
            margin-bottom: 5px;
            display: inline-block;
        }

        /* Define how SqPaymentForm iframes should look when they have focus */
        .sq-input--focus {
            outline: 5px auto rgb(59, 153, 252);
        }

        /* Define how SqPaymentForm iframes should look when they contain invalid values */
        .sq-input--error {
            outline: 5px auto rgb(255, 97, 97);
        }

        /* Customize the "Pay with Credit Card" button */
        .button-credit-card {
            min-width: 200px;
            min-height: 20px;
            padding: 0;
            margin: 5px;
            line-height: 20px;
            box-shadow: 2px 2px 1px rgb(200, 200, 200);
            background: rgb(255, 255, 255);
            border-radius: 5px;
            border: 1px solid rgb(200, 200, 200);
            font-weight: bold;
            cursor: pointer;
        }


        /* Customize the "{{Wallet}} not enabled" message */
        .wallet-not-enabled {
            min-width: 200px;
            min-height: 40px;
            max-height: 64px;
            padding: 0;
            margin: 10px;
            line-height: 40px;
            background: #eee;
            border-radius: 5px;
            font-weight: lighter;
            font-style: italic;
            font-family: inherit;
            display: block;
        }

        /* Customize the Apple Pay on the Web button */
        .button-apple-pay {
            min-width: 200px;
            min-height: 40px;
            max-height: 64px;
            padding: 0;
            margin: 10px;
            background-image: -webkit-named-image(apple-pay-logo-white);
            background-color: black;
            background-size: 100% 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 5px;
            cursor: pointer;
            display: none;
        }

        /* Customize the Masterpass button */
        .button-masterpass {
            min-width: 200px;
            min-height: 40px;
            max-height: 40px;
            padding: 0;
            margin: 10px;
            background-image: url(https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg);
            background-color: black;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 5px;
            border-color: rgb(255, 255, 255);
            cursor: pointer;
            display: none;
        }

        #sq-walletbox {
            float: left;
            margin: 5px;
            padding: 10px;
            text-align: center;
            vertical-align: top;
            font-weight: bold;
        }

        #sq-ccbox {
            float: left;
            margin: 5px;
            padding: 10px;
            text-align: center;
            vertical-align: top;
            font-weight: bold;
        }

    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="width: 50% !important; margin: 1% auto">
        <div class="login-logo">
            <a href="#"><b>POC</b></a>
        </div>
        <div class="login-box-body">
            <div class="creditCardForm">
                <div class="heading text-center">
                    <h1>Reservation Payment via Square</h1>
                    <h3>Reservation No.: @Model.ConfirmationCode</h3>
                    <h3>Amount Due: @Model.AmountDue</h3>
                </div>
                <div class="payment">



                    <div id="sq-ccbox">
                        <input type="hidden" id="square-application-id" value="@Core.API.Booking.com.Hosts.ConfigurationKeys.SquareApplicationId" />
                        <input type="hidden" id="square-location-id" value="@Core.API.Booking.com.Hosts.ConfigurationKeys.SquareLocationId" />
                        <!--
                        You should replace the action attribute of the form with the path of
                        the URL you want to POST the nonce to (for example, "/process-card")
                        -->
                        @using (Html.BeginForm("PaymentSquare", "Booking", FormMethod.Post, new { id = "nonce-form" }))
                        {
                            @Html.HiddenFor(model => model.ReservationId)
                            @Html.HiddenFor(model => model.ConfirmationCode)
                            @Html.HiddenFor(model => model.PaymentHistoryId)
                            @Html.HiddenFor(model => model.CheckIn)
                            @Html.HiddenFor(model => model.CheckOut)
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CreditCardNonce, new { @id = "card-nonce" })
                            @Html.HiddenFor(model => model.AmountDue)

                            <div>
                                Pay with a Credit Card
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Card Number:</td>
                                            <td>
                                                <div id="sq-card-number" name="CreditCardNo"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CVV:</td>
                                            <td>
                                                <div id="sq-cvv" name="Ccv"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Expiration Date: </td>
                                            <td>
                                                <div id="sq-expiration-date" name="Expiry"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Postal Code:</td>
                                            <td><div id="sq-postal-code"></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button id="sq-creditcard" class="btn btn-primary" onclick="requestCardNonce(event)">
                                                    Pay with card
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                    <div id="sq-walletbox" style="display: none">
                        Pay with a Digital Wallet
                        <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                        <!-- Placeholder for Apple Pay for Web button -->
                        <button id="sq-apple-pay" class="button-apple-pay"></button>

                        <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                        <!-- Placeholder for Masterpass button -->
                        <button id="sq-masterpass" class="button-masterpass"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/jquery.payform.min.js" charset="utf-8"></script>
    <script src="~/Scripts/script.js"></script>

    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
    </script>
    <script src="~/Scripts/sqpaymentform.js"></script>
    <script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
    });
    </script>
</body>
</html>

