﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    <meta name="initial_thread_id" content="@ViewBag.ThreadId">
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon envelope outline"></i>
        <div class="content">
            Messages
        </div>
    </h1>
    <div class="ui grid">
        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    @if (!ViewBag.IsUserWorker)
                    {
                        if (!Core.Helper.Company.CompanyType.IsLongTerm())
                        {<div class="item active" data-tab="messages-tab">Messages Inbox</div>
                            <div class="item" data-tab="message-rules-tab">Message Rules</div>
                        }
                        else
                        {
                            <div class="item active" data-tab="renter-messages-tab">Messages Inbox</div>
                        }

                        <div class="item" data-tab="unknown-tab">Manage Calls</div>
                        <div class="item" data-tab="buy-twilio-number-tab">Our Contact Numbers</div>
                        <div class="item" data-tab="tab-email-accounts">Email Accounts</div>
                        <div class="item" data-tab="tab-notices">Notices</div>
                    }
                    else
                    {
                        <a class="item @(ViewBag.IsUserWorker ? "active" : "")" data-tab="worker-messages-tab">Worker Message</a>
                    }
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            @if (!ViewBag.IsUserWorker)
            {
                if (!Core.Helper.Company.CompanyType.IsLongTerm())
                {<div class="item active" data-tab="messages-tab">Messages Inbox</div>
                    <div class="item" data-tab="message-rules-tab">Message Rules</div>
                }
                else
                {
                    <div class="item active" data-tab="renter-messages-tab">Messages Inbox</div>
                }

                <div class="item" data-tab="unknown-tab">Manage Calls</div>
                <div class="item" data-tab="buy-twilio-number-tab">Our Contact Numbers</div>
                <div class="item" data-tab="tab-email-accounts">Email Accounts</div>
                <div class="item" data-tab="tab-notices">Notices</div>
            }
            else
            {
                <a class="item @(ViewBag.IsUserWorker ? "active" : "")" data-tab="worker-messages-tab">Worker Message</a>
            }
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->
                @if (!ViewBag.IsUserWorker)
                {
                    if (!Core.Helper.Company.CompanyType.IsLongTerm())
                    {
                        @Html.Partial("../Messages/ShortTermMessagesPartialView", "")
                    }
                    else
                    {
                        @Html.Partial("../Rentals/RentalMessagePartialView", "")
                    }
                    <!--Notice->
               @Html.Partial("../Notice/NoticePartialView")
        <!--Notice End-->


                    @*Star Email*@
                    @Html.Partial("../Email/EmailPartialView")

                    @*End Email*@

                    <!--Send SMS Modal-->
                    <div class="ui modal send-sms-modal">
                        <div class="header">Send Message</div>
                        <div class="content">
                            <div class="ui form">
                                <div class="field">
                                    <label>Number</label>
                                    <input name="phone-number">
                                </div>
                                <div class="field">
                                    <label>Message</label>
                                    <textarea name="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui cancel button">Cancel</div>
                            <div class="ui approve green button">Send</div>
                        </div>
                    </div>
                    <!--End Send SMS Modal-->
                    <div class="ui tab segment" data-tab="unknown-tab">

                        <!--Message SMS Tab-->
                        <div>
                            <h1 class="ui header">
                                <i class="icon envelope"></i>
                                <div class="content">Uknown Number</div>
                            </h1>
                            <div>
                                <button id="refresh-sms-btn" class="ui tiny blue button">Refresh</button>
                                <br />
                                <div class="ui form manual-form">
                                    <div class="inline fields">
                                        <div class="field">
                                            <label>Phone Number</label>
                                            <input type="tel" autocomplete="tel" name="phone-number" placeholder="Enter Phone Number">
                                        </div>
                                        <button class="ui green button manual-call">Call</button>
                                        <button class="ui blue button manual-sms">SMS</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button id="delete-all-selected-unknown-btn" class="ui tiny blue button">Delete Unknown Number</button>
                            <table id="message-sms-table" class="display responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><div class="ui checkbox"><input class="select-all-unknown-number" type="checkbox"><label>Select All</label></div></th>
                                        <th>Phone Number</th>
                                        <th>Message</th>
                                        <th>Datetime</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!--End Message SMS Tab-->
                        <!-- Start Blocked Phone Number Tab-->
                        <div>
                            <h1 class="ui header">
                                <i class="icon window close"></i>
                                <div class="content">Blocked Phone Number</div>
                            </h1>
                            <div>
                                <button class="ui tiny blue button refresh">Refresh</button>
                                <br />
                                <div class="ui form block-phone-number-form">
                                    <div class="inline fields">
                                        <div class="field">
                                            <label>Phone Number</label>
                                            <input type="tel" autocomplete="tel" name="phone-number" placeholder="Enter Phone Number">
                                        </div>
                                        <button class="ui tiny blue button block">Block</button>
                                    </div>
                                </div>
                                <br />
                                <table id="blocked-phone-number-table" class="display responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Blocked Phone Number Tab-->
                    </div>
                    <!-- Start Blocked Phone Number Tab-->
                    <!-- End Blocked Phone Number Tab-->
                    <!-- Start Buy Phone Number Tab-->
                    <div class="ui tab segment buy-twilio-phone-number" data-tab="buy-twilio-number-tab">
                        <h1 class="ui header">
                            <i class="icon phone"></i>
                            <div class="content">Our Numbers</div>
                        </h1>
                        <div>
                            <button class="ui tiny blue button refresh">Refresh</button>
                        </div>
                        <br />
                        <table id="twilio-number-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Forwarding Number</th>
                                    <th>Friendly Name</th>
                                    <th>Call Length (second/s)</th>
                                    <th>Voicemail Message</th>
                                    <th>Call Forwarding Message</th>
                                    <th>Capabilities</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <h1 class="ui header">
                            <i class="icon phone"></i>
                            <div class="content">Buy a Number</div>
                        </h1>
                        <div>
                            <div class="ui form">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>Country</label>
                                        <div class="ui dropdown countries fluid search selection">
                                            <input id="country" type="hidden">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select Country</div>
                                            <div class="menu">
                                                <div class="item" data-value="US"><i class="us flag"></i>United States (+1)</div>
                                                <div class="item" data-value="DZ"><i class="dz flag"></i>Algeria (+213)</div>
                                                <div class="item" data-value="AR"><i class="ar flag"></i>Argentina (+54)</div>
                                                <div class="item" data-value="AU"><i class="au flag"></i>Australia (+61)</div>
                                                <div class="item" data-value="AT"><i class="at flag"></i>Austria (+43)</div>
                                                <div class="item" data-value="BB"><i class="bb flag"></i>Barbados (+1)</div>
                                                <div class="item" data-value="BY"><i class="by flag"></i>Belarus (+375)</div>
                                                <div class="item" data-value="BE"><i class="be flag"></i>Belgium (+32)</div>
                                                <div class="item" data-value="BJ"><i class="bj flag"></i>Benin (+229)</div>
                                                <div class="item" data-value="BO"><i class="bo flag"></i>Bolivia (+591)</div>
                                                <div class="item" data-value="BA"><i class="ba flag"></i>Bosnia and Herzegovina (+387)</div>
                                                <div class="item" data-value="BW"><i class="bw flag"></i>Botswana (+267)</div>
                                                <div class="item" data-value="BR"><i class="br flag"></i>Brazil (+55)</div>
                                                <div class="item" data-value="BG"><i class="bg flag"></i>Bulgaria (+359)</div>
                                                <div class="item" data-value="CA"><i class="ca flag"></i>Canada (+1)</div>
                                                <div class="item" data-value="KY"><i class="ky flag"></i>Cayman Islands (+1345)</div>
                                                <div class="item" data-value="CL"><i class="cl flag"></i>Chile (+56)</div>
                                                <div class="item" data-value="CO"><i class="co flag"></i>Colombia (+57)</div>
                                                <div class="item" data-value="HR"><i class="hr flag"></i>Croatia (+385)</div>
                                                <div class="item" data-value="CY"><i class="cy flag"></i>Cyprus (+357)</div>
                                                <div class="item" data-value="CZ"><i class="cz flag"></i>Czech Republic (+420)</div>
                                                <div class="item" data-value="DK"><i class="dk flag"></i>Denmark (+45)</div>
                                                <div class="item" data-value="DO"><i class="do flag"></i>Dominican Republic (+1829)</div>
                                                <div class="item" data-value="EC"><i class="ec flag"></i>Ecuador (+593)</div>
                                                <div class="item" data-value="SV"><i class="sv flag"></i>El Salvador (+503)</div>
                                                <div class="item" data-value="EE"><i class="ee flag"></i>Estonia (+372)</div>
                                                <div class="item" data-value="FI"><i class="fi flag"></i>Finland (+358)</div>v
                                                <div class="item" data-value="FR"><i class="fr flag"></i>France (+33)</div>
                                                <div class="item" data-value="GE"><i class="ge flag"></i>Georgia (+995)</div>
                                                <div class="item" data-value="DE"><i class="de flag"></i>Germany (+49)</div>
                                                <div class="item" data-value="GH"><i class="gh flag"></i>Ghana (+233)</div>
                                                <div class="item" data-value="GR"><i class="gr flag"></i>Greece (+30)</div>
                                                <div class="item" data-value="GD"><i class="gd flag"></i>Grenada (+1473)</div>
                                                <div class="item" data-value="GT"><i class="gt flag"></i>Guatemala (+502)</div>
                                                <div class="item" data-value="GN"><i class="gn flag"></i>Guinea (+224)</div>
                                                <div class="item" data-value="HK"><i class="hk flag"></i>Hong Kong (+852)</div>
                                                <div class="item" data-value="HU"><i class="hu flag"></i>Hungary (+36)</div>
                                                <div class="item" data-value="IS"><i class="is flag"></i>Iceland (+354)</div>
                                                <div class="item" data-value="IN"><i class="in flag"></i>India (+91)</div>
                                                <div class="item" data-value="ID"><i class="id flag"></i>Indonesia (+62)</div>
                                                <div class="item" data-value="IE"><i class="ie flag"></i>Ireland (+353)</div>
                                                <div class="item" data-value="IL"><i class="il flag"></i>Israel (+972)</div>
                                                <div class="item" data-value="IT"><i class="it flag"></i>Italy (+39)</div>
                                                <div class="item" data-value="JM"><i class="jm flag"></i>Jamaica (+1876)</div>
                                                <div class="item" data-value="JP"><i class="jp flag"></i>Japan (+81)</div>
                                                <div class="item" data-value="KE"><i class="ke flag"></i>Kenya (+254)</div>
                                                <div class="item" data-value="KR"><i class="kr flag"></i>Korea Republic of (+82)</div>
                                                <div class="item" data-value="LV"><i class="lv flag"></i>Latvia (+371)</div>
                                                <div class="item" data-value="LT"><i class="lt flag"></i>Lithuania (+370)</div>
                                                <div class="item" data-value="LU"><i class="lu flag"></i>Luxembourg (+352)</div>
                                                <div class="item" data-value="MO"><i class="mo flag"></i>Macau (+853)</div>
                                                <div class="item" data-value="MY"><i class="my flag"></i>Malaysia (+60)</div>
                                                <div class="item" data-value="ML"><i class="ml flag"></i>Mali (+223)</div>
                                                <div class="item" data-value="MT"><i class="mt flag"></i>Malta (+356)</div>
                                                <div class="item" data-value="MU"><i class="mu flag"></i>Mauritius (+230)</div>
                                                <div class="item" data-value="MX"><i class="mx flag"></i>Mexico (+52)</div>
                                                <div class="item" data-value="NA"><i class="na flag"></i>Namibia (+264)</div>
                                                <div class="item" data-value="NL"><i class="nl flag"></i>Netherlands (+31)</div>
                                                <div class="item" data-value="NZ"><i class="nz flag"></i>New Zealand (+64)</div>
                                                <div class="item" data-value="NO"><i class="no flag"></i>Norway (+47)</div>
                                                <div class="item" data-value="PA"><i class="pa flag"></i>Panama (+507)</div>
                                                <div class="item" data-value="PE"><i class="pe flag"></i>Peru (+51)</div>
                                                <div class="item" data-value="PH"><i class="ph flag"></i>Philippines (+63)</div>
                                                <div class="item" data-value="PL"><i class="pl flag"></i>Poland (+48)</div>
                                                <div class="item" data-value="PT"><i class="pt flag"></i>Portugal (+351)</div>
                                                <div class="item" data-value="PR"><i class="pr flag"></i>Puerto Rico (+1)</div>
                                                <div class="item" data-value="RO"><i class="ro flag"></i>Romania (+40)</div>
                                                <div class="item" data-value="RS"><i class="rs flag"></i>Serbia (+381)</div>
                                                <div class="item" data-value="SG"><i class="sg flag"></i>Singapore (+65)</div>
                                                <div class="item" data-value="SK"><i class="sk flag"></i>Slovakia (+421)</div>
                                                <div class="item" data-value="SI"><i class="si flag"></i>Slovenia (+386)</div>
                                                <div class="item" data-value="ZA"><i class="za flag"></i>South Africa (+27)</div>
                                                <div class="item" data-value="ES"><i class="es flag"></i>Spain (+34)</div>
                                                <div class="item" data-value="SD"><i class="sd flag"></i>Sudan (+249)</div>
                                                <div class="item" data-value="SE"><i class="se flag"></i>Sweden (+46)</div>
                                                <div class="item" data-value="CH"><i class="ch flag"></i>Switzerland (+41)</div>
                                                <div class="item" data-value="TW"><i class="tw flag"></i>Taiwan (+886)</div>
                                                <div class="item" data-value="TZ"><i class="tz flag"></i>Tanzania (+255)</div>
                                                <div class="item" data-value="TH"><i class="th flag"></i>Thailand (+66)</div>
                                                <div class="item" data-value="TT"><i class="tt flag"></i>Trinidad and Tobago (+1868)</div>
                                                <div class="item" data-value="TN"><i class="tn flag"></i>Tunisia (+216)</div>
                                                <div class="item" data-value="UG"><i class="ug flag"></i>Uganda (+256)</div>
                                                <div class="item" data-value="AE"><i class="ae flag"></i>United Arab Emirates (+971)</div>
                                                <div class="item" data-value="GB"><i class="gb flag"></i>United Kingdom (+44)</div>
                                                <div class="item" data-value="VE"><i class="ve flag"></i>Venezuela (+58)</div>
                                                <div class="item" data-value="VN"><i class="vn flag"></i>Vietnam (+84)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <label>Number</label>
                                        <input type="tel" name="number" placeholder="Search by digits">
                                        <small class="helper">Use * to match any character. Use % to match 0, 1, or more characters.</small>
                                    </div>
                                    <div class="four wide field">
                                        <label>Capabilities</label>
                                        <div class="inline fields capabilities">
                                            @*<div class="ui radio checkbox" style="padding: 10px">
                                        <input type="radio" name="any-capabilities" checked  tabindex="0" class="hidden">
                                        <label>Any</label>
                                    </div>
                                    <div>|</div>*@
                                            <div class="ui checkbox" style="padding: 10px">
                                                <input type="checkbox" name="voice-enabled" tabindex="0" class="hidden">
                                                <label>Voice</label>
                                            </div>
                                            <div class="ui checkbox" style="padding: 10px">
                                                <input type="checkbox" name="sms-enabled" tabindex="0" class="hidden">
                                                <label>SMS</label>
                                            </div>
                                            <div class="ui checkbox" style="padding: 10px">
                                                <input type="checkbox" name="mms-enabled" tabindex="0" class="hidden">
                                                <label>MMS</label>
                                            </div>
                                            @*<div class="ui checkbox" style="padding: 10px">
                                        <input type="checkbox" name="fax-enabled" tabindex="0" class="hidden">
                                        <label>Fax</label>
                                    </div>*@
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <label>Type</label>
                                        <div class="inline fields type">
                                            <div class="ui radio checkbox" style="padding: 10px">
                                                <input type="radio" name="type" value="local" tabindex="0" class="hidden" checked="checked">
                                                <label>Local</label>
                                            </div>
                                            <div class="ui radio checkbox" style="padding: 10px">
                                                <input type="radio" name="type" value="tf" tabindex="0" class="hidden">
                                                <label>Toll-Free</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="ui tiny blue button search">Search</button>
                            <br />
                            <table id="buy-twilio-number-table" class="display responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Type</th>
                                        <th>Call</th>
                                        <th>SMS</th>
                                        <th>MMS</th>
                                        <th>Price</th>
                                        @*<th>Fax</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- End Buy Phone Number Tab-->
                        <!--Start Assign SMS Phone Number Modal-->
                        <div id="sms-assign-phone-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Assign to</div>
                            <div class="content">
                                <div id="sms-assign-phone-form" class="ui form">
                                    <div class="fields">
                                        <div class="twelve wide field">
                                            <label>Guest</label>
                                            <div class="ui search selection dropdown">
                                                <input id="guest" type="hidden">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Select Guest</div>
                                                <div class="menu">
                                                    <div class="item" data-value="0">
                                                        Select Guest
                                                    </div>
                                                    @{
                                                        @*foreach (var item in ViewBag.Guests)
                                                {
                                                    <div class="item" data-value="@item.Id">
                                                        <img class="ui avatar image" src="@item.ProfilePictureUrl">
                                                        @item.Name
                                                    </div>
                                                }*@
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="fields">
                                        <div class="twelve wide field">
                                            <label>Renter</label>
                                            <select id="renter" class="ui search dropdown">
                                                <option value="0">Select Renter</option>
                                                @{
                                                    foreach (var item in ViewBag.Renters)
                                                    {
                                                        <option value="@item.Id">
                                                            @(item.Firstname +" "+item.Lastname)
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui approve blue button">Assign</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Assign SMS Phone Number Modal-->
                        <!--Start Message Rule Modal-->
                        <div id="message-rule-modal" class="ui modal">
                            <i class="close icon"></i>
                            <div class="header">Message Rules</div>
                            <div class="content">
                                <div id="message-rule-form" class="ui form">
                                    <input type="hidden" name="message-rule-id" value="0">
                                    <div class="fields">
                                        <div class="five wide field">
                                            <label>Property</label>
                                            <select class="ui search dropdown" name="property">
                                                <option value="">Select property</option>
                                                @{
                                                    foreach (var item in ViewBag.Properties)
                                                    {

                                                        <option value="@item.Id">@item.Name</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="five wide field">
                                            <label>Event Type</label>
                                            <select class="ui dropdown" name="event-type">
                                                <option value="">Select event type</option>
                                                <option value="1">First Message</option>
                                                <option value="2">Before Check-in</option>
                                                <option value="3">After Check-in</option>
                                                <option value="4">Before Check-Out</option>
                                                <option value="5">After Check-Out</option>
                                                <option value="6">Upon Inquiry</option>
                                                <option value="7">Upon Confirmed Reservation</option>
                                                <option value="8">Upon Cancellation</option>
                                                <option value="9">Upon Alteration</option>
                                                <option value="10">Pre-Approval</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="five wide field">
                                            <label>Template</label>
                                            <select class="ui search dropdown" name="template">
                                                <option value="">Select Template</option>
                                                @{
                                                    foreach (var item in ViewBag.TemplateList)
                                                    {
                                                        <option value="@item.Id">@item.Title</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div id="number-of-days-field" class="fields">
                                        <div class="field">
                                            <label>Number of days</label>
                                            <input type="text" name="days">
                                        </div>
                                    </div>
                                    <div class="ui toggle checkbox"><input type="checkbox" name="send-to-sms"><label>SMS</label></div>
                                    <div class="ui toggle checkbox"><input type="checkbox" name="send-to-site"><label>Airbnb/Vrbo/Homeaway</label></div>
                                    <div class="ui toggle checkbox"><input type="checkbox" name="send-to-email"><label>Email</label></div>
                                    <div class="ui toggle checkbox"><input type="checkbox" name="is-active"><label>Active</label></div>
                                    <div id="new-template-wrapper">
                                        <br />
                                        <div class="fields">
                                            <div class="field">
                                                <label>Title</label>
                                                <input type="text" name="template-title">
                                            </div>
                                            <div class="three wide field">
                                                <label>Variable</label>
                                                <select name="template-variable" class="ui search dropdown">
                                                    @*<option value="">Select Variable</option>
                                            <option value="1">GuestName</option>
                                            <option value="2">GuestEmail</option>
                                            <option value="3">GuestPhone</option>
                                            <option value="4">Check-In</option>
                                            <option value="5">Check-Out</option>
                                            <option value="6">ConfirmationCode</option>
                                            <option value="7">NoOfGuest</option>
                                            <option value="8">ListingName</option>
                                            <option value="9">ListingAddress</option>
                                            <option value="10">CleaningFee</option>
                                            <option value="11">Subtotal</option>
                                            <option value="12">YouEarn</option>*@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="eight wide field">
                                            <label>Message</label>
                                            <textarea rows="6" name="template-message" placeholder="Type your mesage.."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
                                <button type="button" class="ui blue approve button">Save</button>
                            </div>
                        </div>
                        <!--End Message Rule Modal-->
                        <!--Start Decline Booking Modal-->
                        <div id="decline-booking-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Why are you declining this request ?</div>
                            <div class="content">
                                <div id="decline-reservation-form" class="ui form">
                                    <div class="field">
                                        <label>Tell guest why you can’t accommodate the reservation.</label>
                                        <textarea id="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui approve red button">Decline</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Decline Booking Modal-->
                        <!--Start Accept Booking Modal-->
                        <div id="accept-booking-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Accept this request</div>
                            <div class="content">
                                <div id="accept-reservation-form" class="ui form">
                                    <div class="field">
                                        <label>Type optional message to guest...</label>
                                        <textarea name="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui approve green button">Accept</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Accept Booking Modal-->
                        <!--Start Alter Booking Modal-->
                        <div id="alter-booking-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Alter Reservation</div>
                            <div class="content">
                                <div id="alter-booking-form" class="ui form">
                                    <div id="alter-success-message-wrapper" class="ui positive message">
                                        <div class="header"></div>
                                        <p></p>
                                    </div>
                                    <div id="alter-error-message-wrapper" class="ui negative message">
                                        <p></p>
                                    </div>
                                    <input type="hidden" name="reservationCode" />
                                    <div class="fields">
                                        <div class="eight wide field">
                                            <div class="field">
                                                <label>Property</label>
                                                <select class="ui fluid dropdown" name="propertyId">
                                                    <option value="">Select Property</option>
                                                    @{
                                                        foreach (var item in ViewBag.Properties)
                                                        {
                                                            if (item.ListingId != 0 && item.IsParentProperty == false)
                                                            {
                                                                <option value="@item.ListingId">@item.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="four wide field">
                                            <div class="field">
                                                <label>Guests</label>
                                                <select class="ui fluid dropdown" name="alterGuestCount">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        @*<div id="vrbo-adults-count-wrapper" class="four wide field">
                                    <div class="field">
                                        <label>Adults</label>
                                        <select class="ui fluid dropdown" name="adultCount">
                                            @{
                                                for (int i = 1; i <= 30; i++)
                                                {
                                                    <option value=@i>@i</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>*@
                                    </div>
                                    <div class="fields">
                                        <div id="" class="six wide field">
                                            <label>Check in</label>
                                            <div class="ui calendar" id="alter-checkIn">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="checkIn">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six wide field">
                                            <label>Check out</label>
                                            <div class="ui calendar" id="alter-checkOut">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="checkOut">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide field">
                                            <label>Subtotal</label>
                                            <div class="ui input">
                                                <input type="text" name="subtotal">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div id="booking-submit-alter-btn" class="ui blue button disabled">Submit</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Alter Booking Modal-->
                        @*Start ALter Booking VRBO*@
                        <div id="vrbo-alter-booking-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Alter Reservation</div>
                            <div class="content">
                                <div id="vrbo-alter-booking-form" class="ui form">
                                    <div id="vrbo-alter-success-message-wrapper" class="ui positive message">
                                        <div class="header"></div>
                                        <p></p>
                                    </div>
                                    <div id="vrbo-alter-error-message-wrapper" class="ui negative message">
                                        <p></p>
                                    </div>
                                    <input type="hidden" name="reservationCode" />
                                    <div class="fields">
                                        <div class="eight wide field">
                                            <div class="field">
                                                <label>Property</label>
                                                <select class="ui fluid dropdown" name="propertyId">
                                                    <option value="">Select Property</option>
                                                    @{
                                                        foreach (var item in ViewBag.Properties)
                                                        {
                                                            if (item.ListingId != 0 && item.IsParentProperty == false)
                                                            {
                                                                <option value="@item.ListingId">@item.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="four wide field">
                                            <div class="field">
                                                <label>Adult</label>
                                                <select class="ui fluid dropdown" name="alterAdultCount">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="vrbo-adults-count-wrapper" class="four wide field">
                                            <div class="field">
                                                <label>Children</label>
                                                <select class="ui fluid dropdown" name="alterChildrenCount">
                                                    @{
                                                        for (int i = 1; i <= 10; i++)
                                                        {
                                                            <option value=@i>@i</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div id="" class="six wide field">
                                            <label>Check in</label>
                                            <div class="ui calendar" id="vrbo-alter-checkIn">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="vrbo-checkIn">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six wide field">
                                            <label>Check out</label>
                                            <div class="ui calendar" id="vrbo-alter-checkOut">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="vrbo-checkOut">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide field">
                                            <label>Subtotal</label>
                                            <div class="ui input">
                                                <input type="text" name="subtotal">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div id="vrbo-booking-submit-alter-btn" class="ui blue button">Submit</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        @*End Alter Booking VRBO*@

                        <!--Start Special Offer Modal-->
                        <div id="special-offer-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Special Offer</div>
                            <div class="content">
                                <div id="special-offer-form" class="ui form">
                                    <div id="success-message-wrapper" class="ui positive message">
                                        <div class="header"></div>
                                        <p></p>
                                    </div>
                                    <div id="error-message-wrapper" class="ui negative message">
                                        <p></p>
                                    </div>
                                    <input type="hidden" name="reservationCode" />
                                    <div class="fields">
                                        <div class="eight wide field">
                                            <div class="field">
                                                <label>Property</label>
                                                <select class="ui fluid dropdown" name="propertyId">
                                                    <option value="">Select Property</option>
                                                    @{
                                                        foreach (var item in ViewBag.Properties)
                                                        {
                                                            if (item.ListingId != 0 && item.IsParentProperty == false)
                                                            {
                                                                <option value="@item.ListingId">@item.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="four wide field">
                                            <div class="field">
                                                <label>Guest Count</label>
                                                <select class="ui fluid dropdown" name="guestCount">
                                                    @{
                                                        for (int i = 1; i <= 30; i++)
                                                        {
                                                            <option value=@i>@i</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="six wide field">
                                            <label>Check in</label>
                                            <div id="special-offer-start-date" class="ui calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="startDate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six wide field">
                                            <label>Check out</label>
                                            <div id="special-offer-end-date" class="ui calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="endDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="special-offer-summary" class="ui attached segment">
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="six wide column">
                                                    <div class="field">
                                                        <label>Subtotal</label>
                                                        <div class="ui input">
                                                            <input type="text" name="subTotal">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ten wide column">
                                                    <br>
                                                    <p>Enter a subtotal that includes any cleaning or extra guest fees. This won’t include service fees or applicable taxes.</p>
                                                </div>
                                            </div>
                                            <div style="padding-top: 30px; padding-bottom: 30px; min-height: 100px" class="ui divider">
                                                <h5>You guest will pay : <span id="guest-amount-to-pay"></span></h5>
                                                <h5>You will earn : <span id="host-amount-to-earn"></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div id="submit-special-offer-btn" class="ui blue button disabled">Submit</div>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Special Offer Modal-->
                        <!--Start Template Message Modal-->
                        <div id="manage-template-message-modal" class="ui small modal">
                            <i class="close icon"></i>
                            <div class="header">Template Messages</div>
                            <div class="content">
                                <div id="template-list">
                                    <button id="add-template-btn" class="ui left floated tiny blue button">Add Template</button>
                                    <br /><br /><br />
                                    <table id="templates-table" style="width: 100% !important; margin: 0" class="ui fixed single celled blue line table">
                                        <thead>
                                            <tr>
                                                <th>Template Title</th>
                                                <th>Message</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div id="add-template-form">
                                    <div id="template-empty-error-message" class="ui negative message">
                                        <div class="header">
                                            Please fill all fields
                                        </div>
                                    </div>
                                    <div id="template-duplicate-error-message" class="ui negative message">
                                        <div class="header">
                                            Template name has already been added
                                        </div>
                                    </div>
                                    <div id="template-server-error-message" class="ui negative message">
                                        <div class="header">
                                            Something went wrong
                                        </div>
                                    </div>
                                    <div id="template-success-message" class="ui positive message">
                                        <div class="header">
                                            Template message has been saved.
                                        </div>
                                    </div>
                                    <div class="ui form">
                                        <input type="hidden" value=0 id="template-id" name="template-id" />
                                        <div class="field">
                                            <div class="two field">
                                                <label>Title</label>
                                                <input type="text" id="template-title" name="template-title">
                                            </div>
                                            <div class="two field">
                                                <label>Variables</label>
                                                <select id="modal-template-variable" class="ui search dropdown">
                                                    <option value="">Select Variable</option>
                                                    <option>[Lock Pin Code]</option>
                                                    <option>[Guest Name]</option>
                                                    <option>[Guest Count]</option>
                                                    <option>[Confirmation Code]</option>
                                                    <option>[Check In Date]</option>
                                                    <option>[Check Out Date]</option>
                                                    <option>[Listing Name]</option>
                                                    <option>[Listing Address]</option>
                                                    <option>[Cleaning Fee]</option>
                                                    <option>[Reservation Cost]</option>
                                                    <option>[SubTotal]</option>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Message</label>
                                            <!--<textarea rows="4" id="template-content" name="template-content" placeholder="Type your mesage.."></textarea>-->
                                            <div class="comment_box editable" id="template-content" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <button id="back-to-template-list-btn" class="ui left floated tiny blue button add-edit-template-action-buttons"><i class="arrow left icon"></i>Back</button>
                                <button id="teplate-add-edit-btn" class="ui tiny blue button add-edit-template-action-buttons" type="button">Save</button>
                                <button id="teplate-clear-btn" class="ui tiny blue button">Clear</button>
                                <div class="ui cancel button">Cancel</div>
                            </div>
                        </div>
                        <!--End Template Message Modal-->
                    </div>}
                else
                {
                    <!--Worker Message  Tab-->
                    @Html.Partial("../Worker/WorkerMessagesPartialView")
                }
            </div>
        </div>
    </div>

    <!--End Worker Message Tab-->
    <div id="forwarding-modal" class="ui small modal">
        <div class="header" id="forwarding-modal-title">
            Enter Forwarding Number
        </div>
        <div id="forwarding-modal-content" class="content">
            <div class="ui equal width form table-scroll" id="forwarding-modal-account">
                <input type="hidden" id="our-number-id">
                <div class="fields">
                    <div class="field">
                        <label>Our Number</label>
                        <input type="text" placeholder="Our Number" id="ourNumber" disabled>
                    </div>
                    <div class="field">
                        <label>Forwarding Number</label>
                        <input type="text" placeholder="Forwarding Number" id="forwarding-Number">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Call Length (X Second)</label>
                        <input type="text" placeholder="Seconds of Call" id="callLength">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Voicemail Message</label>
                        <input type="text" placeholder="Voicemail Message" id="voicemailMessage">
                    </div>
                    <div class="field">
                        <label>Call Forwarding Message</label>
                        <input type="text" placeholder="Call Forwarding Message" id="forwardingMessage">
                    </div>
                </div>
                <div id="MyAccordion" class="ui accordion" style="margin-top: 2%">
                    <div id="MyTitle" class="title">
                        <i class="dropdown icon"></i>
                        Hosts
                    </div>
                    <div id="MyContent" class="content">
                        <div style="margin: 3%">
                            <table id="host-table" style="width: 75%" class="ui celled blue table">
                                <thead>
                                    <tr>
                                        <th colspan="4" align="center" style="text-align: center">Hosts</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="PropertyAccordion" class="ui accordion" style="margin-top: 2%">
                    <div id="MyTitle" class="title">
                        <i class="dropdown icon"></i>
                        Properties
                    </div>
                    <div id="MyContent" class="content">
                        <div style="margin: 3%">
                            <table id="child-property-table" style="width: 75%" class="ui celled blue table">
                                <thead>
                                    <tr>
                                        <th colspan="4" align="center" style="text-align: center">Property</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="actions">
                            <a class="ui red deny button" title="Cancel">Cancel</a>
                            <a class="ui primary button" name="Save" id="SaveForwarding" title="Save">
                                <i class="sign in icon"></i>Save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</center>*@
    <!-- End Messages Content -->
</div>

<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<link href="~/Content/country-code/intlTelInput.css" rel="stylesheet" />


<script src="~/Content/country-code/utils.js"></script>
<script src="~/Content/country-code/intlTelInput.js"></script>
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/SignalR/hubs"></script>
<script src="~/Scripts/booking-quick-actions.js"></script>
<script src="~/Scripts/messager.js" type="text/javascript"></script>


