﻿  <!-- Message Tab-->
<div class="ui tab segment active" data-tab="messages-tab">
    <div class="ui three column stackable grid divided message-panel">
        <div class="row">
            <div class="four wide column message-list">
                <div id="inbox-list" data-active-thread-id="0" class="ui divided items"></div>
            </div>
            <div class="seven wide column">
                <div id="dvConvo" class="conversation">
                    <img src="~/Content/img/loader.gif" style="width:50% !important; height:150px !important; display:none;" id="img_Loader" />
                    <div id="dv_Conversation" class="">
                    </div>
                </div>
                <br />
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <select id="template-variable" class="ui dropdown">
                                <option value="">Select Variable</option>
                            </select>
                        </div>
                        <div class="field">
                            <select id="template-messages" class="ui dropdown">
                                <option value="">Select Template</option>
                            </select>
                        </div>
                        <button id="save-template-btn" class="tiny ui button right floated">
                            Saved Templates
                        </button>
                    </div>
                    <div class="field">
                        <!--<div class="comment_box editable" id="txtMsgContent" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false">asdasdasd <i class="icon checked calendar"></i> sadas dasd</div>-->
                        <textarea class="comment_box" rows="3" id="txtMsgContent" style="resize: none;"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <button type="button" id="add-mms" class="tiny ui blue button">
                                Add MMS
                            </button>
                            <button type="button" id="end-message-btn" class="tiny blue ui button">
                                End
                            </button>

                            <button type="button" id="btn_Clear" class="tiny blue ui button">
                                Clear
                            </button>
                            <button type="button" id="btn_Send" class="tiny blue ui button">
                                Send
                            </button>
                            <button type="button" id="btn_Send_SMS" class="tiny blue ui button">
                                Send SMS
                            </button>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui tiny images" style="width:100%;height:50px; overflow-y:auto" id="mms-image-upload"></div>
                            <input type="file" id="mms-pic" accept='image/*' multiple hidden />
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column reservation-list">
                <h3 id="reservation-details-wrapper" class="ui dividing header hidden">
                    <div class="content">
                        @*<h3 class="header" style="color: #008590">Reservation Details</h3>*@
                        <div class="description">
                            <div>
                                <img id="reservation-detail-host-image" class="ui avatar image" src="~/Content/img/matthew.png">
                                <span class="margin-left-10-px"><span id="reservation-detail-host-name"></span><span style="color: #e4a94d"> (Host)</span></span><br /> <br />
                                @*<h3 id="reservation-detail-property-name" style="color: #9b9b9b;"></h3>*@
                                <img id="reservation-detail-guest-image" class="ui avatar image" src="~/Content/img/matthew.png">
                                <span id="reservation-detail-guest-name" class="margin-left-10-px"></span><span style="color: #e4a94d"> (Guest)</span>
                            </div>
                            <h3 class="header" style="color: #008590">Reservation Details</h3>
                            <div id="reservations">
                            </div>
                            @*<h4 id="reservation-detail-guest-count" class="gray"></h4>*@
                            @*<h5>Status<span id="reservation-detail-status" class="margin-left-10-px gray"></span></h5>*@
                            <div class="ui three column grid">
                                <div id="reservation-details" class="row hidden">
                                    <div class="six wide column">
                                        <h5 class="margin-0">Check in</h5>
                                        <h6 id="reservation-detail-check-in" class="margin-0 gray"></h6>
                                    </div>
                                    <div class="two wide column">
                                        <h5 class="margin-0">&nbsp;</h5>
                                        <h6 class="margin-0 gray"><i class="arrow right icon"></i></h6>
                                    </div>
                                    <div class="six wide column">
                                        <h5 class="margin-0">Check out</h5>
                                        <h6 id="reservation-detail-check-out" class="margin-0 gray"></h6>
                                    </div>
                                </div>
                                @*<h5 id="confirmation-code-wrapper">Confirmation Code<span id="reservation-detail-confirmation-code" class="margin-left-10-px gray"></span></h5>*@
                            </div>
                        </div>
                        <br>
                        @*<div id="booking-actions-inquiry">
                                <div class="three ui mini buttons">
                                    <button style="margin: 1%" class="ui red button js-btn_pre-approve">Pre-Approve</button>
                                    <button style="margin: 1%" class="ui button js-btn_decline-inquiry">Decline</button>
                                    <button style="margin: 1%" class="ui button js-btn_send-special-offer">Send Special Offer</button>
                                </div>
                            </div>
                            <div id="booking-actions-withdraw-special-offer">
                                <button class="ui button js-btn_withdraw-special-offer">Withdraw Special Offer</button>
                            </div>
                            <div id="booking-actions-withdraw-pre-approve">
                                <button class="ui button js-btn_withdraw-pre-approve">Withdraw Pre-approve</button>
                            </div>
                            <div id="booking-actions-pending">
                                <button class="ui green button js-btn_accept-booking">Accept</button>
                                <button class="ui red button js-btn_decline-booking">Decline</button>
                            </div>
                            <div id="booking-actions-active">
                                <button class="ui red button js-btn_cancel-alter-booking">Cancel Alteration</button>
                                <button class="ui green button js-btn_alter-booking">Change</button>
                            </div>*@
                        <br>
                        <div>
                            <h4 class="ui header">Contact Info</h4>
                            <div class="ui form">
                                <div class="grouped fields" id="contact-info">

                                </div>
                            </div>
                            <div class="one wide field">
                                <label>&nbsp;</label>
                                <button type="button" class="right floated circular ui icon blue mini button add-contact" data-tooltip="Add Phone">
                                    Add Contact <i class="plus icon"></i>
                                </button>
                            </div>
                            <div id="contact-wrapper">
                            </div>
                            <div class="one wide field">
                                <div id="contact-save" class="hidden">
                                    <button type="button" class="medium blue ui blue button" id="save-phone-number">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </h3>
            </div>

        </div>
    </div>
</div>
<!--End Message Tab-->
<!--Message Rules Tab-->
<div class="ui tab segment" data-tab="message-rules-tab">
    <h1 class="ui header">
        <i class="announcement icon"></i>
        <div class="content">Message Rules</div>
    </h1>
    <div id="message-rules-filter-form" class="ui form">
        <div class="fields">
            <div class="four wide field">
                <label>Property</label>
                <select class="ui search dropdown" name="property">
                    <option value="all">All</option>
                    @{
                        foreach (var item in ViewBag.Properties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="four wide field">
                <label>Event Type</label>
                <select class="ui dropdown" name="event-type">
                    <option value="0">All</option>
                    <option value="1">First Message</option>
                    <option value="2">Before Check-in</option>
                    <option value="3">After Check-in</option>
                    <option value="4">Before Check-Out</option>
                    <option value="5">After Check-Out</option>
                    <option value="6">Upon Inquiry</option>
                    <option value="7">Upon Confirmed Reservation</option>
                    <option value="8">Upon Cancellation</option>
                    <option value="9">Upon Alteration</option>
                    <option value="10">Pre-Approval</option>
                </select>
            </div>
            <div class="two wide field">
                <label>&nbsp;</label>
                <button id="save-template-btn" class="ui blue button">Templates</button>
            </div>
            <div class="four wide field">
                <label>&nbsp;</label>
                <button id="add-message-rule-btn" class="ui blue button">Add Message Rule</button>
            </div>
        </div>
    </div>
    <table id="message-rule-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Property</th>
                <th>Event Type</th>
                <th>Template Title</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--End Message Rule Tab-->
<div class="wrapper" id="short-term-inbox" threadId="0" hidden>
    <div class="head-text">
        Messages
        <div class="details">
            <label id="details-label" style="cursor:pointer">Details<i class="dropdown icon"></i></label>
            <div class="ui flowing popup top left transition hidden">
                <div class="ui column stackable grid divided message-panel">
                    <div class="column reservation-list">
                        <h3 id="short-term-reservation-details-wrapper" class="ui dividing header hidden">
                            <div class="content">
                                @*<h3 class="header" style="color: #008590">Reservation Details</h3>*@
                                <div class="description">
                                    <div>
                                        <img id="short-term-reservation-detail-host-image" class="ui avatar image" src="~/Content/img/matthew.png">
                                        <span class="margin-left-10-px"><span id="short-term-reservation-detail-host-name"></span><span style="color: #e4a94d"> (Host)</span></span><br /> <br />
                                        @*<h3 id="reservation-detail-property-name" style="color: #9b9b9b;"></h3>*@
                                        <img id="short-term-reservation-detail-guest-image" class="ui avatar image" src="~/Content/img/matthew.png">
                                        <span id="short-term-reservation-detail-guest-name" class="margin-left-10-px"></span><span style="color: #e4a94d"> (Guest)</span>
                                    </div>
                                    <h3 class="header" style="color: #008590">Reservation Details</h3>
                                    <div id="short-term-reservations">
                                    </div>
                                    @*<h4 id="reservation-detail-guest-count" class="gray"></h4>*@
                                    @*<h5>Status<span id="reservation-detail-status" class="margin-left-10-px gray"></span></h5>*@
                                    <div class="ui three column grid">
                                        <div id="short-term-reservation-details" class="row hidden">
                                            <div class="six wide column">
                                                <h5 class="margin-0">Check in</h5>
                                                <h6 id="short-term-reservation-detail-check-in" class="margin-0 gray"></h6>
                                            </div>
                                            <div class="two wide column">
                                                <h5 class="margin-0">&nbsp;</h5>
                                                <h6 class="margin-0 gray"><i class="arrow right icon"></i></h6>
                                            </div>
                                            <div class="six wide column">
                                                <h5 class="margin-0">Check out</h5>
                                                <h6 id="short-term-reservation-detail-check-out" class="margin-0 gray"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div>
                                    <h4 class="ui header">Contact Info</h4>
                                    <div class="ui form">
                                        <div class="grouped fields" id="short-term-contact-info">

                                        </div>
                                    </div>
                                    <div class="one wide field">
                                        <label>&nbsp;</label>
                                        <button type="button" class="right floated circular ui icon blue mini button add-contact" data-tooltip="Add Phone">
                                            Add Contact <i class="plus icon"></i>
                                        </button>
                                    </div>
                                    <div id="short-term-contact-wrapper">
                                    </div>
                                    <div class="one wide field">
                                        <div id="short-term-contact-save" class="hidden">
                                            <button type="button" class="medium blue ui blue button" id="short-term-save-phone-number">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <i class="close icon hide-inbox" style="cursor:pointer"></i>
        </div>
    </div>
    <div class="chat-box">
        <div class="content">
            <div id="short-term-dvConvo" class="conversation-box">
                <div id="short-term-dv_Conversation">

                </div>
            </div>
            <br />
            <div class="ui stackable grid">
                <div class="sixteen wide column">
                    <div class="ui form">
                        <div class="field">
                            <textarea id="short-term-message-box" name="messageBox" class="message-box" value="" rows="3" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row message-send">
                    <div class="sixteen wide column">

                        <button type="button" id="short-term-end-message-btn" class="ui tiny blue button">End</button>
                        <button type="button" id="short-term-send-message-btn" class="ui tiny blue button">Send</button>
                        <button type="button" id="short-term-add-mms-btn" class="ui tiny blue button">Add MMS</button>
                        <button type="button" id="short-term-send-sms-message-btn" class="ui tiny blue button">Send SMS</button>
                    </div>
                </div>
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <div class="ui form">

                                <div class="fields">
                                    <div class="field">
                                        <label>&nbsp;</label>
                                        <div class="ui tiny images" style="width:100%;height:50px;" id="short-term-file-upload"></div>
                                        <input type="file" id="short-term-file-pic" accept='image/*' multiple hidden />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/message-short-term.js"></script>