﻿@{
    Layout = "~/Views/Shared/_AirlockLayout.cshtml"; ;
    bool isLogin = User.Identity.IsAuthenticated && Core.Helper.SessionHandler.IsActive();
    string propertyListForSelect = "<option value=\"\">Select Property</option>";
    string workerJobTypeListForSelect = "<option value=\"\">Select Job Type</option>";
    if (isLogin)
    {
        foreach (var property in ViewBag.Properties)
        {
            if (!property.IsLocallyCreated && property.ListingId != 0)
            {
                propertyListForSelect += ("<option value=" + property.ListingId + ">" + property.Name + "</option>");
            }
        }
        foreach (var jobType in ViewBag.WorkerJobTypes)
        {
            workerJobTypeListForSelect += ("<option value=" + jobType.Id + ">" + jobType.Name + "</option>");
        }
    }


}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @{
        if (isLogin)
        {
            <meta name=property_list_for_select content="@propertyListForSelect">
            <meta name=job_type_list_for_select content="@workerJobTypeListForSelect">
        }
    }
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
</head>
<body>
    <input type="hidden" id="calendar-hidden-user-identity-name" value="@User.Identity.Name" />
    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->
    <div class="main-wrapper pusher">
        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start Calendar Content -->
        <input type="hidden" id="calendar-hidden-isMonthView" value="false" />
        <div class="main">
            <div class="ui container">
                <h1 class="ui header">
                    <i class="icon calendar"></i>
                    <div class="content">
                        Calendar
                    </div>
                </h1>
                <form class="ui form">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Select Property</label>
                            <select multiple="" class="ui multiple search selection dropdown" id="calendar-property-id">
                                <option value="">Select Property</option>
                                <option value="0">All</option>
                                @{
                                    foreach (var item in ViewBag.Properties)
                                    {
                                        if (item.ParentPropertyId == 0)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <input type="hidden" id="calendar-hidden-booking" value="0" />
                        </div>
                        <div class="four wide field">
                            <label>Select Worker</label>
                            <select multiple="" id="calendar-worker-id" class="ui multiple search selection dropdown">
                                <option value="">Select Worker</option>
                                <option value=0>All</option>
                                @foreach (var item in ViewBag.Workers)
                                {
                                    <option value="@item.Id">@(item.Firstname + " " + item.Lastname)</option>
                                }
                            </select>
                            <input type="hidden" id="calendar-hidden-worker" value=0 />
                        </div>
                        <div class="two wide field">
                            <label>Show Booking</label>
                            <div class="ui toggle checkbox autosync">
                                <input type="checkbox" name="autosync" id="calendar-show-booking" onchange="showBookingToggled(this)" checked>
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Show Worker</label>
                            <div class="ui toggle checkbox autosync">
                                <input type="checkbox" name="autosync" id="calendar-show-worker" onchange="showWorkerToggled(this)" checked>
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Show Pricer</label>
                            <div class="ui toggle checkbox autosync">
                                <input type="checkbox" name="autosync" id="calendar-show-pricer" onchange="showPricerToggled(this)" checked>
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Show Analytics</label>
                            <div class="ui toggle checkbox autosync">
                                <input type="checkbox" name="autosync" id="calendar-show-analytics">
                            </div>
                        </div>
                        <div class="two wide field">
                            <label>Sync Changes to Other Child Properties</label>
                            <div class="ui toggle checkbox autosync">
                                <input type="checkbox" name="autosync" id="calendar-sync-changes" onchange="">
                            </div>
                        </div>
                    </div>
                </form>
                <button class="ui primary button js-btn_create-new-booking">Add Booking</button>
                <button class="ui primary button js-btn_block-date" onclick="blockDate()">Block Date</button>
                <button class="ui primary button js-btn_set-price">Set Price</button>
                <button class="ui button primary js-btn_assign-worker">Assign Worker</button>
                <div class="ui segment">
                    <div class="ui active inverted dimmer" id="calendar-dimmer">
                        <div class="ui massive text loader" id="calendar-loader">Loading, Please Wait...</div>
                    </div>
                    <div data-get-resources-url="@Url.Action("GetCalendarResources", "Calendar")" data-get-events-url="@Url.Action("GetCalendarEvents", "Calendar")" id="calendar"></div>
                </div>
                <br>
                <!-- Start Assign Worker Modal -->
                <div id="assign-worker-modal" class="ui modal assign-worker-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Assign Worker
                    </div>
                    <div class="content">
                        <!-- Start Assign Worker Form -->
                        <div id="assign-worker-form" class="ui mini form">
                            <div class="fields">
                                <div class="three wide field">
                                    <select id="AssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                                        <option value="">Select Property</option>
                                        @foreach (var item in ViewBag.Properties)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>
                                <div class="three wide field">
                                    <select id="AssignWorkerJobTypeId" name="JobTypeId" class="ui search dropdown">
                                        <option value="">Select Job Type</option>
                                        @foreach (var item in ViewBag.JobTypes)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="AssignWorkerStartDate" name="StartDate" placeholder="Start Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="AssignWorkerEndDate" name="EndDate" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="one wide field">
                                    <button id="js-btn_view-workers" type="button" class="ui primary mini button">View Workers</button>
                                </div>
                            </div>
                        </div>
                        <table id="available-worker-table" class="ui celled red table">
                            <thead>
                                <tr>
                                    <th>Worker Name</th>
                                    <th>Type</th>
                                    <th>Payment Type</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6" id="no-worker-tr" style="text-align: center">Select a property and duration</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- End Assign Worker Form -->
                    </div>
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                        <div id="assign-worker" class="ui disabled green right labeled icon button assign-worker">
                            Assign Worker
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
                <!-- End Assign Worker Modal -->
                <!-- Start Edit Assign Worker Modal -->
                <div id="edit-assign-worker-modal" class="ui modal edit-assign-worker-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Assign Worker
                    </div>
                    <div class="content">
                        <!-- Start Assign Worker Form -->
                        <form id="edit-assign-worker-form" class="ui mini form">
                            <input type="hidden" id="edit-worker-schedule-id" name="worker_schedule_id" />
                            <div class="fields">
                                <div class="three wide field">
                                    <select id="EditAssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                                        <option value="">Select Property</option>
                                        @foreach (var item in ViewBag.Properties)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>
                                <div class="three wide field">
                                    <select id="EditAssignWorkerJobTypeId" name="JobTypeId" class="ui search dropdown">
                                        <option value="">Select Job Type</option>
                                        @foreach (var item in ViewBag.JobTypes)
                                        {
                                            <option value="@item.Id"> @item.Name </option>
                                        }
                                    </select>
                                </div>
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="EditStartDate" name="StartDate" placeholder="Start Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="EditEndDate" name="EndDate" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="one wide field">
                                    <button type="button" class="ui primary mini button">
                                        View Workers
                                    </button>
                                </div>
                            </div>
                        </form>
                        <table id="edit-available-worker-table" class="ui celled red table">
                            <thead>
                                <tr>
                                    <th>Worker Name</th>
                                    <th>Type</th>
                                    <th>Payment Type</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- End Assign Worker Form -->
                    </div>
                    <div class="actions">
                        <div class="ui red deny button">Cancel</div>
                        <div id="edit-unassign-worker" class="ui primary button">Unassign</div>
                        <div id="edit-assign-worker" class="ui green right labeled icon button edit-assign-worker">
                            Update
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
                <!-- End Edit Assign Worker Modal -->
                <!-- Set Price Modal -->
                <div id="set-price-modal" class="ui modal set-price">
                    <i class="close icon"></i>
                    <div class="header" id="set-price-propertyName">
                    </div>
                    <div class="content">
                        <!-- Set Price Form -->
                        <form id="set-price-form" class="ui mini form">
                            <div class="fields">
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="SetPriceStartDate" name="from" placeholder="Start Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <div class="ui calendar dt">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" id="SetPriceEndDate" name="to" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <input type="text" id="SetPriceTb" name="price" placeholder="Price" />
                                </div>
                                <div>
                                    <input type="hidden" name="isAvailable" id="hidden-isAvailable" value="1" />
                                    <input type="hidden" name="propertyId" id="hidden-propertyId" value="" />
                                </div>
                            </div>
                        </form>
                        <!-- End of Set Price Form -->
                    </div>
                    <div class="actions">
                        <div id="set-price-block-date" onclick="toggleDateBlocking()" class="ui primary button">Block Date</div>
                        <div id="set-price-done" onclick="setPrice()" class="ui green button set-price-btn">Set Price</div>
                    </div>
                </div>
                <!-- End of Set Price Modal -->
                <!-- Analytics Modal -->
                <div id="analytics-modal" class="ui small modal analytics-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Analytics
                    </div>
                    <div class="content">
                        Property Name : <label id="analytics-property-name" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Date : <label id="analytics-date" style="white-space:pre;font-weight:bold;"></label>
                        <br /><br />
                        ANALYTICS BY MONTH
                        <br />
                        Property Count : <label id="analytics-property-count-month" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Occupancy Rate : <label id="analytics-occupancy-rate-month" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Availability Rate : <label id="analytics-availability-rate-month" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Average Price : <label id="analytics-average-price-month" style="white-space:pre;font-weight:bold;"></label>
                        <br /><br />
                        ANALYTICS BY MONTH AND ROOM COUNT
                        <br />
                        Property Count : <label id="analytics-property-count-month-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Occupancy Rate : <label id="analytics-occupancy-rate-month-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Availability Rate : <label id="analytics-availability-rate-month-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Average Price : <label id="analytics-average-price-month-room" style="white-space:pre;font-weight:bold;"></label>
                        <br /><br />
                        ANALYTICS BY DATE AND ROOM COUNT
                        <br />
                        Property Count : <label id="analytics-property-count-date-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Occupancy Rate : <label id="analytics-occupancy-rate-date-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Availability Rate : <label id="analytics-availability-rate-date-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                        Average Price : <label id="analytics-average-price-date-room" style="white-space:pre;font-weight:bold;"></label>
                        <br />
                    </div>
                    <div class="actions">
                        <div id="analytics-done" class="ui primary button">Done</div>
                    </div>
                </div>
                <!-- End of Set Price Modal -->
            </div>
        </div>
        <!-- End Calendar Content -->
        <script src="~/Content/moment/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
        <script src="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.js" type="text/javascript"></script>
        <script src="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.js" type="text/javascript"></script>
        <script src="~/Content/semantic/dist/semantic.min-2.2.12.js"></script>
        <script src="~/Content/semantic/dist/calendar.min.js"></script>
        <script src="~/Scripts/booking-quick-actions.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/Signalr/hubs"></script>
        <script src="~/Scripts/scripts.js" type="text/javascript"></script>
        <script src="~/Scripts/calendar.js" type="text/javascript"></script>
        <script src="~/Content/sweetalert/sweetalert.min.js"></script>
</body>
</html>
