﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    bool isLogin = User.Identity.IsAuthenticated;
    string propertyListForSelect = "<option value=\"\">Select Property</option>";
    string workerJobTypeListForSelect = "<option value=\"0\">Select Job Type</option>";
    if (isLogin)
    {

        foreach (var property in ViewBag.Properties)
        {
            if (!property.IsLocallyCreated && property.ListingId != 0)
            {
                propertyListForSelect += ("<option value=" + property.ListingId + ">" + property.Name + "</option>");
            }
        }
        foreach (var jobType in ViewBag.WorkerJobTypes)
        {
            workerJobTypeListForSelect += ("<option value=" + jobType.Id + ">" + jobType.Name + "</option>");
        }
        <meta name=property_list_for_select content="@propertyListForSelect">
        <meta name=job_type_list_for_select content="@workerJobTypeListForSelect">
    }


}
<div class="body-content">
    <input type="hidden" id="calendar-hidden-user-identity-name" value="@User.Identity.Name" />
    <input type="hidden" id="calendar-hidden-isMonthView" value="false" />
    <h1 class="ui header">
        <i class="icon calendar"></i>
        <div class="content">
            Calendar
        </div>
    </h1>
    <form class="ui form">
        <div class="fields">
            <div class="field">
                <label>Select Property</label>
                <select multiple="" class="ui multiple search selection dropdown" id="calendar-property-id">
                    <option value="">Select Property</option>
                    <option value="0">All</option>
                    @{
                        foreach (var item in ViewBag.Properties)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                <input type="hidden" id="calendar-hidden-booking" value="0" />
            </div>
            @if (!ViewBag.IsUserWorker)
            {
                <div class="field">
                    <label>Select Worker</label>
                    <select multiple="" id="calendar-worker-id" class="ui multiple search selection dropdown">
                        <option value="">Select Worker</option>
                        <option value=0>All</option>
                        @foreach (var item in ViewBag.Workers)
                        {
                            <option value="@item.Id">@(item.Firstname + " " + item.Lastname)</option>
                        }
                    </select>
                    <input type="hidden" id="calendar-hidden-worker" value=0 />
                </div>
                <div class="field">
                    <label>Show Travel Events</label>
                    <div class="ui toggle checkbox autosync">
                        <input type="checkbox" name="autosync" id="calendar-show-travel-events" onchange="showTravelEventsToggled(this)" checked>
                    </div>
                </div>
                <div class="field">
                    <label>Show Worker</label>
                    <div class="ui toggle checkbox autosync">
                        <input type="checkbox" name="autosync" id="calendar-show-worker" onchange="showWorkerToggled(this)" checked>
                    </div>
                </div>

                <div class="field">
                    <label>Show Pricer</label>
                    <div class="ui toggle checkbox autosync">
                        <input type="checkbox" name="autosync" id="calendar-show-pricer" onchange="showPricerToggled(this)" checked>
                    </div>
                </div>
                <div class="field">
                    <label>Show Analytics</label>
                    <div class="ui toggle checkbox autosync">
                        <input type="checkbox" name="autosync" id="calendar-show-analytics">
                    </div>
                </div>
                <div class="field">
                    <label>Sync Changes to Other Child Properties</label>
                    <div class="ui toggle checkbox autosync">
                        <input type="checkbox" name="autosync" id="calendar-sync-changes" onchange="">
                    </div>
                </div>

            }
            <div class="field">
                <label>Show Booking</label>
                <div class="ui toggle checkbox autosync">
                    <input type="checkbox" name="autosync" id="calendar-show-booking" onchange="showBookingToggled(this)" checked>
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <button class="ui tiny blue button js-btn_create-new-booking">Add Booking</button>
            </div>
            <div class="field">
                <button class="ui tiny blue button js-btn_block-date" onclick="blockDate()">Block Date</button>
            </div>
            <div class="field">
                <button class="ui tiny blue button js-btn_set-price">Set Price</button>
            </div>
            <div class="field">
                <button class="ui tiny blue button js-btn_export-calendar">Export Calendar</button>
            </div>
            <div class="field">
                <button class="ui tiny blue button js-btn_import-calendar">Import Calendar</button>
            </div>
        </div>
    </form>



    @*<button class="ui button blue js-btn_assign-worker">Assign Worker</button>*@
    <div class="ui segment">
        <div class="ui active inverted dimmer" id="calendar-dimmer">
            <div class="ui massive text loader" id="calendar-loader">Loading, Please Wait...</div>
        </div>
        <div data-get-resources-url="@Url.Action("GetCalendarResources", "Calendar")" data-get-events-url="@Url.Action("GetCalendarEvents", "Calendar")" id="calendar"></div>
    </div>
    <br>
    <div id="property-modal-import" class="ui small modal import-calendar-modal">
        <i class="close icon"></i>
        <div class="header">
            Choose Property to be Imported
        </div>
        <div class="content">
            <!-- Start Import Calendar Form -->
            <div id="assign-worker-form" class="ui mini form">
                <div class="fields">
                    <div class="six wide field">
                        <label>Site Type</label>
                        @Html.DropDownList("siteType", ViewBag.SiteTypeList as SelectList, "Select Site", new { @id = "SiteType2", @class = "ui search dropdown selection" })
                    </div>
                    <div class="six wide field">
                        <label>Property</label>
                        <select id="ImportCalendarPropertyId" name="PropertyId" class="ui search dropdown"></select>
                    </div>
                </div>
            </div>
            <!-- End Import Calendar Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div id="import-calendar" class="ui green right labeled icon button import-calendar">
                Import Calendar
                <i class="download icon"></i>
            </div>
        </div>
    </div>
    <!-- Start Show Calendar URL Modal -->
    <div id="show-calendar-url-modal" class="ui modal show-calendar-url-modal">
        <i class="close icon"></i>
        <div class="header">
            Calendar URL
        </div>
        <div class="content">
            <!-- Start Assign Worker Form -->
            <form id="calendar-show-url" class="ui form">
                <div class="fields">
                    <div class="twelve wide field">
                        <div>
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="calendarUrl" name="calendarUrl" placeholder="URL" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
        </div>
    </div>
    <!-- End Show Calendar URL Modal -->
    <!-- Start Export Calendar Modal -->
    <div id="property-modal-export" class="ui small modal export-calendar-modal">
        <i class="close icon"></i>
        <div class="header">
            Choose Property to be Exported
        </div>
        <div class="content">
            <!-- Start Export Calendar Form -->
            <div id="assign-worker-form" class="ui mini form">
                <div class="fields">
                    <div class="six wide field">
                        <label>Site Type</label>
                        @Html.DropDownList("siteType", ViewBag.SiteTypeList as SelectList, "Select Site", new { @id = "SiteType", @class = "ui search dropdown selection" })
                    </div>
                    <div class="six wide field">
                        <label>Property</label>
                        <select id="ExportCalendarPropertyId" name="PropertyId" class="ui search dropdown"></select>
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field roomDiv">
                        <label>Property</label>
                        <select id="ExportCalendarRoomId" name="RoomId" class="ui search dropdown "></select>
                    </div>
                </div>
            </div>
            <!-- End Export Calendar Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div id="export-calendar" class="ui green right labeled icon button export-calendar">
                Export Calendar
                <i class="download icon"></i>
            </div>
        </div>
    </div>
    <!-- End Export Calendar Modal -->
    <!-- Start Assign Worker Modal -->
    <div id="assign-worker-modal" class="ui modal assign-worker-modal">
        <i class="close icon"></i>
        <div class="header">
            Assign Worker
        </div>
        <div class="content">
            <!-- Start Assign Worker Form -->
            <div id="assign-worker-form" class="ui mini form">
                <div class="fields">
                    <div class="three wide field">
                        <select id="AssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                            <option value="">Select Property</option>
                            @foreach (var item in ViewBag.Properties)
                            {
                                <option value="@item.Id"> @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="three wide field">
                        <select id="AssignWorkerJobTypeId" name="JobTypeId" class="ui search dropdown">
                            <option value="">Select Job Type</option>
                            @foreach (var item in ViewBag.JobTypes)
                            {
                                <option value="@item.Id"> @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar dt">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="AssignWorkerStartDate" name="StartDate" placeholder="Start Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar dt">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="AssignWorkerEndDate" name="EndDate" placeholder="End Date" />
                            </div>
                        </div>
                    </div>
                    <div class="one wide field">
                        <button id="js-btn_view-workers" type="button" class="ui blue mini button">View Workers</button>
                    </div>
                </div>
            </div>
            <table id="available-worker-table" class="ui celled red table">
                <thead>
                    <tr>
                        <th>Worker Name</th>
                        <th>Type</th>
                        <th>Payment Type</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" id="no-worker-tr" style="text-align: center">Select a property and duration</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <!-- End Assign Worker Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div id="assign-worker" class="ui disabled green right labeled icon button assign-worker">
                Assign Worker
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Assign Worker Modal -->
    <!-- Start Edit Assign Worker Modal -->
    <div id="edit-assign-worker-modal" class="ui modal edit-assign-worker-modal">
        <i class="close icon"></i>
        <div class="header">
            Assign Worker
        </div>
        <div class="content">
            <!-- Start Assign Worker Form -->
            <form id="edit-assign-worker-form" class="ui mini form">
                <input type="hidden" id="edit-worker-schedule-id" name="worker_schedule_id" />
                <div class="fields">
                    <div class="three wide field">
                        <select id="EditAssignWorkerPropertyId" name="PropertyId" class="ui search dropdown">
                            <option value="">Select Property</option>
                            @foreach (var item in ViewBag.Properties)
                            {
                                <option value="@item.Id"> @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="three wide field">
                        <select id="EditAssignWorkerJobTypeId" name="JobTypeId" class="ui search dropdown">
                            <option value="">Select Job Type</option>
                            @foreach (var item in ViewBag.JobTypes)
                            {
                                <option value="@item.Id"> @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar dt">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="EditStartDate" name="StartDate" placeholder="Start Date" />
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar dt">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="EditEndDate" name="EndDate" placeholder="End Date" />
                            </div>
                        </div>
                    </div>
                    <div class="one wide field">
                        <button type="button" class="ui blue mini button">
                            View Workers
                        </button>
                    </div>
                </div>
            </form>
            <table id="edit-available-worker-table" class="ui celled red table">
                <thead>
                    <tr>
                        <th>Worker Name</th>
                        <th>Type</th>
                        <th>Payment Type</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <!-- End Assign Worker Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">Cancel</div>
            <div id="edit-unassign-worker" class="ui blue button">Unassign</div>
            <div id="edit-assign-worker" class="ui green right labeled icon button edit-assign-worker">
                Update
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Edit Assign Worker Modal -->
    <!-- Set Price Modal -->
    <div id="set-price-modal" class="ui modal set-price">
        <i class="close icon"></i>
        <div class="header" id="set-price-propertyName">
        </div>
        <div class="content">
            <!-- Set Price Form -->
            <form id="set-price-form" class="ui mini form">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <div class="ui calendar dt">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" id="SetPriceStartDate" class="small" name="from" placeholder="Start Date" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui calendar dt">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" id="SetPriceEndDate" class="small" name="to" placeholder="End Date" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" id="SetPriceTb" class="small" name="price" placeholder="Price" />
                        </div>
                        <div>
                            <input type="hidden" name="isAvailable" id="hidden-isAvailable" value="1" />
                            <input type="hidden" name="propertyId" id="hidden-propertyId" value="" />
                            <input type="hidden" name="siteType" id="hidden-siteType" value="" />
                            <input type="hidden" name="vrboResId" id="hidden-vrboResId" value="" />
                            <input type="hidden" name="hostId" id="hidden-hostId" value="" />
                            <input type="hidden" name="roomId" id="hidden-roomId" value="" />
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </form>
            <label><h3>My Standard Rate : </h3></label>
            <br />
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <input type="text" id="standard-rate" class="small" name="price" placeholder="Standard Rate" />
                    </div>
                    <div class="field">
                        <label><h3> </h3></label>
                        <button class="ui blue button" id="update-standard-rate" onclick="updateStandardRate()">
                            Update
                        </button>
                    </div>
                </div>
            </div>
            <!-- End of Set Price Form -->
        </div>
        <div class="actions">
            @*<div id="set-price-block-date" onclick="toggleDateBlocking()" class="ui blue button">Block Date</div>*@
            <div id="set-price-done" onclick="setPrice()" class="ui blue right labeled icon button set-price-btn">
                <i class="dollar sign icon"></i>
                Set Price
            </div>
        </div>
    </div>
    <!-- End of Set Price Modal -->
    <!-- Analytics Modal -->
    <div id="analytics-modal" class="ui small modal analytics-modal">
        <i class="close icon"></i>
        <div class="header">
            Analytics
        </div>
        <div class="content">
            Property Name : <label id="analytics-property-name" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Date : <label id="analytics-date" style="white-space:pre;font-weight:bold;"></label>
            <br /><br />
            ANALYTICS BY MONTH
            <br />
            Property Count : <label id="analytics-property-count-month" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Occupancy Rate : <label id="analytics-occupancy-rate-month" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Availability Rate : <label id="analytics-availability-rate-month" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Average Price : <label id="analytics-average-price-month" style="white-space:pre;font-weight:bold;"></label>
            <br /><br />
            ANALYTICS BY MONTH AND ROOM COUNT
            <br />
            Property Count : <label id="analytics-property-count-month-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Occupancy Rate : <label id="analytics-occupancy-rate-month-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Availability Rate : <label id="analytics-availability-rate-month-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Average Price : <label id="analytics-average-price-month-room" style="white-space:pre;font-weight:bold;"></label>
            <br /><br />
            ANALYTICS BY DATE AND ROOM COUNT
            <br />
            Property Count : <label id="analytics-property-count-date-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Occupancy Rate : <label id="analytics-occupancy-rate-date-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Availability Rate : <label id="analytics-availability-rate-date-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
            Average Price : <label id="analytics-average-price-date-room" style="white-space:pre;font-weight:bold;"></label>
            <br />
        </div>
        <div class="actions">
            <div id="analytics-done" class="ui blue button">Done</div>
        </div>
    </div>
    <!-- End of Set Price Modal -->
    <!-- Start New Booking Modal -->
    <div class="ui modal create-new-booking-modal">
        <i class="close icon"></i>
        <div class="header">Booking</div>
        <div class="content">
            <div id="booking-form" class="ui form">
                <input type="hidden" name="bookingId" />
                <div class="fields site-type-field">
                    <div class="eight wide field">
                        <label>Site Type</label>
                        @Html.DropDownList("siteType", ViewBag.SiteTypeList as SelectList, "Select", new { @id = "SiteType", @class = "ui search dropdown selection" })
                        <div class="error_message">Select Site Type</div>
                    </div>
                </div>
                <div class="fields confirmation-code-field" style="display: none">
                    <div class="eight wide field">
                        <label>Confirmation Code</label>
                        <input type="text" name="confirmationCode">
                        <div class="error_message">Enter Confirmation Code</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest name</label>
                        <input type="text" name="guestName" placeholder="Guest Name">
                        <div id="errrorGuestName" class="error_message">Enter Guest Name</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Guest count</label>
                        <input type="text" name="guestCount" placeholder="Guest Count">
                        <div id="errrorGuestCount" class="error_message">Enter Guest Count</div>
                        <div id="errrorGuestCountNumaric" class="error_message">Enter Numeric Value</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Select Property</label>
                        @*@Html.DropDownList("propertyId", ViewBag.property as SelectList, "Select", new { @class = "ui search dropdown selection" })*@
                        <select name="propertyId">
                            <option class="placeholder" selected disabled value="">Select property</option>
                            @*@{
                                    foreach (var item in ViewBag.properties)
                                    {
                                        if (item.ParentPropertyId == 0)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                }*@
                        </select>
                        <div id="errrorproperty" class="error_message">Select Property</div>
                    </div>
                </div>
                <h5>Stay</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkInDate" placeholder="Booked Check In Date" />
                            </div>
                        </div>
                        <div id="errrorcheckindate" class="error_message">Select Check In Date</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkOutDate" placeholder="Booked Check Out Date" />
                            </div>
                        </div>
                        <div id="errrorcheckoutdate" class="error_message">Select Check Out Date</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkInTime" placeholder="Booked Check In Time" />
                            </div>
                        </div>
                        <div id="errrorcheckintime" class="error_message">Select Check In Time</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="checkOutTime" placeholder="Booked Check Out Time" />
                            </div>
                        </div>
                        <div id="errrorcheckouttime" class="error_message">Select Check Out Time</div>
                    </div>
                </div>
                <h5>Price</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="inquiryPrice" onkeyup="calculate()" placeholder="Inquiry Price" />
                    </div>
                    <div id="errrorinquiryprice" class="error_message">Enter Inquiry Price</div>
                    <div id="errrorinquirypricenumeric" class="error_message">Enter a Valid Inquiry Price</div>
                </div>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <button class="ui icon button add_fee_button" data-tooltip="Add fees">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="fee-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <br>
                <h5>Payout</h5>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="payoutAmount" placeholder="Payout Amount" />
                        <div id="errrorpayoutamt" class="error_message">Enter Payout Amount</div>
                        <div id="errrorpayoutamtnumeric" class="error_message">Enter a valid Payout Amount</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="payoutDate" placeholder="Payout Date" />
                            </div>
                        </div>
                        <div id="errrorpayoutdate" class="error_message">Select Payout Date</div>
                    </div>
                </div>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <button class="ui  icon button add_tax_button" data-tooltip="Add tax">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="fifteen wide column">
                        <div class="tax-fields-wrapper"></div>
                    </div>
                </div>
                <br>
                <div class="fields">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <input type="text" name="netRevenue" placeholder="Net Revenue" />
                    </div>
                </div>
                <h5>Booking Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="bookingDate" placeholder="Booking Date" />
                            </div>
                        </div>
                        <div id="errrorbookeddate" class="error_message">Select Booking Date</div>
                    </div>
                    <div class="four wide field">
                        <div class="ui calendar time">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="bookingTime" placeholder="Booking Time" />
                            </div>
                        </div>
                        <div id="errrorbookedtime" class="error_message">Select Booking Time</div>
                    </div>
                </div>
                <h5>Inquiry Date</h5>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="inquiryDate" placeholder="Inquiry Date" />
                            </div>
                        </div>
                        <div id="errrorInquirydate" class="error_message">Enter Inquiry Date</div>
                    </div>
                </div>
                <div class="four wide field">
                    <div class="ui calendar time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="inquiryTime" placeholder="Inquiry Time" />
                        </div>
                    </div>
                    <div id="errrorqinquirytime" class="error_message">Select Inquiry Time</div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Status</label>
                        <input type="hidden" name="feeTypeDropdownOptions">
                        @Html.DropDownList("bookingStatus", ViewBag.StatusList as IEnumerable<SelectListItem>, "Select", new { @class = "ui search dropdown" })
                        <div id="errrorstatus" class="error_message">Select Status</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <button id="submitNewBookingBtn" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui savebooking right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
    <!-- End New Booking Modal -->
    <!-- Start Video Footage Modal -->
    <div class="ui longer test modal transition invisible" style="width: 40%;">
        <i class="close icon"></i>
        <div class="header video-title">
            Profile Picture
        </div>
        <div class="scrolling content video-div">
            @*<video width="400" height="200" controls>
                    <source  src="https://arlos3-prod-z2.s3.us-west-2.amazonaws.com/d156939d_8666_4245_881a_6bd17b93802b/4ncza7d-336-30642345/4xh57a76a88cb/recordings/1548924534395.mp4?x-amz-algorithm=aws4-hmac-sha256&x-amz-date=20190131t101513z&x-amz-signedheaders=host&x-amz-expires=86400&x-amz-credential=akiaics2uac4wfsd6c2a%2f20190131%2fus-west-2%2fs3%2faws4_request&x-amz-signature=d6b5de674fab197bb6e6e61ef77a1a22dfdf2f52d802783d54b6c0ae233b8e35" type="video/mp4">
                    your browser does not support html5 video.
                </video>*@
        </div>
        <div class="actions">
            <div class="ui blue button multiple-video-delete">
                Delete Selected Videos
            </div>
            <div class="ui blue approve button">
                Close
            </div>
        </div>
    </div>
    <!-- End Video Footage Modal -->
</div>
<link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.print.min.css" media="print">
<link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
<link href="~/Content/jquery.qtip.min.css" rel="stylesheet" />

<script src="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.js" type="text/javascript"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>*@
<script src="~/Content/semantic/dist/semantic.min.js"></script>
<script src="~/Content/semantic/dist/calendar.min.js"></script>
<script src="~/Scripts/booking.js"></script>
<script src="~/Scripts/booking-quick-actions.js"></script>
<script src="~/Scripts/scripts.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.qtip.min.js"></script>
<script src="~/Scripts/calendar.js" type="text/javascript"></script>

