﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultiCalendar</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.css">
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Content/fullcalendar-scheduler-1.6.0/lib/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/Content/fullcalendar-scheduler-1.6.0/scheduler.min.js" type="text/javascript"></script>
    <script src="~/Content/semantic/dist/semantic.min-2.2.12.js"></script>

    <script src="~/Scripts/MultiCalendar.js"></script>
</head>
<body>
    <h1>Calendar</h1>
    <div class="four wide field">
        <label>Select Property</label>
        <select multiple="" class="ui multiple search selection dropdown" id="calendar-property-id">
            <option value="">Select Property</option>
            <option value="0">All</option>
            @{
                foreach (var item in ViewBag.Properties)
                {
                    if (item.ParentPropertyId == 0)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            }
        </select>
        <input type="hidden" id="calendar-hidden-booking" value="0" />
    </div>
    <div class="ui segment">
        <div class="ui active inverted dimmer" id="calendar-dimmer">
            @*<div class="ui massive text loader" id="calendar-loader">Loading, Please Wait...</div>*@
        </div>
        <div id="calendar">
        </div>
    </div>


</body>
</html>
