.table-scroll { 
    max-height: calc(110vh - 210px);
    overflow-x: auto;
    overflow-y: auto; 
}

.table-scroll-vertical { 
    max-height: calc(90vh - 210px);
    overflow-x: hidden;
    overflow-y: auto; 
}