td {
    text-align: center;
}
.ui.form .fields .field {
    clear: both;
    margin: 0em;
    margin-top: 5px;
}

.price-loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin .5s linear infinite; /* Safari */
    animation: spin .5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.background::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    opacity: .7;
    z-index: -1
}


section.background .row-content {
    align-items: center;
    height: 100vh;
}

.background {
    background: url(../Content/assets/img/slider/slider-1.jpg);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-area {
    background: #4d88ff;
    border-radius: 5px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.search-all-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.search-area h2 {
    color: #fff;
    padding: 30px 0 20px;
    text-align: center;
    text-transform: capitalize;
}

.footer-area {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 10px 0 0;
}

    .footer-area h1 {
        color: black;
        padding: 30px 0 20px;
        text-align: center;
        text-transform: capitalize;
    }

.service {
    color: black;
    padding: 30px 0 20px;
    text-align: center;
    text-transform: capitalize;
}


.footer-area h {
    color: #fff;
    margin-bottom: 30px;
}

.touch-icon {
    align-items: flex-start;
    display: flex;
}

    .touch-icon i {
        color: #fff;
        font-size: 30px;
        margin: 5px 10px 0;
    }

.footer-area p {
    color: #fff;
}

.touch-icon {
    margin-bottom: 20px;
}

.footer-heading {
    margin-top: 50px;
}

    .footer-heading a {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        font-size: 17px;
        height: 40px;
        margin-top: 30px;
        padding: 6px;
        text-align: center;
        width: 40px;
        position: relative;
        z-index: 999;
        transition: all .3s ease
    }

    .footer-heading ul li a:hover {
        background: #fff;
        color: #47484B
    }

    .footer-heading ul li {
        display: inline-block;
        margin-right: 7px;
    }

.copy-right {
    background: url(../img/bg/copy-right-bg.png);
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

.header-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.zoom {
    transition: transform .1s;
}

    .zoom:hover {
        -ms-transform: scale(5); /* IE 9 */
        -webkit-transform: scale(5); /* Safari 3-8 */
        transform: scale(5);
        position: absolute;
        z-index: 10;
    }

.add-new-action {
    width: 250px !important;
    padding: 1rem 2rem !important;
}

.sidebar .item .profile-image {
    margin: 0 auto 8px;
}

.main-wrapper {
    position: relative;
}

.main {
    margin-top: 4.1rem;
    padding-top: 1.5rem;
    width: 100%
}

.body-content {
    width: 95%;
    align-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.rentals-body-content {
    width: 90%;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.large.text {
    font-size: 2rem;
}

table a {
    color: inherit;
}

table td .ui.mini.button {
    margin-bottom: 1rem;
}

.wrapper-btn_create-expenses {
    margin-left: auto;
}

.availability-day {
    width: 100px;
}

.report {
    margin-top: 5rem;
    display: none;
}

.accordion-report {
    overflow-x: scroll;
}

.stats {
    margin-top: 5rem;
    display: none;
}

.hidden {
    display: none;
}

.remove-field-icon {
    margin-top: 4px !important;
    font-size: 20px !important;
}

.add-field-icon {
    margin-top: 4px !important;
    font-size: 20px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.message-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-border-collapse {
    border-collapse: collapse !important;
}

.vertical-divider {
    position: absolute;
    left: 30.5%;
    top: 6%;
    bottom: 25%;
    border-left: 2px solid #333;
    overflow: hidden;
}

.item:hover {
    background-color: #2f87b6 !important;
    cursor: pointer !important;
}

.item.active {
    color: white;
}

.item > .avatar {
    margin-right: 4%;
}

.item {
    padding: 10px;
}
/*    .item > a {
        color: black;
    }*/

.avatar > img {
    border: 2px solid White
}

.image > img {
    border: 2px solid White
}

.message-label {
    margin-bottom: 2% !important;
}

.message-incoming {
    float: left !important;
    margin-right: 20% !important;
    clear: both !important;
    white-space: pre-wrap;
    color: white !important;
    background-color: #2f87b6 !important;
}

.message-outgoing {
    float: right !important;
    margin-left: 20% !important;
    clear: both !important;
    color: black;
    white-space: pre-wrap;
}

.message-info {
    display: table !important;
    clear: both !important;
    overflow: auto !important;
    margin: auto !important;
    margin-bottom: 2% !important;
    font-style: italic;
}

.message-panel {
    height: calc(100vh - 145px);
}

.message-list {
    overflow-y: auto;
    height: calc(100vh - 145px);
}

.reservation-list {
    overflow-y: auto;
    height: calc(100vh - 145px);
}

.conversation {
    height: calc(100vh - 350px);
    overflow-y: auto;
}

.conversation-box {
    height: 150px;
    overflow-y: auto;
}

.reply-panel {
    border-top: solid 1px #ddd;
    bottom: 3%;
}

.reply-options {
    margin-top: 2%;
}

.message-reply {
    padding: 0 !important;
    margin: 0 !important;
}

.message-send {
    padding: 0 !important;
    margin-top: 1% !important;
}

.ui.custom.label, .ui.custom.labels .label {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #b9845e !important;
}


.dashboard-widget {
    background-color: #3677eb !important;
}

    .dashboard-widget > .header {
        color: white !important;
    }

#calendar {
    width: 100%;
    margin: 50px 0 auto;
}

#dashboard-calendar {
    width: 100%;
    margin: 50px 0 auto;
}

.fc-widget-content .ui.avatar.image {
    width: 19px !important;
    height: 19px !important;
}

.margin-left-10-px {
    margin-left: 10px;
}

.margin-0 {
    margin: 0 !important;
}

.gray {
    color: gray;
}

.hidden {
    display: none !important;
}
/*# sourceMappingURL=style.css.map */


.audio.green-audio-player {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
}

    .audio.green-audio-player .play-pause-btn {
        display: none;
        cursor: pointer;
    }

    .audio.green-audio-player .slider-bar {
        flex-grow: 1;
        background-color: #D8D8D8;
        cursor: pointer;
        position: relative;
    }

        .audio.green-audio-player .slider-bar .progress-bar {
            background-color: #44BFA3;
            border-radius: inherit;
            position: absolute;
            pointer-events: none;
        }

            .audio.green-audio-player .slider-bar .progress-bar .pin {
                height: 16px;
                width: 16px;
                border-radius: 8px;
                background-color: #44BFA3;
                position: absolute;
                pointer-events: all;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
            }

    .audio.green-audio-player .controls {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        margin-left: 24px;
        margin-right: 24px;
    }

        .audio.green-audio-player .controls .slider-bar {
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 2px;
            height: 4px;
        }

            .audio.green-audio-player .controls .slider-bar .progress-bar {
                width: 0;
                height: 100%;
            }

                .audio.green-audio-player .controls .slider-bar .progress-bar .pin {
                    right: -8px;
                    top: -6px;
                }

        .audio.green-audio-player .controls span {
            cursor: default;
        }

    .audio.green-audio-player .volume {
        position: relative;
    }

        .audio.green-audio-player .volume .volume-btn {
            cursor: pointer;
        }

            .audio.green-audio-player .volume .volume-btn.open path {
                fill: #44BFA3;
            }

        .audio.green-audio-player .volume .volume-controls {
            z-index: 2;
            width: 30px;
            height: 135px;
            background-color: rgba(0, 0, 0, 0.62);
            border-radius: 7px;
            position: absolute;
            left: -3px;
            bottom: 52px;
            flex-direction: column;
            align-items: center;
            display: flex;
        }

            .audio.green-audio-player .volume .volume-controls.hidden {
                display: none;
            }

            .audio.green-audio-player .volume .volume-controls .slider-bar {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 6px;
                border-radius: 3px;
            }

                .audio.green-audio-player .volume .volume-controls .slider-bar .progress-bar {
                    bottom: 0;
                    height: 100%;
                    width: 6px;
                }

                    .audio.green-audio-player .volume .volume-controls .slider-bar .progress-bar .pin {
                        left: -5px;
                        top: -8px;
                    }

svg, img {
    display: block;
}

.property-accordion-header {
    width: 100% !important;
}

.property-template-table,
.property-accordion-table {
    width: 100%;
}

.assignment-story-container {
    border: 1px solid black;
    padding: 5px;
}

.assignment-story-label {
    font-weight: bold;
    text-decoration: underline;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

    .video-container video {
        width: auto;
        height: 150px;
    }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}


/*this will make a image stop have button in the middle of it*/
/*  .video-container .video-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }*/
/*.panorama {
    width: 50%;
    float: left;
    margin-top: -5px;
    height: 50%;
    position: relative;
}


.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}*/
#content {
    min-height: 100px;
}

.ui.grid {
    padding: 0 !important;
}

.pushable.segment {
    margin: 0 !important;
}
