﻿.dashboard-wrapper {
    height: 450px;
    width: 100%;
    background-color: gray;
    overflow: auto;
}

.task-container {
    margin: 3px 0;
}

.task-info, .task-todo {
    width: 500px;
    background-color: white;
    border: 1px solid gray;
}

.property-info {
    color: #e54b77;
}

/*#task-dashboard-table thead tr,
#task-dashboard-table thead tr th,
#task-dashboard-table tbody tr,
#task-dashboard-table tbody tr td {
    border: 0.5px solid gray;
}*/

#task-dashboard-table thead tr th.table-header {
    text-align: center;
}

.text-center {
    text-align: center !important;
}

.empty-records, .empty-tasks {
    text-align: center !important;
}

.task-table-header {
    width: 50%;
}

.task-last-updated-time {
    display: inline;
    float: right;
}

.task-status-label {
    margin-top: 10px;
}

.last-updated-time-label {
    font-size: 10px;
    font-style: italic;
}

.task-record-row:hover {
    cursor: pointer;
}

.worker-info {
    border: 1px solid black;
}

.task-template-table,
.task-accordion-table {
    width: 100%;
}

.task-template-table,
.task-template-table tr,
.task-template-table tr td {
    border: none !important;
}

.task-template-column,
.travel-event-column {
    vertical-align: top;
}

.task-template-label {
    font-weight: bold;
    text-decoration: underline;
}

/* Add by Danial-7/2/2018 */
.no-task-completed-col {
    background-color: #FE9983;
    text-align: center !important;
}

.all-task-completed-col {
    background-color: #9BF870;
    text-align: center !important;
}

.partial-task-completed-col {
    background-color: #F7F973;
    text-align: center !important;
}

.task-accordion-header {
    width: 100% !important;
}

.task-story-container {
    border: 1px solid black;
    padding: 5px;
}

.task-story-label {
    font-weight: bold;
    text-decoration: underline;
}

.travel-event-item {
    border: 1px solid black;
    background-color: #cdf7e7;
}

.task-accordion-table tbody tr td {
    width: 50%;
}

.content-top-col {
    vertical-align: top;
}

.no-worker-turnover {
    background-color: red;
}

/*.no-worker-turnover:hover {
    cursor: pointer;
}*/

.accepted-assignment-admin{
    background-color:lawngreen;
}
.pending-assignment-admin{
    background-color:yellow;
}
.decline-cancel-assignment-admin {
    background-color: red;
}
.pending-assignment-worker {
    background-color:red;
}
.decline-cancel-assignment{
    background-color:gray;
}
