﻿<html>
<head></head>
<body>
    <bold>ANALYTICS RESULT FOR @ViewBag.Date.ToUpper() ON @ViewBag.Property.ToUpper() <br /><br /></bold>
    Availability Rate By Date : @ViewBag.Analytics.AvailabilityRateByDate % <br />
    Availability Rate By Date for x Rooms : @ViewBag.Analytics.AvailabilityRateByDateForXRooms % <br />
    Availability Rate By Month : @ViewBag.Analytics.AvailabilityRateByMonth % <br />
    Availability Rate By Month for x Rooms : @ViewBag.Analytics.AvailabilityRateByMonthForXRooms % <br /><br />
    Average Price By Date : @ViewBag.Analytics.AveragePriceByDate <br />
    Average Price By Date for x Rooms : @ViewBag.Analytics.AveragePriceByDateForXRooms <br />
    Average Price By Month : @ViewBag.Analytics.AveragePriceByMonth <br />
    Average Price By Month for x Rooms : @ViewBag.Analytics.AveragePriceByMonthForXRooms <br /><br />
    Occupancy Rate By Date : @ViewBag.Analytics.OccupancyRateByDate % <br />
    Occupancy Rate By Date for x Rooms : @ViewBag.Analytics.OccupancyRateByDateForXRooms % <br />
    Occupancy Rate By Month: @ViewBag.Analytics.OccupancyRateByMonth % <br />
    Occupancy Rate By Month for x Rooms : @ViewBag.Analytics.OccupancyRateByMonthForXRooms % <br /><br />
    Property Count By Date : @ViewBag.Analytics.PropertyCountByDate <br />
    Property Count By Date for x Rooms : @ViewBag.Analytics.PropertyCountByDateForXRooms <br />
    Property Count By Rooms : @ViewBag.Analytics.PropertyCountByRooms <br /><br />

    <bold>RULE USE AND COMPUTATIONS : <br /><br />
    @{
        string ruleAndComputations = ViewBag.Computations;
        string[] words = ruleAndComputations.Split(';');

        foreach (var word in words)
        {
            @word <br>
        }
    }
    </bold>
</body>
</html>