﻿@using Newtonsoft.Json;
@using System.Linq;
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<input type="hidden" value="@ViewBag.Hosts" id="hosts" />
<input type="hidden" value="@ViewBag.PriceRuleSettings" id="priceRuleSettings" />

<div class="body-content">
    <h1 class="ui header">
        <i class="icon money bill alternate"></i>
        Price Analytics
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="tab-property-list">Price Analytics</div>
                    <div class="item" data-tab="tab-price-rule-settings">Price Rule Settings</div>
                    <div class="item" data-tab="tab-comparable-address">Search</div>
                    <div class="item" data-tab="tab-locations">Locations</div>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="tab-property-list">Price Analytics</div>
            <div class="item" data-tab="tab-price-rule-settings">Price Rule Settings</div>
            <div class="item" data-tab="tab-comparable-address">Search</div>
            <div class="item" data-tab="tab-locations">Locations</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->

                <div class="ui tab segment active" data-tab="tab-property-list">
                    <br />                <br />
                    <table id="property-list-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Owned By</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>ListingId</th>
                                <th>Site Type</th>
                                <th>Link to Price Modeler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var property in ViewBag.Property)
                                {
                                    <tr>
                                        @{
                                            var hosts = JsonConvert.DeserializeObject<List<Core.Database.Entity.Host>>(ViewBag.Hosts);
                                            var hostName = "";
                                            var hostProfilePicture = "/Content/img/eve.png";
                                            var hostEmail = "";

                                            foreach (var host in hosts)
                                            {
                                                if (property.HostId == host.Id)
                                                {
                                                    hostName = host.Firstname + " " + host.Lastname;
                                                    hostEmail = host.Username;

                                                    if (host.ProfilePictureUrl != null && host.ProfilePictureUrl != "")
                                                    {
                                                        hostProfilePicture = host.ProfilePictureUrl;
                                                    }

                                                    break;
                                                }
                                            }

                                            <td style="width: 400px;">
                                                <img class="ui mini avatar image" src="@hostProfilePicture" />
                                                <span>@hostName</span>
                                            </td>
                                            <td>
                                                @hostEmail
                                            </td>
                                        }
                                        <td style="width: 700px;">
                                            @property.Name
                                        </td>
                                        <td>
                                            @property.ListingId
                                        </td>
                                        <td>
                                            @{
                                                int siteType = property.SiteType;

                                                string site = "";

                                                switch (siteType)
                                                {
                                                    case 0:
                                                        site = "Local";
                                                        break;

                                                    case 1:
                                                        site = "Airbnb";
                                                        break;

                                                    case 2:
                                                        site = "Vrbo";
                                                        break;

                                                    case 3:
                                                        site = "Booking.com";
                                                        break;

                                                    case 4:
                                                        site = "Homeaway";
                                                        break;
                                                }
                                            }

                                            @site
                                        </td>
                                        <td class="ui" style="width: 300px;">
                                            @*132.148.144.109*@
                                            @{ string url = "/Analytics/Calendar?listingid=" + property.ListingId; }
                                            @*<button class="ui small button blue" style="width: 300px;" onclick="window.location.href = window.location.origin + '@url';">Price Modeler for @property.ListingId</button>*@
                                            <center><p><u><a style="cursor: pointer; color: gray;" onclick="window.location.href = window.location.origin + '@url';">Price Modeler</a></u><i class="arrow alternate circle right icon"></i></p></center>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="ui segment tab" data-tab="tab-price-rule-settings">
                    <br />
                    <div id="price-rule-div" style="margin-top: 2%" class="ui accordion">

                        <div style="margin-top: 1%;" class="content">

                            <div class="ui grid" style="margin-left: 1.5%;">
                                <div class="ten wide column">
                                    <h5>Select Property</h5>
                                    <div class="ui fluid right floated selection dropdown price-rule-select-property" style="width: 100%;">
                                        <input type="hidden" id="listingId">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select Property</div>
                                        <div class="menu">
                                            @{
                                                foreach (var property in ViewBag.Property)
                                                {
                                                    int siteType = property.SiteType;
                                                    bool priceRuleSync = property.PriceRuleSync == true ? true : false;

                                                    string site = "";

                                                    switch (siteType)
                                                    {
                                                        case 1:
                                                            site = "airbnb400.png";
                                                            break;

                                                        case 2:
                                                            site = "vrbo400.png";
                                                            break;

                                                        case 3:
                                                            site = "booking400.png";
                                                            break;

                                                        case 4:
                                                            site = "homeaway400.png";
                                                            break;
                                                    }

                                                    <div class="item" data-value="@property.ListingId">
                                                        <img class="ui mini avatar image" src="~/Content/img/@site" />
                                                        @property.Name
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="six wide column">
                                    <h5>
                                        Owned by
                                    </h5>
                                    <div id="owner-div" hidden>
                                        <img class="ui mini avatar image" id="owner-image" src="~/Content/img/default-avatar/G.png" />
                                        <span id="owner-name">Gretel Cruz</span>
                                    </div>
                                </div>
                            </div>

                            <div id="price-rule-info" style="margin: 3%" class="field">
                                (By switching this on, your price for your calendar on this property will change base on the <br />gathered analytics and will auto compute base on the rules you are going to set.)
                            </div>

                            <div class="fields">
                                <div style="margin: 3%" class="field">
                                    <div class="ui slider checkbox">
                                        <input type="checkbox" class="hidden" name="priceRuleSync" id="priceRuleSync">
                                        <label>Sync by Price Rule</label>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-left: 2%;">
                                <div style="margin: 1%">
                                    <table id="price-rule-table" style="width: 100%" class="ui compact celled table" hidden>
                                        <thead>
                                            <tr>
                                                <th colspan="8" align="center" style="text-align: center">Price Rule</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Basis</th>
                                                <th>Condition</th>
                                                <th>%</th>
                                                <th></th>
                                                <th>Value</th>
                                                <th></th>
                                                <th>Average Price Basis</th>
                                            </tr>
                                        </thead>
                                        <tbody id="priceRuleTable">
                                            <tr class="price-rule-row">
                                                <td></td>
                                                <td>
                                                    <select name="priceRuleBasis" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">Occupancy Rate by Date</option>
                                                        <option value="1">Occupancy Rate by Date for 'x' Rooms</option>
                                                        <option value="2">Occupancy Rate by Month</option>
                                                        <option value="3">Occupancy Rate by Month for 'x' Rooms</option>
                                                        <option value="4">Availability Rate by Date</option>
                                                        <option value="5">Availability Rate by Date for 'x' Rooms</option>
                                                        <option value="6">Availability Rate by Month</option>
                                                        <option value="7">Availability Rate by Month for 'x' Rooms</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="priceRuleCondition" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">greater than</option>
                                                        <option value="1">less than</option>
                                                    </select>
                                                </td>
                                                <td class="ui input">
                                                    <input type="text" name="priceRuleConditionPercentage" placeholder="%" size="10" />
                                                </td>
                                                <td>
                                                    <select name="priceRuleAmountPlusMinus" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">+</option>
                                                        <option value="1">-</option>
                                                    </select>
                                                </td>
                                                <td class="ui input">
                                                    <input type="text" name="priceRuleAmount" placeholder="Price in $ or %" size="15" />
                                                </td>
                                                <td>
                                                    <select name="priceRuleSign" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">%</option>
                                                        <option value="1">$</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="priceRuleAveragePriceBasis" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">by date</option>
                                                        <option value="1">by date for 'x' rooms</option>
                                                        <option value="2">by month</option>
                                                        <option value="3">by month for 'x' rooms</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" id="saveSettings" class="ui blue right floated labeled icon button" hidden><i class="save icon"></i>Save Settings</button>
                                    <button style="margin-bottom: 20px;" type="button" id="addRule" class="ui blue right floated labeled icon button" hidden><i class="plus icon"></i>Add Rule</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="tab-comparable-address">
                    <!-- Start Reports Navigation -->
                    <div class="ui one column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="ui form">
                                        <div class="fields">
                                            <div class="eight wide field">
                                                <label>Address</label>
                                                <input placeholder="Address" id="comparable-address" />
                                            </div>
                                            <div class="field">
                                                <label>Date</label>
                                                <div class="ui calendar">
                                                    <div class="ui input left icon">
                                                        <i class="calendar icon"></i>
                                                        <input id="comparable-date" type="text" placeholder="Select Date" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Bedroom</label>
                                                <select class="ui dropdown" id="comparable-bedrooms">
                                                    @for (int x = 1; x <= 20; x++)
                                                    {
                                                        <option value="@x">@x</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label>Miles</label>
                                                <select class="ui dropdown" id="comparable-miles">
                                                    @for (int x = 1; x <= 40; x++)
                                                    {
                                                        <option @(x == 40 ? "selected" : "") value="@x">@x</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label>Property Type</label>
                                                <select class="ui dropdown" id="comparable-type">
                                                    <option value="false">Entire House</option>
                                                    <option value="true">Private Room</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label>&nbsp;</label>
                                                <div class="ui toggle checkbox" id="sitetype-only-comparable"><input type="checkbox" name="sitetype-only"><label id="sitetype-only-label">Airbnb Only</label></div>
                                            </div>
                                            <div class="field">
                                                <label>&nbsp;</label>
                                                <div id="comparable-search" class="ui primary button">Search</div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="comparable-table" class="display responsive" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Photo</th>
                                                <th>Name</th>
                                                <th>Url</th>
                                                <th>Distance</th>
                                                <th id="price-th">Price</th>
                                                <th>Fees</th>
                                                <th>Bedrooms</th>
                                                <th>Bathrooms</th>
                                                <th>Site</th>
                                                <th>Status</th>
                                                <th>Occupancy Rates</th>
                                                <th>Ratings</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="tab-locations">
                    <div class="ui form">
                        <div class="ui fields">
                            <div class="ui three field">
                                <input placeholder="Location" id="city-location" />
                            </div>
                            <div class="ui field">
                                <button class="ui blue button" id="city-btn">Search</button>
                            </div>
                        </div>
                    </div>
                    <table id="city-table" class="display responsive" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Total Property</th>
                                <th>Active Property</th>
                                <th>Inactive Property</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ui.accordion').accordion();
        $('.ui.dropdown').dropdown({ on: 'hover' });
        $('.ui.checkbox').checkbox();
        $('table td a.table-tooltip').popup();
        $('.menu .item').tab();
        $('#price-rule-table').hide();
        $('#addRule').hide();
        $('#saveSettings').hide();
        $('#property-list-table').DataTable({
            'responsive': true,
            "aaSorting": [],
            "bAutoWidth": false,
            "bLengthChange": true,
            "searching": true,
            "search": { "caseInsensitive": true }
        });
        var cityTable;
        LoadComparable();
        LoadCities() 
        var comparableTable;
        function LoadCities() {
            cityTable = $('#city-table').DataTable({
                "aaSorting": [],
                "responsive": true,
                "search": { "caseInsensitive": true },
                "ajax": {
                    "url": "/Analytics/GetCityProperties",
                    "type": 'Get',
                },
                "columns": [
                    { "data": "CityName" },
                    { "data": "PropertyCount" },
                    { "data": "PropertyActive" },
                    { "data": "PropertyInActive" },
                ],
                "createdRow": function (row, data, rowIndex) {
                    $(row).attr('city-id', data.CityId);
                }
            });
        }
        
        $(document).on('click', '#city-btn', function () {

            var address = $('#city-location').val();
            $.ajax({
                type: 'POST',
                url: "/Analytics/SearchProperty",
                data: {
                    location: address
                },
                dataType: 'json',
                success: function (data) {
                    cityTable.ajax.reload(null, false);
                }

            });
        });
        function imgError(image) {
            image.onerror = "";
            image.src = "/Content/img/default-avatar/P.png";
            return true;
        }
        function LoadComparable(){
            comparableTable= $('#comparable-table').DataTable({
                "aaSorting": [],
                "responsive": true,
                "search": { "caseInsensitive": true },
                "ajax": {
                    "url": "/Analytics/GetComparables",
                    "type": 'POST',
                    "data": function () {
                        return {
                            address: $('#comparable-address').val(),
                            date: $('#comparable-date').val(),
                            bedrooms: $('#comparable-bedrooms').val(),
                            miles: $('#comparable-miles').val(),
                            isPrivateRoomOnly: $('#comparable-type').val(),
                            isAirbnbOnly: $('#sitetype-only-comparable').find('input').is(':checked')
                        }
                    }
                },
                "columns": [
                    { "data": "ListingImage" },
                    { "data": "ListingName" },
                    { "data": "ListingUrl" },
                    { "data": "Distance" },
                    { "data": "Price" },
                    { "data": "Fees" },
                    { "data": "Bedrooms" },
                    { "data": "Bathrooms" },
                    { "data": "Site" },
                    { "data": "IsAvailable" },
                    { "data": "AverageOccupancies" },
                    { "data": "Ratings" },
                    { "data":"IsPrivateRoom"}
                ],
                columnDefs: [{
                    targets: [9], type: "string", render: function (data) {
                        return data == false ? "Booked" : "Available"
                    }
                    },
                    {
                        targets: [0], type: "string", render: function (data) {
                            return '<img onerror="imgError(this);" style="width: 70px; height: 60px; object-fit: cover;" src="' + (data != null ? data : "/Content/img/default-avatar/P.png") + '" />';
                        }
                    },
                    {
                        targets: [5], type: "string", render: function (data) {
                            return data != null ? data:"Not Available" 
                        }
                    },
                    {
                        targets: [12], type: "string", render: function (data) {
                            return data == false ? "Entire House" : "Private Room"
                        }
                    },
                    {
                        targets: [2], type: "string", render: function (data) {
                            return '<a href="' + data+'" target="_blank">' + data + '</a>';
                        }
                    }],
                "createdRow": function (row, data, rowIndex) {
                    $(row).addClass((data.IsAvailable ? "" : "active"));
                }
            });
        }
        comparableTable.on('draw.dt', function () {
            $('#comparable-search').removeClass('loading');
        });
        $(document).on('click', '#comparable-search', function () {
            $(this).addClass('loading');
            comparableTable.ajax.reload(null, false);
        });
        $(document).on('change', '#listingId', function () {
            var listingId = $(this).val();
            $.ajax({
                type: "Get",
                url: '/Analytics/GetPriceRules',
                data: {
                    listingId: listingId,
                },
                success: function (data) {
                    var property = data.property;
                    var pricerules = data.pricerules;
                    var host = data.host;
                    //JM 4/3/20 change host details on UI
                    $("#owner-name").html(host.Firstname + " " + host.Lastname);
                    if (host.ProfilePictureUrl == null || host.ProfilePictureUrl == "") {
                        document.getElementById("owner-image").src = "/Content/img/default-avatar/" + host.Firstname[0].toUpperCase() + ".png";
                    }
                    else {
                        $("#owner-image").attr("src", host.ProfilePictureUrl);
                    }
                    $("#owner-div").show();

                    if (property.PriceRuleSync) {
                        $('#priceRuleSync').attr('checked', 'checked');
                        $('#price-rule-table').show();
                        $('#addRule').show();
                        $('#saveSettings').show();
                    } else {
                        $('#priceRuleSync').removeAttr('checked');
                        $('#price-rule-table').hide();
                        $('#addRule').hide();
                        $('#saveSettings').hide();
                    }
                    $("#priceRuleTable").html(priceRuleHtml());
                    $(".price-rule-dropdown").dropdown();
                    if (pricerules.length > 0) {
                        for (var i = 0; i < pricerules.length; i++) {
                            var rule = pricerules[i];
                            var clone = $(".price-rule-row").first().clone();
                            clone.find("td").first().html('<button type="button" name="deleteRule" class="tiny ui orange circular icon button price-rule-delete"><i class="minus icon"></i></button>');
                            clone.find("td:eq(1) select").val(rule.PriceRuleBasis);
                            clone.find("td:eq(2) select").val(rule.PriceRuleCondition);
                            clone.find("td:eq(3) input").val(rule.PriceRuleConditionPercentage);
                            clone.find("td:eq(4) select").val(rule.PriceRuleAmount < 0 ? 1 : 0);
                            clone.find("td:eq(5) input").val(rule.PriceRuleAmount < 0 ? (rule.PriceRuleAmount * -1) : rule.PriceRuleAmount);
                            clone.find("td:eq(6) select").val(rule.PriceRuleSign);
                            clone.find("td:eq(7) select").val(rule.PriceRuleAveragePriceBasis);
                            $("#priceRuleTable").append(clone);
                        }
                        $(".price-rule-row").first().remove();
                        $(".price-rule-dropdown").dropdown();
                    }
                }
            });

        });
        $(document).on('change', '#listingIdAndHostId', function () {
            var hosts = JSON.parse($("#hosts").val());
            var priceRuleSettings = JSON.parse($("#priceRuleSettings").val());
            var listingId = $(this).val().split(',')[0];
            var hostId = $(this).val().split(',')[1];
            var priceRuleSync = $(this).val().split(',')[2];
            var hasPriceRule = false;

            for (var i = 0; i < hosts.length; i++) {
                var host = hosts[i];
                if (host.Id == hostId) {
                    $("#owner-name").html(host.Firstname + " " + host.Lastname);

                    if (host.ProfilePictureUrl == null || host.ProfilePictureUrl == "") {
                        document.getElementById("owner-image").src = "/Content/img/default-avatar/" + host.Firstname[0].toUpperCase() + ".png";
                    }
                    else {
                        $("#owner-image").attr("src", host.ProfilePictureUrl);
                    }

                    $("#owner-div").show();
                    break;
                }
            }

            if (priceRuleSync) {
                $('#priceRuleSync').attr('checked', 'checked');
                $('#price-rule-table').show();
                $('#addRule').show();
                $('#saveSettings').show();
            }
            else {
                $('#priceRuleSync').removeAttr('checked');
                $('#price-rule-table').hide();
                $('#addRule').hide();
                $('#saveSettings').hide();
            }

            $("#priceRuleTable").html(priceRuleHtml());
            $(".price-rule-dropdown").dropdown();

            for (var i = 0; i < priceRuleSettings.length; i++) {
                var rule = priceRuleSettings[i];

                if (rule.ListingId == listingId) {
                    var clone = $(".price-rule-row").first().clone();
                    clone.find("td").first().html('<button type="button" name="deleteRule" class="tiny ui orange circular icon button price-rule-delete"><i class="minus icon"></i></button>');
                    clone.find("td:eq(1) select").val(rule.PriceRuleBasis);
                    clone.find("td:eq(2) select").val(rule.PriceRuleCondition);
                    clone.find("td:eq(3) input").val(rule.PriceRuleConditionPercentage);
                    clone.find("td:eq(4) select").val(rule.PriceRuleAmount < 0 ? 1 : 0);
                    clone.find("td:eq(5) input").val(rule.PriceRuleAmount < 0 ? (rule.PriceRuleAmount * -1) : rule.PriceRuleAmount);
                    clone.find("td:eq(6) select").val(rule.PriceRuleSign);
                    clone.find("td:eq(7) select").val(rule.PriceRuleAveragePriceBasis);
                    $("#priceRuleTable").append(clone);
                    hasPriceRule = true;
                }
            }

            if (hasPriceRule) {
                $(".price-rule-row").first().remove();
                $(".price-rule-dropdown").dropdown();
            }
        });

        $(document).on('change', '#priceRuleSync', function () {
            var isParent = $(this).prop('checked');

            if (isParent) {
                $('#price-rule-table').show();
                $('#addRule').show();
                $('#saveSettings').show();
            }
            else {
                $('#price-rule-table').hide();
                $('#addRule').hide();
                $('#saveSettings').hide();
            }
        });
        //JM study how it works
        //$(document).on('change', '.price-rule-dropdown', function () {
        //    $('span').html($(this).val())
        //});

        $(document).on('click', '#addRule', function (e) {
            var clone = $(".price-rule-row").first().clone();
            clone.find("td").first().html('<button type="button" name="deleteRule" class="tiny ui orange circular icon button price-rule-delete"><i class="minus icon"></i></button>');

            $("#priceRuleTable").append(clone);
            $(".price-rule-dropdown").dropdown();
        });

        $(document).on('click', '.price-rule-delete', function (e) {
            $(this).parent().parent().remove();
        });

        $(document).on('click', '#saveSettings', function (e) {
            var listingId = $('#listingId').val(); //$("#listingIdAndHostId").val().split(',')[0];

            var priceRuleBasis = $('select[name="priceRuleBasis"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleCondition = $('select[name="priceRuleCondition"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleConditionPercentage = $('input[name="priceRuleConditionPercentage"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleAmountPlusMinus = $('select[name="priceRuleAmountPlusMinus"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleAmount = $('input[name="priceRuleAmount"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleSign = $('select[name="priceRuleSign"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            var priceRuleAveragePriceBasis = $('select[name="priceRuleAveragePriceBasis"]').map(function (i, v) {
                return $(this).val();
            }).toArray();

            debugger;

            $.ajax({
                type: "POST",
                url: '/test/pricesettings/save',
                data: {
                    listingId: listingId,
                    priceRuleBasis: priceRuleBasis,
                    priceRuleCondition: priceRuleCondition,
                    priceRuleConditionPercentage: priceRuleConditionPercentage,
                    priceRuleAmountPlusMinus: priceRuleAmountPlusMinus,
                    priceRuleAmount: priceRuleAmount,
                    priceRuleSign: priceRuleSign,
                    priceRuleAveragePriceBasis: priceRuleAveragePriceBasis
                },
                success: function (data) {
                    if (data.success) {
                        swal({ title: "Successfully saved !", buttons: false });
                        //window.location.reload();
                    }
                    else {
                        swal("An error occured while saving the price rule settings.", "", "error");
                    }
                }
            });
        });

        $('#js-btn_sidebar').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
        });

        function priceRuleHtml() {
            var html = "" +

                '<tr class="price-rule-row">' +
                '<td>' +
                '</td>' +
                '<td>' +
                '<select name="priceRuleBasis" class="ui fluid dropdown price-rule-dropdown">' +
                '<option value="0">Occupancy Rate by Date</option>' +
                '<option value="1">Occupancy Rate by Date for \'x\' Rooms</option>' +
                '<option value="2">Occupancy Rate by Month</option>' +
                '<option value="3">Occupancy Rate by Month for \'x\' Rooms</option>' +
                //'<option value="4">Availability Rate by Date</option>' +
                //'<option value="5">Availability Rate by Date for \'x\' Rooms</option>' +
                //'<option value="6">Availability Rate by Month</option>' +
                //'<option value="7">Availability Rate by Month for \'x\' Rooms</option>' +
                '</select>' +
                '</td>' +
                '<td>' +
                '<select name="priceRuleCondition" class="ui fluid dropdown price-rule-dropdown">' +
                '<option value="0">greater than</option>' +
                '<option value="1">less than</option>' +
                '</select>' +
                '</td>' +
                '<td class="ui input">' +
                '<input type="text" name="priceRuleConditionPercentage" placeholder="%" size="15" />' +
                '</td>' +
                '<td>' +
                '<select name="priceRuleAmountPlusMinus" class="ui fluid dropdown price-rule-dropdown">' +
                '<option value="0">+</option>' +
                '<option value="1">-</option>' +
                '</select>' +
                '</td>' +
                '<td class="ui input">' +
                '<input type="text" name="priceRuleAmount" placeholder="Price in $ or %" size="15" />' +
                '</td>' +
                '<td>' +
                '<select name="priceRuleSign" class="ui fluid dropdown price-rule-dropdown">' +
                '<option value="0">%</option>' +
                '<option value="1">$</option>' +
                '</select>' +
                '</td>' +
                '<td>' +
                '<select name="priceRuleAveragePriceBasis" class="ui fluid dropdown price-rule-dropdown">' +
                '<option value="0">by date</option>' +
                '<option value="1">by date for \'x\' rooms</option>' +
                '<option value="2">by month</option>' +
                '<option value="3">by month for \'x\' rooms</option>' +
                '</select>' +
                '</td>' +
                '</tr>' +

                "";

            return html;
        }
    });
</script>