﻿@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>PropertyDB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datatables-1.10.15/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/toaster/toastr.min.css" />
</head>
<body>
    <!-- Start of Comparable Property Modal -->

    <div id="comparables-modal" class="ui fullscreen modal scrolling menu" style="margin-left: 35px; overflow-x: hidden;">
        <div class="ui tabular menu">
            <div class="item comparables active" data-tab="tab-comparables" onclick="tabChanged(this)">Comparables</div>
            <div class="item comparables" data-tab="tab-excluded-comparables" onclick="tabChanged(this)">Excluded Comparables</div>
        </div>

        <div class="ui tab active comparables" data-tab="tab-comparables">
            <div class="header" style="margin-top: 20px;">
                <div class="ui form">
                    <div class="group fields">
                        <div class="field">
                            LIST OF COMPARABLE PROPERTIES
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox" style="margin-left: 750px; margin-top: 3px;">
                                <input type="checkbox" name="comparables-filter" id="comparables-filter">
                                <label>Show Booking.com Only</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @*<div class="ui active inverted dimmer">
                        <div class="ui massive text loader">Getting comparables...</div>
                    </div>*@
                <table class="ui celled striped table" style="width: 100%;">
                    <colgroup>
                        <col span="1" style="width: 5%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 10%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 10%" />
                        <col span="1" style="width: 20%" />
                        <col span="1" style="width: 5%" />
                        <col span="1" style="width: 5%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Url</th>
                            <th>Distance</th>
                            <th>Price</th>
                            <th>Fees</th>
                            <th>Bedrooms</th>
                            <th>Bathrooms</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img style="width: 70px; height: 60px; object-fit: cover;" src="~/Content/img/matthew.png" /></td>
                            <td>Cozy,Safe,Clean 3 Bedroom House 15 Mins From Strip</td>
                            <td><u><a href="https://www.airbnb.com/rooms/13669298" style="color: gray;">https://www.airbnb.com/rooms/13669298</a></u></td>
                            <td>3 miles away</td>
                            <td>120 $</td>
                            <td class="top aligned">Cleaning fee: 50 $<br />Misc fee: 100 $</td>
                            <td>3</td>
                            <td>5</td>
                            <td>120 sq.ft.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="ui tab comparables" data-tab="tab-excluded-comparables">
            TESTING...
        </div>
    </div>

    <div id="analytics-modal" class="ui basic modal" style="width: 100%;" hidden>
        <div class="ui icon header">
            <i class="chart bar icon"></i>
            <div id="analytics-modal-title">
                PROPERTIES ON AIRBNB WITHIN 100 KM. / 62.5 MILES
            </div>
        </div>
        <div id="analytics-modal-content" class="content">
            <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
        </div>
        <div class="actions">
            <div class="ui green basic inverted ok button">
                Close
                <i class="arrow right icon"></i>
            </div>
        </div>
    </div>

    <!-- Start Sidebar -->
    <div class="ui left vertical sidebar labeled icon menu">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>

        @{
            if (User.Identity.IsAuthenticated)
            {
                var result = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));
                foreach (var items in ViewBag.RolePage)
                {
                    <a href="@items.PageUrl?companyId=@result.CompanyId" class="item" style="text-transform:capitalize;">
                        <i class="@items.IconPath"></i>
                        @items.PageName
                    </a>
                }
                <a href="/profile?companyId=@result.CompanyId" class="item">
                    <img src="~/Content/img/eve.png" class="ui mini circular image profile-image">Profile
                </a>
            }
        }
    </div>
    <!-- End Sidebar -->

    <div class="main-wrapper pusher">

        <!-- Start Header Menu -->
        <div class="header-menu ui menu">
            <a id="js-btn_sidebar" class="item">
                <i class="icon content"></i>
            </a>
            <div class="item">
                PropertyDB
            </div>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Home/Logout" class="item userLogout">
                        <i class="icon glyphicon-log-out"></i>
                        Log Out
                    </a>
                }
                else
                {
                    <a class="item userLogin">
                        <i class="icon glyphicon-log-in"></i>
                        Login
                    </a>
                    <a class="item userRegister">
                        <i class="icon glyphicon-plus-sign"></i>
                        Register
                    </a>
                }
                <a class="item">
                    <img src="~/Content/img/eve.png" class="ui avatar image">
                </a>
                <a class="item">
                    <i class="icon help circle"></i>
                </a>
            </div>
        </div>
        <!-- End Header Menu -->
        <!-- Start of Sample Calendar Content -->
            <div class="main">
                <div class="ui container">
                    <h1 class="ui header">
                        <i class="icon money bill alternate"></i>
                        Price Modeler
                    </h1>
                    <table id="price-rule-table" style="width: 100%" class="ui compact celled table">
                        <thead>
                            <tr>
                                <th colspan="5" align="center" style="text-align: center">

                                    @*<button class="ui button blue" type="submit">@ViewBag.ButtonText</button>
                                        <button class="ui button blue" type="button" onclick="showComparablePropertyTestModal()">Modal Trigger Test</button>*@
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>Basis</th>
                                <th>Condition</th>
                                <th>%</th>
                                <th>Value</th>
                                <th>Using Average Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var settings in ViewBag.PriceRuleSettings)
                                {
                                    <tr style="border: double;">
                                        <td>
                                            @{
                                                int basis = settings.PriceRuleBasis;
                                                var text = "";
                                                switch (basis)
                                                {
                                                    case 0:
                                                        text = "Occupancy Rate by Date";
                                                        break;

                                                    case 1:
                                                        text = "Occupancy Rate by Date for 'x' Rooms";
                                                        break;

                                                    case 2:
                                                        text = "Occupancy Rate by Month";
                                                        break;

                                                    case 3:
                                                        text = "Occupancy Rate by Month for 'x' Rooms";
                                                        break;

                                                    case 4:
                                                        text = "Availability Rate by Date";
                                                        break;

                                                    case 5:
                                                        text = "Availability Rate by Date for 'x' Rooms";
                                                        break;

                                                    case 6:
                                                        text = "Availability Rate by Month";
                                                        break;

                                                    case 7:
                                                        text = "Availability Rate by Month for 'x' Rooms";
                                                        break;
                                                }
                                            }
                                            @text
                                        </td>
                                        <td>
                                            @(settings.PriceRuleCondition == 0 ? "greater than" : "less than")
                                        </td>
                                        <td>
                                            @settings.PriceRuleConditionPercentage
                                        </td>
                                        <td>
                                            @settings.PriceRuleAmount @(settings.PriceRuleSign == 0 ? "%" : "$")
                                        </td>
                                        <td>
                                            @{
                                                basis = settings.PriceRuleAveragePriceBasis;
                                                text = "";
                                                switch (basis)
                                                {
                                                    case 0:
                                                        text = "by Date";
                                                        break;

                                                    case 1:
                                                        text = "by Date for 'x' Rooms";
                                                        break;

                                                    case 2:
                                                        text = "by Month";
                                                        break;

                                                    case 3:
                                                        text = "by Month for 'x' Rooms";
                                                        break;
                                                }
                                            }
                                            @text
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="main" style="margin-top: 1px;">
                <div class="ui container">
                    <label>Filter</label>
                    <select id="date-filter" class="ui dropdown">
                        @{
                            <option value="0">1 Year</option>
                            <option selected value="@DateTime.Now.ToString("yyyy-MM-01")">@DateTime.Now.ToString("MMMM yyyy")</option>
                            for (DateTime date = DateTime.Now.AddMonths(1); date <= DateTime.Now.AddYears(1); date = date.AddMonths(1))
                            {
                                <option value="@date.ToString("yyyy-MM-01")">@date.ToString("MMMM yyyy")</option>
                            }
                        }
                    </select>
                    <input type="hidden" id="listingId" name="listingId" value="@ViewBag.Property.ListingId" />
                    <table id="booking-date-table" style="width: 100%" class="ui compact celled table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Is Available</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- End of Sample Calendar Content-->
    </div>

    <style>

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.js"></script>
    <script src="~/Content/datatables-1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables-1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>

    <script>
            var bedroomsJson = null;
            var comparablesJson = null;
            var excludedComparablesJson = null;
            var unfilteredComparablesJson = null;
            var selectedSiteType = null;
            var selectedDate = null;
            var selectedListingId = null;
            var selectedBedroom = null;
            var selectedHostId = null;
            var milesFilter = 20;

            $("#comparables-modal").modal({
                closable: true,
                useFlex: true,
                allowMultiple: false,
                centered: true,
                padding: 0,
                inverted: 0
            });

            $("#analytics-modal").modal({
                closable: true,
                useFlex: true,
                allowMultiple: false,
                centered: true,
                padding: 0,
                inverted: 0
            });

            function showComparablePropertyResult(e) {
                var json = JSON.parse(e.value);
                bedroomsJson = json.Bedrooms;
                comparablesJson = json.Comparables;
                excludedComparablesJson = json.ExcludedComparables;
                unfilteredComparablesJson = json.UnfilteredComparables;
                selectedDate = e.getAttribute("data-date");
                selectedListingId = e.getAttribute("data-listing-id");
                selectedSiteType = parseInt(e.getAttribute("data-site-type"));
                selectedBedroom = parseInt(e.getAttribute("data-bedroom"));
                selectedHostId = parseInt(e.getAttribute("data-host-id"));
                milesFilter = 20;
                var site = "";

                switch (selectedSiteType) {
                    case 1:
                        site = "Airbnb";
                        break;

                    case 2:
                        site = "Vrbo";
                        break;

                    case 3:
                        site = "Booking.com";
                        break;

                    case 4:
                        site = "Homeaway";
                        break;
                }

                var bedroomList = "";

                for (var i = 0; i < bedroomsJson.length; i++) {
                    var selectedText = "";

                    if (parseInt(bedroomsJson[i].Bedroom) == selectedBedroom) {
                        selectedText = "selected";
                    }

                    bedroomList = bedroomList +
                        '<option value="' + bedroomsJson[i].Bedroom + '" ' + selectedText + '>' + bedroomsJson[i].Bedroom + ' bedroom' +
                        (parseInt(bedroomsJson[i].Bedroom) > 1 ? 's' : '') + ', Count : ' + bedroomsJson[i].Count + '</option>';
                }

                var html =
                    '<div class="ui tabular menu">' +
                        '<div class="item comparables active" data-tab="tab-comparables" onclick="tabChanged(this)">Available Comparables on ' + site + ' for ' + selectedDate + '</div>' +
                        '<div class="item comparables" data-tab="tab-excluded-comparables" onclick="tabChanged(this)">Excluded Comparables</div>' +
                    '</div>' +
                    '<div class="ui tab active comparables" data-tab="tab-comparables">' +
                    '<div class="header" style="margin-top: 20px;">' +
                        '<div class="ui form">' +
                            '<div class="ui grid">' +
                                '<div class="one wide column"  style="margin-top: 12px;">' +
                                '</div>' +
                                '<div id="comparables-average-price" class="three wide column"  style="margin-top: 12px;">' +
                                '</div>' +
                                '<div class="four wide column">' +
                                    '<label>Less Than  </label>' +
                                    '<select class="ui dropdown comparables-dropdown" onchange="filterByMiles(this.value)" value="20">' +
                                        '<option value="1">1 mile away</option>' +
                                        '<option value="2">2 miles away</option>' +
                                        '<option value="3">3 miles away</option>' +
                                        '<option value="4">4 miles away</option>' +
                                        '<option value="5">5 miles away</option>' +
                                        '<option value="6">6 miles away</option>' +
                                        '<option value="7">7 miles away</option>' +
                                        '<option value="8">8 miles away</option>' +
                                        '<option value="9">9 miles away</option>' +
                                        '<option value="10">10 miles away</option>' +
                                    '</select>' +
                                '</div>' +
                                '<div class="four wide column">' +
                                    '<label>Room Count  </label>' +
                                    '<select class="ui dropdown comparables-dropdown" onchange="filterComparable(this.value)">' +
                                        bedroomList +
                                    '</select>' +
                                '</div>' +
                                '<div class="four wide column" style="margin-top: 7px;">' +
                                    '<div class="ui toggle checkbox">' +
                                        '<input type="checkbox" name="comparables-filter" id="comparables-filter" checked onchange="filterComparable(' + selectedBedroom + ')">' +
                                        '<label>Show ' + site + ' Only</label>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="comparables-content">' +
                    '</div>' +
                    '</div>' +

                    '<div class="ui tab comparables" data-tab="tab-excluded-comparables">' +
                        '<div id="excluded-comparables-content" style="margin-top: 20px;">' +
                            'TESTING...' +
                        '</div>' +
                    '</div>';

                $("#comparables-modal").html(html);
                $(".comparables-dropdown").dropdown();

                showComparableFilter(true, selectedBedroom);

                $("#comparables-modal").modal('show');
            }

            function showComparableFilter(showPropertySiteTypeOnly, bedroom) {
                var html = "" +
                            '<table class="ui celled striped table" style="width: 100%; margin-top: 10px;">' +
                                '<colgroup>' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                '</colgroup>' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th></th>' +
                                        '<th>Name</th>' +
                                        '<th>Url</th>' +
                                        '<th>Distance</th>' +
                                        '<th id="price-th">Price</th>' +
                                        '<th>Fees</th>' +
                                        '<th>Bedrooms</th>' +
                                        '<th>Bathrooms</th>' +
                                        '<th>Size</th>' +
                                        '<th>Site</th>' +
                                        '<th>Exclude</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';

                var comparables = comparablesJson;
                var siteType = 0;
                var average = 0;
                var count = 0;
                debugger;
                for (var i = 0; i < comparables.length; i++) {
                    switch (comparables[i].Site)
                    {
                        case "Airbnb":
                            siteType = 1;
                            break;

                        case "Vrbo":
                            siteType = 2;
                            break;

                        case "Booking.com":
                            siteType = 3;
                            break;

                        case "Homeaway":
                            siteType = 4;
                            break;
                    }

                    if (bedroom == parseInt(comparables[i].Bedrooms) &&
                        (!showPropertySiteTypeOnly || (showPropertySiteTypeOnly && selectedSiteType == siteType))) {
                        html = html +
                            '<tr>' +
                                '<td><img style="width: 70px; height: 60px; object-fit: cover;" src="' + comparables[i].ListingImages[0] + '" /></td>' +
                                '<td>' + comparables[i].ListingName + '</td>' +
                                '<td><u><a href="' + comparables[i].ListingUrl + '" style="color: gray;">' + comparables[i].ListingUrl + '</a></u></td>' +
                                '<td>' + comparables[i].Distance + '</td>' +
                                '<td>' + comparables[i].Price + ' $</td>' +
                                '<td class="top aligned">Cleaning fee: 50 $<br />Misc fee: 100 $</td>' +
                                '<td>' + comparables[i].Bedrooms + '</td>' +
                                '<td>' + comparables[i].Bathrooms + '</td>' +
                                '<td>120 sq.ft.</td>' +
                                '<td>' + comparables[i].Site + '</td>' +
                                '<td>' +
                                    '<center><p><u><a style="cursor: pointer; color: gray;" onclick="excludeComparable(' + comparables[i].ListingId + ')">Exclude</a></u>  <i class="arrow alternate circle right icon"></i></p></center>' +
                                '</td>' +
                            '</tr>';

                        average = average + comparables[i].Price;
                        count++;
                    }
                }

                html = html + '</tbody>' +
                            '</table>';

                $("#comparables-average-price").html("Average Price : " + (average / count).toFixed(2) + ", Count : " + count);
                $("#comparables-content").html(html);

                var html = "" +
                            '<table class="ui celled striped table" style="width: 100%; margin-top: 10px;">' +
                                '<colgroup>' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 5%" />' +
                                    '<col span="1" style="width: 20%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                    '<col span="1" style="width: 10%" />' +
                                '</colgroup>' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th></th>' +
                                        '<th>Name</th>' +
                                        '<th>Url</th>' +
                                        '<th>Distance</th>' +
                                        '<th>Price</th>' +
                                        '<th>Fees</th>' +
                                        '<th>Bedrooms</th>' +
                                        '<th>Bathrooms</th>' +
                                        '<th>Size</th>' +
                                        '<th>Site</th>' +
                                        '<th>Include</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';

                var excludedComparables = excludedComparablesJson;
                comparables = unfilteredComparablesJson;
                for (var x = 0; x < excludedComparables.length; x++) {
                    for (var i = 0; i < comparables.length; i++) {
                        if (excludedComparables[x].ListingId == comparables[i].ListingId) {
                            switch (comparables[i].Site) {
                                case "Airbnb":
                                    siteType = 1;
                                    break;

                                case "Vrbo":
                                    siteType = 2;
                                    break;

                                case "Booking.com":
                                    siteType = 3;
                                    break;

                                case "Homeaway":
                                    siteType = 4;
                                    break;
                            }

                            html = html +
                                    '<tr>' +
                                        '<td><img style="width: 70px; height: 60px; object-fit: cover;" src="' + comparables[i].ListingImages[0] + '" /></td>' +
                                        '<td>' + comparables[i].ListingName + '</td>' +
                                        '<td><u><a href="' + comparables[i].ListingUrl + '" style="color: gray;">' + comparables[i].ListingUrl + '</a></u></td>' +
                                        '<td>' + comparables[i].Distance + '</td>' +
                                        '<td>' + comparables[i].Price + ' $</td>' +
                                        '<td class="top aligned">Cleaning fee: 50 $<br />Misc fee: 100 $</td>' +
                                        '<td>' + comparables[i].Bedrooms + '</td>' +
                                        '<td>' + comparables[i].Bathrooms + '</td>' +
                                        '<td>120 sq.ft.</td>' +
                                        '<td>' + comparables[i].Site + '</td>' +
                                        '<td>' +
                                            '<center><p><u><a style="cursor: pointer; color: gray;" onclick="includeComparable(' + comparables[i].ListingId + ')">Include</a></u>  <i class="arrow alternate circle right icon"></i></p></center>' +
                                        '</td>' +
                                    '</tr>';
                        }
                    }
                }

                html = html + '</tbody>' +
                            '</table>';

                $("#excluded-comparables-content").html(html);
            }

            @*function changeDate(e) {
                var date = e.value.split("-");
                var url = window.location.origin + "/test/calendar/samplecalendar?listingId=@ViewBag.Property.ListingId&month=" + date[1] + "&year=" + date[0];

                if (e.value == 0) {
                    url = window.location.origin + "/test/calendar/samplecalendar?listingId=@ViewBag.Property.ListingId ";
                }

                window.location.href = url;
            }

            function checkAllDates(e) {
                var bookingDates = document.getElementsByName("bookingDateCheckbox");

                for (var i = 0; i < bookingDates.length; i++) {
                    if (e.checked) {
                        bookingDates[i].checked = true;
                    }
                    else {
                        bookingDates[i].checked = false;
                    }
                }
            }

            function stateChanged(xmlHttp, id, date, price, latitude, longitude, bedrooms, priceRuleBasis, priceRuleCondition,
                priceRuleConditionPercentage, priceRuleAmount, priceRuleSign, priceRuleAveragePriceBasis, oldPrice,
                averagePriceUsed, computedPriceRuleAmount) {

                alert("");
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    var json = JSON.parse(xmlHttp.responseText);

                    var result =
                        "Availability Rate By Date : " + json.analytics.AvailabilityRateByDate + " %\n\n" +
                        "Availability Rate By Date for x Rooms : " + json.analytics.AvailabilityRateByDateForXRooms + " %\n\n" +
                        "Availability Rate By Month : " + json.analytics.AvailabilityRateByMonth + " %\n\n" +
                        "Availability Rate By Month for x Rooms : " + json.analytics.AvailabilityRateByMonthForXRooms + " %\n\n" +
                        "Average Price By Date : " + json.analytics.AveragePriceByDate + "\n\n" +
                        "Average Price By Date for x Rooms : " + json.analytics.AveragePriceByDateForXRooms + "\n\n" +
                        "Average Price By Month : " + json.analytics.AveragePriceByMonth + "\n\n" +
                        "Average Price By Month for x Rooms : " + json.analytics.AveragePriceByMonthForXRooms + "\n\n" +
                        "Occupancy Rate By Date : " + json.analytics.OccupancyRateByDate + " %\n\n" +
                        "Occupancy Rate By Date for x Rooms : " + json.analytics.OccupancyRateByDateForXRooms + " %\n\n" +
                        "Occupancy Rate By Month: " + json.analytics.OccupancyRateByMonth + " %\n\n" +
                        "Occupancy Rate By Month for x Rooms : " + json.analytics.OccupancyRateByMonthForXRooms + " %\n\n" +
                        "Property Count By Date : " + json.analytics.PropertyCountByDate + "\n\n" +
                        "Property Count By Date for x Rooms : " + json.analytics.PropertyCountByDateForXRooms + "\n\n" +
                        "Property Count By Rooms : " + json.analytics.PropertyCountByRooms;

                    alert(result);

                    document.getElementById("price-" + id).innerHTML = "Saving to database...";

                    var rate = 0;

                    switch (parseInt(priceRuleBasis)) {
                        case 0:
                            rate = json.analytics.OccupancyRateByDate;
                            break;

                        case 1:
                            rate = json.analytics.OccupancyRateByDateForXRooms;
                            break;

                        case 2:
                            rate = json.analytics.OccupancyRateByMonth;
                            break;

                        case 3:
                            rate = json.analytics.OccupancyRateByMonthForXRooms;
                            break;

                        case 4:
                            rate = json.analytics.AvailabilityRateByDate;
                            break;

                        case 5:
                            rate = json.analytics.AvailabilityRateByDateForXRooms;
                            break;

                        case 6:
                            rate = json.analytics.AvailabilityRateByMonth;
                            break;

                        case 7:
                            rate = json.analytics.AvailabilityRateByMonthForXRooms;
                            break;

                        default:
                            rate = rate;
                    }

                    switch (parseInt(priceRuleAveragePriceBasis)) {
                        case 0:
                            price = json.analytics.AveragePriceByDate;
                            break;

                        case 1:
                            price = json.analytics.AveragePriceByDateForXRooms;
                            break;

                        case 2:
                            price = json.analytics.AveragePriceByMonth;
                            break;

                        case 3:
                            price = json.analytics.AveragePriceByMonthForXRooms;
                            break;

                        default:
                            price = price;
                    }

                    averagePriceUsed = price;

                    if (priceRuleCondition == 0) {
                        if (rate >= priceRuleConditionPercentage) {
                            if (priceRuleSign == 0) {
                                computedPriceRuleAmount = parseFloat(parseFloat((price / 100) * priceRuleAmount).toFixed(2));
                                price = parseFloat(price) + computedPriceRuleAmount;
                            }
                            else {
                                computedPriceRuleAmount = parseFloat(parseFloat(priceRuleAmount).toFixed(2));
                                price = parseFloat(price) + computedPriceRuleAmount;
                            }
                        }
                        else {
                            computedPriceRuleAmount = parseFloat(price).toFixed(2);
                            price = parseFloat(parseFloat(price).toFixed(2));
                        }
                    }
                    else if (priceRuleCondition == 1) {
                        if (rate <= priceRuleConditionPercentage) {
                            if (priceRuleSign == 0) {
                                computedPriceRuleAmount = parseFloat(parseFloat((price / 100) * priceRuleAmount).toFixed(2));
                                price = parseFloat(price) + computedPriceRuleAmount;
                            }
                            else {
                                computedPriceRuleAmount = parseFloat(parseFloat(priceRuleAmount).toFixed(2));
                                price = parseFloat(price) + computedPriceRuleAmount;
                            }
                        }
                        else {
                            computedPriceRuleAmount = parseFloat(parseFloat(price).toFixed(2));
                            price = parseFloat(parseFloat(price).toFixed(2));
                        }
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Calendar/UpdateSpecificDate",
                        data: {
                            id: parseInt(id),
                            price: price
                        },
                        success: function (result) {

                            if (result.success = true) {
                                if (parseFloat(parseFloat(oldPrice).toFixed(2)) != parseFloat(parseFloat(result.price).toFixed(2))) {
                                    document.getElementById("computation-" + result.id).innerHTML =
                                        "<div style='margin-left: 50px;'>" +
                                        "Old Price : " + oldPrice + "<br /><br />" +
                                        "Rate (Occupancy or Availability) : " + rate + " %<br /><br />" +
                                        "Average Price : " + averagePriceUsed + "<br /><br />" +
                                        "Plus or Minus : " + (priceRuleAmount.includes("-") ? "MINUS" : "PLUS") + "<br /><br />" +
                                        "Price Rule Amount : " + priceRuleAmount + " " + (priceRuleSign == 0 ? "%" : "$") + "<br /><br />" +
                                        "Price Rule Amount (Computed): " + computedPriceRuleAmount + "<br /><br />" +
                                        "Computation : " + averagePriceUsed + (priceRuleAmount.includes("-") ? " - " : " + ") + (String(computedPriceRuleAmount).replace("-", "")) + " = " + parseFloat(result.price).toFixed(2) + "<br /><br />"
                                    "</div>";
                                }

                                document.getElementById("price-" + result.id).innerHTML = parseFloat(parseFloat(result.price).toFixed(2));
                            }
                            else {
                                document.getElementById("price-" + result.id).innerHTML = "Failed on saving to database...";
                            }

                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                }
            }

            function changePrice() {
                var checkboxes = document.getElementsByName("update-checkbox");
                var checkboxesChecked = [];
                // loop over them all
                for (var i = 0; i < checkboxes.length; i++) {
                    // And stick the checked ones onto an array...
                    if (checkboxes[i].checked) {
                        var e = checkboxes[i];
                        var id = e.getAttribute("data-id");
                        var date = e.getAttribute("data-date");
                        var price = document.getElementById("price-" + id).getAttribute("value");
                        var latitude = document.getElementById("latitude").value;
                        var longitude = document.getElementById("longitude").value;
                        var bedrooms = document.getElementById("bedrooms").value;
                        var priceRuleBasis = document.getElementById("priceRuleBasis").value;
                        var priceRuleCondition = document.getElementById("priceRuleCondition").value;
                        var priceRuleConditionPercentage = document.getElementById("priceRuleConditionPercentage").value;
                        var priceRuleAmount = document.getElementById("priceRuleAmount").value;
                        var priceRuleSign = document.getElementById("priceRuleSign").value;
                        var priceRuleAveragePriceBasis = document.getElementById("priceRuleAveragePriceBasis").value;

                        var oldPrice = price;
                        var averagePriceUsed = 0;
                        var computedPriceRuleAmount = priceRuleAmount;

                        document.getElementById("price-" + id).innerHTML = "Getting Analytics...";

                        var xhttp = new XMLHttpRequest();

                        xhttp.onreadystatechange = function () {
                            stateChanged(this, id, date, price, latitude, longitude, bedrooms, priceRuleBasis, priceRuleCondition,
                                priceRuleConditionPercentage, priceRuleAmount, priceRuleSign, priceRuleAveragePriceBasis, oldPrice,
                                averagePriceUsed, computedPriceRuleAmount);
                        };

                        var url = "http://149.28.59.242/api/airbnb/getanalytics?" +
                            "latitude=" + latitude + "&longitude=" + longitude + "&date=" + date + "&propertycountgetavailable=true" +
                            "&averagepriceonlyavailable=false&rooms=" + bedrooms;

                        xhttp.open("GET", url, true);
                        xhttp.send(null);
                    }
                }
            }*@
    </script>
    <script src="~/Scripts/analytics.js"></script>
</body>
</html>