﻿@model Core.Database.Entity.Company
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<div class="body-content">
    <h1 class="ui header">
        <i class="icon copyright"></i>
        <div class="content">
            My Company
        </div>
    </h1>
    <div class="ui form" id="company-form">
        <div class="fields">
            <div class="one width field">
                <input type="file" id="logo-pic" accept='image/*' hidden />
                <a><img src="@(string.IsNullOrWhiteSpace(Model.Logo)?"/Images/User/default-image.png":Model.Logo)" class="ui small image" alt="Logo" id="logo-image"></a>
            </div>
        </div>
        <div class="field">
            <label>Company Name</label>
            <input type="text" id="companyName" value="@Model.CompanyName" placeholder="Company Name">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" id="companyEmail" value="@Model.Email" placeholder="Email">
        </div>
        <div class="field">
            <label>Contact Number</label>
            <input type="email" id="companyContact" value="@Model.Contact" placeholder="Contact Number">
        </div>
        <div class="field">
            <label>About</label>
            <input type="text" id="companyAbout" value="@Model.About" placeholder="About">
        </div>
        <div class="field">
            <label>Facebook</label>
            <input type="text" id="companyFacebook" value="@Model.Facebook" placeholder="Facebook">
        </div>
        <div class="field">
            <label>Twitter</label>
            <input type="text" id="companyTwitter" value="@Model.Twitter" placeholder="Twitter">
        </div>
        <div class="field">
            <label>Address</label>
            <input type="text" id="companyAddress" value="@Model.Address" placeholder="Address">
        </div>
        <div class="field">
            <label>Background Color</label>
            <input type="text" id="background-color" value="@Model.BackgroundColor" />
        </div>
        <div class="field">
            <label>Trim Color</label>
            <input type="text" id="trim-color" value="@Model.TrimColor" />
        </div>
        <div class="fields">
            <div class="one width field">
                <label>Background Image</label>
                <input type="file" id="background-pic" accept='image/*' hidden />
                <a><img src="@(string.IsNullOrWhiteSpace(Model.BackgroundImage)?"/Images/User/default-image.png":Model.BackgroundImage)" class="ui small image" alt="Logo" id="background-image"></a>
            </div>
        </div>
        <div class="fields">
            <div class="one width field">
                <button id="save-company" class="ui primary button"><i class="icon edit"></i>Save</button>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/spectrum/spectrum.css" rel="stylesheet" />
<script src="~/Content/spectrum/spectrum.js"></script>
<script src="~/Scripts/company.js"></script>