﻿@{
    Layout = "~/Views/Shared/RentalsLayout.cshtml";
}
<!-- ============ Header area start ============-->
<!-- ==========hero area start ========== -->
<section class="background" id="home" style="background-image: url(@ViewBag.Company.BackgroundImage);">
    <div class="container">
        <div class="row">
            <div class="date-time-area mt-30" style="background:@ViewBag.Company.TrimColor">
                <h2>Rent our place for long time</h2>
                <div class="dat-all-items">
                    <div class="ui form">
                        <div class="ui fields">
                            <div class="ui field">
                                <label>Sq.ft.</label>
                                <input type="text" id="size-count" placeholder="Sq. ft" required />
                            </div>
                            <div class="ui field">
                                <label>Bedroom</label>
                                <input type="text" id="bedroom-count" placeholder="Number of Bedroom" />
                            </div>
                            <div class="ui field">
                                <label>Bathroom</label>
                                <input type="text" id="bathroom-count" placeholder="Number Bathroom" />
                            </div>
                            <div class="ui field">
                                <label>Guest</label>
                                <input type="text" id="sleep-count" placeholder="No. of Guest" />
                            </div>
                            <div class="ui field">
                                <label>&nbsp;</label>
                                <button class="ui button" id="search-submit-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============= hero area end =========== -->
<!-- ============= Recommended Area Start =========== -->
<section hidden class="recommended-area section-padding" style="background:@ViewBag.Company.BackgroundColor" id="property">
    <div class="container">
        <div class="rew">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h2>Result</h2>
                </div>
            </div>
        </div>
        <div class="rew">
            <div class="col-12">
                <div class="recommended-all owl-carousel">
                    @*@foreach(var item in Model) {
                        <div class="recommended-single">
                            <div class="zoom">
                                <img src="https://a0.muscache.com/im/pictures/5c0ea828-b7fe-428e-ab82-669169a68598.jpg?im_w=720" alt="slider-1">
                            </div>
                            <p></p>
                            <a href="/property/view/@item.Id">@item.Name</a>
                            <h5>Price: <span>@item.Price</span></h5>
                        </div>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>

<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="display: block;background:@ViewBag.Company.TrimColor"><i class="icofont-simple-up"></i></a>
<!-- ========== Footer Area End ============-->

<script>
        $(document).ready(function () {
            Search();
            function Initialize() {
                $('.recommended-all').owlCarousel({
                    animateOut: 'fadeOut',
                    animateIn: 'fadeIn',
                    slideSpeed: 1000,
                    loop: true,
                    autoplay: true,
                    dots: true,
                    nav: false,
                    margin: 25,
                    responsive: {
                        0: {
                            items: 1,
                            loop: true,
                            margin: 0,
                        },
                        600: {
                            items: 1,
                            loop: true,
                        },
                        767: {
                            items: 2,
                            loop: true,
                        },
                        1000: {
                            items: 3,
                            loop: true,
                        }
                    }
                });
            }
            function Search() {
                $(document).on('click', '#search-submit-btn', function () {
                    $('.recommended-all').empty();
                    $.ajax({
                        type: "GET",
                        url: "/Property/GetAvailableProperty",
                        data: { companyId: $('body').attr('companyId'), bedroom: $('#bedroom-count').val(), bathroom: $('#bathroom-count').val(), size: $('#size-count').val(), sleeps: $('#sleep-count').val() },
                        success: function (data) {
                            var properties = data.properties;
                            var template = '';
                            for (var x = 0; x < properties.length; x++) {
                                template += '<div class="recommended-single">' +
                                    '<a target="_blank" rel="noopener noreferrer" href="/property/view/' + properties[x].Id + '">' +
                                    '<img style="height:400px" src="' + (properties[x].Images != null && properties[x].Images.length>0 ? properties[x].Images[0] : '/Content/img/default-avatar/property.png') + '" alt="Property Image">' +
                                    '<p></p>' +
                                    '<a target="_blank" rel="noopener noreferrer" href="/property/view/' + properties[x].Id + '">' + properties[x].Name + '</a>' +
                                    '<h5>Price:<span>' + (properties[x].Price == null ? '' : properties[x].Price) + '</span> Bedroom:<span>' + (properties[x].Bedrooms == null ? '' : properties[x].Bedrooms) + '</span><br>Bathrooms:<span>' + (properties[x].Bathrooms == null ? '' : properties[x].Bathrooms) + '</span> Guest:<span>' + (properties[x].Sleeps == null ? '' : properties[x].Sleeps) + '</span></h5>' +
                                    '</a>' +
                                    '</div>';
                            }
                            $('.recommended-all').append(template);
                            $('.recommended-all').owlCarousel('destroy');
                            Initialize();
                            $('.recommended-area').removeAttr('hidden');
                            $('#property').get(0).scrollIntoView();;
                        }
                    });

                });
            }
        });
</script>