﻿
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon building outline"></i>
        <div class="content">
            Properties
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="tab-property">Property</div>
                    <div class="item" data-tab="tab-task-template">Task Template</div>
                    <a class="item" data-tab="tab-device">Devices</a>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="tab-property">Property</div>
            <div class="item" data-tab="tab-task-template">Task Template</div>
            <a class="item" data-tab="tab-device">Devices</a>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->
                @*Property Tab*@
                <div class="ui tab segment active" data-tab="tab-property">

                    <button class="ui tiny blue button create-new-property-btn">Add Property</button>
                    <br /><br />

                    <div class="ui segment">
                        <div class="ui inactive inverted dimmer" id="property-dimmer">
                            <div class="ui massive text loader" id="property-loader">Loading Property List, Please Wait...</div>
                        </div>
                        <table id="properties-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Host</th>
                                    <th>Site Type</th>
                                    <th>Type</th>
                                    <th>Active Booking</th>
                                    <th>Sync Parent</th>
                                    <th>Mult-unit Parent</th>
                                    <th>Account Parent</th>
                                    <th>Actions</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                @*Property Tab End*@
                <div class="ui tab segment" data-tab="tab-task-template">
                    <button class="ui tiny blue button create-new-task-template-btn">Add Task Template</button>
                    <br /><br />
                    <table id="tasktemplate-table" class="ui celled blue table" cellspacing="0" style="width: 100% !important">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Task Template Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="tab-device">
                    <button id="add-account-button" class="ui tiny blue button">Add Account</button>
                    <br /><br />
                    <div id="device-div">

                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!--PinCode of Device Modal-->
    <div id="pincode-modal" class="ui small modal">
        <div class="header">
            Pin Codes
        </div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="Name" id="pincode-name">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Pincode" id="pincode">
                    </div>
                    <div class="field">
                        <button class="ui mini button pincode-add" data-tooltip="Add Pincode"><i class="icon plus"></i></button>
                    </div>
                </div>

            </div>
            <table class="ui celled blue table" id="pincode-table" cellspacing="0" style="width: 100% !important">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pin code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!--PinCode of Device Modal End-->
    <!-- Start Create New Property Modal -->
    <div class="ui modal create-new-property-modal" width="200">
        <i class="close icon"></i>
        <div class="header">
            Property
        </div>
        <div class="content">
            <!-- Start Create New Property Form -->
            <form class="ui form" id="fmbook">
                <input type="hidden" id="edit-property-id" name="id" value="0" />
                @Html.AntiForgeryToken()
                <input type="hidden" id="child-property-ids" name="ChildProperties" />
                @*<div class="fields">
                        <div class="ten wide field">
                            <label>Create From Host</label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="HostId">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select Host</div>
                                <div class="menu">
                                    @{
                                        foreach (var host in ViewBag.Hosts)
                                        {
                                            <div class="item" data-value="@host.Id">
                                                <img class="ui mini avatar image" src="@host.ProfilePictureUrl">
                                                @host.Firstname @host.Lastname
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="fields">
                    <div class="ten wide field">
                        <label>Property Name</label>
                        <input type="text" placeholder="Property Name" id="PropertyName" name="PropertyName" required>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Property Type</label>
                        @Html.DropDownList("PropertyType", ViewBag.PropType as IEnumerable<SelectListItem>, "Property Type", new { @class = "ui dropdown" })
                        <input type="hidden" id="hdndrpfeetype" value="@ViewBag.feetype" />
                    </div>
                </div>
                <div style="display: none" class="fields">
                    <div class="ten wide field">
                        <label>Unit Count</label>
                        <input type="text" placeholder="Unit Count" value=0 id="UnitCount" name="UnitCount">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Description</label>
                        <textarea rows="3" id="Description" name="Description"></textarea>
                    </div>
                </div>

                <div class="fields">
                    <div class="ten wide field">
                        <label>Unit Number</label>
                        <input type="text" placeholder="Unit Number" id="unit-number" name="unit-number">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Building Name</label>
                        <input type="text" placeholder="Building" id="building" name="building">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Street Number</label>
                        <input type="text" placeholder="Street Number" id="street-number" name="street-number">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Street</label>
                        <input type="text" placeholder="Street" id="street" name="street">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Country</label>
                        @Html.DropDownList("countries", ViewBag.Countries as IEnumerable<SelectListItem>, "Select Country", new { @class = "ui dropdown search" })
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>State</label>
                        <select id="states" name="states" class="ui dropdown search">
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>City</label>
                        <select id="cities" name="cities" class="ui dropdown search">
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <label>Monthly Expense</label>
                        <input type="text" id="MonthlyExpense" name="MonthlyExpense">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Monthly Expense Notes</label>
                        <textarea rows="5" id="MonthlyExpenseNotes" name="MonthlyExpenseNotes"></textarea>
                    </div>
                </div>
                @if (!Core.Helper.Company.CompanyType.IsLongTerm())
                {
                    <div class="fields">
                        <div class="ten wide field">
                            <label>ICAL URL</label>
                            <input type="text" placeholder="ICAL URL" id="ical-url" name="ical-url">
                        </div>
                    </div>
                    <div class="fields">
                        <label>Location</label>
                        <div class="field">
                            <input type="text" placeholder="Longitude" id="longitude" name="longitude">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Latitude" id="latitude" name="latitude">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="autoCreate" name="autoCreate" checked>
                                <label>Auto create income/expense</label>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Fees
                        <span style="margin-left: 3%">
                            <button type="button" class="ui icon button add_fee_button_property" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </span>
                    </h5>
                    <div class="ui grid">
                        <div class="fifteen wide column">
                            <div class="fee-fields-wrapper-property"></div>
                        </div>
                    </div>
                    <br>
                    <div class="fields">
                        <div class="seven wide field">
                            <h5>Commission</h5>
                            <select id="commission-property" class="ui dropdown" name="commission-property">
                                <option value="">Select Commission</option>
                                <option value="-1">None</option>
                                <option value="1">Fixed price per booking</option>
                                <option value="2">Fixed price per night</option>
                                <option value="3">Percent based on Total Revenue for the month</option>
                                <option value="4">Percent based on Net Profit for the month</option>
                                <option value="5">All amount after X amount of Total Revenue</option>
                                <option value="6">All amount after X amount of Total Net Profit</option>
                                <option value="7">Fixed amount per month</option>
                            </select>
                        </div>
                        <div style="display:none" id="commission-amount-field" class="three wide field">
                            <h5 id="commission-amount-lbl">Amount</h5>
                            <input id="commission-amount" type="text" placeholder="Amount" value=0 name="commission-amount" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="seven wide field">
                            <h5>Task Template</h5>
                            <select id="task-template-property" multiple="" class="ui dropdown" name="task-template-property">
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon six wide field">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" id="start-date" name="start-date">
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="seven wide field">
                            <h5>Status</h5>
                            <div class="ui toggle checkbox">
                                <input id="status" type="checkbox" name="status" checked>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="seven wide field">
                            <h5>Allowed Self Check-in/Checkout</h5>
                            <div class="ui toggle checkbox">
                                <input id="selfCheckinCheckout" type="checkbox" name="selfCheckinCheckout">
                            </div>
                        </div>
                    </div>
                    <div id="MyAccordion" class="ui accordion" style="margin-top: 2%">
                        <div id="MyTitle" class="title">
                            <i class="dropdown icon"></i>
                            Advance setup
                        </div>
                        <div id="MyContent" class="content">
                            <div class="fields">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" class="hidden" name="IsParentProperty" id="IsParentProperty">
                                        <label>Is Parent Property</label>
                                    </div>
                                </div>
                                <div class="field parent-type-div" hidden>
                                    <select id="parent-type" class="ui dropdown" name="parent-type">
                                        <option value="">Select Parent Type</option>
                                        <option value="1">Sync</option>
                                        <option value="2">Multi unit</option>
                                        <option value="3">Accounts</option>
                                    </select>
                                </div>
                            </div>

                            <div style="margin: 3%">
                                <table id="child-property-table" style="width: 75%" class="ui blue table">
                                    <thead>
                                        <tr>
                                            <th colspan="4" align="center" style="text-align: center">Available Child Property</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="sync-div" style="margin-top: 2%" class="ui accordion">
                        <div id="sync-title" class="title">
                            <i class="dropdown icon"></i>
                            Sync settings
                        </div>
                        <div id="MyContent" style="margin: 3%;" class="content">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="syncPrice">
                                        <label>Sync PRICE Changes To Other Child Properties</label>
                                    </div>
                                </div>
                                <div style="margin-left: 3%" id="price-adjustment" hidden>
                                    <div style="margin: 3%">
                                        <table id="price-adjustment-table" style="width: 60%" class="ui compact celled table">
                                            <thead>
                                                <tr>
                                                    <th colspan="4" align="center" style="text-align: center">Price Adjustments</th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th>Site Type</th>
                                                    <th></th>
                                                    <th>Value</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label><b>Airbnb</b></label>
                                                    </td>
                                                    <td>
                                                        <select name="airbnbAdjustmentType" class="ui fluid dropdown">
                                                            <option value="0" selected>+</option>
                                                            <option value="1">-</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="airbnbAdjustmentValue" placeholder="Price in $ or %" size="7" />
                                                    </td>
                                                    <td>
                                                        <select name="airbnbSymbolType" class="ui fluid dropdown">
                                                            <option value="0">%</option>
                                                            <option value="1">$</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b>Vrbo</b></label>
                                                    </td>
                                                    <td>
                                                        <select name="vrboAdjustmentType" class="ui fluid dropdown">
                                                            <option value="0" selected>+</option>
                                                            <option value="1">-</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="vrboAdjustmentValue" placeholder="Price in $ or %" size="7" />
                                                    </td>
                                                    <td>
                                                        <select name="vrboSymbolType" class="ui fluid dropdown">
                                                            <option value="0">%</option>
                                                            <option value="1">$</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b>Booking.com</b></label>
                                                    </td>
                                                    <td>
                                                        <select name="bookingComAdjustmentType" class="ui fluid dropdown">
                                                            <option value="0" selected>+</option>
                                                            <option value="1">-</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="bookingComAdjustmentValue" placeholder="Price in $ or %" size="7" />
                                                    </td>
                                                    <td>
                                                        <select name="bookingComSymbolType" class="ui fluid dropdown">
                                                            <option value="0">%</option>
                                                            <option value="1">$</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div style="margin-top: 2%" class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="syncAvailability">
                                        <label>Sync AVAILABILITY Changes To Other Child Properties</label>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 4%;" class="ui form">
                                <div class="grouped fields" id="sync-accordion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="price-rule-div" style="margin-top: 2%" class="ui accordion">
                        <div id="price-rule-title" class="title">
                            <i class="dropdown icon"></i>
                            Price Rule Settings
                        </div>
                        <div style="margin: 3%;margin-top: 1%;" class="content">
                            <div id="price-rule-info" style="margin: 3%" class="field">
                                (By switching this on, your price for your calendar on this property will change base on the <br />gathered analytics and will auto compute base on the rules you are going to set.)
                            </div>
                            <div class="fields">
                                <div style="margin: 3%" class="field">
                                    <div class="ui slider checkbox">
                                        <input type="checkbox" class="hidden" name="priceRuleSync" id="priceRuleSync">
                                        <label>Sync by Price Rule</label>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 3%">
                                <div style="margin: 3%">
                                    <table id="price-rule-table" style="width: 100%" class="ui compact celled blue table" hidden>
                                        <thead>
                                            <tr>
                                                <th colspan="8" align="center" style="text-align: center">Price Rule</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Basis</th>
                                                <th>Condition</th>
                                                <th>%</th>
                                                <th></th>
                                                <th>Value</th>
                                                <th></th>
                                                <th>Average Price Basis</th>
                                            </tr>
                                        </thead>
                                        <tbody id="priceRuleTable">
                                            <tr class="price-rule-row">
                                                <td></td>
                                                <td>
                                                    <select name="priceRuleBasis" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">Occupancy Rate by Date</option>
                                                        <option value="1">Occupancy Rate by Date for 'x' Rooms</option>
                                                        <option value="2">Occupancy Rate by Month</option>
                                                        <option value="3">Occupancy Rate by Month for 'x' Rooms</option>
                                                        <option value="4">Availability Rate by Date</option>
                                                        <option value="5">Availability Rate by Date for 'x' Rooms</option>
                                                        <option value="6">Availability Rate by Month</option>
                                                        <option value="7">Availability Rate by Month for 'x' Rooms</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="priceRuleCondition" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">greater than</option>
                                                        <option value="1">less than</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="priceRuleConditionPercentage" placeholder="%" size="10" />
                                                </td>
                                                <td>
                                                    <select name="priceRuleAmountPlusMinus" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">+</option>
                                                        <option value="1">-</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="priceRuleAmount" placeholder="Price in $ or %" size="10" />
                                                </td>
                                                <td>
                                                    <select name="priceRuleSign" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">%</option>
                                                        <option value="1">$</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="priceRuleAveragePriceBasis" class="ui fluid dropdown price-rule-dropdown">
                                                        <option value="0">by date</option>
                                                        <option value="1">by date for 'x' rooms</option>
                                                        <option value="2">by month</option>
                                                        <option value="3">by month for 'x' rooms</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" id="addRule" class="ui blue left labeled icon button"><i class="plus icon"></i>Add Rule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </form>
            <!-- End Create New Property Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <a id="property-form-submit-btn" class="ui green right labeled icon button">
                Submit
                <i class="checkmark icon"></i>
            </a>
        </div>
    </div>
    <!-- End Create New Property Modal -->
    <!-- Start Create New Task Template Modal-->
    <div class="ui modal create-new-task-template-modal">
        <i class="close icon"></i>
        <div class="header">
            Task Template
        </div>
        <div class="content">
            <!-- Start Create New Task Template Form -->
            <form class="ui form" id="fmtasktemplate" enctype="multipart/form-data">
                <input type="hidden" id="edit-task-template-id" name="taskTemplateId" value="0" />
                @Html.AntiForgeryToken()
                @*<input type="hidden" id="child-property-ids" name="ChildProperties" />*@
                <div class="fields">
                    <div class="ten wide field">
                        <label>Task Template Name</label>
                        <input type="text" placeholder="Task Template Name" id="TaskTemplateName" name="TaskTemplateName">
                    </div>
                </div>
                <br />
                <div class="fields">
                    <div class="ten wide field">
                        <label>Task Template Type</label>
                        <select id="TaskTemplateType" class="ui search dropdown">
                            <option value="1">Inquiry Template Type</option>
                            <option value="2">Turn Over Template Type</option>
                            <option value="3">Booking Template Type</option>
                            <option value="4">Check In Template Type</option>
                            <option value="5">Check Out Template Type</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    @*<div class="one wide field">Add Task</div>*@
                    <div class="one wide field">
                        <button class="ui icon button add_task_button" data-tooltip="Add Task">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>

                <div class="ui grid">
                    @*<div class="one wide column"></div>*@
                    <div class="fifteen wide column">
                        <div class="task-fields-wrapper"></div>
                    </div>
                </div>
                <div id="taskDeleteNotificationLabel" style="color: red; display: none;">Task Deleted Successfully</div>
            </form>
            <!-- End Create New Task Template Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <a id="task-template-form-submit-btn" class="ui green right labeled icon button">
                Submit
                <i class="checkmark icon"></i>
            </a>
        </div>
    </div>
    <!-- End Create New Task Template Modal-->
    <!--Start Template Message Modal-->
    <div id="manage-template-message-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">Worker Template Messages</div>
        <div class="content">
            <div id="template-list">
                <button id="add-template-btn" class="ui left floated teal button">Add Template</button>
                <br /><br /><br />
                <table id="templates-table" style="width: 100% !important; margin: 0" class="ui fixed single line blue table">
                    <thead>
                        <tr>
                            <th>Template Title</th>
                            <th>Message</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="add-template-form">
                <div id="template-empty-error-message" class="ui negative message">
                    <div class="header">
                        Please fill all fields
                    </div>
                </div>
                <div id="template-duplicate-error-message" class="ui negative message">
                    <div class="header">
                        Template name has already been added
                    </div>
                </div>
                <div id="template-server-error-message" class="ui negative message">
                    <div class="header">
                        Something went wrong
                    </div>
                </div>
                <div id="template-success-message" class="ui positive message">
                    <div class="header">
                        Template message has been saved.
                    </div>
                </div>
                <div class="ui form">
                    <input type="hidden" value=0 id="template-id" name="template-id" />
                    <div class="field">
                        <div class="two field">
                            <label>Title</label>
                            <input type="text" id="template-title" name="template-title">
                        </div>
                        <div class="two field">
                            <label>Variables</label>
                            <select id="modal-template-variable" class="ui search dropdown">
                                <option value="">Select Variable</option>
                                <option>[Guest Name]</option>
                                <option>[Worker Name]</option>
                                <option>[Listing Name]</option>
                                <option>[Guest Count]</option>
                                <option>[Check In Date]</option>
                                <option>[Check Out Date]</option>
                                <option>[Assignment Start]</option>
                                <option>[Assignment End]</option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Message</label>
                        @*<textarea rows="4" id="template-content" name="template-content" placeholder="Type your mesage.."></textarea>*@
                        <div class="comment_box editable" id="template-content" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false" contenteditable="true"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button id="back-to-template-list-btn" class="ui left floated red button add-edit-template-action-buttons"><i class="arrow left icon"></i>Back</button>
            <button id="teplate-add-edit-btn" class="ui green button add-edit-template-action-buttons" type="button">Save</button>
            <button id="teplate-clear-btn" class="ui orange button">Clear</button>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
    <!--End Template Message Modal-->
</div>

<script src="~/Scripts/devices.js"></script>
<script src="~/Scripts/property.js" type="text/javascript"></script>