﻿@using MessagerSolution.Models.Properties
@model  DisplayPropertyModel
@{
    Layout = "~/Views/Shared/RentalsLayout.cshtml";
}
<!-- ==========hero area start ========== -->
<div class="ui form">
    <div class="fields">
        <div class="field">
            <div class="large-review">
                <div class="large-review-top">
                    <h2>@Model.Name</h2>
                </div>
                <div class="large-review-content">
                    <h4><i class="map marker icon"></i></h4>
                    <p>@Model.Address</p>
                    <h5><span>@Model.Price</span> Price</h5>
                </div>
            </div>
        </div>
    </div>
    @*<div class="ui fields">
            <div class="ui field">
                <div class="fotorama">
                    @foreach (var image in Model.Images)
                    {
                        <img src="@image" alt="">

                    }
                </div>
                <div class="container">
                        <div class="wrapCarouselFull">
                            <div class="owl-carousel carousel-full">
                                @foreach (var image in Model.Images)
                                {
                                    <div class="item-carousel-full">
                                        <img src="@image" alt="">
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="wrapCarouselThumbs">
                            <div class="owl-carousel carousel-thumbs">

                                @foreach (var image in Model.Images)
                                {
                                    <div class="item-carousel-thumbs">
                                        <img src="@image" alt="">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
            </div>
        </div>*@
    @*<div class="ui fields">
            <div class="ui field">

            </div>

        </div>*@
</div>
<div class="fotorama" data-width="100%"
     data-ratio="800/600"
     data-minwidth="400"
     data-maxwidth="100%"
     data-minheight="300"
     data-maxheight="100%"
     data-nav="thumbs">
    @foreach (var image in Model.Images)
    {
        <img src="@image" alt="">
    }
</div>
@*<div class="ui grid" style="width:100%">
    <div class="column">
        <div class="fotorama" data-width="100%"
             data-ratio="800/600"
             data-minwidth="400"
             data-maxwidth="1000"
             data-minheight="300"
             data-maxheight="100%"
             data-nav="thumbs">
            @foreach (var image in Model.Images)
            {
                <img src="@image" alt="">
            }
        </div>
    </div>
</div>*@
<div class="ui stackable grid">
    <div class="three wide column">
        <div class="ui vertical menu item inverted teal" style="background:@ViewBag.Company.TrimColor">
            <a class="active item" data-tab="home">Overview</a>
            <a class="item" data-tab="amenities">Amenities</a>
            <a class="item" target="_blank" href="/Property/RequestForm?id=@Model.Id">Request Booking</a>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui active tab segment" data-tab="home">
            <div class="ui form">
                <div class="ui fields">
                    <div class="ui three wide field">
                        <div class="feedback-heading">
                            <h2>Overview</h2>
                        </div>
                        <div class="overview-content">
                            <div class="over-icon">
                                <h6><i class="fas fa-home"></i></h6>
                                <p>Size @Model.Size sq.ft.</p>
                            </div>
                            <div class="over-icon">
                                <h6><i class="fas fa-users"></i></h6>
                                <p>Sleeps: @Model.Sleeps</p>
                            </div>
                            <div class="over-icon">
                                <h6><i class="fas fa-door-open"></i></h6>
                                <p>Bedrooms:@Model.Bedrooms</p>
                            </div>
                            <div class="over-icon">
                                <h6><i class="fas fa-bath"></i></h6>
                                <p>Bathrooms: @Model.Bathrooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide field">
                        <div class="overview-map">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAXNIBoLoyQ3BJ-XW2tPtgWgiTbHxtsXp8&q=@Model.Latitude,@Model.Longitude" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <p>@Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-8 no-gutters">

                    </div>
                </div>*@
        </div>
        <div class="ui tab segment" data-tab="amenities">
            <div class="ui form">
                <div class="ui three wide field">
                    <div class="feedback-heading">
                        <h2>Overview</h2>
                        @if (Model.Amenities.Count > 0)
                        {
                            foreach (var item in Model.Amenities)
                            {
                                <div class="over-icon">
                                    <h6><img src="@item.Icon" alt=""></h6>
                                    <p>@item.Name</p>
                                </div>
                            }
                        }
                        else
                        {
                            <label>No Amenities</label>
                        }
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-4">
                            <div class="overview-content">
                                @if (Model.Amenities.Count > 0)
                                {
                                    foreach (var item in Model.Amenities)
                                    {
                                        <div class="over-icon">
                                            <h6><img src="@item.Icon" alt=""></h6>
                                            <p>@item.Name</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <label>No Amenities</label>
                                }
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

</div>

<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="display: block;"><i class="icofont-simple-up"></i></a>
<!-- ========== Footer Area End ============-->
<script>
    $(document).ready(function () {
        $('.menu .item').tab();
    });
</script>
