﻿@{
    Layout = "~/Views/Shared/RentalsLayout.cshtml";
}

    <div class="body-content">
        <h1 class="ui header">
            <i class="icon book"></i>
            <div id="contract-title" class="content">
                Request Form
            </div>
        </h1>
        <div id="booking-form" class="ui form">
            <input type="hidden" value="@Request.QueryString["id"]" id="propertyId" />
            <div class="fields">
                <div class="six wide field">
                    <label>Start Date</label>
                    <div class="ui calendar CheckedInDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="CheckedInDate" name="CheckedInDate" placeholder="Date"/>
                        </div>
                    </div>
                </div>
                <div class="six wide field">
                    <label>End Date</label>
                    <div class="ui calendar CheckedOutDate">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="form-control" id="CheckedOutDate" name="CheckedOutDate" placeholder="Date" />
                        </div>
                    </div>
                </div>
            </div>
            <h3>Guest Details</h3>
            <div id="renter-div">
                <div class="renter">
                    <div class="fields" renter-id="0">
                        <div class="three wide field">
                            <label>Renter Name</label>
                            <input type="text" class="guestName" required placeholder="Name" />
                        </div>
                        <div class="three wide field">
                            <label>Email</label>
                            <input type="text" class="guestEmail" placeholder="Email" />
                        </div>
                        <div class="three wide field">
                            <label>Phone Number</label>
                            <input type="text" class="guestPhone" placeholder="Phone" />
                        </div>
                        <div class="five wide field">
                            <label>Address</label>
                            <input type="text" class="guestAddress" required placeholder="Address" />
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button type="button" class="circular ui icon blue mini button add-renter" data-tooltip="Add">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="job-history">
                        <div class="ui fields">
                            <div class="five wide field">
                                <label>Job History</label>
                                <input type="text" class="job-description" required placeholder="Job" />
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon blue mini button add-job" data-tooltip="Add">
                                    <i class="plus icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="address-history">
                        <div class="ui fields">
                            <div class="five wide field">
                                <label>Address History</label>
                                <input type="text" class="address-description" required placeholder="Address" />
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <button type="button" class="circular ui icon blue mini button add-address" data-tooltip="Add">
                                    <i class="plus icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <h3>Attachments</h3>
                    <div class="attachments">
                        @*This is list of required document ask by owner of property*@
                        @if (ViewBag.AttachmentDescriptions.Count > 0)
                        {
                            foreach (var description in ViewBag.AttachmentDescriptions)
                            {
                                <div class="file-content">
                                    <div class="ui fields">
                                        <div class="five wide field">
                                            <label>@description.Description</label>
                                            <input type="text" class="attachment-description" description-id="@description.Id"placeholder="Description" />
                                    </div>
                                    <div class="field">
                                        <label>&nbsp;</label>
                                        <button type="button" class="circular ui icon blue mini button add-attachments" data-tooltip="Add">
                                            <i class="plus icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="ui fields">
                                    <div class="five wide field">
                                        <input type="file" class="attachment-files" multiple placeholder="Upload" />
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="field">
                                        <div class="ui grid attachment-files-display"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        }
                        else
                        {
                            <div class="file-content">
                                <div class="ui fields">
                                    <div class="five wide field">
                                        <label>Attachments</label>
                                        <input type="text" class="attachment-description" description-id="0" required placeholder="Description" />
                                    </div>
                                    <div class="field">
                                        <label>&nbsp;</label>
                                        <button type="button" class="circular ui icon blue mini button add-attachments" data-tooltip="Add">
                                            <i class="plus icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="ui fields">
                                    <div class="five wide field">
                                        <input type="file" class="attachment-files" required multiple placeholder="Upload" />
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="field">
                                        <div class="ui grid attachment-files-display"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <hr />
                </div>
            </div>
            <div class="field">
                <button id="SubmitRequest" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui savebooking right labeled icon button">
                    Submit
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            AddRenter();
            RemoveRenter();
            SubmitRequest();
            AddAddressHistory();
            AddJobHistory();
            RemoveJobHistory();
            RemoveAddressHistory();
            OnChangeAttachment();
            AddAttachment();
            RemoveAttachment();
            GetRenterTemplate();
            var AddRenterTemplate;
            function GetRenterTemplate() {
                AddRenterTemplate = $('#renter-div').children().first().get(0).outerHTML;
            }
            function FileIcon(url) {
                var extention = url.split('.').pop();
                if (extention == "pdf") {
                    return "file pdf outline";
                }
                else if (extention == "docx" || extention == "docm" || extention == "dot") {
                    return "file word outline";
                }
                else if (extention == "xlsx" || extention == "xlsm" || extention == "xlsb") {
                    return "file excel outline";
                }
                else {
                    return "file alternate";
                }
            }
            function ValidateRequiredFields() {
                var hasBlankField = false;
                var hasfirstFocus = false;
                $('#booking-form').find('[required]').each(function (index, element) {
                    var obj = $(this);
                    if (obj.val().length == 0) {
                        obj.next().remove();
                        obj.after('<div class="ui basic red pointing prompt label transition visible">Required field!</div>');
                        if (hasfirstFocus == false) {
                            hasfirstFocus = true;
                            obj.focus();
                        }
                        hasBlankField = true;
                    } else {
                        obj.next().remove();
                    }

                });
                return hasBlankField;
            }

            function OnChangeAttachment() {
                $(document).on('change', '.attachment-files', function (e) {
                    var attachments = $(this).parents('.file-content').find('.attachment-files-display');
                    attachments.empty();
                    for (var i = 0; i < e.target.files.length; i++) {
                        var fileUrl = window.URL.createObjectURL(this.files[i]);
                        var type = this.files[i]['type'].split('/')[0];
                        if (type == 'image') {
                            attachments.append('<div class="ui small image"><i class="close icon"></i><img src="' + fileUrl + '"><div>');
                        }
                        else {
                            attachments.append('<a target="_blank" href="' + fileUrl + '"><i class="huge icon ' + FileIcon(fileUrl) + '"></i></a>');
                        }
                    }
                });
            }
            $(document).on('keyup,change', '[required]', function () {

                if ($(this).val().length == 0) {
                    $(this).next().remove();
                    $(this).after('<div class="ui basic red pointing prompt label transition visible">Required field!</div>');
                }
                else {
                    $(this).next().remove();
                }
            });

            var AttachmentTemplate = '<div class="file-content">' +
                '<div class="ui fields">' +
                '<div class="five wide field">' +
                '<input type="text" class="attachment-description" description-id="0" placeholder="Description" />' +
                '</div>' +
                '<div class="field">' +
                '<button type="button" class="circular ui icon blue mini button add-attachments" data-tooltip="Add">' +
                '<i class="plus icon"></i>' +
                '</button>' +
                '<button type="button" class="circular ui icon orange mini button remove-attachments" data-tooltip="Remove">' +
                '<i class="minus icon"></i>' +
                '</button>' +
                '</div>' +
                '</div>' +
                '<div class="ui fields">' +
                '<div class="five wide field">' +
                '<input type="file" class="attachment-files" multiple placeholder="Upload" />' +
                '</div>' +
                '</div>' +
                '<div class="fields">' +
                '<div class="field">' +
                '<div class="ui grid attachment-files-display"></div>' +
                '</div>' +
                '</div>' +
                '</div>';

            var AddressHistoryTemplate = '<div class="ui fields">' +
                '<div class="five wide field">' +
                '<input type="text" class="address-description" required placeholder="Address" />' +
                '</div>' +
                '<div class="field">' +
                '<button type="button" class="circular ui icon blue mini button add-address" data-tooltip="Add">' +
                '<i class="plus icon"></i>' +
                '</button>' +
                '</button>' +
                '<button type="button" class="circular ui icon orange mini button remove-address" data-tooltip="Remove">' +
                '<i class="minus icon"></i>' +
                '</button>' +
                '</div>' +
                '</div>';
            var JobHistoryTemplate = '<div class="ui fields">' +
                '<div class="five wide field">' +
                '<input type="text" class="job-description" required placeholder="Job" />' +
                '</div>' +
                '<div class="field">' +
                '<button type="button" class="circular ui icon blue mini button add-job" data-tooltip="Add">' +
                '<i class="plus icon"></i>' +
                '</button>' +
                '</button>' +
                '<button type="button" class="circular ui icon orange mini button remove-job" data-tooltip="Remove">' +
                '<i class="minus icon"></i>' +
                '</button>' +
                '</div>' +
                '</div>';
            
            function AddRenter() {
                $(document).on('click', '.add-renter', function () {
                    $('#renter-div').append(AddRenterTemplate);
                    $('<button type="button" class="circular ui icon orange mini button remove-renter" data-tooltip="Remove">' +
                        '<i class="minus icon"></i>' +
                        '</button>').insertAfter($('.add-renter').last());

                });
            }
            function AddJobHistory() {
                $(document).on('click', '.add-job', function () {
                    $(this).parents('.job-history').append(JobHistoryTemplate)
                });
            }
            function AddAddressHistory() {
                $(document).on('click', '.add-address', function () {
                    $(this).parents('.address-history').append(AddressHistoryTemplate)
                });
            }
            function AddAttachment() {
                $(document).on('click', '.add-attachments', function () {
                    $(this).parents('.attachments').append(AttachmentTemplate)
                });
            }
            function RemoveAttachment() {
                $(document).on('click', '.remove-attachments', function () {
                    $(this).parents('.file-content').remove();
                });
            }
            function RemoveRenter() {
                $(document).on('click', '.remove-renter', function () {
                    $(this).parents('.renter').remove();
                });
            }
            function RemoveJobHistory() {
                $(document).on('click', '.remove-job', function () {
                    $(this).parents('.fields').remove();
                });
            }
            function RemoveAddressHistory() {
                $(document).on('click', '.remove-address', function () {
                    $(this).parents('.fields').remove();
                });
            }
            function SubmitRequest() {
                $(document).on('click', '#SubmitRequest', function () {
                    var hasBlankField = ValidateRequiredFields();
                    if (hasBlankField) {
                        return;
                    }
                    var formData = new FormData();
                    formData.append('StartDate', $('#CheckedInDate').val() );
                    formData.append('EndDate', $('#CheckedOutDate').val());
                    formData.append('PropertyId', $('#propertyId').val());
                    var counter = 0;
                    $('.renter').each(function (index, element) {
                        var name = $(this).find('.guestName').val();
                        var email = $(this).find('.guestEmail').val();
                        var phone = $(this).find('.guestPhone').val();
                        var address = $(this).find('.guestAddress').val();
                        var AddressHistory = [];
                        var JobHistory = [];
                        $(this).find(".job-description").each(function (index, element) {
                            JobHistory.push($(this).val());
                          });
                         $(this).find(".address-description").each(function (index, element) {
                             AddressHistory.push($(this).val())
                         });
                        var attachmentCounter = 0;
                        $(this).find(".file-content").each(function (index, element) {
                            formData.append('Renters[' + counter + '].RenterFiles[' + attachmentCounter + '].Description', $(this).find('.attachment-description').val());
                            formData.append('Renters[' + counter + '].RenterFiles[' + attachmentCounter + '].RenterRequestAttachmentDescriptionId', $(this).find('.attachment-description').attr('description-id'));
                            for (var i = 0; i < $(this).find('.attachment-files').get(0).files.length; ++i) {

                                formData.append('Renters[' + counter + '].RenterFiles[' + attachmentCounter + '].Files[' + i + ']', $(this).find('.attachment-files').get(0).files[i]);
                            }
                            attachmentCounter++;
                        });

                        if (name != "") {
                            formData.append('Renters[' + counter + '].Name', name);
                            formData.append('Renters[' + counter + '].Email', email);
                            formData.append('Renters[' + counter + '].PhoneNumber', phone);
                            formData.append('Renters[' + counter + '].Address', address);
                            formData.append('Renters[' + counter + '].JobHistory', JSON.stringify(JobHistory));
                            formData.append('Renters[' + counter + '].AddressHistory', JSON.stringify(AddressHistory));

                        }
                        counter++;
                    });
                    //return false;
                    //formData.append('RenterString', JSON.stringify(Renter));
                    $.ajax({
                        type: "POST",
                        url: '/Property/SaveRequest',
                        data: formData,
                        beforeSend: function () {
                            $('#SubmitRequest').addClass('loading');
                        },
                        cache: false,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.success) {
                                $('#SubmitRequest').removeClass('loading');
                                swal("Request successfully created!", "", "success");
                            }

                        }
                    });
                });
            }
        });
    </script>

