﻿
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon camera"></i>
        <div class="content">
            CCTV
        </div>
    </h1>
    <div class="ui segment">
        <div class="ui form">
            <div class="ui fields">
                <div class="ui field">
                    <select class="ui multiple dropdown" id="property-id">
                        <option selected value="0">All</option>
                        @{
                            foreach (var item in ViewBag.Properties)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="ui field">
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" id="video-date" value="@DateTime.Now.ToString("MMMM dd,yyyy")" placeholder="Date" />
                        </div>
                    </div>
                </div>
                <div class="ui field">
                    <button class="ui tiny blue button" id="video-filter-btn">Filter</button>
                </div>
                <div class="ui field">
                    <button class="ui tiny blue button" id="multiple-video-delete">Delete Selected Videos</button>
                </div>
            </div>
        </div>
        <div class="property-video-container"></div>
        
    </div>        
    <div class="ui small modal" id="video-player-modal" video-id="0">
        <i class="close icon"></i>
        <div class="header">
        </div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <video id="video-player" type="video/mp4" controls>
                            @*<source src="" />*@
                        </video>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <button class="ui blue button video-delete-btn">Delete</button>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <input placeholder="Note" id="video-note" />
                    </div>
                    <div class="field">
                        <button class="ui blue button video-save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function PlayVideo(player) {
        var videoContainer = $(player).closest('.video-container');
        var videoId = videoContainer.attr('video-id');
        $.ajax({
            type: 'POST',
            url: "/Video/WatchVideo",
            data: { videoId: videoId },
            success: function (data) {
                videoContainer.find('h5').attr('data-tooltip', 'Watch');
                videoContainer.find('h5').find('i').attr('class', 'play circle icon');
            }
        });

    }
    $(document).ready(function () {
        DeleteVideoInModal();
        DeleteVideo();
        LoadPropertyVideos();
        FilterBtn();
        SaveVideoNote();
        SaveVideo();
        PlayVideo();
        DeleteVideos();
        function FilterBtn() {
            $(document).on('click', '#video-filter-btn', function (e) {
                LoadPropertyVideos();
            });
            
        }
        function DeleteVideos() {
            $(document).on("click", "#multiple-video-delete", function (e) {
                swal({
                    title: "Are you sure you want to delete video?",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Delete",
                    showCancelButton: true,
                    closeOnConfirm: true,
                },
                    function () {
                        var videoIds = []
                        $('.select-video').each(function (index, element) {
                            var parent = $(this).closest('.video-container').parent();
                            var videoId = $(this).closest('.video-container').attr('video-id');
                            if ($(this).prop("checked")) {
                                videoIds.push(videoId);
                                parent.remove();
                            }
                        });
                        $.ajax({
                            type: 'POST',
                            url: "/Video/DeleteVideos",
                            data: { videoIds: JSON.stringify(videoIds) },
                            async: true,
                            success: function (data) {
                                if (data.success) {
                                }
                            }
                        });
                    });
            });
        }
        
        function LoadPropertyVideos() {
            $.ajax({
                type: 'GET',
                url: "/Video/GetPropertyVideos",
                data: { propertyIds: $('#property-id').val().join(), videoDate: $('#video-date').val() },
                success: function (data) {
                    var propertyVideos = data.propertyVideos;
                    var html=''
                    if (propertyVideos.length > 0) {
                        for (var x = 0; x < propertyVideos.length; x++) {
                             html+= '<div>' +
                                '<label>' + propertyVideos[x].PropertyName + '</label>' +
                                '<div style="overflow-x: scroll">' +
                                '<div class="ui form">' +
                                '<div class="ui fields">';
                            for (var i = 0; i < propertyVideos[x].Videos.length; i++) {
                                var timezoneId = propertyVideos[x].Videos.TimeZoneId != null ? propertyVideos[x].Videos.TimeZoneId : "America/Los_Angeles";
                                html += '<div class="ui field">' +
                                    '<div class="video-container" video-id="' + propertyVideos[x].Videos[i].Id + '">' +
                                    '<video onplay="PlayVideo(this)" type="video/mp4" controls> ' +
                                    '<source src="' + propertyVideos[x].Videos[i].VideoUrl + '"/>'+
                                    '</video>' +
                                    '<h5 ' + (propertyVideos[x].Videos[i].IsWatched ? 'data-tooltip="Watch"' : 'data-tooltip="Unwatch"') + '>' + (propertyVideos[x].Videos[i].IsWatched ? '<i class="play circle icon"></i>' : '<i class="play circle outline icon"></i>') + propertyVideos[x].Videos[i].Description + "<br>" + moment(propertyVideos[x].Videos[i].DateCreated).tz(timezoneId).format('MMM D YYYY hh:mm A') + '</h5>' +
                                    '<div class="ui checked checkbox"><input type="checkbox" class="select-video">' +
                                    '<label>Select</label>' +
                                    '</div>' +
                                    '<a href="' + propertyVideos[x].Videos[i].VideoUrl + '" download="' + propertyVideos[x].Videos[i].Description + " " + moment(propertyVideos[x].Videos[i].DateCreated).tz(timezoneId).format('MMM D YYYY hh mm A') + '">' +
                                    '<button class="ui mini button" data-tooltip="Download"><i class="icon download"></i></button>' +
                                    '</a>' +
                                    '<button class="ui mini red button delete-video" data-tooltip="Delete">' +
                                    '<i class="icon trash alternate outline"></i>' +
                                    '</button>' +
                                    '<button class="circular ui icon button video-play-button" data-tooltip="Zoom">' +
                                    '<i class="icon search"></i>' +
                                    '</button>' +
                                    '<div class="ui checked checkbox"><input type="checkbox" ' + (propertyVideos[x].Videos[i].IsSaved ? 'checked' : '') + ' class="save-video">' +
                                    '<label>Save</label>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';
                            }
                            html +=
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        }

                    }
                    $('.property-video-container').empty();
                    $('.property-video-container').append(html);
                }
            });
        }

        function PlayVideo() {
            $(document).on('click', '.video-play-button', function (e) {
                var videoModal = $('#video-player-modal');
                var videoContainer = $(this).closest('.video-container');
                var source = videoContainer.find('video > source').attr('src');
                var details = videoContainer.find('h5').text();
                var videoId = videoContainer.attr('video-id');
                GetVideoNote(videoId);
                videoModal.attr('video-id', videoId);
                videoModal.find('.header').text(details);
                //Append videos that click by user.
                var videoParent = $('#video-player').parent();
                videoParent.empty();
                videoParent.append('<video id="video-player" type="video/mp4" style="width:100%" controls>'+
                           '<source src="' + source+'" />'+
                            '</video>');
                videoModal.modal({
                    onHide: function () {
                        $('#video-player')[0].pause();
                    }
                }).modal("show");
                $('#video-player')[0].load();
                $('#video-player')[0].play();
                videoModal.modal('refresh');

            });
        }
        function SaveVideo() {
            $(document).on("click", ".save-video", function (e) {
                var videoId = $(this).closest('.video-container').attr('video-id');
                var isSave = $(this).prop("checked")
                $.ajax({
                    type: 'POST',
                    url: "/Video/SaveVideo",
                    data: { videoId: videoId, isSave: isSave },
                    success: function (data) {
                    }
                });

            });

        }
        function GetVideoNote(videoId) {
            $.ajax({
                type: 'GET',
                url: "/Video/GetVideoNote",
                data: { videoId: videoId},
                success: function (data) {
                    if (data.VideoNote != null) {
                        $('#video-note').val(data.VideoNote.Note);
                    }
                    
                }
            });
        }
        function DeleteVideo() {
            $(document).on('click', '.delete-video', function (e) {
                var videoId = $(this).closest('.video-container').attr('video-id');
                swal({
                    title: "Are you sure you want to delete video?",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Delete",
                    showCancelButton: true,
                    closeOnConfirm: true,
                },
                    function () {
                        $.ajax({
                            type: 'POST',
                            url: "/Video/DeleteVideo",
                            data: { videoId: videoId },
                            success: function (data) {
                                if (data.success) {
                                    $('.video-container[video-id=' + videoId + ']').parent('.field').remove();
                                }
                            }
                        });
                    });
            });
        }
        function DeleteVideoInModal() {
            $(document).on('click', '.video-delete-btn', function (e) {
                var videoId = $('#video-player-modal').attr('video-id');
                swal({
                    title: "Are you sure you want to delete video?",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Delete",
                    showCancelButton: true,
                    closeOnConfirm: true,
                },
                    function () {
                        $.ajax({
                            type: 'POST',
                            url: "/Video/DeleteVideo",
                            data: { videoId: videoId },
                            success: function (data) {
                                if (data.success) {
                                    $('.video-container[video-id=' + videoId + ']').parent('.field').remove();
                                    $('#video-player-modal').modal('hide');
                                }
                            }
                        });
                    });

            });
        }
        function SaveVideoNote() {
            $(document).on('click', '.video-save-btn', function (e) {
                var note = $('#video-note').val();
                var videoId = $('#video-player-modal').attr('video-id');
                $.ajax({
                    type: 'POST',
                    url: "/Video/SaveVideoNote",
                    data: { videoId: videoId, note:note },
                    success: function (data) {
                        
                    }
                });

            });
        }
        
    });
</script>

