﻿@using Core.Enumerations
@model MessagerSolution.Models.TravelEventFormViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Travel Events Form</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/travelEventForm")
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/calendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="~/Content/App/travel-event-form.css">
    <script type="text/javascript" src="~/Scripts/form-travel-events.js"></script>
</head>
<body>
    <div class="container main-container">
        <h1>Travel Event Form</h1>
        <button class="ui button primary create-new-travel-group-btn">Add New Group</button>
        <br /><br />
        <table id="travel-event-form-table" class="ui celled violet table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Travel Type</th>
                    <th>Travel Date Time</th>
                    <th>People</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;

                    if (Model.TravelGroupInfoList.Any())
                    {
                        foreach (var item in Model.TravelGroupInfoList)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.ContactPerson</td>
                                <td>@item.ContactNumber</td>
                                <td>
                                    @{
                                        if (item.TravelType == (int)TravelTypeEnum.ARRIVAL)
                                        {
                                            @Html.Raw("Arrival")
                                        }
                                        else if (item.TravelType == (int)TravelTypeEnum.SELF_CHECK_IN)
                                        {
                                            @Html.Raw("Self Checkin")
                                        }
                                        else if (item.TravelType == (int)TravelTypeEnum.SELF_CHECK_OUT)
                                        {
                                            @Html.Raw("Self Checkout")
                                        }
                                        else
                                        {
                                            @Html.Raw("Departure")
                                        }
                                    }
                                </td>
                                <td>@item.TravelDateTime</td>
                                <td>@item.People</td>
                                <td>
                                    <div>
                                        <a class="ui mini button edit-form-travel-record-btn" data-tooltip="Edit" onclick="EditViewFormTravelEvent('@item.Id')"><i class="icon edit"></i></a>
                                        <a href="#" class="remove_field" data-tooltip="Delete" onclick="DeleteTravelEventRecord('@item.Id', '@item.InquiryId')"><i class="orange minus circle icon remove-field-icon"></i></a>
                                    </div>
                                </td>
                            </tr>
                                                index++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7" style="text-align: center;">
                                                    No Records Available
                                                </td>
                                            </tr>
                                        }
                }
            </tbody>
        </table>
    </div>

    <!--Start Create New Travel Group Modal-->
    <div class="ui modal create-new-travel-group-modal">
        <i class="close icon"></i>
        <div class="header">
            New Travel Group
        </div>
        <div class="content">
            <form class="form-horizontal form-container">
                <h3>Travel Group Info</h3>
                @*<div class="form-group">
            <label class="control-label col-md-2" for="groupName">Group Name:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="groupName" placeholder="Enter Group Name" name="groupName">
            </div>
        </div>*@
                <div class="form-group">
                    <label class="control-label col-md-2" for="totalPerson">Total Person in Group:</label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" id="totalPerson" placeholder="Total Person in Group" name="totalPerson">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="contactPerson">Contact Person:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="contactPerson" placeholder="Enter Contact Person" name="contactPerson">
                    </div>
                    <label class="control-label col-md-2" for="contactNumber">Contact Number:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="contactNumber" placeholder="Enter Contact Number" name="contactNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="people">People:</label>
                    <div class="col-md-4">
                        <textarea type="text" rows="4" class="form-control" id="people" placeholder="List of guest" name="people"></textarea>
                    </div>
                </div>
                @if (ViewBag.AllowedSelfCheckinCheckout)
                {

                    <h3>Travel Info</h3>
                    <div class="form-group">
                        <label class="control-label travel-info-label col-md-2" for="Checkin">Self Checkin</label>
                        <div class="ui calendar col-md-4">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="Checkin" placeholder="Checkin" name="Checkin" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label travel-info-label col-md-2" for="Checkout">Self Checkout</label>
                        <div class="ui calendar col-md-4">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="Checkout" placeholder="Checkout" name="Checkout" />
                            </div>
                        </div>
                    </div>
                }
                <table class="travel-info-table">
                    <tr>
                        <td>
                            <div class="form-group">
                                <div>
                                    <input type="radio" name="travelType" value="1" style="margin-left: 15px;">
                                </div>
                                <label class="control-label travel-info-label col-md-2" for="arrivalDate">Arrival Date:</label>
                                <div class="ui calendar col-md-4">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" id="arrivalDate" placeholder="Select Arrival Date" name="arrivalDate" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div>
                                    <input type="radio" name="travelType" value="2">
                                </div>
                                <label class="control-label travel-info-label col-md-2" for="departureDate">Departure Date:</label>
                                <div class="ui calendar col-md-4">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" id="departureDate" placeholder="Select Departure Date" name="departureDate" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="control-label travel-info-label col-md-2" for="arrivalDate">Arrival Type:</label>
                                <div class="col-md-4">
                                    <select class="ui search dropdown" name="arrival-type-filter" id="arrival-type-filter">
                                        @{
                                            foreach (var item in Model.ArrivalTravelTypes)
                                            {
                                                <option value="@item.TravelNoteId">@item.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="control-label travel-info-label col-md-2" for="arrivalDate">Departure Type:</label>
                                <div class="col-md-4">
                                    <select class="ui search dropdown" name="departure-type-filter" id="departure-type-filter">
                                        @{
                                            foreach (var item in Model.DepartureTravelTypes)
                                            {
                                                <option value="@item.TravelNoteId">@item.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="arrival-info-label">Arrival Info</label>
                            <br />
                            @*START: ARRIVAL Travel Event Types Info*@
                            <div id="FlightArrivalInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="airportCodeArriveArrival">Airport Code</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="airportCodeArriveArrival" placeholder="Airport Code - Arrival" name="airportCodeArrival">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="airportCodeDepartArrival">Airport Code</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="airportCodeDepartArrival" placeholder="Airport Code - Departure" name="airportCodeDeparture">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="arrivalAirline">Airline</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="arrivalAirline" placeholder="Enter Airline" name="arrivalAirline">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="arrivalFlightNumber">Flight Number</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="arrivalFlightNumber" placeholder="Enter Flight Number" name="arrivalFlightNumber">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="DriveArrivalInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveArrivalCarType">Car Type</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveArrivalCarType" placeholder="Enter Car Type" name="driveArrivalCarType">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveArrivalCarPlate">Car Plate Number</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveArrivalCarPlate" placeholder="Enter Car Plate Number" name="driveArrivalCarPlate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveArrivalCarColor">Car Color</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveArrivalCarColor" placeholder="Enter Car Color" name="driveArrivalCarColor">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="CruiseArrivalInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseArrivalName">Cruise Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseArrivalName" placeholder="Enter Cruise Name" name="cruiseArrivalName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseArrivalPort1">Cruise Arrival Port</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseArrivalPort1" placeholder="Enter Cruise Arrival Port" name="cruiseArrivalPort">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseDeparturePort1">Cruise Departure Port</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseDeparturePort1" placeholder="Enter Cruise Departure Port" name="cruiseDeparturePort">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="TrainArrivalInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="trainArrivalName">Train Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="trainArrivalName" placeholder="Enter Train Name" name="trainArrivalName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="trainArrivalTerminalStation">Terminal Station</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="trainArrivalTerminalStation" placeholder="Enter Terminal Station" name="trainArrivalTerminalStation">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="BusArrivalInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="busArrivalName">Bus Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="busArrivalName" placeholder="Enter Bus Name" name="busArrivalName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="busArrivalTerminalStation">Terminal Station</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="busArrivalTerminalStation" placeholder="Enter Terminal Station" name="busArrivalTerminalStation">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*END: ARRIVAL Travel Event Types Info*@
                        </td>
                        <td>
                            <label class="arrival-info-label">Departure Info</label>
                            <br />
                            @*START: DEPARTURE Travel Event Types Info*@
                            <div id="FlightDepartureInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="airportCodeDepartDeparture">Airport Code</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="airportCodeDepartDeparture" placeholder="Airport Code - Departure" name="airportCodeDeparture">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="airportCodeArriveDeparture">Airport Code</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="airportCodeArriveDeparture" placeholder="Airport Code - Arrival" name="airportCodeArrival">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="departureAirline">Airline</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="departureAirline" placeholder="Enter Airline" name="departureAirline">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="departureFlightNumber">Flight Number</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="departureFlightNumber" placeholder="Enter Flight Number" name="departureFlightNumber">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="DriveDepartureInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveDepartureCarType">Car Type</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveDepartureCarType" placeholder="Enter Car Type" name="driveDepartureCarType">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveDepartureCarPlate">Car Plate Number</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveDepartureCarPlate" placeholder="Enter Car Plate Number" name="driveDepartureCarPlate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveDepartureCarColor">Car Color</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveDepartureCarColor" placeholder="Enter Car Color" name="driveDepartureCarColor">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="driveDepartureCity">Departure City</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="driveDepartureCity" placeholder="Enter Departure City" name="driveDepartureCity">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="CruiseDepartureInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseDepartureName">Cruise Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseDepartureName" placeholder="Enter Cruise Name" name="cruiseDepartureName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseArrivalPort2">Departure Port</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseArrivalPort2" placeholder="Enter Cruise Arrival Port" name="cruiseArrivalPort">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="cruiseDeparturePort2">Departure Port</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="cruiseDeparturePort2" placeholder="Enter Cruise Departure Port" name="cruiseDeparturePort">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="TrainDepartureInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="trainDepartureName">Train Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="trainDepartureName" placeholder="Enter Train Name" name="trainDepartureName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="trainDepartureTerminalStation">Terminal Station</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="trainDepartureTerminalStation" placeholder="Enter Terminal Station" name="trainDepartureTerminalStation">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="BusDepartureInfoSection">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="busDepartureName">Bus Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="busDepartureName" placeholder="Enter Bus Name" name="busDepartureName">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label travel-info-label col-md-2" for="busDepartureTerminalStation">Terminal Station</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control arrival-info-text-box" id="busDepartureTerminalStation" placeholder="Enter Terminal Station" name="busDepartureTerminalStation">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*END: DEPARTURE Travel Event Types Info*@
                        </td>
                    </tr>
                </table>
                @*Temporary Disable - 27/12/2017*@
                @*<div class="travellers-section">
            <h3>Travellers Information</h3>
            <div class="fields">
                <div class="four wide field">
                    <button class="ui icon button add_new_traveller_button" data-tooltip="Add New Traveller Info">
                        <i class="plus icon"></i>
                    </button>
                    <button class="ui icon button clear_all_traveller_button" data-tooltip="Clear All">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="travellersList"></div>
        </div>
                <br />
                <div class="form-group form-buttons">

                    <div class="actions ">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                        <div id="submit-new-travel-booking" class="ui green button">
                            Submit
                        </div>
                    </div>
                </div>*@
            </form>
        </div>
        <div class="actions">
            <div id="form-cancel-btn" class="ui red deny button">
                Cancel
            </div>
            <a id="form-submit-btn" class="ui green right labeled icon button">
                Submit
                <i class="checkmark icon"></i>
            </a>
        </div>
    </div>
    <!--End Create New Travel Group Modal-->
    <script src="~/Content/moment/moment.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="~/Content/semantic/dist/calendar.min.js"></script>
</body>

</html>