﻿
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

    <div class="body-content">
        <h1 class="ui header">
            <i class="icon user outline"></i>
            <div class="content">
                Owners
            </div>
        </h1>
        <button class="ui tiny blue button owner-btn">Create Owner</button>
        <br />

        <div class="ui segment">
            <table id="owner-table" class="display responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Properties</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!-- Start add sub-user modal-->
        <div id="owner-modal" class="ui modal" userId="0">
            <i class="close icon"></i>
            <div class="header">
                Owner
            </div>
            <div class="content">
                <form class="ui form" autocomplete="off">
                    <div class="fields">
                        <div class="one width field">
                            <input type="file" id="owner-profile-pic" accept='image/*' hidden />
                            <a href="#"><img src="/Images/User/default-image.png" class="ui small circular image" alt="Profile" id="profile-image"></a>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            <label>First Name</label>
                            <input type="text" name="FirstName" id="owner-firstname" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            <label>Last Name</label>
                            <input type="text" name="LastName" id="owner-lastname" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            <label>Email</label>
                            <input type="text" name="UserName" id="owner-username" placeholder="Email" />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            <label>Password</label>
                            <input type="password" name="Password" id="owner-password" placeholder="Password" />
                        </div>
                    </div>
                    <div id="MyAccordion" class="ui accordion" style="margin-top: 2%">
                        <div id="MyTitle" class="title">
                            <i class="dropdown icon"></i>
                            Properties
                        </div>
                        <div id="MyContent" class="content">
                            <div style="margin: 3%">
                                <table id="property-table" style="width: 75%" class="ui blue table">
                                    <thead>
                                        <tr>
                                            <th colspan="4" align="center" style="text-align: center">Properties</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            <div class="actions">
                                <a class="ui red deny button" title="Cancel">Cancel</a>
                                <a class="ui primary button" id="save-owner" title="Save"> <i class="icon edit"></i>Save</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End add sub-user modal-->
    </div>
    <script src="~/Scripts/owners.js"></script>