﻿<div class="ui tab segment" data-tab="tab-invoice-template">
    <button class="ui tiny button primary" id="create-invoice-template">Create Invoice Template</button>
    <table id="invoice-template-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="ui tab segment" data-tab="tab-email-template">
    <button class="ui tiny blue button" id="create-email-template">Create Email Template</button>
    <table id="email-template-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="ui tab segment active" data-tab="tab-invoice-schedule">
    <button class="ui tiny blue button" id="create-invoice-schedule">Create Invoice Schedule</button>
    <table id="invoice-schedule-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Description</th>
                <th>Email Template</th>
                <th>Invoice Template</th>
                <th>Payment Method</th>
                <th>Properties</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id="invoice-template-modal" document-id="0" class="ui longer modal">
    <i class="close icon"></i>
    <div class="header">
        Invoice Template
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Upload Template</label>
                    <input type="file" id="invoice-template-upload" multiple />
                </div>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <div class="fields">
                <div class="field">
                    <label>Document</label>
                    <input autocomplete="off" type="text" id="invoice-document-name" placeholder="Document Name" required />
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Variables</label>
                    <select id="invoice-template-variable" class="ui search dropdown">
                        <option value="">Select Variable</option>
                        <option value="[Renter Firstname]">Renter Firstname</option>
                        <option value="[Renter Lastname]">Renter Lastname</option>
                        <option value="[Renter Phone]">Renter Phone</option>
                        <option value="[Renter Address]">Renter Address</option>
                        <option value="[Property Address]">Property Address</option>
                        <option value="[Company]">Company</option>
                        <option value="[Total Amount]">Total Amount</option>
                        <option value="[Transaction Details]">Transaction Details</option>
                        <option value="[Date]">Date</option>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <textarea id="invoice-paragraph">

                        </textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui blue deny button" data-dismiss="modal">Cancel</button>
        <div id="invoice-template-save" class="ui blue right labeled icon button">Save<i class="checkmark icon"></i></div>
    </div>
</div>


<!--Start Template Message Modal-->
<div id="email-template-modal" email-template-id="0" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Email Template</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <div class="two field">
                    <label>Name</label>
                    <input type="text" id="email-template-name" name="template-name">
                </div>
                <div class="two field">
                    <label>Variables</label>
                    <select id="email-template-variable" class="ui search dropdown">
                        <option value="">Select Variable</option>
                        <option value="[Transaction Details]">Transaction Details</option>
                        <option value="[Renter Firstname]">Renter Firstname</option>
                        <option value="[Renter Lastname]">Renter Lastname</option>
                        <option value="[Renter Phone]">Renter Phone</option>
                        <option value="[Renter Address]">Renter Address</option>
                        <option value="[Property Address]">Property Address</option>
                        <option value="[Company]">Company</option>
                        <option value="[Total Amount]">Total Amount</option>
                        <option value="[Date]">Date</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>Message</label>
                <div class="comment_box editable" id="email-template-content" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;" spellcheck="false"></div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button id="save-email-template" class="ui blue button" type="button">Save</button>
        <div class="ui cancel blue button">Cancel</div>
    </div>
</div>
<!--End Template Message Modal-->
<!--Start Template Message Modal-->
<div id="invoice-schedule-modal" invoice-schedule-id="0" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Invoice Schedule</div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Description</label>
                    <input type="text" class="invoice-schedule-description">
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Property</label>
                    <select multiple class="ui dropdown invoice-schedule-property">
                        @{
                            foreach (var item in ViewBag.Properties)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Payment Method</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" class="payment-method">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Payment Method</div>
                        <div class="menu">
                            <div class="item" data-value="1">
                                <img class="ui mini image" src="/Content/img/paypalIcon.png">PayPal
                            </div>
                            <div class="item" data-value="2">
                                <img class="ui mini image" src="/Content/img/squareIcon.png">Square
                            </div>
                            <div class="item" data-value="3">
                                <img class="ui mini image" src="/Content/img/stripeIcon.png">Stripe
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui fields">
                <div class="ui field">
                    <label>Invoice Template</label>
                    <select class="ui dropdown invoice-template">
                    </select>
                </div>
            </div>
            <div class="ui fields">
                <div class="ui field">
                    <label>Email Template</label>
                    <select class="ui dropdown email-template" >
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Day of Month</label>
                    <select class="ui dropdown day-of-month">
                        @{
                            for(int x=1;x<=31;x++)
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button id="save-invoice-schedule" class="ui blue button" type="button">Save</button>
        <div class="ui cancel blue button">Cancel</div>
    </div>
</div>
<!--End Template Message Modal-->

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="~/Content/niceEdit/nicEdit.js"></script>
<script src="~/Scripts/invoice.js"></script>
<script src="~/Scripts/email-template.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function () {
        nicEditors.editors.push(
            new nicEditor().panelInstance(
                document.getElementById('invoice-paragraph')
            )
        );
    });
</script>