﻿
@model MessagerSolution.Models.Invoice.InvoicePaymentRequest
@{
    ViewBag.Title = "Payment Square";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @*<link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">*@
    @*<link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/styles.css">*@
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="width: 50% !important;margin-right:25%;margin-left:25%">
        <div class="login-box-body">
            <div class="creditCardForm">
                <div class="heading">
                    <h1>Bills Payment via Square</h1>
                    <h3>Total Amount: @Model.TotalAmount</h3>
                    <div class="payment">
                        <div id="sq-ccbox">
                            <input type="hidden" id="square-application-id" value="@Core.Helper.PaymentMethod.ConfigurationKeys.ConfigurationKeyByInvoice(Model.InvoiceId).SquareApplicationId" />
                            <input type="hidden" id="square-location-id" value="@Core.Helper.PaymentMethod.ConfigurationKeys.ConfigurationKeyByInvoice(Model.InvoiceId).SquareLocationId" />
                            <!--
                            You should replace the action attribute of the form with the path of
                            the URL you want to POST the nonce to (for example, "/process-card")
                            -->
                            @using (Html.BeginForm("Square", "Payment", FormMethod.Post, new { id = "nonce-form" }))
                            {
                                @Html.HiddenFor(model => model.InvoiceId)
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.CreditCardNonce, new { @id = "card-nonce" })

                                <div>
                                    Pay with a Credit Card
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Card Number:</td>
                                                <td>
                                                    <div id="sq-card-number" name="CreditCardNo"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CVV:</td>
                                                <td>
                                                    <div id="sq-cvv" name="Ccv"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Expiration Date: </td>
                                                <td>
                                                    <div id="sq-expiration-date" name="Expiry"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Postal Code:</td>
                                                <td><div id="sq-postal-code"></div></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <button id="sq-creditcard" class="btn btn-primary" onclick="onGetCardNonce(event)">
                                                        Pay with card
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>}
                        </div>

                        <div id="sq-walletbox" style="display: none">
                            Pay with a Digital Wallet
                            <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                            <!-- Placeholder for Apple Pay for Web button -->
                            <button id="sq-apple-pay" class="button-apple-pay"></button>

                            <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                            <!-- Placeholder for Masterpass button -->
                            <button id="sq-masterpass" class="button-masterpass"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*<script src="~/bower_components/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    @*<script src="~/plugins/iCheck/icheck.min.js"></script>*@
    @*<script src="~/Scripts/jquery.payform.min.js" charset="utf-8"></script>*@
    @*<script src="~/Scripts/script.js"></script>*@
    <script src="~/Scripts/scripts.js"></script>
    <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
    @*<link href="~/Content/square/css/sq-payment-form.css" rel="stylesheet" />*@
    <link href="~/Content/subscription.css" rel="stylesheet" />
    <script src="~/Content/square/js/sq-payment-form.js"></script>
    @*<script src="~/Scripts/sqpaymentform.js"></script>*@
    @*<script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>*@
</body>
</html>

