﻿@model MessagerSolution.Models.Invoice.InvoicePaymentRequest
@{
    ViewBag.Title = "Payment Stripe";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="width: 50% !important; margin: 1% auto">
        <div class="login-logo">
            <a href="#"><b>POC</b></a>
        </div>
        <div class="login-box-body">
            <div class="creditCardForm">
                <div class="heading text-center">
                    <h1>Reservation Payment via Stripe</h1>
                    <h3>Total Amount: @Model.TotalAmount</h3>
                </div>
                <div class="payment text-center">
                    <!--
    You should replace the action attribute of the form with the path of
    the URL you want to POST the nonce to (for example, "/process-card")
    -->
                    @using (Html.BeginForm("Stripe", "Payment", FormMethod.Post, new { id = "nonce-form" }))
                    {
                        @Html.HiddenFor(model => model.InvoiceId)
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Email, new { @id = "card-nonce" })
                        @Html.HiddenFor(model => model.TotalAmount);
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Core.Helper.PaymentMethod.ConfigurationKeys.ConfigurationKeyByInvoice(Model.InvoiceId).StripePublishableKey"
                                data-locale="auto"
                                data-description="Payment"
                                data-amount="@Model.TotalAmount.ToString()">
                        </script>
                    }

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/js/jquery.payform.min.js" charset="utf-8"></script>
    <script src="~/Scripts/js/script.js"></script>

    <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%'
                });
            });
    </script>
</body>
</html>

