﻿@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<div class="body-content">
    <h1 class="ui header">
        <i class="icon money"></i>
        <div class="content">
            Expenses
        </div>
    </h1>
    <div class="ui grid">

        <div class="computer only row">
            <div class="column">
                <div class="ui tabular menu">
                    <!-- Menu list -->
                    <div class="item active" data-tab="expense-tab">Expense</div>
                    <div class="item" data-tab="payment-tab">Payments</div>
                    <div class="item" data-tab="setting-tab">Setting</div>
                </div>
            </div>
        </div>

        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui menu">
                    <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui pushable">
        <div class="content-mobile-sidebar ui sidebar content vertical menu">
            <!-- Menu list -->
            <div class="item active" data-tab="expense-tab">Expense</div>
            <div class="item" data-tab="payment-tab">Payments</div>
            <div class="item" data-tab="setting-tab">Setting</div>
        </div>
        <div class="pusher">
            <div id="content">
                <!-- Content of page -->
                <div class="ui tab segment active" data-tab="expense-tab">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>Property</label>
                                <select class="ui dropdown" multiple name="property-filter" id="property-filter">
                                    <option value="all" selected>All</option>
                                    @{
                                        foreach (var item in ViewBag.PropertyListFilter)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                    }
                                </select>
                                <input type="hidden" id="property-hidden-ids" value="0" />
                            </div>
                            <div class="field">
                                <label>Filter Due Date By Month</label>
                                <div class="ui calendar month filter">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Due Date" id="due-date-month-filter" name="due-date-month-filter">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Filter Payment Date By Month</label>
                                <div class="ui calendar month filter">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Payment Date" id="payment-date-month-filter" name="payment-date-month-filter">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Filter by Status</label>
                                <select class="ui search dropdown" id="status-filter" name="status-filter">
                                    <option value="all">All</option>
                                    <option value="false">New</option>
                                    <option value="true">Paid</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" id="isIncludeChild" checked>
                                    <label>Include Child</label>
                                </div>
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <button id="clear-filter-btn" class="ui tiny blue button">Clear</button>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <button type="button" class="ui tiny blue button js-btn_create-expenses">Create New Expense</button>
                            </div>
                            <div class="field">
                                <button type="button" id="generate-expense-btn" class="ui tiny blue button">Generate Expense</button>
                            </div>
                            <div class="field">
                                <a href="/Expense/Upload" class="ui tiny icon button" style="background-color:#2185d0; color:#fff;"><i class="upload icon"></i>Import Excel File</a>
                            </div>
                            <div class="field">
                                @using (Html.BeginForm("GenerateExcelFile", "Home", FormMethod.Post, new { @id = "formDownload", enctype = "multipart/form-data" }))
                                {
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        var param = Core.Repository.CommonRepository.GetCurrentUserDetail(Convert.ToInt32(User.Identity.Name));

                                        <div class="ui tiny blue buttons" style="float:right;">
                                            <a href="/Expense/GenerateExcelFile?companyId=@param.CompanyId" class="ui tiny button"><i class="download icon"></i>Download Template</a>
                                            <div class="ui floating dropdown tiny icon button">
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <a href="/Expense/GenerateExcelFile?companyId=@param.CompanyId" class="item">Download Template</a>
                                                    <a href="/Expense/GenerateExcelFile?populate=1&companyId=@param.CompanyId" class="item">Download Existing Data</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <table id="expense-table" class="display responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Booking Code</th>
                                <th>Stay Date</th>
                                <th>Fee Name</th>
                                <th>Amount</th>
                                <th>Property</th>
                                <th>Status</th>
                                <th>Due Date</th>
                                <th>Payment Date</th>
                                <th>Date Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="ui tab segment" data-tab="setting-tab">
                    <div class="ui tabular menu">
                        <div class="item active" data-tab="category-tab">Public Expense Category</div>
                        <div class="item" data-tab="payment-method-tab">Payment Method</div>
                        <div class="item" data-tab="fee-tab">Fee Type</div>
                    </div>

                    <div class="ui tab active" data-tab="category-tab">
                        <div class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <label>Filter by type</label>
                                    <select class="ui search dropdown" id="expense-category-type-filter" name="expense-category-type-filter">
                                        <option value="all">All</option>
                                        <option value="1">Private</option>
                                        <option value="2">Public</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>&nbsp;</label>
                                    <button id="create-expense-category-btn" class="ui tiny blue button">
                                        Crate New Expense Category
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <table class="display responsive" style="width:100%" id="expense-category-table">
                            <thead>
                                <tr>
                                    <th>Expense Category</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="ui tab" data-tab="payment-method-tab">
                        <div>
                            <button type="button" class="ui tiny blue button" id="payment-method-btn">Add Payment Method</button>
                        </div>
                        <br />
                        <table id="payment-method-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="ui tab" data-tab="fee-tab">
                        <div class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <label>Filter by type</label>
                                    <select class="ui search dropdown" id="fee-type-filter" name="fee-type-filter">
                                        <option value="all">All</option>
                                        <option value="1">Private</option>
                                        <option value="2">Public</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>&nbsp;</label>
                                    <button id="create-new-fee-type" class="ui tiny blue button">
                                        Crate New Fee Type
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <table id="fee-type-table" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fee Type</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="ui tab segment" data-tab="payment-tab">
                    <button type="button" class="ui tiny blue button batch-payment-btn">Batch Payment</button>
                    <br />
                    <br />
                    <table class="display responsive" style="width:100%" id="payment-table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Expenses Paid</th>
                                <th>Balance</th>
                                <th>Status</th>
                                <th>Payment Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Expense Batch Modal Start-->
    <div class="ui modal batch-payment-modal">
        <i class="close icon"></i>
        <div class="header" id="payment-header">
            Batch Payments
        </div>
        <div class="content" style="height:auto !important;">
            <div class="ui form">
                <div class="container">
                    <div class="fields">
                        <div class="five wide field">
                            @*<label id="batch-payment-id">Receipt Number</label>*@
                            <label>Description</label>
                            <input id="batch-id" value="0" type="hidden" />
                            <input type="text" id="batch-payment-description" placeholder="Description" />
                        </div>
                    </div>

                    <div class="fields">
                        <div class="five wide field">
                            <label>Amount</label>
                            <input type="number" id="batch-payment-amount" placeholder="Amount" />
                        </div>

                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Payment Date</label>
                            <div class="ui calendar date">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" id="batch-payment-date" placeholder="Payment Date" />
                                </div>
                            </div>
                        </div>
                        <div class="field"><label>&nbsp;</label><b>Remaining Amount:<p id="batch-payment-remaining">0</p></b></div>
                    </div>
                    <div class="fields">
                        <div class="one width field">
                            <input type="file" class="batch-proof-pic" name="proof-pic" id="batch-proof-pic" accept='image/*' multiple />
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui grid" id="batch-image-upload"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="fields">
                        <div class="field">
                            <label>Filter</label>
                            <select class="ui search dropdown" name="property-expense-filter" id="property-expense-filter">
                                <option value="">Select Property</option>
                                @{
                                    foreach (var item in ViewBag.PropertyList)
                                    {
                                        if ((item.IsParentProperty == false) || (item.IsParentProperty && (item.ParentType != 1)))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="paid-expense">

                    </div>
                    <div id="unpaid-expense">

                    </div>
                    <div class="fields payment-action">
                        <div id="cancel-payment" onclick="$('.batch-payment-modal').modal('hide');" class="ui red deny button">
                            Cancel
                        </div>
                        <button id="save-batch-payment" style="background-color: #21ba45; color: #fff; text-shadow: none" class="ui savebooking right labeled icon button">
                            Save
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!--Expense Batch Modal End-->
    <!-- Start Create Expenses Modal -->
    <div id="create-expenses-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Expense
        </div>
        <div class="content">
            <!-- Start Expenses Form -->
            <div id="expense-form" class="ui form">
                <input type="hidden" id="ExpenseId" name="ExpenseId" />

                <div class="fields">
                    <div class="field">
                        <label>Property</label>
                        <select class="ui search dropdown" name="PropertyId" id="PropertyId">
                            <option value="">Select Property</option>
                            @{
                                foreach (var item in ViewBag.PropertyList)
                                {
                                    if ((item.IsParentProperty == false) || (item.IsParentProperty && (item.ParentType != 1)))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>

                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="Description" name="Description" required>
                    </div>
                    <div class="field">
                        <label>Expense Category</label>
                        @Html.DropDownList("ExpenseCategoryId", ViewBag.ExpenseCategory as SelectList, "Select Category", new { @id = "ExpenseCategoryId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="field">
                            <label>Amount</label>
                            <input type="text" placeholder="Amount" id="Amount" name="Amount" required>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Due Date</label>
                        <div class="ui calendar date">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Due Date" id="DueDate" name="DueDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Payment Date</label>
                        <div class="ui calendar date">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Payment Date" id="PaymentDate" name="PaymentDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Status</label>
                        <select class="ui search dropdown" id="IsPaid" name="IsPaid">
                            <option value="">Select Status</option>
                            <option value=false>New</option>
                            <option value=true>Paid</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Payment Method</label>
                        @Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "PaymentMethodId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="one width field">
                        <input type="file" id="expense-proof-files" multiple />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui grid" id="expense-proof-upload"></div>
                    </div>
                </div>
                <div id="MyAccordion" class="ui accordion">
                    <div id="MyTitle" class="title">
                        <i class="dropdown icon"></i>
                        Advance setup
                    </div>
                    <div id="MyContent" class="content">
                        <div class="fields">
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" class="hidden" name="IsRecurring" id="IsRecurring">
                                    <label>Recurring</label>
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <select class="ui search dropdown" id="Frequency" name="Frequency">
                                    <option value="">Select Frequency</option>
                                    <option value="1">Daily</option>
                                    <option value="2">Weekly</option>
                                    <option value="3">Monthly</option>
                                    <option value="4">Quarterly</option>
                                    <option value="5">Yearly</option>
                                </select>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <h5>Additional Info</h5>
                        <div class="fields">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" class="hidden" id="IsStartupCost" name="IsStartupCost">
                                    <label>Is Start-Up Cost</label>
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" class="hidden" id="IsCapitalExpense" name="IsCapitalExpense">
                                    <label>Is Capital Expense</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Expenses Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="expense-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create Expenses Modal -->
    <!-- Start Create Fee Type Modal -->
    <div id="create-fee-type-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Fee Type
        </div>
        <div class="content">
            <!-- Start Fee Type Form -->
            <div class="ui form">
                <input type="hidden" id="fee-type-id" name="fee-type-id">
                <div class="field">
                    <label>Fee Type</label>
                    <input type="text" placeholder="Fee Type" id="fee-type" name="fee-type">
                </div>
                <div class="field">
                    <label>Type</label>
                    <select class="ui fluid search dropdown" id="type" name="type">
                        <option value="1">Private</option>
                        <option value="2">Public</option>
                    </select>
                </div>
            </div>
            <!-- End Fee Type Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="fee-type-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create Fee Type Modal -->
    <!-- Start Create Payment Method Modal -->
    <div id="create-payment-method-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Payment Method
        </div>
        <div class="content">
            <!-- Start Fee Type Form -->
            <div class="ui form">
                <input type="hidden" id="payment-method-id" name="payment-method-id">
                <div class="field">
                    <label>Description</label>
                    <input type="text" placeholder="Description" id="payment-method-name" name="payment-method-name">
                </div>
            </div>
            <!-- End Fee Type Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="payment-method-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Create Payment Method Modal -->
    <!-- Start Create Expense Category Modal -->
    <div id="create-expense-category-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Expense Category
        </div>
        <div class="content">
            <!-- Start Expense Category Form -->
            <div class="ui form">
                <input type="hidden" id="expense-category-id" name="expense-category-id">
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="Expense Category" id="category-name" name="category-name">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <select class="ui dropdown" id="companyTermId">
                            <option value="0" selected="">Shared</option>
                            <option value="1">Long Term</option>
                            <option value="2">Short Term</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End Expense Category Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="expense-category-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
            </div>
        </div>
    </div>
    <!-- End Create Expense Category Modal -->
    <!-- Start Generate Expense Modal -->
    <div id="generate-expense-category-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Generate Expense
        </div>
        <div class="content">
            <!-- Start Expense Category Form -->
            <div class="ui form">
                <div id="generate-expense-error-message" class="ui negative message">
                    <div class="header">
                        Please fill all fields
                    </div>
                </div>
                <div class="field">
                    <label>Time Frame</label>
                    <div class="fields">
                        <div class="six wide field">
                            <select class="ui fluid search dropdown" id="time-frame" name="time-frame">
                                <option value="">Select Time Frame</option>
                                <option value="1">Daily</option>
                                <option value="2">Monthly</option>
                                <option value="3">Yearly</option>
                                <option value="4">Range</option>
                            </select>
                        </div>
                        <!-- daily -->
                        <div class="field time-frame-daily">
                            <div class="ui calendar date">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Select Date" id="daily-date" name="daily-date">
                                </div>
                            </div>
                        </div>
                        <!-- monthly -->
                        <div class="field time-frame-monthly">
                            <div class="ui calendar month">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Select Month" id="monthly-month" name="monthly-month">
                                </div>
                            </div>
                        </div>
                        <!-- yearly -->
                        <div class="field time-frame-yearly">
                            <div class="ui calendar year">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Select Year" id="yearly-year" name="yearly-year">
                                </div>
                            </div>
                        </div>
                        <!-- range -->
                        <div class="five wide field time-frame-range">
                            <div class="ui calendar date">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="From" id="range-from" name="range-from">
                                </div>
                            </div>
                        </div>
                        <div class="five wide field time-frame-range">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="To" id="range-to" name="range-to">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field">
                        <label>Property</label>
                        <select class="ui fluid search dropdown" id="property-id-generate-expense" name="property-id-generate-expense">
                            <option value="all">All</option>
                            @{
                                foreach (var item in ViewBag.PropertyList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div id="generate-expense-loading" class="ui icon message">
                    <i class="notched circle loading icon"></i>
                    <div class="content">
                        <div class="header">
                            Just one second
                        </div>
                        <p>We're generating expenses from booking for you.</p>
                    </div>
                </div>
            </div>
            <!-- End Expense Category Form -->
        </div>
        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="generate-expense-submit-btn" class="ui blue right labeled icon button">
                <span>Generate</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Generate Expense Modal -->
    <!-- Start Expense Payment Modal -->
    <div class="ui small modal expense-payment-modal">
        <i class="close icon"></i>
        <div class="header">
            Expense Payment
        </div>
        <div class="content">
            <!-- Start Expense Payment Form -->
            <div class="ui form">
                <input type="hidden" id="expense-payment-id" name="expense-payment-id">
                <div class="fields">
                    <div class="six wide field">
                        <label>Amount</label>
                        <input type="text" placeholder="Enter Amount" id="expense-payment-amount-name" name="amount-name">
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field">
                        <label>Payment Method</label>
                        @Html.DropDownList("PaymentMethodId", ViewBag.PaymentMethods as SelectList, "Select Payment Method", new { @id = "ExpensePaymentId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="six wide field">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Description" id="expense-payment-description-name" name="description-name">
                    </div>
                </div>
                <div class="field">
                    <label>Payment Date</label>
                    <div class="ui calendar date">
                        <div class="ui input left icon six wide field">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Payment Date" id="payment-date" name="payment-date">
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="one width field">
                        <input type="file" id="expense-payment-proof-files" multiple />
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui grid" id="expense-payment-proof-upload"></div>
                    </div>
                </div>

            </div>

            <div class="fields">
                <div class="six wide field ui tag labels floated">
                    <label>Expense Amount:</label><div class="ui label expense-amount "></div><label>Remaining Balance:</label><div class="ui label remaining-balance"></div>
                </div>
            </div>
            <table class="display responsive payment-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount Paid</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <!-- End Expense Payment Form -->

        <div class="actions">
            <div class="ui blue deny button">
                Cancel
            </div>
            <div id="expense-payment-submit-btn" class="ui blue right labeled icon button">
                <span>Save</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Expense Payment Modal -->
</div>

<script src="~/Scripts/expense.js" type="text/javascript"></script>