﻿
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<div class="body-content">
    <h1 class="ui header">
        <i class="icon user outline"></i>
        <div class="content">
            Upload
        </div>
    </h1>
    @using (Html.BeginForm("Upload", "Expense", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <div style="float:right">

            <div style="float:left;" id="divSecondCheck">
                <div class="ui toggle checkbox checked" id="divMergestatus">
                    <input type="checkbox" tabindex="0" checked="checked" class="hidden" id="chkMergestatus" />
                    <label>Merge with existing record</label>
                </div>
                <input type="hidden" name="Mergestatus" value="1" id="Mergestatus" />
            </div>
            <br style="clear:both;" />
            <br style="clear:both;" />
            <div style="float:left;" id="divValidationCheck">
                <div class="ui toggle checkbox checked" id="divValidation">
                    <input type="checkbox" tabindex="0" checked="checked" class="hidden" id="chkValidationStatus" />
                    <label>Validation option(invalid rows)</label>
                </div>
            </div>
        </div>
        <br style="clear:both;" />
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Excel file</label>
                    <input type="file" id="FileUpload1" name="FileUpload1" />
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon button Generate_Excel_button" style="background-color:#2185d0; color:#fff;" type="submit" data-tooltip="Upload Excel Content">
                        <i class="upload icon"></i>Upload Excel Content
                    </button>
                </div>
            </div>
        </div>
    }
    <br /><br />
    <div style="overflow:scroll; width:100%" id="divGridValidation">
        <span style="font-size:15px; color:red;">@ViewBag.Error</span>
        <br />
        <table class="ui celled red table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>ExpenseCategory</th>
                    <th>Confirmation Code</th>
                    <th>Fee Type</th>
                    <th>Property</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Payment Method</th>
                    <th>Due Date</th>
                    <th>Payment Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counterError = 0;
                    if (ViewBag.ErrorList != null)
                    {
                        foreach (var item in ViewBag.ErrorList)
                        {
                            <tr>
                                @if (item.ValidErrorStatus[0] == true)
                                {
                                    <td title="@item.ValidErrorMessage[0]">@item.Description</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[0]" style="background-color:red;">@item.Description</td>
                                }
                                @if (item.ValidErrorStatus[1] == true)
                                {
                                    <td title="@item.ValidErrorMessage[1]">@item.ExpenseCategoryId</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[1]" style="background-color:red;">@item.ExpenseCategoryId</td>
                                }
                                @if (item.ValidErrorStatus[2] == true)
                                {
                                    <td title="@item.ValidErrorMessage[2]">@item.ConfirmationCode</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[2]" style="background-color:red;">@item.BookingId</td>
                                }
                                @if (item.ValidErrorStatus[3] == true)
                                {
                                    <td title="@item.ValidErrorMessage[3]">@item.FeeTypeId</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[3]" style="background-color:red;">@item.FeeTypeId</td>
                                }
                                @if (item.ValidErrorStatus[4] == true)
                                {
                                    <td title="@item.ValidErrorMessage[4]">@item.PropertyId</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[4]" style="background-color:red;">@item.PropertyId</td>
                                }
                                @if (item.ValidErrorStatus[5] == true)
                                {
                                    <td title="@item.ValidErrorMessage[5]">@item.Amount</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[5]" style="background-color:red;">@item.Amount</td>
                                }
                                @if (item.ValidErrorStatus[6] == true)
                                {
                                    <td title="@item.ValidErrorMessage[6]">@item.IsPaid</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[6]" style="background-color:red;">@item.IsPaid</td>
                                }
                                @if (item.ValidErrorStatus[7] == true)
                                {
                                    <td title="@item.ValidErrorMessage[7]">@item.PaymentMethodId</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[7]" style="background-color:red;">@item.PaymentMethodId</td>
                                }
                                @if (item.ValidErrorStatus[8] == true)
                                {
                                    <td title="@item.ValidErrorMessage[8]">@item.DueDate</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[8]" style="background-color:red;">@item.DueDate</td>
                                }
                                @if (item.ValidErrorStatus[9] == true)
                                {
                                    <td title="@item.ValidErrorMessage[9]">@item.DatePayment</td>
                                }
                                else
                                {
                                    <td title="@item.ValidErrorMessage[9]" style="background-color:red;">@item.DatePayment</td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/toastrSettings.js"></script>
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).on('click', '#divMergestatus', function (e) {
            if ($("#chkMergestatus").is(":checked")) {
                $("#Mergestatus").val(1);
            } else {
                $("#Mergestatus").val(0);
            }
        });

        $(document).on('click', '#divValidation', function (e) {
            if ($("#chkValidationStatus").is(":checked")) {
                $("#divGridValidation").show();
            } else {
                $("#divGridValidation").hide();
            }
        });
    </script>
</div>

