﻿@model dynamic

@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<div class="body-content">
    <h1 class="ui header">
        <i class="icon university"></i>
        <div class="content">
            Cash Flow
        </div>
    </h1>
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <label>Property</label>
                <select class="ui search dropdown" name="property-filter" id="property-filter">
                    <option value="all">All</option>
                    @{
                        foreach (var item in ViewBag.PropertyListForFilter)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }

                </select>
            </div>

            @*<div class="field">
                    <label>Cash Flow Type</label>
                        @Html.DropDownList("CashFlowTypeId", ViewBag.CashFlowTypeList as SelectList, "Select Cashflow Type", new { @id = "searchCashFlowType", @class = "ui search dropdown selection" })
                </div>
                <div class="field">
                    <label>Amount</label>
                    <input type="text" name="amount" placeholder="Amount" id="searchAmount">
                </div>
                <div class="field">
                    <label>Payment Date</label>
                    <div class="field">
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Start Date" id="searchPaymentDateFrom" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field">
                        <label>To</label>
                        <div class="ui calendar month">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="End Date" id="searchPaymentDateTo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <a class="ui primary button">Submit</a>
                </div>*@
        </div>
        <div class="fields">
            <div class="field">
                <label>&nbsp;</label>
                <button class="ui tiny blue button" id="add-cashflow-button">Add Cashflow</button>
            </div>
        </div>
    </div>
    <table id="cashflow-table" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Property Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Payment Date</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!-- End Property Table -->
    <!-- Start Cash Flow Modal -->
    <div class="ui modal cash-flow-modal">
        <i class="close icon"></i>
        <div class="header">
            Cash Flow
        </div>
        <div class="content">
            <!-- Start New Inquiry Form -->
            <div class="ui form">
                <input type="hidden" id="cashflow-id" name="cashflow-id">
                <div class="fields">
                    <div class="five wide field">
                        <label>Select Property</label>
                        @Html.DropDownList("PropertyId", ViewBag.PropertyList as SelectList, "Select Property", new { @id = "PropertyId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Cashflow Type</label>
                        @Html.DropDownList("CashFlowTypeId", ViewBag.CashFlowTypeList as SelectList, "Select Cashflow Type", new { @id = "CashFlowTypeId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Owner</label>
                        @Html.DropDownList("OwnerId", ViewBag.Owners as SelectList, "Select Owner", new { @id = "OwnerId", @class = "ui search dropdown selection" })
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Payment Date</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Payment Date" id="PaymentDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Amount</label>
                        <input type="text" placeholder="Amount" id="Amount" />
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Description</label>
                        <input type="text" placeholder="Description" id="Description" />
                    </div>
                </div>
            </div>
            <!-- End New Inquiry Form -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" id="submit-button">
                Submit
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- End Cash Flow Modal -->
</div>
<script src="~/Scripts/cashflow.js" type="text/javascript"></script>