﻿<div class="ui tab segment" data-tab="tab-notification">
    <div class="ui tabular menu">
        <div class="item active" data-tab="tab-notification-entries">Entries</div>
        <div class="item" data-tab="tab-notification-settings">Settings</div>
    </div>
    <div class="ui tab segment active" data-tab="tab-notification-entries">
        <table id="notification-entries-table" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Property</th>
                    <th>Date</th>
                    <th>Notification Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="ui tab segment" data-tab="tab-notification-settings">
        <button class="ui tiny button primary create-notification">Create Notification</button>
        <table id="notification-table" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Schedule Type</th>
                    @*<th>Event Type</th>*@
                    <th>Interval</th>
                    <th>Frequency</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="create-notification-modal" notification-id="0" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Notification
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Description</label>
                <div class="comment_box editable" id="notification-description" style="border:grey; border-style:solid; border-width:thin; overflow-y: auto; height: 100px;"></div>
            </div>
            <div class="fields">
                <div class="field">
                    <select id="notification-variables" class="ui dropdown" required>
                        <option value="Select Variables"></option>
                        <option value="[Details]">[Details]</option>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Properties</label>
                    <select class="ui dropdown" multiple="" id="notification-property">
                        <option value="">Select Property</option>
                        @{
                            foreach (var item in ViewBag.Properties)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            @*<div class="fields">
                <div class="field">
                    <label>Renter</label>
                    <select class="ui dropdown" multiple="" id="notification-renter">
                        <option value="">Select Renter</option>
                    </select>
                </div>
            </div>*@
            <div class="fields">
                <div class="field">
                    <label>Type</label>
                    <select id="notification-schedule-type" class="ui dropdown" required>
                        <option value="">Select Type</option>
                        <option value="1">Late Payments</option>
                        <option value="2">Last Rent Increase</option>
                        <option value="3">Renew Contract</option>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Frequency</label>
                    <select id="notification-frequency" class="ui dropdown" required>
                        <option value="">Select Frequency</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Monthly</option>
                        <option value="4">Yearly</option>
                    </select>
                </div>
                <div class="field">
                    <div class="field">
                        <label>Interval</label>
                        <input type="text" placeholder="Interval" id="notification-interval" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue deny button">
            Cancel
        </div>
        <div id="notification-submit-btn" class="ui blue right labeled icon button">
            <span>Save</span>
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script src="~/Scripts/notifications.js"></script>